<div class="rt-site-footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 rt-single-widget ">
                    <h2 class="footer-title"></h2>
                    <ul class="rt-usefulllinks2">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Refund Policy</a></li>
                        <li><a href="#">Product Category</a></li>
                        <li><a href="#">Terms and Condition</a></li>
                        <li><a href="#">Our Location</a></li>
                    </ul>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4 rt-single-widget ">
                    <h2 class="footer-title"></h2>
                    <ul class="rt-usefulllinks2">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Refund Policy</a></li>
                        <li><a href="#">Product Category</a></li>
                        <li><a href="#">Terms and Condition</a></li>
                        <li><a href="#">Our Location</a></li>
                    </ul>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4 rt-single-widget">
                    <h2 class="footer-title"></h2>
                    <ul class="rt-usefulllinks2">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Refund Policy</a></li>
                        <li><a href="#">Product Category</a></li>
                        <li><a href="#">Terms and Condition</a></li>
                        <li><a href="#">Our Location</a></li>
                    </ul>
                </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.footer-top -->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center text-lg-left">
                    Copyright 2020. All rights reserved.
                </div><!-- /.col-lg-6 -->
                <div class="col-lg-6 text-center text-lg-right">
                    social links
                </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.footer-bottom -->
</div><!-- /.rt-site-footer -->