

<div class="dashboard-account-setting-item pb-0">
  <h6>Locations</h6>
  <div class="row">
    <div class="col-lg-6 mb-3">
      <label class="body-font-4 d-block text-gray-900 rt-mb-8">Country</label>
        <select class="rt-selectactive " style="width: 100%">
            <option>Select.. </option>
            <option value="2">Alaska</option>
            <option value="3">Bahamas</option>
            <option value="4" selected>Private Company</option>
            <option value="5">Canada</option>
            <option value="6">Caribbean</option>
            <option value="7">Europe</option>
            <option value="8">Hawaii</option>
        </select>
    </div>
    <div class="col-lg-6 mb-3">
      <label class="pointer body-font-4 d-block text-gray-900 rt-mb-8">State</label>
      <select class="rt-selectactive " style="width: 100%">
          <option>Select.. </option>
          <option value="2">Alaska</option>
          <option value="3">Bahamas</option>
          <option value="4" selected>Private Company</option>
          <option value="5">Canada</option>
          <option value="6">Caribbean</option>
          <option value="7">Europe</option>
          <option value="8">Hawaii</option>
      </select>
    </div>
    <div class="col-lg-6 mb-3">
      <label class="pointer body-font-4 d-block text-gray-900 rt-mb-8">City</label>
      <select class="rt-selectactive " style="width: 100%">
          <option>Select.. </option>
          <option value="2">Alaska</option>
          <option value="3">Bahamas</option>
          <option value="4" selected>Private Company</option>
          <option value="5">Canada</option>
          <option value="6">Caribbean</option>
          <option value="7">Europe</option>
          <option value="8">Hawaii</option>
      </select>
    </div>
    <div class="col-lg-6">
      <label class="pointer body-font-4 d-block text-gray-900 rt-mb-8">Zip code</label>
      <div class="fromGroup">
        <div class="form-control-icon">
          <input class="form-control" type="text">
        </div>
      </div>
    </div>
    <div class="col-12">
      <label class="pointer body-font-4 d-block text-gray-900 rt-mb-8">Address</label>
      <div class="fromGroup">
        <div class="form-control-icon">
          <input class="form-control" type="text">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="dashboard-account-setting-item">
  <h6>Phone & Email</h6>
  <div class="row">
    <div class="col-lg-6 mb-3">
      <label class="pointer body-font-4 d-block text-gray-900 rt-mb-8">Phone</label>
      <input class="phonecode" name="phone" type="text" id="phone"/>
    </div>
    <div class="col-lg-6 mb-3">
      <label class="pointer body-font-4 d-block text-gray-900 rt-mb-8">Secondary Phone</label>
      <input class="phonecode" name="sphone" type="text" id="phone2"/>
    </div>
    <div class="col-lg-6 mb-3">
      <label class="pointer body-font-4 d-block text-gray-900 rt-mb-8">Email</label>
      <div class="fromGroup has-icon2">
        <div class="form-control-icon">
          <input class="form-control" type="email" placeholder="Email address">
          <div class="icon-badge-2">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M21 5.25L12 13.5L3 5.25" stroke="#0A65CC" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M3 5.25H21V18C21 18.1989 20.921 18.3897 20.7803 18.5303C20.6397 18.671 20.4489 18.75 20.25 18.75H3.75C3.55109 18.75 3.36032 18.671 3.21967 18.5303C3.07902 18.3897 3 18.1989 3 18V5.25Z" stroke="#0A65CC" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M10.3628 12L3.23047 18.538" stroke="#0A65CC" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M20.7692 18.5381L13.6367 12" stroke="#0A65CC" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 mb-3">
      <label class="pointer body-font-4 d-block text-gray-900 rt-mb-8">Secondary Email</label>
      <div class="fromGroup has-icon2">
        <div class="form-control-icon">
          <input class="form-control" type="email" placeholder="Email address">
          <div class="icon-badge-2">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M21 5.25L12 13.5L3 5.25" stroke="#0A65CC" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M3 5.25H21V18C21 18.1989 20.921 18.3897 20.7803 18.5303C20.6397 18.671 20.4489 18.75 20.25 18.75H3.75C3.55109 18.75 3.36032 18.671 3.21967 18.5303C3.07902 18.3897 3 18.1989 3 18V5.25Z" stroke="#0A65CC" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M10.3628 12L3.23047 18.538" stroke="#0A65CC" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M20.7692 18.5381L13.6367 12" stroke="#0A65CC" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>