<!-- price modal -->
<div class="modal fade" id="pricemodal" tabindex="-1" aria-labelledby="pricemodal" aria-hidden="true">
    <div class=" modal-dialog modal-dialog-centered modal-xxl">
      <div class="modal-content">
        <div class="modal-header">
          <h5  id="exampleModalLabel">Checkout</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-7">
                        <h6 class="rt-mb-24">Billing type</h6>
                        
                        <label class="label-radio rt-mb-24 from-radio-custom " for="1">
                            <div class="data d-flex justify-content-between align-items-center">
                                <div class="left">
                                 <input type="radio" name="radio1" id="1" class="form-check-input">
                                 <span class="form-check-label">Annual</span>
                                 <div class="border"></div>
                                </div>
                                 <div class="right text-end">
                                     <span class="d-block body-font-1">$32/month</span>
                                     <span class="d-block body-font-4 text-gray-500">$384 billed once a year</span>
                                 </div>
                             </div>
                        </label>
                        
                        <label class="label-radio rt-mb-24 from-radio-custom " for="2">
                            <div class="data d-flex justify-content-between align-items-center">
                               <div class="left">
                                <input type="radio" name="radio1" id="2" class="form-check-input">
                                <span class="form-check-label">Monthly</span>
                                <div class="border"></div>
                               </div>
                                <div class="right text-end">
                                    <span class="d-block body-font-1">$40/month</span>
                                    <span class="d-block body-font-4 text-gray-500">$40 billed every month</span>
                                </div>
                            </div>
                           
                        </label>
                    </div>
                    <div class="col-xl-5">
                        <h6 class="rt-mb-24">Order Summery</h6>
                        <div class="border border-gray-50 rt-rounded-12 p-20">
                            <ul class="rt-list">
                                <li class="d-flex justify-content-between align-items-start body-font-3 rt-mb-14">
                                  <span class="text-gray-500 d-block">Account plan: <span class="text-gray-900">Premium</span></span>
                                  <div class="my-auto text-gray-900">
                                    $40.00
                                  </div>
                                </li>
                                <li class="d-flex justify-content-between align-items-start body-font-1 rt-mb-14 ft-wt-5">
                                  <span class=" d-block">$40.00</span>
                                  <div class="my-auto">
                                    $40 USD
                                  </div>
                                </li>
                              </ul>
                              <button class="btn btn-primary btn-lg d-block rt-mb-15">Place Order</button>
                              <div class="body-font-4 text-gray-400 text-center">
                                We will bill you every month on the 10th, unless you cancel.
                              </div>
                        </div>
                    </div>
                    <div class="col-xl-8">
                        <h6 class="rt-mb-24">Payment Info</h6>
                        <div class="rt-mb-15 position-relative">
                          <label for="card-element" class="pointer body-font-4 d-block text-gray-900 rt-mb-8">Credit Card</label>
                          <div id="card-element" class="card-element"></div>
                        </div>
                        <div class="rt-mb-15">
                          <label for="mm" class="pointer body-font-4 d-block text-gray-900 rt-mb-8">Name on Card</label>
                          <input type="text" placeholder="Name" id="mm" value="mahedi amin" class="body-font-3 text-gray-400 text-capitalize">
                        </div>
                    <div class="rt-mb-15">
                      <label for="address" class="pointer body-font-4 d-block text-gray-900 rt-mb-8">Address</label>
                      <input type="text" placeholder="Address line 1" id="address" value="Dhaka" class="body-font-3 text-gray-400 text-capitalize rt-mb-8">
                      <input type="text" placeholder="Address line 2" id="address2" value="Tangail" class="body-font-3 text-gray-400 text-capitalize">
                  </div>
                  <div class="row">
                    <div class="col-xl-6 rt-mb-24">
                      <label class="pointer body-font-4 d-block text-gray-900 rt-mb-8">Country</label>
                      <select class="rt-selectactive select2-hidden-accessible" style="width: 100%" data-select2-id="select2-data-1-afru" tabindex="-1" aria-hidden="true">
                        <option>Select..</option>
                        <option value="2">USA</option>
                        <option value="3">Bahamas</option>
                        <option value="4" selected="" data-select2-id="select2-data-3-trqm">Italy</option>
                        <option value="5">Canada</option>
                        <option value="6">Caribbean</option>
                        <option value="7">Europe</option>
                        <option value="8">Hawaii</option>
                      </select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="select2-data-2-gcqd" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-qnwp-container" aria-controls="select2-qnwp-container"><span class="select2-selection__rendered" id="select2-qnwp-container" role="textbox" aria-readonly="true" title="Private Company">Private Company</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                    </div>
                    <div class="col-xxl-6 rt-mb-24">
                      <label class="pointer body-font-4 d-block text-gray-900 rt-mb-8">Town/City</label>
                      <select class="rt-selectactive select2-hidden-accessible" style="width: 100%" data-select2-id="select2-data-10-s14v" tabindex="-1" aria-hidden="true">
                        <option>Select.. </option>
                        <option value="2">Alaska</option>
                        <option value="3">Bahamas</option>
                        <option value="4" selected="" data-select2-id="select2-data-12-gcpw">United States</option>
                        <option value="5">Canada</option>
                        <option value="6">Caribbean</option>
                        <option value="7">Europe</option>
                        <option value="8">Hawaii</option>
                      </select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="select2-data-11-wjsk" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-ytmo-container" aria-controls="select2-ytmo-container"><span class="select2-selection__rendered" id="select2-ytmo-container" role="textbox" aria-readonly="true" title="United States">United States</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                    </div>
                  </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://js.stripe.com/v3/"></script>
  <script>
    var stripe = Stripe('pk_test_51JRsN5Cl4slzBgQyhl4Wgui3DkB1y2LDYLJE1TndQiPwtfdliCotVcREIzViCP6SCxhY36u6OpzcqlZwbVd291C800phGfRoMt');
    var elements = stripe.elements();
    var cardElement = elements.create('card', {
      style: {
        base: {
          iconColor: '#c4f0ff',
          color: '#333',
          fontWeight: '400',
          fontFamily: 'Inter,sans-serif',
          fontSize: '16px',
          // fontSmoothing: 'antialiased',
          // ':-webkit-autofill': {
          //   color: '#fce883',
          // },
          // '::placeholder': {
          //   color: '#87BBFD',
          // },
        },
        // invalid: {
        //   iconColor: '#FFC7EE',
        //   color: '#FFC7EE',
        // },
      },
    });
    cardElement.mount('#card-element');
  </script>