h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: $heading-font;
  color: var(--gray-900);
  font-weight: 500;
}

@each $cheadingfont in $headingfontSize {
  $i: index($headingfontSize, $cheadingfont);
  h#{$i} ,   .text-h#{$i}{
    font-size: $cheadingfont;
    line-height: nth($headingLineheight, $i);
    
  }
 
}


@for $i from 4 through 9 {
  .ft-wt-#{$i} {
    font-weight: $i * 100;
  }
}

@each $font, $sizes in $bodyfontScale {
  @each $size, $value in $sizes {
    #{".body-" + $font + "-" + $size} {
      color: #{$value};
    }
  }
}


@each $currentfont in $bodyfontvariation {
  $i: index($bodyfontvariation, $currentfont);
  .body-font-#{$i} {
    font-size: $currentfont;
    line-height: nth($lineheightvariation, $i);
  }
}

@each $color, $shades in $colors {
  @each $shade, $value in $shades {
    #{".text-" + $color + "-" + $shade} {
      color: #{$value};
    }
    #{".bg-" + $color + "-" + $shade} {
      background-color: #{$value};
    }
  }
}
