h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: $heading-font;
  color: var(--gray-900);
  font-weight: 500;
}

h1 {
  font-size: 72px;
  line-height: 88px;
}

h2 {
  font-size: 56px;
  line-height: 64px;
}

h3 {
  font-size: 48px;
  line-height: 56px;
}

h4 {
  font-size: 40px;
  line-height: 48px;
}

h5 {
  font-size: 32px;
  line-height: 40px;
}

h6 {
  font-size: 24px;
  line-height: 32px;
}


@each $font, $sizes in $bodyfontScale {
  @each $size, $value in $sizes {
    #{".body-" + $font + "-" + $size} {
      color: #{$value};
    }
  }
}

@each $color, $shades in $colors {
  @each $shade, $value in $shades {
    #{".text-" + $color + "-" + $shade} {
      color: #{$value};
    }
    #{".bg-" + $color + "-" + $shade} {
      color: #{$value};
    }
  }
}
