




// 1. Configuration and helpers
@import 
 'abstracts/variables',
 'abstracts/functions',
  'abstracts/mixins';



// 2. Vendores
@import 
'vendors/bourbon/bourbon';

// 3. Base stuff
@import
  'base/base',
  'base/fonts',
  'base/typography',
  'base/helpers';

// 4. Layout
@import
  'layout/header',
  'layout/footer';


// 5. Components
@import
  'components/button';


// 6. Page-specific styles
@import
  'pages/home';


// 7. Themes
@import
  'themes/default';