




// 1. Configuration and helpers
@import 
 'abstracts/variables',
 'abstracts/functions',
  'abstracts/mixins';



// 2. Vendores
@import 
'vendors/bourbon/bourbon',
'vendors/select2';

// 3. Base stuff
@import
  'base/base',
  'base/fonts',
  'base/typography',
  'base/helpers';

// 4. Layout
@import
  'layout/header',
  'layout/footer',
  'layout/menu',
  'layout/iconbox',
  'layout/mega-menu',
  'layout/navtools',
  'layout/menu-responsive';


// 5. Components
@import
  'components/button',
  'components/bs-dropdown',
  'components/badge',
  'components/icon',
  'components/form',
  'components/banner',
  'components/tippyjs',
  'components/card',
  'components/_catagory.scss',
  'components/counter';


// 6. Page-specific styles
@import
  'pages/home';


// 7. Themes
@import
  'themes/default';




  body {
    @include breakpoint(xxl) {
        background-color: gold;
    }
    @include breakpoint(xl) {
        background-color: purple;
    }
    @include breakpoint(lg) {
        background-color: red;
    }
    @include breakpoint(md) {
        background-color: yellow;
    }
    @include breakpoint(xs) {
        background-color: pink;
    }
}