.comming-soon-height {
  height: 100vh;
  @include breakpoint(lg) {
    height: auto;
    padding: 150px 0;
  }
  @include breakpoint(md) {
    padding: 100px 0;
  }
  @include breakpoint(xs) {
    padding: 50px 0;
  }
}
.fixed-footer-comming-soon {
  margin-bottom: 30px;
}
