.rt-comingsoon {
  &-left {
    .max-w {
      max-width: 585px;
    }
    .smallgap>row:first-child {
      padding-left: 0;
    }
    .fromGroup {
      padding-left: 54px;

      .icon-badge {
        left: 18px;
      }
    }
  }
  .coming-footer {
    .c-f-left {
      padding-left: 0;
      .s-button {
        width: 40px;
        height: 40px;
        border-radius: 4px;
        border-color: transparent;
        background-color: var(--primary-50);
        font-size: 16px;
        margin-right: 12px;
        &:hover {
          background-color: transparent;
          border: 1px solid var(--primary-500);
        }
      }
    }
  }
}
