.dashboard-wrapper {
}
.d-sidebar {
  background-color: #fff;
  width: 312px;
  padding: 26px;
  border-right: 1px solid var(--gray-50);
  height: calc(100vh - 85px);
  position: fixed;
  top: 100px;
  left: 0px;
  .sidebar-footer {
    padding-top: 180px;
    padding-bottom: 50px;
  }
}
.d-page-content {
  padding: {
    left: 48px;
    top: 48px;
    right: 48px;
  }
  margin-left: 312px;
  margin-top: 100px;
}
.min-200 {
  min-width: 200px;
}
// sidebar menu
.sidebar-menu {
  @extend .rt-list;
  li {
    display: block;
    margin-bottom: 8px;
    &:last-child {
      margin-bottom: 0px;
    }
    a {
      padding: 12px 24px;
      display: block;
      color: var(--gray-500);
      border-radius: 4px;
      line-height: 24px;
      font-weight: 500;
      .button-content-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 24px;
        .button-icon {
          order: 5;
          flex-grow: 0;
          font-size: 24px;
          margin-right: 19px;
          &.align-icon-right {
            order: 15;
            margin-left: 19px;
            margin-right: 0px;
          }
        }
        .button-text {
          flex-grow: 1;
          order: 10;
        }
      }
      &.active {
 
        background: var(--primary-500);
        color: var(--gray-10);
        &:hover {
          color: var(--gray-10);
        }
      
    }
    }
   
    &:hover {
      a {
        color: var(--primary-500);
      }
    }
  }
}

.dashboard-input {
  #{$all-text-inputs},
  .form-control {
    height: 56px;
  }
  .select2-container--default .select2-selection--single {
    height: 56px;
  }
  .has-icon,
  .has-icon2 {
    .select2-container .select2-selection--single .select2-selection__rendered {
      line-height: 56px;
    }
  }
  .select2-container .select2-selection--single .select2-selection__rendered {
    line-height: 56px;
  }
}


// dashboard feature element 
.top-feature-content{
  @include breakpoint(xxl2){
    flex-direction: column;
  }
  .left-text{
    max-width: 380px;
    @include breakpoint(xxl2){
      margin-bottom: 32px;
    }
  }
  .single-feature-box{
    width: 232px;
    margin-right: 24px;
    &:last-child{
      margin-right: 0px;
    }
    flex-grow: 1;
    .rt-single-icon-box{
      padding: 20px;
    }
  }
}

// 
.candidate_card_lists{
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px;
  >*{
    padding-left: 8px;
    padding-right: 8px;
  }

  li{
    flex: 0 0 auto;
    width: 50%;
    margin-bottom: 16px;
    @include breakpoint(xxl2){
      width: 100%;
    }
  }
}

ul.recent-activity{
  li{
    padding: 18px 24px;
    margin-left: -24px;
    margin-right: -24px;
    @include rt-trs(0.24s);
    .icon-thumb{
      font-size: 24px;
      background: var(--gray-20);
      height: 52px;
      width: 52px;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 6px;
      @include rt-trs(0.24s);
      justify-content: center;
    }
    &:hover{
      .icon-thumb{
        background: var(--gray-10);
      }
      background: var(--gray-20);
    }
  }
}