// job feature carsole btn 
.carosle-button{
    button, .btn {
        height: 48px;
        width: 48px;
        text-align: center;
        padding: 0px;
        margin-right: 10px;
        &:last-child{
            margin-right: 0px;
        }
    }
}

.brand-active{
    display: flex;
    justify-content: space-between;
}
.single-brand{
    img{
        transition: all 0.24s ease-in-out;
    }
    &:hover{
        img{
            filter: grayscale(100%);
        }
    }
}