.joblist-left-content {
  padding-left: 110px;
  padding-right: 50px;
  hr {
    padding: 0px;
    margin: 0px;
    margin-left: -130px;
  }
}
.joblist-fliter-gorup {
  min-width: 480px;
  display: flex;
  .left-content {
    flex-grow: 1;
    display: flex;
    max-width: 384px;
    .gap ~ .select2 {
      margin-right: 12px;
      &:last-child {
        margin-right: 0px;
      }
    }
  }
  .right-content {
    flex-grow: 0;
    margin-left: 16px;
    width: 88px;
    height: 48px;
    border: 1px solid var(--gray-50);
    border-radius: 6px;
    nav {
      height: 100%;
    }
    .nav {
      justify-content: center;
      align-items: center;
      height: 100%;
    }
    button,
    .nav-link {
      padding: 0px;
      background: transparent;
      height: 32px;
      width: 32px;
      border: none;
      line-height: auto;
      svg {
        path {
          fill: var(--gray-400);
        }
      }
      &.active {
        background-color: var(--gray-50);
        svg {
          path {
            fill: var(--gray-900);
          }
        }
      }
    }
  }
}

#mapid {
  height: 836px;
  width: 100%;
  z-index: 1;
}
.sm-height{
  #mapid{
   // height: 600px; // eta fixed
   height: 500px;
    @include  breakpoint(xxl){
      height: 450px;
    }
  }
}
// sidebar
.jobsidebar {
  position: fixed;
  width: 424px;
  height: 100vh;
  left: 0;
  top: 0;
  border: 1px solid var(--gray-50);
  padding: 24px 32px;
  z-index: 999;
  background-color: #fff;
  @include rt-trs(0.1s);
  margin-left: -424px;
  @include hidden();
 
  &.active {
    @include vis();
    margin-left: 0px;
    
  }
}
.sidebar-widget-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: rgba(0, 0, 0, 0.6);
  @include hidden();
  @include rt-trs(0.24s);
  .close-me {
    position: absolute;
    @include hw(48px);
    background: #fff;
    left: 490px;
    cursor: pointer;
    top: 50px;
    font-size: 12px;
    border-radius: 50%;
    color: var(--gray-900);
    @include rt-trs(0.24s);
    @include hidden();
  }
  &.active {
    z-index: 679;
    @include vis();
    .close-me {
      left: 480px;
      transition-delay: 0.1s;
      @include vis();
    }
  }
}

.filtertags {
  .single-tag {
    padding: 6px 6px 6px 16px;
    display: inline-block;
    font-size: 14px;
    line-height: 22px;
    color: var(--gray-700);
    background: var(--gray-50);
    border-radius: 30px;
    font-weight: 400;
    margin-right: 12px;
    .close-tag {
      margin-left: 7px;
    }
    &:last-child {
      margin-right: 0px;
    }
  }
}

// job widget
.sidetbar-widget {
  .form-check-input:checked ~ .form-check-label{
    color: var(--primary-500) !important ;
  }
  >ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: -32px;
    margin-right: -32px;
    li {
      position: relative;
      cursor: pointer;
      &.has-children {
        .jobwidget_tiitle{
          &::after{
            content: "\f101";
          font-family: "flaticon";
          font-size: 18px;
          position: absolute;
          right: 32px;
          top: 50%;
          transform: translateY(-50%);
          }
        }
      }
    }
  }
  li.open{
    
    .jobwidget_tiitle{
      border-bottom: none;
    }
  }
  .sub-catagory{
    margin: 0px;
    padding: 0px;
    list-style: none;
    li{
      padding: 9px 32px;
      &:first-child{
        padding-top: 0px;
      }
      &:last-child{
        border-bottom: 1px solid var(--gray-50);
        padding-bottom: 24px;
      }
    }
  }

  
}
.jobwidget_tiitle, .jobwidget_tiitle2 {
  font-size: 18px;
  font-weight: 500;
  color: var(--gray-900);
  padding: 24px 32px;
  position: relative;
  border-bottom: 1px solid var(--gray-50);
}

.jobwidget_tiitle2{
  border: none;
  padding: 0px;
  margin: 0 0 18px;
}
// advanced filter 

.advance-hidden-filter-menu{
  border-top: 1px solid var(--gray-50);
  margin-top: 12px;
  padding-top: 32px;
  margin-left: -33px;
  margin-right: -12px;
  padding-bottom: 20px;
  padding-left: 33px;
 display: none;
  background-color: #fff;
  hr{
    margin: 0px;
    padding: 0px;
  }
  ul{
    margin: 0px;
    padding: 0px;
  }
  >ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    >li{
      flex: 0 0 20%;
      max-width: 20%;
    }
  }
  ul ul > li{
    padding-bottom: 8px;
    &:last-child{
      padding-bottom: 0px;
    }
  }
}

.jobsearchBox{
  transition: all 0.24s ease-in-out;
  &.active-adf{
    position: absolute;
    left: 0px;
    right: 0px;
    width: 100%;
    z-index: 1000;
    top: 0px;
  }
}

.job-filter-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  overflow: hidden;
  height: 100vh;
  z-index: 0;
  background: rgba(0, 0, 0, 0.6);
  @include hidden();
  @include rt-trs(0.24s);
  &.active {
    z-index: 679;
    @include vis();
  }
}

// flter column style two 
.togglesidebr_widget{
  border: 1px solid var(--gray-50);
  border-radius: 12px;
  max-width: 420px;
  padding: {
    top: 0px;
    left: 32px;
    right: 32px;
    bottom: 0px;
  };
  ul> li{
    &:last-child{
      
        .jobwidget_tiitle{
          border-bottom: none !important;
        }
      
    }
  }
}


.max-311{
  min-width: 311px;
}
.p-32{
  padding: 32px;
  @include breakpoint(xs){
    padding: 16px;
  }
}
.max-536{
  max-width: 536px;
}
.sdeibarmap{
  #mapid {
    height: 320px;
    border-radius: 12px;
  }
}
.gap-8{
  li{
    margin-right: 8px;
    &:last-child{
      margin-right: 0px;
    }
  }
}

// realted jobs 
.related-jobs{
  &.slick-slider {
    .single-item{
      margin-bottom: 24px;
    }
    
  }
}

.p-24{
  padding: 24px;
}
// single page banner 
.single-page-banner{
  position: relative;
  .pgae-bg{
    height: 400px;
    @include breakpoint(xs){
      height: 300px;
    }
    
  }
  .jobcardStyle1{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: -80px;
  }
}
