.joblist-left-content {
  padding-left: 110px;
  padding-right: 50px;
  hr {
    padding: 0px;
    margin: 0px;
    margin-left: -130px;
  }
}
.joblist-fliter-gorup {
  min-width: 480px;
  display: flex;
  .left-content {
    flex-grow: 1;
    display: flex;
    max-width: 384px;
    .gap ~ .select2 {
      margin-right: 12px;
      &:last-child {
        margin-right: 0px;
      }
    }
  }
  .right-content {
    flex-grow: 0;
    margin-left: 16px;
    width: 88px;
    height: 48px;
    border: 1px solid var(--gray-50);
    border-radius: 6px;
    nav {
      height: 100%;
    }
    .nav {
      justify-content: center;
      align-items: center;
      height: 100%;
    }
    button,
    .nav-link {
      padding: 0px;
      background: transparent;
      height: 32px;
      width: 32px;
      border: none;
      line-height: auto;
      svg {
        path {
          fill: var(--gray-400);
        }
      }
      &.active {
        background-color: var(--gray-50);
        svg {
          path {
            fill: var(--gray-900);
          }
        }
      }
    }
  }
}

#mapid {
  height: 836px;
  width: 100%;
  z-index: 1;
}

// sidebar 
.jobsidebar{
  position: fixed;
  width: 424px;
  height: 100vh;
  left: 0;
  top: 0;
  border: 1px solid var(--gray-50);
  padding: 24px 32px;
  z-index: 999;
  background-color: #fff;
  @include rt-trs(0.24s);
  margin-left: -100px;
  @include hidden();
  .close-me{
    position: absolute;
    @include hw(48px);
    background: #fff;
    right: -100px;
    cursor: pointer;
    top: 50px;
    font-size: 12px;
    border-radius: 50%;
    color: var(--gray-900);
    @include rt-trs(0.24s);
    @include hidden();
  }
  &.active{
    @include vis();
    margin-left: 0px;
    .close-me{
      right: -95px;
      transition-delay: 0.24s;
      @include vis();
    }
  }
  
}
.sidebar-widget-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: rgba(0, 0, 0, 0.6);
  @include hidden();
  @include rt-trs(0.24s);
  &.active {
      z-index:679;
      @include vis();
  }
}


.filtertags{
  .single-tag{
    padding: 6px 6px 6px 16px;
    display: inline-block;
    font-size: 14px;
    line-height: 22px;
    color: var(--gray-700);
    background: var(--gray-50);
    border-radius: 30px;
    font-weight: 400;
    margin-right: 12px;
    .close-tag{
      margin-left: 7px;
    }
    &:last-child{
      margin-right: 0px;
    }
  }
}