.terms-left{

  .info-tools{
    display: inline-flex;
    padding-right: 10px;
    position: relative;
  }
  .has-dot{
    padding-left: 10px;
  }
  .info-tools.has-dot::before{
    position: absolute;
    content: "";
    left: -5px;
    top: 50%;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    transform: translateY(-50%);
    background-color: var(--gray-600);
    content: "";
  }
}