<div class="container py-5 my-5">
  <div class="row">
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body ">
          <div class="rt-single-icon-box">
            <div class="icon-thumb mr-16">
              <i class="ph-dribbble-logo"></i>
            </div>
            <div class="iconbox-content">
              <h4 class="body-font-2"><a  href="#">Dribbble</a></h4>
              <span class="body-font-4">
                <i class="ph-map-pin"></i>
                California
              </span>
            </div>
          </div>
          <div class="footer-content">
            <a href="#"  class="body-font-1">Sunior UX Designer.</a>
            <div class="body-font-4 text-gray-600 ">
              <span>Full-Time</span>
              <span class="salary">$50k-80k/month</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>