<div class="card jobcardStyle1">
    <div class="card-body">
      <div class="rt-single-icon-box">
        <div class="icon-thumb">
            <div class="profile-image">
                <img src="assets/images/all-img/profile-card.png" alt="">
            </div>
        </div>
        <div class="iconbox-content">
          <div class="job-mini-title"><a href="#">Clark Gilbert</a></div>
          <span class="loacton text-gray-400 ">            
              UX Designer
          </span>
          <div class="bottom-link pt-30">
            <a href="#" class="body-font-4 text-primary-500">View Resume 
              <span>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5 12H19" stroke="#0066FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M12 5L19 12L12 19" stroke="#0066FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>  
              </span>                
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>