<div class="card jobcardStyle1">
    <div class="card-body">
      <div class="rt-single-icon-box">
        <div class="icon-thumb">
          <img src="assets/images/icon/logo-driable-xs.png" alt="" draggable="false">
        </div>
        <div class="iconbox-content">
          <div class="body-font-2 rt-mb-6 body-font-4"><a href="#" class="text-gray-900 hover:text-primary-500">Dribbble</a> </div>
          <span class="text-gray-400 d-inline-flex ">
            <span class="f-size-18 d-inline-flex rt-mr-8"><i class="ph-map-pin"></i></span>
            California
          </span>
        </div>
        <div class="iconbox-extra">
            <button class="hoverbg-primary-50 text-primary-500 plain-button icon-button bg-primary-50">
              <i class="ph-bookmark-simple f-size-24"></i>
            </button>
        </div>
      </div>
      <div class="post-info">
       <div  class="post-main-title"> <a href="#" class="text-primary-500">Sunior UX Designer.</a></div>
        <div class="body-font-4 text-gray-600">
          <span class="info-tools">Full-Time</span>
          <span class="info-tools has-dot">$50k-80k/month</span>
        </div>
      </div>
    </div>
  </div>