<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <div class="card">      
        <div class="card-body">
         <div class="rt-single-icon-box">
          <div class="icon-thumb">
            <i class="ph-dribbble-logo"></i>
          </div>
          <div class="iconbox-content">
              <h4><a href="#">Dribbble</a></h4>
              <span>
                <span><i class="ph-map-pin"></i></span>
                California
              </span>
          </div>
         </div>
         <div class="footer-content">
           <div class="body-font-1"> <a href="#">Sunior UX Designer.</a> </div>
            <div class="body-font-4 text-gray-600">
              <span>Full-Time</span>
              <span>$50k-80k/month</span>
            </div>
            
          
         </div>
        </div>
      </div>
    </div>
  </div>
</div>
