<div class="col-xl-4 col-md-6 mx-auto rt-mb-24">
    <div class="single-price-table">
      <div class="price-header">
          <h6 class="rt-mb-10">Basic</h6>
          <span class="text-gray-500 body-font-3 rt-mb-15 d-block">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere.</span>
          <div class="price-amount">
            <span class="text-primary-500 text-h2">$96</span>
            <span class="text-gray-700 body-font-2"><sup>/Yearly</sup></span>
          </div>
      </div>
      <div class="price-body">
        <ul class="rt-list">
          <li>
            <span><img src="assets/images/icon/check.png" alt=""></span>
            Max 2 Open Job
          </li>
          <li>
            <span><img src="assets/images/icon/check.png" alt=""></span>
            1 Resume
          </li>
          <li>
            <span><img src="assets/images/icon/check.png" alt=""></span>
            Instant creative profile 
          </li>
          <li>
            <span><img src="assets/images/icon/check.png" alt=""></span>
            Entro Video
          </li>
          <li>
            <span><img src="assets/images/icon/check.png" alt=""></span>
            'Contact Me' button on profile
          </li>
          <li>
            <span><img src="assets/images/icon/check.png" alt=""></span>
            Add Free
          </li>
        </ul>
      </div>
      <div class="price-footer">
        <button type="button" class="btn btn-primary-50 d-block" data-bs-toggle="modal" data-bs-target="#pricemodal">
          <span class="button-content-wrapper ">
              <span class="button-icon align-icon-right">
                <i class="ph-arrow-right"></i>                           
              </span>
              <span class="button-text">
                Get Started
              </span>
          </span>
      </button>
      </div>
    </div>
</div>
<div class="col-xl-4 col-md-6 mx-auto rt-mb-24">
    <div class="single-price-table active">
      <div class="price-header">
          <h6 class="rt-mb-10">Standard <span class="badge rounded-pill bg-primary-50 text-primary-500">Recommended</span></h6>
          <span class="text-gray-500 body-font-3 rt-mb-15 d-block">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere.</span>
          <div class="price-amount">
            <span class="text-primary-500 text-h2">$384</span>
            <span class="text-gray-700 body-font-2"><sup>/Yearly</sup></span>
          </div>
      </div>
      <div class="price-body">
        <ul class="rt-list">
          <li>
            <span><img src="assets/images/icon/check.png" alt=""></span>
            Max 2 Open Job
          </li>
          <li>
            <span><img src="assets/images/icon/check.png" alt=""></span>
            1 Resume
          </li>
          <li>
            <span><img src="assets/images/icon/check.png" alt=""></span>
            Instant creative profile 
          </li>
          <li>
            <span><img src="assets/images/icon/check.png" alt=""></span>
            Entro Video
          </li>
          <li>
            <span><img src="assets/images/icon/check.png" alt=""></span>
            'Contact Me' button on profile
          </li>
          <li>
            <span><img src="assets/images/icon/check.png" alt=""></span>
            Add Free
          </li>
        </ul>
      </div>
      <div class="price-footer">
        <button type="button" class="btn btn-primary d-block" data-bs-toggle="modal" data-bs-target="#pricemodal">
          <span class="button-content-wrapper ">
              <span class="button-icon align-icon-right">
                <i class="ph-arrow-right"></i>                           
              </span>
              <span class="button-text">
                Get Started
              </span>
          </span>
      </button>
      </div>
    </div>
</div>
<div class="col-xl-4 col-md-6 mx-auto rt-mb-24">
  <div class="single-price-table">
    <div class="price-header">
        <h6 class="rt-mb-10">Premium</h6>
        <span class="text-gray-500 body-font-3 rt-mb-15 d-block">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere.</span>
        <div class="price-amount">
          <span class="text-primary-500 text-h2">$768</span>
          <span class="text-gray-700 body-font-2"><sup>/Yearly</sup></span>
        </div>
    </div>
    <div class="price-body">
      <ul class="rt-list">
        <li>
          <span><img src="assets/images/icon/check.png" alt=""></span>
          Max 2 Open Job
        </li>
        <li>
          <span><img src="assets/images/icon/check.png" alt=""></span>
          1 Resume
        </li>
        <li>
          <span><img src="assets/images/icon/check.png" alt=""></span>
          Instant creative profile 
        </li>
        <li>
          <span><img src="assets/images/icon/check.png" alt=""></span>
          Entro Video
        </li>
        <li>
          <span><img src="assets/images/icon/check.png" alt=""></span>
          'Contact Me' button on profile
        </li>
        <li>
          <span><img src="assets/images/icon/check.png" alt=""></span>
          Add Free
        </li>
      </ul>
    </div>
    <div class="price-footer">
      <button type="button" class="btn btn-primary-50 d-block" data-bs-toggle="modal" data-bs-target="#pricemodal">
        <span class="button-content-wrapper ">
            <span class="button-icon align-icon-right">
              <i class="ph-arrow-right"></i>                           
            </span>
            <span class="button-text">
              Get Started
            </span>
        </span>
    </button>
    </div>
  </div>
</div>