<section class="testimoinals-area  bg-gray-20">
    <div class="rt-spacer-100 rt-spacer-md-50"></div>
    <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="d-flex flex-wrap">
              <div class="flex-grow-1"> <h4>What our customer says!</h4></div>
              <div class="flex-gorw-0 carosle-button">
                <button class="btn btn-light slickprev2">                       
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19 12H5" stroke="#0066FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M12 5L5 12L12 19" stroke="#0066FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>                  
                </button>
                <button class="btn btn-light slicknext2">                       
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 12H19" stroke="#0066FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M12 5L19 12L12 19" stroke="#0066FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>                                   
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="rt-spacer-40 "></div>
        <div class="row">
          <div class="col-12">
            <div class="testimonail_active slick-bullet deafult_style_dot">
              <div class="single-item">
                <div class="testimonals-box">
                  <div class="text-primary-500 body-font-2 rt-mb-10">Wow, Great Services</div>
                  <div class="text-gray-600 body-font-3">
                    “Ut ullamcorper hendrerit tempor. Aliquam in rutrum dui. Maecenas ac placerat metus, in faucibus est.”
                  </div>
                  <div class="rt-single-icon-box">
                    <div class="icon-thumb rt-mr-12">
                      <div class="userimage">
                        <img src="assets/images/all-img/t1.png" alt="" draggable="false">
                      </div>
                    </div>
                    <div class="iconbox-content">
                      <div class="body-font-3">Robert Fox</div>
                      <div class="body-font-4 text-gray-400">UI/UX Designer</div>
                    </div>
                    <div class="iconbox-extra">
                      <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M16 28C16 30.1217 15.1571 32.1566 13.6569 33.6569C12.1566 35.1571 10.1217 36 8 36C5.87827 36 3.84344 35.1571 2.34315 33.6569C0.842854 32.1566 0 30.1217 0 28C0 23.58 8 0 8 0H12L8 20C10.1217 20 12.1566 20.8429 13.6569 22.3431C15.1571 23.8434 16 25.8783 16 28ZM36 28C36 30.1217 35.1571 32.1566 33.6569 33.6569C32.1566 35.1571 30.1217 36 28 36C25.8783 36 23.8434 35.1571 22.3431 33.6569C20.8429 32.1566 20 30.1217 20 28C20 23.58 28 0 28 0H32L28 20C30.1217 20 32.1566 20.8429 33.6569 22.3431C35.1571 23.8434 36 25.8783 36 28Z" fill="#DADDE6"/>
                        </svg>                      
                    </div>
                  </div>
                </div>
              </div>
              <div class="single-item">
                <div class="testimonals-box">
                  <div class="text-primary-500 body-font-2 rt-mb-10">Awesome Services</div>
                  <div class="text-gray-600 body-font-3">
                    “Mauris eget lorem odio. Mauris convallis justo molestie metus aliquam lacinia. Suspendisse ut dui vulputate augue condimentum ornare. Morbi vitae tristique ante”
                  </div>
                  <div class="rt-single-icon-box">
                    <div class="icon-thumb rt-mr-12">
                      <div class="userimage">
                        <img src="assets/images/all-img/t2.png" alt="" draggable="false">
                      </div>
                    </div>
                    <div class="iconbox-content">
                      <div class="body-font-3">Bessie Cooper</div>
                      <div class="body-font-4 text-gray-400">Creative Director</div>
                    </div>
                    <div class="iconbox-extra">
                      <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M16 28C16 30.1217 15.1571 32.1566 13.6569 33.6569C12.1566 35.1571 10.1217 36 8 36C5.87827 36 3.84344 35.1571 2.34315 33.6569C0.842854 32.1566 0 30.1217 0 28C0 23.58 8 0 8 0H12L8 20C10.1217 20 12.1566 20.8429 13.6569 22.3431C15.1571 23.8434 16 25.8783 16 28ZM36 28C36 30.1217 35.1571 32.1566 33.6569 33.6569C32.1566 35.1571 30.1217 36 28 36C25.8783 36 23.8434 35.1571 22.3431 33.6569C20.8429 32.1566 20 30.1217 20 28C20 23.58 28 0 28 0H32L28 20C30.1217 20 32.1566 20.8429 33.6569 22.3431C35.1571 23.8434 36 25.8783 36 28Z" fill="#DADDE6"/>
                        </svg>                      
                    </div>
                  </div>
                </div>
              </div>
              <div class="single-item">
                <div class="testimonals-box">
                  <div class="text-primary-500 body-font-2 rt-mb-10">Excellent</div>
                  <div class="text-gray-600 body-font-3">
                    “Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse et magna quis nibh accumsan venenatis sit amet id orci. Duis vestibulum bibendum dapibus.”
                  </div>
                  <div class="rt-single-icon-box">
                    <div class="icon-thumb rt-mr-12">
                      <div class="userimage">
                        <img src="assets/images/all-img/t3.png" alt="" draggable="false">
                      </div>
                    </div>
                    <div class="iconbox-content">
                      <div class="body-font-3">Jane Cooper</div>
                      <div class="body-font-4 text-gray-400">Photographer</div>
                    </div>
                    <div class="iconbox-extra">
                      <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M16 28C16 30.1217 15.1571 32.1566 13.6569 33.6569C12.1566 35.1571 10.1217 36 8 36C5.87827 36 3.84344 35.1571 2.34315 33.6569C0.842854 32.1566 0 30.1217 0 28C0 23.58 8 0 8 0H12L8 20C10.1217 20 12.1566 20.8429 13.6569 22.3431C15.1571 23.8434 16 25.8783 16 28ZM36 28C36 30.1217 35.1571 32.1566 33.6569 33.6569C32.1566 35.1571 30.1217 36 28 36C25.8783 36 23.8434 35.1571 22.3431 33.6569C20.8429 32.1566 20 30.1217 20 28C20 23.58 28 0 28 0H32L28 20C30.1217 20 32.1566 20.8429 33.6569 22.3431C35.1571 23.8434 36 25.8783 36 28Z" fill="#DADDE6"/>
                        </svg>                      
                    </div>
                  </div>
                </div>
              </div>
              <div class="single-item">
                <div class="testimonals-box">
                  <div class="text-primary-500 body-font-2 rt-mb-10">Wow, Great Services</div>
                  <div class="text-gray-600 body-font-3">
                    “Ut ullamcorper hendrerit tempor. Aliquam in rutrum dui. Maecenas ac placerat metus, in faucibus est.”
                  </div>
                  <div class="rt-single-icon-box">
                    <div class="icon-thumb rt-mr-12">
                      <div class="userimage">
                        <img src="assets/images/all-img/t1.png" alt="" draggable="false">
                      </div>
                    </div>
                    <div class="iconbox-content">
                      <div class="body-font-3">Robert Fox</div>
                      <div class="body-font-4 text-gray-400">UI/UX Designer</div>
                    </div>
                    <div class="iconbox-extra">
                      <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M16 28C16 30.1217 15.1571 32.1566 13.6569 33.6569C12.1566 35.1571 10.1217 36 8 36C5.87827 36 3.84344 35.1571 2.34315 33.6569C0.842854 32.1566 0 30.1217 0 28C0 23.58 8 0 8 0H12L8 20C10.1217 20 12.1566 20.8429 13.6569 22.3431C15.1571 23.8434 16 25.8783 16 28ZM36 28C36 30.1217 35.1571 32.1566 33.6569 33.6569C32.1566 35.1571 30.1217 36 28 36C25.8783 36 23.8434 35.1571 22.3431 33.6569C20.8429 32.1566 20 30.1217 20 28C20 23.58 28 0 28 0H32L28 20C30.1217 20 32.1566 20.8429 33.6569 22.3431C35.1571 23.8434 36 25.8783 36 28Z" fill="#DADDE6"/>
                        </svg>                      
                    </div>
                  </div>
                </div>
              </div>
              <div class="single-item">
                <div class="testimonals-box">
                  <div class="text-primary-500 body-font-2 rt-mb-10">Awesome Services</div>
                  <div class="text-gray-600 body-font-3">
                    “Mauris eget lorem odio. Mauris convallis justo molestie metus aliquam lacinia. Suspendisse ut dui vulputate augue condimentum ornare. Morbi vitae tristique ante”
                  </div>
                  <div class="rt-single-icon-box">
                    <div class="icon-thumb rt-mr-12">
                      <div class="userimage">
                        <img src="assets/images/all-img/t2.png" alt="" draggable="false">
                      </div>
                    </div>
                    <div class="iconbox-content">
                      <div class="body-font-3">Bessie Cooper</div>
                      <div class="body-font-4 text-gray-400">Creative Director</div>
                    </div>
                    <div class="iconbox-extra">
                      <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M16 28C16 30.1217 15.1571 32.1566 13.6569 33.6569C12.1566 35.1571 10.1217 36 8 36C5.87827 36 3.84344 35.1571 2.34315 33.6569C0.842854 32.1566 0 30.1217 0 28C0 23.58 8 0 8 0H12L8 20C10.1217 20 12.1566 20.8429 13.6569 22.3431C15.1571 23.8434 16 25.8783 16 28ZM36 28C36 30.1217 35.1571 32.1566 33.6569 33.6569C32.1566 35.1571 30.1217 36 28 36C25.8783 36 23.8434 35.1571 22.3431 33.6569C20.8429 32.1566 20 30.1217 20 28C20 23.58 28 0 28 0H32L28 20C30.1217 20 32.1566 20.8429 33.6569 22.3431C35.1571 23.8434 36 25.8783 36 28Z" fill="#DADDE6"/>
                        </svg>                      
                    </div>
                  </div>
                </div>
              </div>
              <div class="single-item">
                <div class="testimonals-box">
                  <div class="text-primary-500 body-font-2 rt-mb-10">Excellent</div>
                  <div class="text-gray-600 body-font-3">
                    “Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse et magna quis nibh accumsan venenatis sit amet id orci. Duis vestibulum bibendum dapibus.”
                  </div>
                  <div class="rt-single-icon-box">
                    <div class="icon-thumb rt-mr-12">
                      <div class="userimage">
                        <img src="assets/images/all-img/t3.png" alt="" draggable="false">
                      </div>
                    </div>
                    <div class="iconbox-content">
                      <div class="body-font-3">Jane Cooper</div>
                      <div class="body-font-4 text-gray-400">Photographer</div>
                    </div>
                    <div class="iconbox-extra">
                      <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M16 28C16 30.1217 15.1571 32.1566 13.6569 33.6569C12.1566 35.1571 10.1217 36 8 36C5.87827 36 3.84344 35.1571 2.34315 33.6569C0.842854 32.1566 0 30.1217 0 28C0 23.58 8 0 8 0H12L8 20C10.1217 20 12.1566 20.8429 13.6569 22.3431C15.1571 23.8434 16 25.8783 16 28ZM36 28C36 30.1217 35.1571 32.1566 33.6569 33.6569C32.1566 35.1571 30.1217 36 28 36C25.8783 36 23.8434 35.1571 22.3431 33.6569C20.8429 32.1566 20 30.1217 20 28C20 23.58 28 0 28 0H32L28 20C30.1217 20 32.1566 20.8429 33.6569 22.3431C35.1571 23.8434 36 25.8783 36 28Z" fill="#DADDE6"/>
                        </svg>                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="rt-spacer-100 rt-spacer-md-50"></div>
  </section>