.danceTop {
    animation-name: danceTop;
    transform-origin: top
}

@keyframes danceTop {
    16% {
        transform: skew(-14deg)
    }
    33% {
        transform: skew(12deg)
    }
    49% {
        transform: skew(-8deg)
    }
    66% {
        transform: skew(6deg)
    }
    83% {
        transform: skew(-4deg)
    }
}

.blurInTop {
    animation-name: blurInTop
}

@keyframes blurInTop {
    from {
        transform: translateY(100%);
        filter: blur(20px);
        opacity: 0;
    }
}

@-webkit-keyframes fade-in-top {
    0% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-in-top {
    0% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

.fade-in-top {
    animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

.fade-in-bottom {
    animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in-left {
    0% {
        -webkit-transform: translateX(-50px);
        transform: translateX(-50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-in-left {
    0% {
        -webkit-transform: translateX(-50px);
        transform: translateX(-50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

.fade-in-left {
    animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes fade-in-right {
    0% {
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

.fade-in-right {
    animation: fade-in-right 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.blurInTop {
    animation-name: blurInTop
}

@keyframes blurInTop {
    from {
        transform: translateY(100%);
        filter: blur(20px);
        opacity: 0;
    }
}

.danceBottom {
    animation-name: danceBottom;
    transform-origin: bottom
}

@keyframes danceBottom {
    16% {
        transform: skew(-14deg)
    }
    33% {
        transform: skew(12deg)
    }
    49% {
        transform: skew(-8deg)
    }
    66% {
        transform: skew(6deg)
    }
    83% {
        transform: skew(-4deg)
    }
}

// letter animation
// banner animation 
.cssanimation,
.cssanimation span {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.cssanimation span {
    display: inline-block
}

.rtleFadeInLeft span {
    animation-name: rdleFadeInLeft
}

@keyframes rdleFadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-60px);
    }
    to {
        opacity: 1
    }
}

.rtleFadeIn span {
    animation-name: rdleFadeIn
}

@keyframes rdleFadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.rtleFadeInRight span {
    animation-name: rdleFadeInRight
}

@keyframes rdleFadeInRight {
    from {
        opacity: 0;
        transform: translateX(60px);
    }
    to {
        opacity: 1
    }
}

.rtleFadeInTop span {
    animation-name: rdleFadeInTop
}

@keyframes rdleFadeInTop {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1
    }
}

.rtleFadeInBottom span {
    animation-name: rdleFadeInBottom
}

@keyframes rdleFadeInBottom {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1
    }
}

.rtleScaleXIn span {
    animation-name: rdleScaleXIn
}

@keyframes rdleScaleXIn {
    from {
        transform: perspective(400px) rotateX(90deg);
        opacity: 0;
    }
    50% {
        opacity: 1
    }
}

.rtleScaleYIn span {
    animation-name: rdleScaleYIn
}

@keyframes rdleScaleYIn {
    from {
        transform: perspective(400px) rotateY(90deg);
        opacity: 0;
    }
    50% {
        opacity: 1
    }
}

.rtleFlyInLeft span {
    animation-name: rdleFlyInLeft;
    animation-timing-function: ease-in-out
}

@keyframes rdleFlyInLeft {
    0% {
        transform: translate(-40px, 0px);
        opacity: 0;
    }
    50% {
        transform: translate(40px, 0px)
    }
}

.rtleFlyInRight span {
    animation-name: rdleFlyInRight;
    animation-timing-function: ease-in-out
}

@keyframes rdleFlyInRight {
    0% {
        transform: translate(40px, 0px);
        opacity: 0;
    }
    50% {
        transform: translate(-40px, 0px)
    }
}

.rtleFlyInBottom span {
    animation-name: rdleFlyInBottom
}

@keyframes rdleFlyInBottom {
    0% {
        transform: translate(0px, 80px);
        opacity: 0
    }
    50% {
        transform: translate(10px, -50px);
        animation-timing-function: ease-in-out
    }
}

.rtleDoorCloseLeft span {
    animation-name: rdleDoorCloseLeft
}

@keyframes rdleDoorCloseLeft {
    from,
    to {
        transform: perspective(400px);
        transform-origin: left
    }
    from {
        transform: rotateY(90deg);
        opacity: 0;
    }
    to {
        opacity: 1
    }
}

.rtleDoorCloseRight span {
    animation-name: rdleDoorCloseRight
}

@keyframes rdleDoorCloseRight {
    from,
    to {
        transform: perspective(400px);
        transform-origin: right
    }
    from {
        transform: rotateY(-90deg);
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.rtleBlurInLeft span {
    animation-name: rtleBlurInLeft
}

@keyframes rtleBlurInLeft {
    from {
        transform: scaleX(0.2) translateX(-100px);
        filter: blur(20px);
        opacity: 0;
    }
}

.rtleBlurInRight span {
    animation-name: rtleBlurInRight
}

@keyframes rtleBlurInRight {
    from {
        transform: scaleX(0.2) translateX(100px);
        filter: blur(20px);
        opacity: 0;
    }
}