html {
    height: 100%;
}

body {
    height: 100%;
    line-height: var(--line-height);
    font-size: var(--body-font-size);
    color: var(--body-font-color);
    font-family: "Work Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: baseline;
    text-rendering: optimizeLegibility;
    font-weight: 400;
    overflow-x: hidden;
    counter-reset: my-sec-counter;
}

a {
    transition: all 0.24s ease-in-out;
    &:hover {
        text-decoration: none;
        color: var(--primary_color);
    }
    &.link-text {
        color: var(--body-font-color);
    }
    &.link-text2 {
        color: var(--body-font-color);
        text-decoration: underline;
    }
}

img {
    max-width: 100%;
}

.owl-item img {
    width: auto !important;
    margin-left: auto;
    margin-right: auto;
}

.rt-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mouse-cursor {
    cursor: pointer;
}

button.mfp-close {
    background: #fff;
    color: var(--primary_color) !important;
    opacity: 1;
    font-size: 20px;
    height: 35px;
    width: 35px !important;
    border-radius: 50%;
    text-align: center !important;
    line-height: 35px !important;
    padding: 0 !important;
    position: absolute;
    top: -52px !important;
}

img.mfp-img {
    padding: 0px !important;
    border: 6px solid #fff;
    box-shadow: 0px 25px 20px 0 rgba(136, 136, 136, 0.35) !important;
}

.mfp-counter {
    right: 15px;
    color: #fff;
    font-size: 14px;
    background: var(--secondary_color);
    padding: 3px 16px;
    border-radius: 3px;
    font-weight: 700;
}

.mfp-content {
    border: 6px solid #fff;
    box-shadow: 0px 25px 20px 0 rgba(136, 136, 136, 0.35) !important;
}

.smallgap.row>[class*=col-] {
    padding-left: 3px !important;
    padding-right: 3px !important;
}

#scrollUp {
    position: fixed;
    right: 30px;
    bottom: 30px;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    background: var(--body-font-color);
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
}

.review {
    color: #ffab53;
}

.bg-fixed {
    background-attachment: fixed;
}

blockquote {
    background: #f3f3f3;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    color: var(--body-font-color);
    padding-left: 37px;
    padding-top: 40px;
    padding-right: 30px;
    padding-bottom: 30px;
    position: relative;
    border-left: 4px solid #fc4a1a;
    h5 {
        margin: 20px 0 0;
        color: #888888;
        font-size: 15px;
    }
}

.slick-slide {
    outline: none;
}

// section padding 
// overlay 
.rt-inner-overlay,
.rt-overlay-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    &.white-overlay {
        background-color: rgba(255, 255, 255, 0.8);
    }
    &.white-overlay2 {
        background-color: rgba(255, 255, 255, 0.502);
    }
}

.rt-overlay-content {
    &.white-overlay2 {
        background-color: rgba(255, 255, 255, 0.502);
    }
    z-index: auto;
}

.rtbgprefix-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.rtbgprefix-contain {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.rtbgprefix-full {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.position-parent {
    position: relative;
    z-index: 1;
}

#{$all-buttons-active},
#{$all-buttons-focus},
#{$all-buttons-hover},
#{$all-text-inputs-focus},
#{$all-text-inputs-active},
#{$all-text-inputs-hover},
#{$all-text-inputs-invalid} {
    outline: none;
    box-shadow: none;
}



@import "custom_column";