<div class="d-sidebar">
    <h3>CANDIDATE DASHBOARD</h3>
  <ul class="sidebar-menu menu-active-classes">
      <li>
         <a href="/candidate-overview.html">
          <span class="button-content-wrapper ">
              <span class="button-icon align-icon-left">
                <i class="ph-stack"></i>                       
              </span>
              <span class="button-text">
                Overview
              </span>
          </span>
         </a>
      </li>
      <li>
         <a href="/candidate-applied-jobs.html">
          <span class="button-content-wrapper ">
              <span class="button-icon align-icon-left">
                  <i class="ph-suitcase-simple"></i>                    
              </span>
              <span class="button-text">
                Applied Jobs
              </span>
          </span>
         </a>
      </li>
      <li>
         <a href="/candidate-favorite-job.html">
          <span class="button-content-wrapper ">
              <span class="button-icon align-icon-left">
                <i class="ph-bookmark-simple"></i>            
              </span>
              <span class="button-text">
                Favorite Jobs
              </span>
          </span>
         </a>
      </li>
      <li>
         <a href="/price-plan.html">
          <span class="button-content-wrapper ">
              <span class="button-icon align-icon-left">
                <i class="ph-bell-ringing"></i>        
              </span>
              <span class="button-text">
                Job Alert
              </span>
          </span>
         </a>
      </li>
      <li>
         <a href="/candidate-setting.html">
          <span class="button-content-wrapper ">
              <span class="button-icon align-icon-left">
                  <i class="ph-gear"></i>        
              </span>
              <span class="button-text">
                Settings
              </span>
          </span>
         </a>
      </li>
      <li>
        <a href="#">
          <span class="button-content-wrapper ">
                  <span class="button-icon align-icon-left">
                      <i class="ph-sign-out"></i>
                  </span>
          <span class="button-text">
                      Log-out
                  </span>
          </span>
        </a>
      </li>
  </ul>
</div>
