<div class="d-sidebar">
    <h3>CANDIDATE DASHBOARD</h3>
  <ul class="sidebar-menu menu-active-classes">
      <li>
         <a href="/company-overview.html">
          <span class="button-content-wrapper ">
              <span class="button-icon align-icon-left">
                <i class="ph-stack"></i>                       
              </span>
              <span class="button-text">
                Overview
              </span>
          </span>
         </a>
      </li>
      <li>
         <a href="/employers-profile.html">
          <span class="button-content-wrapper ">
              <span class="button-icon align-icon-left">
                <i class="ph-user-circle"></i>                 
              </span>
              <span class="button-text">
                Employers Profile
              </span>
          </span>
         </a>
      </li>
      <li>
        <a href="/pricing.html">
         <span class="button-content-wrapper ">
             <span class="button-icon align-icon-left">
              <i class="ph-coin"></i>           
             </span>
             <span class="button-text">
               Pricing
             </span>
         </span>
        </a>
     </li>
      <li>
         <a href="/post-job.html">
          <span class="button-content-wrapper ">
              <span class="button-icon align-icon-left">
                <i class="ph-plus-circle"></i>           
              </span>
              <span class="button-text">
                Post a Job
              </span>
          </span>
         </a>
      </li>
      <li>
         <a href="/company-jobs.html">
          <span class="button-content-wrapper ">
              <span class="button-icon align-icon-left">
                <i class="ph-suitcase-simple"></i>      
              </span>
              <span class="button-text">
                My Jobs
              </span>
          </span>
         </a>
      </li>
      <li>
        <a href="/applications.html">
         <span class="button-content-wrapper ">
             <span class="button-icon align-icon-left">
              <i class="ph-users"></i>      
             </span>
             <span class="button-text">
              Applications
             </span>
         </span>
        </a>
     </li>
     <li>
      <a href="/saved-cadidates.html">
       <span class="button-content-wrapper ">
           <span class="button-icon align-icon-left">
            <i class="ph-bookmark-simple"></i>     
           </span>
           <span class="button-text">
            Saved Candidate
           </span>
       </span>
      </a>
   </li>
   <li>
    <a href="/billing.html">
     <span class="button-content-wrapper ">
         <span class="button-icon align-icon-left">
          <i class="ph-notebook"></i>     
         </span>
         <span class="button-text">
          Plans & Billing
         </span>
     </span>
    </a>
 </li>
 <li>
  <a href="#">
   <span class="button-content-wrapper ">
       <span class="button-icon align-icon-left">
        <i class="ph-user-list"></i>      
       </span>
       <span class="button-text">
        All Companies
       </span>
   </span>
  </a>
</li>

  <li>
      <a href="/company-settings.html">
      <span class="button-content-wrapper ">
          <span class="button-icon align-icon-left">
              <i class="ph-gear"></i>        
          </span>
          <span class="button-text">
            Settings
          </span>
      </span>
      </a>
  </li>
  <li>
    <a href="#">
      <span class="button-content-wrapper ">
              <span class="button-icon align-icon-left">
                  <i class="ph-sign-out"></i>
              </span>
      <span class="button-text">
                  Log-out
              </span>
      </span>
    </a>
  </li>
  </ul>
</div>
