<div class="d-sidebar custom-scroll">
    <ul class="sidebar-menu menu-active-classes">
        <li>
           <a href="/dashboard-overview1.html">
            <span class="button-content-wrapper ">
                <span class="button-icon align-icon-left">
                    <i class="ph-squares-four"></i>                        
                </span>
                <span class="button-text">
                    Overview 
                </span>
            </span>
           </a>
        </li>
        <li>
           <a href="#">
            <span class="button-content-wrapper ">
                <span class="button-icon align-icon-left">
                    <i class="ph-user"></i>                     
                </span>
                <span class="button-text">
                    View Profile
                </span>
            </span>
           </a>
        </li>
        <li>
           <a href="/dashboard-job.html">
            <span class="button-content-wrapper ">
                <span class="button-icon align-icon-left">
                    <i class="ph-suitcase-simple"></i>                    
                </span>
                <span class="button-text">
                    My Jobs
                </span>
            </span>
           </a>
        </li>
        <li>
           <a href="/dashboard-post-job.html">
            <span class="button-content-wrapper ">
                <span class="button-icon align-icon-left">
                    <i class="ph-pencil-line"></i>                   
                </span>
                <span class="button-text">
                    Post a Jobs
                </span>
            </span>
           </a>
        </li>
        <li>
           <a href="/dashboard-application.html">
            <span class="button-content-wrapper ">
                <span class="button-icon align-icon-left">
                    <i class="ph-users"></i>                
                </span>
                <span class="button-text">
                    Application
                </span>
            </span>
           </a>
        </li>
        <li>
           <a href="/dashboard-bookmark.html">
            <span class="button-content-wrapper ">
                <span class="button-icon align-icon-left">
                    <i class="ph-bookmark-simple"></i>             
                </span>
                <span class="button-text">
                    Bookmark
                </span>
            </span>
           </a>
        </li>
        <li>
           <a href="/db-price-employe.html">
            <span class="button-content-wrapper ">
                <span class="button-icon align-icon-left">
                    <i class="ph-clipboard"></i>          
                </span>
                <span class="button-text">
                    Price Plan
                </span>
            </span>
           </a>
        </li>
        <li>
           <a href="/dashboard-settings.html">
            <span class="button-content-wrapper ">
                <span class="button-icon align-icon-left">
                    <i class="ph-gear"></i>        
                </span>
                <span class="button-text">
                    Account Settings
                </span>
            </span>
           </a>
        </li>
        <li>
           <a href="#">
            <span class="button-content-wrapper ">
                <span class="button-icon align-icon-left">
                    <i class="ph-sign-out"></i>     
                </span>
                <span class="button-text">
                    Log-out
                </span>
            </span>
           </a>
        </li>
        
        
    </ul>
    <div class="sidebar-footer text-center">
        <img src="assets/images/all-img/sidebar-il.png" alt="" draggable="false">
        <div class="body-font-3 rt-mb-20 rt-pt-20">
            Upgrade your plan to <br>
get more features.
        </div>
        <button class="btn btn-primary">
            Upgrade plan
        </button>
    </div>
</div>