<div class="card jobcardStyle1 rt-mb-24">
  <div class="card-body">
    <div class="rt-single-icon-box ">
      <div class="icon-thumb">
        <img src="assets/images/icon/logo-upwork-xl.png" alt="" draggable="false">
      </div>
      <div class="iconbox-content">
        <div class="post-info2">
          <div class="post-main-title"> <a href="#">Upwork</a> </div>
          <div class="body-font-4 text-gray-600 pt-2">
            <span class="info-tools">
              <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M19.25 9.16602C19.25 15.5827 11 21.0827 11 21.0827C11 21.0827 2.75 15.5827 2.75 9.16602C2.75 6.97798 3.61919 4.87956 5.16637 3.33238C6.71354 1.78521 8.81196 0.916016 11 0.916016C13.188 0.916016 15.2865 1.78521 16.8336 3.33238C18.3808 4.87956 19.25 6.97798 19.25 9.16602Z"
                  stroke="#C5C9D6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M11 11.916C12.5188 11.916 13.75 10.6848 13.75 9.16602C13.75 7.64723 12.5188 6.41602 11 6.41602C9.48122 6.41602 8.25 7.64723 8.25 9.16602C8.25 10.6848 9.48122 11.916 11 11.916Z"
                  stroke="#C5C9D6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
              </svg>

              Canada
            </span>
            <span class="info-tools">
              <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M18.5625 6.1875H3.4375C3.0578 6.1875 2.75 6.4953 2.75 6.875V17.875C2.75 18.2547 3.0578 18.5625 3.4375 18.5625H18.5625C18.9422 18.5625 19.25 18.2547 19.25 17.875V6.875C19.25 6.4953 18.9422 6.1875 18.5625 6.1875Z"
                  stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M14.4375 6.1875V4.8125C14.4375 4.44783 14.2926 4.09809 14.0348 3.84023C13.7769 3.58237 13.4272 3.4375 13.0625 3.4375H8.9375C8.57283 3.4375 8.22309 3.58237 7.96523 3.84023C7.70737 4.09809 7.5625 4.44783 7.5625 4.8125V6.1875"
                  stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M19.2501 10.8555C16.7427 12.3061 13.8962 13.0678 10.9994 13.0633C8.10312 13.0678 5.25711 12.3064 2.75 10.8562"
                  stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M9.96875 10.3125H12.0312" stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>

              3 - open Job
            </span>
          </div>
        </div>
      </div>
      <div class="iconbox-extra align-self-center">
        <div>
          <button class="text-primary-500 hoverbg-primary-50 plain-button icon-button">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M19 21L12 16L5 21V5C5 4.46957 5.21071 3.96086 5.58579 3.58579C5.96086 3.21071 6.46957 3 7 3H17C17.5304 3 18.0391 3.21071 18.4142 3.58579C18.7893 3.96086 19 4.46957 19 5V21Z"
                fill="#0066FF" stroke="#0066FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>

          </button>
        </div>
        <div>
          <button type="button" class="btn btn-primary2-50">
            <div class="button-content-wrapper ">
              <span class="button-icon align-icon-right">
                <i class="ph-arrow-right"></i>
              </span>
              <span class="button-text">
                Open Position
              </span>
            </div>
          </button>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="card jobcardStyle1 rt-mb-24">
  <div class="card-body">
    <div class="rt-single-icon-box ">
      <div class="icon-thumb">
        <img src="assets/images/icon/logo-ms-xl.png" alt="" draggable="false">
      </div>
      <div class="iconbox-content">
        <div class="post-info2">
          <div class="post-main-title"> <a href="#">Microsoft</a> </div>
          <div class="body-font-4 text-gray-600 pt-2">
            <span class="info-tools">
              <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M19.25 9.16602C19.25 15.5827 11 21.0827 11 21.0827C11 21.0827 2.75 15.5827 2.75 9.16602C2.75 6.97798 3.61919 4.87956 5.16637 3.33238C6.71354 1.78521 8.81196 0.916016 11 0.916016C13.188 0.916016 15.2865 1.78521 16.8336 3.33238C18.3808 4.87956 19.25 6.97798 19.25 9.16602Z"
                  stroke="#C5C9D6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M11 11.916C12.5188 11.916 13.75 10.6848 13.75 9.16602C13.75 7.64723 12.5188 6.41602 11 6.41602C9.48122 6.41602 8.25 7.64723 8.25 9.16602C8.25 10.6848 9.48122 11.916 11 11.916Z"
                  stroke="#C5C9D6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
              </svg>

              Germany
            </span>
            <span class="info-tools">
              <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M18.5625 6.1875H3.4375C3.0578 6.1875 2.75 6.4953 2.75 6.875V17.875C2.75 18.2547 3.0578 18.5625 3.4375 18.5625H18.5625C18.9422 18.5625 19.25 18.2547 19.25 17.875V6.875C19.25 6.4953 18.9422 6.1875 18.5625 6.1875Z"
                  stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M14.4375 6.1875V4.8125C14.4375 4.44783 14.2926 4.09809 14.0348 3.84023C13.7769 3.58237 13.4272 3.4375 13.0625 3.4375H8.9375C8.57283 3.4375 8.22309 3.58237 7.96523 3.84023C7.70737 4.09809 7.5625 4.44783 7.5625 4.8125V6.1875"
                  stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M19.2501 10.8555C16.7427 12.3061 13.8962 13.0678 10.9994 13.0633C8.10312 13.0678 5.25711 12.3064 2.75 10.8562"
                  stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M9.96875 10.3125H12.0312" stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>

              3 - open Job
            </span>
          </div>
        </div>
      </div>
      <div class="iconbox-extra align-self-center">
        <div>
          <button class="text-primary-500 hoverbg-primary-50 plain-button icon-button">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M19 21L12 16L5 21V5C5 4.46957 5.21071 3.96086 5.58579 3.58579C5.96086 3.21071 6.46957 3 7 3H17C17.5304 3 18.0391 3.21071 18.4142 3.58579C18.7893 3.96086 19 4.46957 19 5V21Z"
                fill="#0066FF" stroke="#0066FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>

          </button>
        </div>
        <div>
          <button type="button" class="btn btn-primary2-50">
            <div class="button-content-wrapper ">
              <span class="button-icon align-icon-right">
                <i class="ph-arrow-right"></i>
              </span>
              <span class="button-text">
                Open Position
              </span>
            </div>
          </button>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="card jobcardStyle1 rt-mb-24">
  <div class="card-body">
    <div class="rt-single-icon-box ">
      <div class="icon-thumb">
        <img src="assets/images/icon/logo-driable-xl.png" alt="" draggable="false">
      </div>
      <div class="iconbox-content">
        <div class="post-info2">
          <div class="post-main-title"> <a href="#">Dribbble</a></div>
          <div class="body-font-4 text-gray-600 pt-2">
            <span class="info-tools">
              <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M19.25 9.16602C19.25 15.5827 11 21.0827 11 21.0827C11 21.0827 2.75 15.5827 2.75 9.16602C2.75 6.97798 3.61919 4.87956 5.16637 3.33238C6.71354 1.78521 8.81196 0.916016 11 0.916016C13.188 0.916016 15.2865 1.78521 16.8336 3.33238C18.3808 4.87956 19.25 6.97798 19.25 9.16602Z"
                  stroke="#C5C9D6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M11 11.916C12.5188 11.916 13.75 10.6848 13.75 9.16602C13.75 7.64723 12.5188 6.41602 11 6.41602C9.48122 6.41602 8.25 7.64723 8.25 9.16602C8.25 10.6848 9.48122 11.916 11 11.916Z"
                  stroke="#C5C9D6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
              </svg>

              Canada
            </span>
            <span class="info-tools">
              <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M18.5625 6.1875H3.4375C3.0578 6.1875 2.75 6.4953 2.75 6.875V17.875C2.75 18.2547 3.0578 18.5625 3.4375 18.5625H18.5625C18.9422 18.5625 19.25 18.2547 19.25 17.875V6.875C19.25 6.4953 18.9422 6.1875 18.5625 6.1875Z"
                  stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M14.4375 6.1875V4.8125C14.4375 4.44783 14.2926 4.09809 14.0348 3.84023C13.7769 3.58237 13.4272 3.4375 13.0625 3.4375H8.9375C8.57283 3.4375 8.22309 3.58237 7.96523 3.84023C7.70737 4.09809 7.5625 4.44783 7.5625 4.8125V6.1875"
                  stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M19.2501 10.8555C16.7427 12.3061 13.8962 13.0678 10.9994 13.0633C8.10312 13.0678 5.25711 12.3064 2.75 10.8562"
                  stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M9.96875 10.3125H12.0312" stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>

              3 - open Job
            </span>
          </div>
        </div>
      </div>
      <div class="iconbox-extra align-self-center">
        <div>
          <button class="text-primary-500 hoverbg-primary-50 plain-button icon-button">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M19 21L12 16L5 21V5C5 4.46957 5.21071 3.96086 5.58579 3.58579C5.96086 3.21071 6.46957 3 7 3H17C17.5304 3 18.0391 3.21071 18.4142 3.58579C18.7893 3.96086 19 4.46957 19 5V21Z"
                fill="#0066FF" stroke="#0066FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>

          </button>
        </div>
        <div>
          <button type="button" class="btn btn-primary2-50">
            <div class="button-content-wrapper ">
              <span class="button-icon align-icon-right">
                <i class="ph-arrow-right"></i>
              </span>
              <span class="button-text">
                Open Position
              </span>
            </div>
          </button>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="card jobcardStyle1 rt-mb-24">
  <div class="card-body">
    <div class="rt-single-icon-box ">
      <div class="icon-thumb">
        <img src="assets/images/icon/logo-slack-xl.png" alt="" draggable="false">
      </div>
      <div class="iconbox-content">
        <div class="post-info2">
          <div class="post-main-title"> <a href="#">Slack</a> </div>
          <div class="body-font-4 text-gray-600 pt-2">
            <span class="info-tools">
              <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M19.25 9.16602C19.25 15.5827 11 21.0827 11 21.0827C11 21.0827 2.75 15.5827 2.75 9.16602C2.75 6.97798 3.61919 4.87956 5.16637 3.33238C6.71354 1.78521 8.81196 0.916016 11 0.916016C13.188 0.916016 15.2865 1.78521 16.8336 3.33238C18.3808 4.87956 19.25 6.97798 19.25 9.16602Z"
                  stroke="#C5C9D6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M11 11.916C12.5188 11.916 13.75 10.6848 13.75 9.16602C13.75 7.64723 12.5188 6.41602 11 6.41602C9.48122 6.41602 8.25 7.64723 8.25 9.16602C8.25 10.6848 9.48122 11.916 11 11.916Z"
                  stroke="#C5C9D6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
              </svg>

              Germany
            </span>
            <span class="info-tools">
              <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M18.5625 6.1875H3.4375C3.0578 6.1875 2.75 6.4953 2.75 6.875V17.875C2.75 18.2547 3.0578 18.5625 3.4375 18.5625H18.5625C18.9422 18.5625 19.25 18.2547 19.25 17.875V6.875C19.25 6.4953 18.9422 6.1875 18.5625 6.1875Z"
                  stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M14.4375 6.1875V4.8125C14.4375 4.44783 14.2926 4.09809 14.0348 3.84023C13.7769 3.58237 13.4272 3.4375 13.0625 3.4375H8.9375C8.57283 3.4375 8.22309 3.58237 7.96523 3.84023C7.70737 4.09809 7.5625 4.44783 7.5625 4.8125V6.1875"
                  stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M19.2501 10.8555C16.7427 12.3061 13.8962 13.0678 10.9994 13.0633C8.10312 13.0678 5.25711 12.3064 2.75 10.8562"
                  stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M9.96875 10.3125H12.0312" stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>

              3 - open Job
            </span>
          </div>
        </div>
      </div>
      <div class="iconbox-extra align-self-center">
        <div>
          <button class="text-primary-500 hoverbg-primary-50 plain-button icon-button">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M19 21L12 16L5 21V5C5 4.46957 5.21071 3.96086 5.58579 3.58579C5.96086 3.21071 6.46957 3 7 3H17C17.5304 3 18.0391 3.21071 18.4142 3.58579C18.7893 3.96086 19 4.46957 19 5V21Z"
                fill="#0066FF" stroke="#0066FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>

          </button>
        </div>
        <div>
          <button type="button" class="btn btn-primary2-50">
            <div class="button-content-wrapper ">
              <span class="button-icon align-icon-right">
                <i class="ph-arrow-right"></i>
              </span>
              <span class="button-text">
                Open Position
              </span>
            </div>
          </button>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="card jobcardStyle1 rt-mb-24">
  <div class="card-body">
    <div class="rt-single-icon-box ">
      <div class="icon-thumb">
        <img src="assets/images/icon/logo-ytube-xl.png" alt="" draggable="false">
      </div>
      <div class="iconbox-content">
        <div class="post-info2">
          <div class="post-main-title"> <a href="#">Youtube</a> </div>
          <div class="body-font-4 text-gray-600 pt-2">
            <span class="info-tools">
              <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M19.25 9.16602C19.25 15.5827 11 21.0827 11 21.0827C11 21.0827 2.75 15.5827 2.75 9.16602C2.75 6.97798 3.61919 4.87956 5.16637 3.33238C6.71354 1.78521 8.81196 0.916016 11 0.916016C13.188 0.916016 15.2865 1.78521 16.8336 3.33238C18.3808 4.87956 19.25 6.97798 19.25 9.16602Z"
                  stroke="#C5C9D6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M11 11.916C12.5188 11.916 13.75 10.6848 13.75 9.16602C13.75 7.64723 12.5188 6.41602 11 6.41602C9.48122 6.41602 8.25 7.64723 8.25 9.16602C8.25 10.6848 9.48122 11.916 11 11.916Z"
                  stroke="#C5C9D6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
              </svg>

              China
            </span>
            <span class="info-tools">
              <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M18.5625 6.1875H3.4375C3.0578 6.1875 2.75 6.4953 2.75 6.875V17.875C2.75 18.2547 3.0578 18.5625 3.4375 18.5625H18.5625C18.9422 18.5625 19.25 18.2547 19.25 17.875V6.875C19.25 6.4953 18.9422 6.1875 18.5625 6.1875Z"
                  stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M14.4375 6.1875V4.8125C14.4375 4.44783 14.2926 4.09809 14.0348 3.84023C13.7769 3.58237 13.4272 3.4375 13.0625 3.4375H8.9375C8.57283 3.4375 8.22309 3.58237 7.96523 3.84023C7.70737 4.09809 7.5625 4.44783 7.5625 4.8125V6.1875"
                  stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M19.2501 10.8555C16.7427 12.3061 13.8962 13.0678 10.9994 13.0633C8.10312 13.0678 5.25711 12.3064 2.75 10.8562"
                  stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M9.96875 10.3125H12.0312" stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>

              3 - open Job
            </span>
          </div>
        </div>
      </div>
      <div class="iconbox-extra align-self-center">
        <div>
          <button class="text-primary-500 hoverbg-primary-50 plain-button icon-button">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M19 21L12 16L5 21V5C5 4.46957 5.21071 3.96086 5.58579 3.58579C5.96086 3.21071 6.46957 3 7 3H17C17.5304 3 18.0391 3.21071 18.4142 3.58579C18.7893 3.96086 19 4.46957 19 5V21Z"
                fill="#0066FF" stroke="#0066FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>

          </button>
        </div>
        <div>
          <button type="button" class="btn btn-primary2-50">
            <div class="button-content-wrapper ">
              <span class="button-icon align-icon-right">
                <i class="ph-arrow-right"></i>
              </span>
              <span class="button-text">
                Open Position
              </span>
            </div>
          </button>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="card jobcardStyle1 rt-mb-24">
  <div class="card-body">
    <div class="rt-single-icon-box ">
      <div class="icon-thumb">
        <img src="assets/images/icon/logo-fb-xl.png" alt="" draggable="false">
      </div>
      <div class="iconbox-content">
        <div class="post-info2">
          <div class="post-main-title"> <a href="#">Facebook</a></div>
          <div class="body-font-4 text-gray-600 pt-2">
            <span class="info-tools">
              <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M19.25 9.16602C19.25 15.5827 11 21.0827 11 21.0827C11 21.0827 2.75 15.5827 2.75 9.16602C2.75 6.97798 3.61919 4.87956 5.16637 3.33238C6.71354 1.78521 8.81196 0.916016 11 0.916016C13.188 0.916016 15.2865 1.78521 16.8336 3.33238C18.3808 4.87956 19.25 6.97798 19.25 9.16602Z"
                  stroke="#C5C9D6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M11 11.916C12.5188 11.916 13.75 10.6848 13.75 9.16602C13.75 7.64723 12.5188 6.41602 11 6.41602C9.48122 6.41602 8.25 7.64723 8.25 9.16602C8.25 10.6848 9.48122 11.916 11 11.916Z"
                  stroke="#C5C9D6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
              </svg>

              France
            </span>
            <span class="info-tools">
              <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M18.5625 6.1875H3.4375C3.0578 6.1875 2.75 6.4953 2.75 6.875V17.875C2.75 18.2547 3.0578 18.5625 3.4375 18.5625H18.5625C18.9422 18.5625 19.25 18.2547 19.25 17.875V6.875C19.25 6.4953 18.9422 6.1875 18.5625 6.1875Z"
                  stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M14.4375 6.1875V4.8125C14.4375 4.44783 14.2926 4.09809 14.0348 3.84023C13.7769 3.58237 13.4272 3.4375 13.0625 3.4375H8.9375C8.57283 3.4375 8.22309 3.58237 7.96523 3.84023C7.70737 4.09809 7.5625 4.44783 7.5625 4.8125V6.1875"
                  stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M19.2501 10.8555C16.7427 12.3061 13.8962 13.0678 10.9994 13.0633C8.10312 13.0678 5.25711 12.3064 2.75 10.8562"
                  stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M9.96875 10.3125H12.0312" stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>

              3 - open Job
            </span>
          </div>
        </div>
      </div>
      <div class="iconbox-extra align-self-center">
        <div>
          <button class="text-primary-500 hoverbg-primary-50 plain-button icon-button">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M19 21L12 16L5 21V5C5 4.46957 5.21071 3.96086 5.58579 3.58579C5.96086 3.21071 6.46957 3 7 3H17C17.5304 3 18.0391 3.21071 18.4142 3.58579C18.7893 3.96086 19 4.46957 19 5V21Z"
                fill="#0066FF" stroke="#0066FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>

          </button>
        </div>
        <div>
          <button type="button" class="btn btn-primary2-50">
            <div class="button-content-wrapper ">
              <span class="button-icon align-icon-right">
                <i class="ph-arrow-right"></i>
              </span>
              <span class="button-text">
                Open Position
              </span>
            </div>
          </button>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="card jobcardStyle1 rt-mb-24">
  <div class="card-body">
    <div class="rt-single-icon-box ">
      <div class="icon-thumb">
        <img src="assets/images/icon/logo-redit-xl.png" alt="" draggable="false">
      </div>
      <div class="iconbox-content">
        <div class="post-info2">
          <div class="post-main-title"> <a href="#">Reddit</a> </div>
          <div class="body-font-4 text-gray-600 pt-2">
            <span class="info-tools">
              <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M19.25 9.16602C19.25 15.5827 11 21.0827 11 21.0827C11 21.0827 2.75 15.5827 2.75 9.16602C2.75 6.97798 3.61919 4.87956 5.16637 3.33238C6.71354 1.78521 8.81196 0.916016 11 0.916016C13.188 0.916016 15.2865 1.78521 16.8336 3.33238C18.3808 4.87956 19.25 6.97798 19.25 9.16602Z"
                  stroke="#C5C9D6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M11 11.916C12.5188 11.916 13.75 10.6848 13.75 9.16602C13.75 7.64723 12.5188 6.41602 11 6.41602C9.48122 6.41602 8.25 7.64723 8.25 9.16602C8.25 10.6848 9.48122 11.916 11 11.916Z"
                  stroke="#C5C9D6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
              </svg>

              Canada
            </span>
            <span class="info-tools">
              <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M18.5625 6.1875H3.4375C3.0578 6.1875 2.75 6.4953 2.75 6.875V17.875C2.75 18.2547 3.0578 18.5625 3.4375 18.5625H18.5625C18.9422 18.5625 19.25 18.2547 19.25 17.875V6.875C19.25 6.4953 18.9422 6.1875 18.5625 6.1875Z"
                  stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M14.4375 6.1875V4.8125C14.4375 4.44783 14.2926 4.09809 14.0348 3.84023C13.7769 3.58237 13.4272 3.4375 13.0625 3.4375H8.9375C8.57283 3.4375 8.22309 3.58237 7.96523 3.84023C7.70737 4.09809 7.5625 4.44783 7.5625 4.8125V6.1875"
                  stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M19.2501 10.8555C16.7427 12.3061 13.8962 13.0678 10.9994 13.0633C8.10312 13.0678 5.25711 12.3064 2.75 10.8562"
                  stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M9.96875 10.3125H12.0312" stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>

              3 - open Job
            </span>
          </div>
        </div>
      </div>
      <div class="iconbox-extra align-self-center">
        <div>
          <button class="text-primary-500 hoverbg-primary-50 plain-button icon-button">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M19 21L12 16L5 21V5C5 4.46957 5.21071 3.96086 5.58579 3.58579C5.96086 3.21071 6.46957 3 7 3H17C17.5304 3 18.0391 3.21071 18.4142 3.58579C18.7893 3.96086 19 4.46957 19 5V21Z"
                fill="#0066FF" stroke="#0066FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>

          </button>
        </div>
        <div>
          <button type="button" class="btn btn-primary2-50">
            <div class="button-content-wrapper ">
              <span class="button-icon align-icon-right">
                <i class="ph-arrow-right"></i>
              </span>
              <span class="button-text">
                Open Position
              </span>
            </div>
          </button>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="card jobcardStyle1 rt-mb-24">
  <div class="card-body">
    <div class="rt-single-icon-box ">
      <div class="icon-thumb">
        <img src="assets/images/icon/logo-driable-xl.png" alt="" draggable="false">
      </div>
      <div class="iconbox-content">
        <div class="post-info2">
          <div class="post-main-title"> <a href="#">Dribbble</a> </div>
          <div class="body-font-4 text-gray-600 pt-2">
            <span class="info-tools">
              <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M19.25 9.16602C19.25 15.5827 11 21.0827 11 21.0827C11 21.0827 2.75 15.5827 2.75 9.16602C2.75 6.97798 3.61919 4.87956 5.16637 3.33238C6.71354 1.78521 8.81196 0.916016 11 0.916016C13.188 0.916016 15.2865 1.78521 16.8336 3.33238C18.3808 4.87956 19.25 6.97798 19.25 9.16602Z"
                  stroke="#C5C9D6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M11 11.916C12.5188 11.916 13.75 10.6848 13.75 9.16602C13.75 7.64723 12.5188 6.41602 11 6.41602C9.48122 6.41602 8.25 7.64723 8.25 9.16602C8.25 10.6848 9.48122 11.916 11 11.916Z"
                  stroke="#C5C9D6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
              </svg>

              United States
            </span>
            <span class="info-tools">
              <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M18.5625 6.1875H3.4375C3.0578 6.1875 2.75 6.4953 2.75 6.875V17.875C2.75 18.2547 3.0578 18.5625 3.4375 18.5625H18.5625C18.9422 18.5625 19.25 18.2547 19.25 17.875V6.875C19.25 6.4953 18.9422 6.1875 18.5625 6.1875Z"
                  stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M14.4375 6.1875V4.8125C14.4375 4.44783 14.2926 4.09809 14.0348 3.84023C13.7769 3.58237 13.4272 3.4375 13.0625 3.4375H8.9375C8.57283 3.4375 8.22309 3.58237 7.96523 3.84023C7.70737 4.09809 7.5625 4.44783 7.5625 4.8125V6.1875"
                  stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M19.2501 10.8555C16.7427 12.3061 13.8962 13.0678 10.9994 13.0633C8.10312 13.0678 5.25711 12.3064 2.75 10.8562"
                  stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M9.96875 10.3125H12.0312" stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>

              3 - open Job
            </span>
          </div>
        </div>
      </div>
      <div class="iconbox-extra align-self-center">
        <div>
          <button class="text-primary-500 hoverbg-primary-50 plain-button icon-button">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M19 21L12 16L5 21V5C5 4.46957 5.21071 3.96086 5.58579 3.58579C5.96086 3.21071 6.46957 3 7 3H17C17.5304 3 18.0391 3.21071 18.4142 3.58579C18.7893 3.96086 19 4.46957 19 5V21Z"
                fill="#0066FF" stroke="#0066FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>

          </button>
        </div>
        <div>
          <button type="button" class="btn btn-primary2-50">
            <div class="button-content-wrapper ">
              <span class="button-icon align-icon-right">
                <i class="ph-arrow-right"></i>
              </span>
              <span class="button-text">
                Open Position
              </span>
            </div>
          </button>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="card jobcardStyle1 rt-mb-24">
  <div class="card-body">
    <div class="rt-single-icon-box ">
      <div class="icon-thumb">
        <img src="assets/images/icon/logo-insta-xl.png" alt="" draggable="false">
      </div>
      <div class="iconbox-content">
        <div class="post-info2">
          <div class="post-main-title"> <a href="#">Instagram</a></div>
          <div class="body-font-4 text-gray-600 pt-2">
            <span class="info-tools">
              <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M19.25 9.16602C19.25 15.5827 11 21.0827 11 21.0827C11 21.0827 2.75 15.5827 2.75 9.16602C2.75 6.97798 3.61919 4.87956 5.16637 3.33238C6.71354 1.78521 8.81196 0.916016 11 0.916016C13.188 0.916016 15.2865 1.78521 16.8336 3.33238C18.3808 4.87956 19.25 6.97798 19.25 9.16602Z"
                  stroke="#C5C9D6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M11 11.916C12.5188 11.916 13.75 10.6848 13.75 9.16602C13.75 7.64723 12.5188 6.41602 11 6.41602C9.48122 6.41602 8.25 7.64723 8.25 9.16602C8.25 10.6848 9.48122 11.916 11 11.916Z"
                  stroke="#C5C9D6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
              </svg>

              China
            </span>
            <span class="info-tools">
              <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M18.5625 6.1875H3.4375C3.0578 6.1875 2.75 6.4953 2.75 6.875V17.875C2.75 18.2547 3.0578 18.5625 3.4375 18.5625H18.5625C18.9422 18.5625 19.25 18.2547 19.25 17.875V6.875C19.25 6.4953 18.9422 6.1875 18.5625 6.1875Z"
                  stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M14.4375 6.1875V4.8125C14.4375 4.44783 14.2926 4.09809 14.0348 3.84023C13.7769 3.58237 13.4272 3.4375 13.0625 3.4375H8.9375C8.57283 3.4375 8.22309 3.58237 7.96523 3.84023C7.70737 4.09809 7.5625 4.44783 7.5625 4.8125V6.1875"
                  stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M19.2501 10.8555C16.7427 12.3061 13.8962 13.0678 10.9994 13.0633C8.10312 13.0678 5.25711 12.3064 2.75 10.8562"
                  stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M9.96875 10.3125H12.0312" stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>

              3 - open Job
            </span>
          </div>
        </div>
      </div>
      <div class="iconbox-extra align-self-center">
        <div>
          <button class="text-primary-500 hoverbg-primary-50 plain-button icon-button">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M19 21L12 16L5 21V5C5 4.46957 5.21071 3.96086 5.58579 3.58579C5.96086 3.21071 6.46957 3 7 3H17C17.5304 3 18.0391 3.21071 18.4142 3.58579C18.7893 3.96086 19 4.46957 19 5V21Z"
                fill="#0066FF" stroke="#0066FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>

          </button>
        </div>
        <div>
          <button type="button" class="btn btn-primary2-50">
            <div class="button-content-wrapper ">
              <span class="button-icon align-icon-right">
                <i class="ph-arrow-right"></i>
              </span>
              <span class="button-text">
                Open Position
              </span>
            </div>
          </button>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="card jobcardStyle1 rt-mb-24">
  <div class="card-body">
    <div class="rt-single-icon-box ">
      <div class="icon-thumb">
        <img src="assets/images/icon/logo-udemy-xl.png" alt="" draggable="false">
      </div>
      <div class="iconbox-content">
        <div class="post-info2">
          <div class="post-main-title"> <a href="#">Udemy</a> </div>
          <div class="body-font-4 text-gray-600 pt-2">
            <span class="info-tools">
              <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M19.25 9.16602C19.25 15.5827 11 21.0827 11 21.0827C11 21.0827 2.75 15.5827 2.75 9.16602C2.75 6.97798 3.61919 4.87956 5.16637 3.33238C6.71354 1.78521 8.81196 0.916016 11 0.916016C13.188 0.916016 15.2865 1.78521 16.8336 3.33238C18.3808 4.87956 19.25 6.97798 19.25 9.16602Z"
                  stroke="#C5C9D6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M11 11.916C12.5188 11.916 13.75 10.6848 13.75 9.16602C13.75 7.64723 12.5188 6.41602 11 6.41602C9.48122 6.41602 8.25 7.64723 8.25 9.16602C8.25 10.6848 9.48122 11.916 11 11.916Z"
                  stroke="#C5C9D6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
              </svg>

              Germany
            </span>
            <span class="info-tools">
              <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M18.5625 6.1875H3.4375C3.0578 6.1875 2.75 6.4953 2.75 6.875V17.875C2.75 18.2547 3.0578 18.5625 3.4375 18.5625H18.5625C18.9422 18.5625 19.25 18.2547 19.25 17.875V6.875C19.25 6.4953 18.9422 6.1875 18.5625 6.1875Z"
                  stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M14.4375 6.1875V4.8125C14.4375 4.44783 14.2926 4.09809 14.0348 3.84023C13.7769 3.58237 13.4272 3.4375 13.0625 3.4375H8.9375C8.57283 3.4375 8.22309 3.58237 7.96523 3.84023C7.70737 4.09809 7.5625 4.44783 7.5625 4.8125V6.1875"
                  stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M19.2501 10.8555C16.7427 12.3061 13.8962 13.0678 10.9994 13.0633C8.10312 13.0678 5.25711 12.3064 2.75 10.8562"
                  stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M9.96875 10.3125H12.0312" stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>

              3 - open Job
            </span>
          </div>
        </div>
      </div>
      <div class="iconbox-extra align-self-center">
        <div>
          <button class="text-primary-500 hoverbg-primary-50 plain-button icon-button">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M19 21L12 16L5 21V5C5 4.46957 5.21071 3.96086 5.58579 3.58579C5.96086 3.21071 6.46957 3 7 3H17C17.5304 3 18.0391 3.21071 18.4142 3.58579C18.7893 3.96086 19 4.46957 19 5V21Z"
                fill="#0066FF" stroke="#0066FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>

          </button>
        </div>
        <div>
          <button type="button" class="btn btn-primary2-50">
            <div class="button-content-wrapper ">
              <span class="button-icon align-icon-right">
                <i class="ph-arrow-right"></i>
              </span>
              <span class="button-text">
                Open Position
              </span>
            </div>
          </button>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="card jobcardStyle1 rt-mb-24">
  <div class="card-body">
    <div class="rt-single-icon-box ">
      <div class="icon-thumb">
        <img src="assets/images/icon/logo-twitter-xl.png" alt="" draggable="false">
      </div>
      <div class="iconbox-content">
        <div class="post-info2">
          <div class="post-main-title"> <a href="#">Twitter</a> </div>
          <div class="body-font-4 text-gray-600 pt-2">
            <span class="info-tools">
              <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M19.25 9.16602C19.25 15.5827 11 21.0827 11 21.0827C11 21.0827 2.75 15.5827 2.75 9.16602C2.75 6.97798 3.61919 4.87956 5.16637 3.33238C6.71354 1.78521 8.81196 0.916016 11 0.916016C13.188 0.916016 15.2865 1.78521 16.8336 3.33238C18.3808 4.87956 19.25 6.97798 19.25 9.16602Z"
                  stroke="#C5C9D6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M11 11.916C12.5188 11.916 13.75 10.6848 13.75 9.16602C13.75 7.64723 12.5188 6.41602 11 6.41602C9.48122 6.41602 8.25 7.64723 8.25 9.16602C8.25 10.6848 9.48122 11.916 11 11.916Z"
                  stroke="#C5C9D6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
              </svg>

              China
            </span>
            <span class="info-tools">
              <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M18.5625 6.1875H3.4375C3.0578 6.1875 2.75 6.4953 2.75 6.875V17.875C2.75 18.2547 3.0578 18.5625 3.4375 18.5625H18.5625C18.9422 18.5625 19.25 18.2547 19.25 17.875V6.875C19.25 6.4953 18.9422 6.1875 18.5625 6.1875Z"
                  stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M14.4375 6.1875V4.8125C14.4375 4.44783 14.2926 4.09809 14.0348 3.84023C13.7769 3.58237 13.4272 3.4375 13.0625 3.4375H8.9375C8.57283 3.4375 8.22309 3.58237 7.96523 3.84023C7.70737 4.09809 7.5625 4.44783 7.5625 4.8125V6.1875"
                  stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M19.2501 10.8555C16.7427 12.3061 13.8962 13.0678 10.9994 13.0633C8.10312 13.0678 5.25711 12.3064 2.75 10.8562"
                  stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M9.96875 10.3125H12.0312" stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>

              3 - open Job
            </span>
          </div>
        </div>
      </div>
      <div class="iconbox-extra align-self-center">
        <div>
          <button class="text-primary-500 hoverbg-primary-50 plain-button icon-button">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M19 21L12 16L5 21V5C5 4.46957 5.21071 3.96086 5.58579 3.58579C5.96086 3.21071 6.46957 3 7 3H17C17.5304 3 18.0391 3.21071 18.4142 3.58579C18.7893 3.96086 19 4.46957 19 5V21Z"
                fill="#0066FF" stroke="#0066FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>

          </button>
        </div>
        <div>
          <button type="button" class="btn btn-primary2-50">
            <div class="button-content-wrapper ">
              <span class="button-icon align-icon-right">
                <i class="ph-arrow-right"></i>
              </span>
              <span class="button-text">
                Open Position
              </span>
            </div>
          </button>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="card jobcardStyle1 rt-mb-24">
  <div class="card-body">
    <div class="rt-single-icon-box ">
      <div class="icon-thumb">
        <img src="assets/images/icon/logo-google-xl.png" alt="" draggable="false">
      </div>
      <div class="iconbox-content">
        <div class="post-info2">
          <div class="post-main-title"> <a href="#">Google</a></div>
          <div class="body-font-4 text-gray-600 pt-2">
            <span class="info-tools">
              <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M19.25 9.16602C19.25 15.5827 11 21.0827 11 21.0827C11 21.0827 2.75 15.5827 2.75 9.16602C2.75 6.97798 3.61919 4.87956 5.16637 3.33238C6.71354 1.78521 8.81196 0.916016 11 0.916016C13.188 0.916016 15.2865 1.78521 16.8336 3.33238C18.3808 4.87956 19.25 6.97798 19.25 9.16602Z"
                  stroke="#C5C9D6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M11 11.916C12.5188 11.916 13.75 10.6848 13.75 9.16602C13.75 7.64723 12.5188 6.41602 11 6.41602C9.48122 6.41602 8.25 7.64723 8.25 9.16602C8.25 10.6848 9.48122 11.916 11 11.916Z"
                  stroke="#C5C9D6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
              </svg>

              Australia
            </span>
            <span class="info-tools">
              <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M18.5625 6.1875H3.4375C3.0578 6.1875 2.75 6.4953 2.75 6.875V17.875C2.75 18.2547 3.0578 18.5625 3.4375 18.5625H18.5625C18.9422 18.5625 19.25 18.2547 19.25 17.875V6.875C19.25 6.4953 18.9422 6.1875 18.5625 6.1875Z"
                  stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M14.4375 6.1875V4.8125C14.4375 4.44783 14.2926 4.09809 14.0348 3.84023C13.7769 3.58237 13.4272 3.4375 13.0625 3.4375H8.9375C8.57283 3.4375 8.22309 3.58237 7.96523 3.84023C7.70737 4.09809 7.5625 4.44783 7.5625 4.8125V6.1875"
                  stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M19.2501 10.8555C16.7427 12.3061 13.8962 13.0678 10.9994 13.0633C8.10312 13.0678 5.25711 12.3064 2.75 10.8562"
                  stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M9.96875 10.3125H12.0312" stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>

              3 - open Job
            </span>
          </div>
        </div>
      </div>
      <div class="iconbox-extra align-self-center">
        <div>
          <button class="text-primary-500 hoverbg-primary-50 plain-button icon-button">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M19 21L12 16L5 21V5C5 4.46957 5.21071 3.96086 5.58579 3.58579C5.96086 3.21071 6.46957 3 7 3H17C17.5304 3 18.0391 3.21071 18.4142 3.58579C18.7893 3.96086 19 4.46957 19 5V21Z"
                fill="#0066FF" stroke="#0066FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>

          </button>
        </div>
        <div>
          <button type="button" class="btn btn-primary2-50">
            <div class="button-content-wrapper ">
              <span class="button-icon align-icon-right">
                <i class="ph-arrow-right"></i>
              </span>
              <span class="button-text">
                Open Position
              </span>
            </div>
          </button>
        </div>
      </div>
    </div>

  </div>
</div>