

  
  <div class="col-lg-4 col-md-6">
    <div class="top-company-slider-item rt-mb-24">
      <div class="card jobcardStyle1">
        <div class="card-body">
          <div class="rt-single-icon-box">
            <div class="icon-thumb">
              <img src="assets/images/icon/em-logo-1.png" alt="" draggable="false">
            </div>
            <div class="iconbox-content">
              <div class="body-font-1 rt-mb-12"><a href="company-details.html" class="text-gr2q  ay-900 hover:text-primary-500">Dribbble</a></div>
              <span class="loacton text-gray-400 ">
                <i class="ph-map-pin"></i>
                United States
              </span>
            </div>
          </div>
          <div class="post-info d-flex">
            <div class="flex-grow-1">
              <button type="button" class="btn btn-primary2-50 d-block">
                <div class="button-content-wrapper ">
                  <span class="button-icon align-icon-right">
                    <i class="ph-arrow-right"></i>
                  </span>
                  <span class="button-text">
                    Open Position
                  </span>
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6">
    <div class="top-company-slider-item rt-mb-24">
      <div class="card jobcardStyle1">
        <div class="card-body">
          <div class="rt-single-icon-box">
            <div class="icon-thumb">
              <img src="assets/images/icon/logo-udemy-xl.png" alt="" draggable="false">
            </div>
            <div class="iconbox-content">
              <div class="body-font-1 rt-mb-12"><a href="company-details.html" class="text-gray-900 hover:text-primary-500">Udemy</a></div>
              <span class="loacton text-gray-400 ">
                <i class="ph-map-pin"></i>
                China
              </span>
            </div>
          </div>
          <div class="post-info d-flex">
            <div class="flex-grow-1">
              <button type="button" class="btn btn-primary2-50 d-block">
                <div class="button-content-wrapper ">
                  <span class="button-icon align-icon-right">
                    <i class="ph-arrow-right"></i>
                  </span>
                  <span class="button-text">
                    Open Position
                  </span>
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6">
    <div class="top-company-slider-item rt-mb-24">
      <div class="card jobcardStyle1">
        <div class="card-body">
          <div class="rt-single-icon-box">
            <div class="icon-thumb">
              <img src="assets/images/icon/logo-apple-xl.png" alt="" draggable="false">
            </div>
            <div class="iconbox-content">
              <div class="body-font-1 rt-mb-12"><a href="company-details.html" class="text-gray-900 hover:text-primary-500">Apple</a></div>
              <span class="loacton text-gray-400 ">
                <i class="ph-map-pin"></i>
                United States
              </span>
            </div>
          </div>
          <div class="post-info d-flex">
            <div class="flex-grow-1">
    
              <button type="button" class="btn btn-primary2-50 d-block">
                <div class="button-content-wrapper ">
                  <span class="button-icon align-icon-right">
                    <i class="ph-arrow-right"></i>
                  </span>
                  <span class="button-text">
                    Open Position
                  </span>
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6">
    <div class="top-company-slider-item rt-mb-24">
      <div class="card jobcardStyle1">
        <div class="card-body">
          <div class="rt-single-icon-box">
            <div class="icon-thumb">
              <img src="assets/images/icon/logo-figma-xl.png" alt="" draggable="false">
            </div>
            <div class="iconbox-content">
              <div class="body-font-1 rt-mb-12"><a href="company-details.html" class="text-gray-900 hover:text-primary-500">Figma</a></div>
              <span class="loacton text-gray-400 ">
                <i class="ph-map-pin"></i>
                United States
              </span>
            </div>
          </div>
          <div class="post-info d-flex">
            <div class="flex-grow-1">
    
              <button type="button" class="btn btn-primary2-50 d-block">
                <div class="button-content-wrapper ">
                  <span class="button-icon align-icon-right">
                    <i class="ph-arrow-right"></i>
                  </span>
                  <span class="button-text">
                    Open Position
                  </span>
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6">
    <div class="top-company-slider-item rt-mb-24">
      <div class="card jobcardStyle1">
        <div class="card-body">
          <div class="rt-single-icon-box">
            <div class="icon-thumb">
              <img src="assets/images/icon/logo-google-xl.png" alt="" draggable="false">
            </div>
            <div class="iconbox-content">
              <div class="body-font-1 rt-mb-12"><a href="company-details.html" class="text-gray-900 hover:text-primary-500">Google</a></div>
              <span class="loacton text-gray-400 ">
                <i class="ph-map-pin"></i>
                Australia
              </span>
            </div>
          </div>
          <div class="post-info d-flex">
            <div class="flex-grow-1">
    
              <button type="button" class="btn btn-primary2-50 d-block">
                <div class="button-content-wrapper ">
                  <span class="button-icon align-icon-right">
                    <i class="ph-arrow-right"></i>
                  </span>
                  <span class="button-text">
                    Open Position
                  </span>
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6">
    <div class="top-company-slider-item rt-mb-24">
      <div class="card jobcardStyle1">
        <div class="card-body">
          <div class="rt-single-icon-box">
            <div class="icon-thumb">
              <img src="assets/images/icon/logo-redit-xl.png" alt="" draggable="false">
            </div>
            <div class="iconbox-content">
              <div class="body-font-1 rt-mb-12"><a href="company-details.html" class="text-gray-900 hover:text-primary-500">Reddit</a></div>
              <span class="loacton text-gray-400 ">
                <i class="ph-map-pin"></i>
                France
              </span>
            </div>
          </div>
          <div class="post-info d-flex">
            <div class="flex-grow-1">

              <button type="button" class="btn btn-primary2-50 d-block">
                <div class="button-content-wrapper ">
                  <span class="button-icon align-icon-right">
                    <i class="ph-arrow-right"></i>
                  </span>
                  <span class="button-text">
                    Open Position
                  </span>
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6">
    <div class="top-company-slider-item rt-mb-24">
      <div class="card jobcardStyle1">
        <div class="card-body">
          <div class="rt-single-icon-box">
            <div class="icon-thumb">
              <img src="assets/images/icon/logo-ms-xl.png" alt="" draggable="false">
            </div>
            <div class="iconbox-content">
              <div class="body-font-1 rt-mb-12"><a href="company-details.html" class="text-gray-900 hover:text-primary-500">Microsoft</a></div>
              <span class="loacton text-gray-400 ">
                <i class="ph-map-pin"></i>
                Australia
              </span>
            </div>
          </div>
          <div class="post-info d-flex">
            <div class="flex-grow-1">
    
              <button type="button" class="btn btn-primary2-50 d-block">
                <div class="button-content-wrapper ">
                  <span class="button-icon align-icon-right">
                    <i class="ph-arrow-right"></i>
                  </span>
                  <span class="button-text">
                    Open Position
                  </span>
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6">
    <div class="top-company-slider-item rt-mb-24">
      <div class="card jobcardStyle1">
        <div class="card-body">
          <div class="rt-single-icon-box">
            <div class="icon-thumb">
              <img src="assets/images/icon/logo-twitter-xl.png" alt="" draggable="false">
            </div>
            <div class="iconbox-content">
              <div class="body-font-1 rt-mb-12"><a href="company-details.html" class="text-gray-900 hover:text-primary-500">Twitter</a></div>
              <span class="loacton text-gray-400 ">
                <i class="ph-map-pin"></i>
                Australia
              </span>
            </div>
          </div>
          <div class="post-info d-flex">
            <div class="flex-grow-1">
    
              <button type="button" class="btn btn-primary2-50 d-block">
                <div class="button-content-wrapper ">
                  <span class="button-icon align-icon-right">
                    <i class="ph-arrow-right"></i>
                  </span>
                  <span class="button-text">
                    Open Position
                  </span>
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6">
    <div class="top-company-slider-item rt-mb-24">
      <div class="card jobcardStyle1">
        <div class="card-body">
          <div class="rt-single-icon-box">
            <div class="icon-thumb">
              <img src="assets/images/icon/logo-slack-xl.png" alt="" draggable="false">
            </div>
            <div class="iconbox-content">
              <div class="body-font-1 rt-mb-12"><a href="company-details.html" class="text-gray-900 hover:text-primary-500">Slack</a></div>
              <span class="loacton text-gray-400 ">
                <i class="ph-map-pin"></i>
                Germany
              </span>
            </div>
          </div>
          <div class="post-info d-flex">
            <div class="flex-grow-1">
    
              <button type="button" class="btn btn-primary2-50 d-block">
                <div class="button-content-wrapper ">
                  <span class="button-icon align-icon-right">
                    <i class="ph-arrow-right"></i>
                  </span>
                  <span class="button-text">
                    Open Position
                  </span>
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6">
    <div class="top-company-slider-item rt-mb-24">
      <div class="card jobcardStyle1">
        <div class="card-body">
          <div class="rt-single-icon-box">
            <div class="icon-thumb">
              <img src="assets/images/icon/logo-insta-xl.png" alt="" draggable="false">
            </div>
            <div class="iconbox-content">
              <div class="body-font-1 rt-mb-12"><a href="company-details.html" class="text-gray-900 hover:text-primary-500">Instagram</a></div>
              <span class="loacton text-gray-400 ">
                <i class="ph-map-pin"></i>
                Australia
              </span>
            </div>
          </div>
          <div class="post-info d-flex">
            <div class="flex-grow-1">
    
              <button type="button" class="btn btn-primary2-50 d-block">
                <div class="button-content-wrapper ">
                  <span class="button-icon align-icon-right">
                    <i class="ph-arrow-right"></i>
                  </span>
                  <span class="button-text">
                    Open Position
                  </span>
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6">
    <div class="top-company-slider-item rt-mb-24">
      <div class="card jobcardStyle1">
        <div class="card-body">
          <div class="rt-single-icon-box">
            <div class="icon-thumb">
              <img src="assets/images/icon/logo-ytube-xl.png" alt="" draggable="false">
            </div>
            <div class="iconbox-content">
              <div class="body-font-1 rt-mb-12"><a href="company-details.html" class="text-gray-900 hover:text-primary-500">Youtube</a></div>
              <span class="loacton text-gray-400 ">
                <i class="ph-map-pin"></i>
                Canada
              </span>
            </div>
          </div>
          <div class="post-info d-flex">
            <div class="flex-grow-1">
    
              <button type="button" class="btn btn-primary2-50 d-block">
                <div class="button-content-wrapper ">
                  <span class="button-icon align-icon-right">
                    <i class="ph-arrow-right"></i>
                  </span>
                  <span class="button-text">
                    Open Position
                  </span>
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6">
    <div class="top-company-slider-item rt-mb-24">
      <div class="card jobcardStyle1">
        <div class="card-body">
          <div class="rt-single-icon-box">
            <div class="icon-thumb">
              <img src="assets/images/icon/logo-upwork-xl.png" alt="" draggable="false">
            </div>
            <div class="iconbox-content">
              <div class="body-font-1 rt-mb-12"><a href="company-details.html" class="text-gray-900 hover:text-primary-500">Upwork</a></div>
              <span class="loacton text-gray-400 ">
                <i class="ph-map-pin"></i>
                New York
              </span>
              <span class="loacton text-gray-400 ">
                <i class="ph-suitcase-simple"></i>
                China
              </span>
            </div>
          </div>
          <div class="post-info d-flex">
            <div class="flex-grow-1">
    
              <button type="button" class="btn btn-primary2-50 d-block">
                <div class="button-content-wrapper ">
                  <span class="button-icon align-icon-right">
                    <i class="ph-arrow-right"></i>
                  </span>
                  <span class="button-text">
                    Open Position
                  </span>
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
