<div class="card jobcardStyle1 body-24 rt-mb-24">
  <div class="card-body">
    <div class="rt-single-icon-box ">
      <div class="icon-thumb">
        <img src="assets/images/icon/logo-driable-xl.png" alt="" draggable="false">
      </div>
      <div class="iconbox-content">
        <div class="post-info2">
          <div class="post-main-title"> <a href="single-employe.html">Dribbble</a></div>
          <div class="body-font-4 text-gray-600 pt-2">
            <span class="info-tools">
              <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M15.75 7.5C15.75 12.75 9 17.25 9 17.25C9 17.25 2.25 12.75 2.25 7.5C2.25 5.70979 2.96116 3.9929 4.22703 2.72703C5.4929 1.46116 7.20979 0.75 9 0.75C10.7902 0.75 12.5071 1.46116 13.773 2.72703C15.0388 3.9929 15.75 5.70979 15.75 7.5Z"
                  stroke="#939AAD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path
                  d="M9 9.75C10.2426 9.75 11.25 8.74264 11.25 7.5C11.25 6.25736 10.2426 5.25 9 5.25C7.75736 5.25 6.75 6.25736 6.75 7.5C6.75 8.74264 7.75736 9.75 9 9.75Z"
                  stroke="#939AAD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
              United States
            </span>
            <span class="info-tools">
              <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M18.563 6.1875H3.43799C3.05829 6.1875 2.75049 6.4953 2.75049 6.875V17.875C2.75049 18.2547 3.05829 18.5625 3.43799 18.5625H18.563C18.9427 18.5625 19.2505 18.2547 19.2505 17.875V6.875C19.2505 6.4953 18.9427 6.1875 18.563 6.1875Z"
                  stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M14.4375 6.1875V4.8125C14.4375 4.44783 14.2926 4.09809 14.0348 3.84023C13.7769 3.58237 13.4272 3.4375 13.0625 3.4375H8.9375C8.57283 3.4375 8.22309 3.58237 7.96523 3.84023C7.70737 4.09809 7.5625 4.44783 7.5625 4.8125V6.1875"
                  stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M19.2506 10.8545C16.7432 12.3052 13.8967 13.0669 10.9999 13.0623C8.10361 13.0669 5.25759 12.3054 2.75049 10.8552"
                  stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M9.96875 10.3125H12.0312" stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>

              3 - open Job
            </span>
          </div>
        </div>
      </div>
      <div class="iconbox-extra align-self-center">
        <div>
          <button class="text-primary-500 hoverbg-primary-50 plain-button icon-button">
            <svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M15 19L8 14L1 19V3C1 2.46957 1.21071 1.96086 1.58579 1.58579C1.96086 1.21071 2.46957 1 3 1H13C13.5304 1 14.0391 1.21071 14.4142 1.58579C14.7893 1.96086 15 2.46957 15 3V19Z"
                stroke="#0066FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          </button>
        </div>
        <div>
          <button type="button" class="btn btn-primary2-50">
            <div class="button-content-wrapper ">
              <span class="button-icon align-icon-right">
                <i class="ph-arrow-right"></i>
              </span>
              <span class="button-text">
                Open Position
              </span>
            </div>
          </button>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="card jobcardStyle1 body-24 rt-mb-24">
  <div class="card-body">
    <div class="rt-single-icon-box ">
      <div class="icon-thumb">
        <img src="assets/images/icon/logo-udemy-xl.png" alt="" draggable="false">
      </div>
      <div class="iconbox-content">
        <div class="post-info2">
          <div class="post-main-title"> <a href="single-employe.html">Udemy</a></div>
          <div class="body-font-4 text-gray-600 pt-2">
            <span class="info-tools">
              <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M15.75 7.5C15.75 12.75 9 17.25 9 17.25C9 17.25 2.25 12.75 2.25 7.5C2.25 5.70979 2.96116 3.9929 4.22703 2.72703C5.4929 1.46116 7.20979 0.75 9 0.75C10.7902 0.75 12.5071 1.46116 13.773 2.72703C15.0388 3.9929 15.75 5.70979 15.75 7.5Z"
                  stroke="#939AAD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path
                  d="M9 9.75C10.2426 9.75 11.25 8.74264 11.25 7.5C11.25 6.25736 10.2426 5.25 9 5.25C7.75736 5.25 6.75 6.25736 6.75 7.5C6.75 8.74264 7.75736 9.75 9 9.75Z"
                  stroke="#939AAD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
              China
            </span>
            <span class="info-tools">
              <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M18.563 6.1875H3.43799C3.05829 6.1875 2.75049 6.4953 2.75049 6.875V17.875C2.75049 18.2547 3.05829 18.5625 3.43799 18.5625H18.563C18.9427 18.5625 19.2505 18.2547 19.2505 17.875V6.875C19.2505 6.4953 18.9427 6.1875 18.563 6.1875Z"
                  stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M14.4375 6.1875V4.8125C14.4375 4.44783 14.2926 4.09809 14.0348 3.84023C13.7769 3.58237 13.4272 3.4375 13.0625 3.4375H8.9375C8.57283 3.4375 8.22309 3.58237 7.96523 3.84023C7.70737 4.09809 7.5625 4.44783 7.5625 4.8125V6.1875"
                  stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M19.2506 10.8545C16.7432 12.3052 13.8967 13.0669 10.9999 13.0623C8.10361 13.0669 5.25759 12.3054 2.75049 10.8552"
                  stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M9.96875 10.3125H12.0312" stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>

              3 - open Job
            </span>
          </div>
        </div>
      </div>
      <div class="iconbox-extra align-self-center">
        <div>
          <button class="text-primary-500 hoverbg-primary-50 plain-button icon-button">
            <svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M15 19L8 14L1 19V3C1 2.46957 1.21071 1.96086 1.58579 1.58579C1.96086 1.21071 2.46957 1 3 1H13C13.5304 1 14.0391 1.21071 14.4142 1.58579C14.7893 1.96086 15 2.46957 15 3V19Z"
                stroke="#0066FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          </button>
        </div>
        <div>
          <button type="button" class="btn btn-primary2-50">
            <div class="button-content-wrapper ">
              <span class="button-icon align-icon-right">
                <i class="ph-arrow-right"></i>
              </span>
              <span class="button-text">
                Open Position
              </span>
            </div>
          </button>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="card jobcardStyle1 body-24 rt-mb-24">
  <div class="card-body">
    <div class="rt-single-icon-box ">
      <div class="icon-thumb">
        <img src="assets/images/icon/logo-figma-xl.png" alt="" draggable="false">
      </div>
      <div class="iconbox-content">
        <div class="post-info2">
          <div class="post-main-title"> <a href="single-employe.html">Figma</a></div>
          <div class="body-font-4 text-gray-600 pt-2">
            <span class="info-tools">
              <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M15.75 7.5C15.75 12.75 9 17.25 9 17.25C9 17.25 2.25 12.75 2.25 7.5C2.25 5.70979 2.96116 3.9929 4.22703 2.72703C5.4929 1.46116 7.20979 0.75 9 0.75C10.7902 0.75 12.5071 1.46116 13.773 2.72703C15.0388 3.9929 15.75 5.70979 15.75 7.5Z"
                  stroke="#939AAD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path
                  d="M9 9.75C10.2426 9.75 11.25 8.74264 11.25 7.5C11.25 6.25736 10.2426 5.25 9 5.25C7.75736 5.25 6.75 6.25736 6.75 7.5C6.75 8.74264 7.75736 9.75 9 9.75Z"
                  stroke="#939AAD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
              United States
            </span>
            <span class="info-tools">
              <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M18.563 6.1875H3.43799C3.05829 6.1875 2.75049 6.4953 2.75049 6.875V17.875C2.75049 18.2547 3.05829 18.5625 3.43799 18.5625H18.563C18.9427 18.5625 19.2505 18.2547 19.2505 17.875V6.875C19.2505 6.4953 18.9427 6.1875 18.563 6.1875Z"
                  stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M14.4375 6.1875V4.8125C14.4375 4.44783 14.2926 4.09809 14.0348 3.84023C13.7769 3.58237 13.4272 3.4375 13.0625 3.4375H8.9375C8.57283 3.4375 8.22309 3.58237 7.96523 3.84023C7.70737 4.09809 7.5625 4.44783 7.5625 4.8125V6.1875"
                  stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M19.2506 10.8545C16.7432 12.3052 13.8967 13.0669 10.9999 13.0623C8.10361 13.0669 5.25759 12.3054 2.75049 10.8552"
                  stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M9.96875 10.3125H12.0312" stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>

              3 - open Job
            </span>
          </div>
        </div>
      </div>
      <div class="iconbox-extra align-self-center">
        <div>
          <button class="text-primary-500 hoverbg-primary-50 plain-button icon-button">
            <svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M15 19L8 14L1 19V3C1 2.46957 1.21071 1.96086 1.58579 1.58579C1.96086 1.21071 2.46957 1 3 1H13C13.5304 1 14.0391 1.21071 14.4142 1.58579C14.7893 1.96086 15 2.46957 15 3V19Z"
                stroke="#0066FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          </button>
        </div>
        <div>
          <button type="button" class="btn btn-primary2-50">
            <div class="button-content-wrapper ">
              <span class="button-icon align-icon-right">
                <i class="ph-arrow-right"></i>
              </span>
              <span class="button-text">
                Open Position
              </span>
            </div>
          </button>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="card jobcardStyle1 body-24 rt-mb-24">
  <div class="card-body">
    <div class="rt-single-icon-box ">
      <div class="icon-thumb">
        <img src="assets/images/icon/logo-google-xl.png" alt="" draggable="false">
      </div>
      <div class="iconbox-content">
        <div class="post-info2">
          <div class="post-main-title"> <a href="single-employe.html">Google</a></div>
          <div class="body-font-4 text-gray-600 pt-2">
            <span class="info-tools">
              <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M15.75 7.5C15.75 12.75 9 17.25 9 17.25C9 17.25 2.25 12.75 2.25 7.5C2.25 5.70979 2.96116 3.9929 4.22703 2.72703C5.4929 1.46116 7.20979 0.75 9 0.75C10.7902 0.75 12.5071 1.46116 13.773 2.72703C15.0388 3.9929 15.75 5.70979 15.75 7.5Z"
                  stroke="#939AAD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path
                  d="M9 9.75C10.2426 9.75 11.25 8.74264 11.25 7.5C11.25 6.25736 10.2426 5.25 9 5.25C7.75736 5.25 6.75 6.25736 6.75 7.5C6.75 8.74264 7.75736 9.75 9 9.75Z"
                  stroke="#939AAD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
              Australia
            </span>
            <span class="info-tools">
              <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M18.563 6.1875H3.43799C3.05829 6.1875 2.75049 6.4953 2.75049 6.875V17.875C2.75049 18.2547 3.05829 18.5625 3.43799 18.5625H18.563C18.9427 18.5625 19.2505 18.2547 19.2505 17.875V6.875C19.2505 6.4953 18.9427 6.1875 18.563 6.1875Z"
                  stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M14.4375 6.1875V4.8125C14.4375 4.44783 14.2926 4.09809 14.0348 3.84023C13.7769 3.58237 13.4272 3.4375 13.0625 3.4375H8.9375C8.57283 3.4375 8.22309 3.58237 7.96523 3.84023C7.70737 4.09809 7.5625 4.44783 7.5625 4.8125V6.1875"
                  stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M19.2506 10.8545C16.7432 12.3052 13.8967 13.0669 10.9999 13.0623C8.10361 13.0669 5.25759 12.3054 2.75049 10.8552"
                  stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M9.96875 10.3125H12.0312" stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>

              3 - open Job
            </span>
          </div>
        </div>
      </div>
      <div class="iconbox-extra align-self-center">
        <div>
          <button class="text-primary-500 hoverbg-primary-50 plain-button icon-button">
            <svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M15 19L8 14L1 19V3C1 2.46957 1.21071 1.96086 1.58579 1.58579C1.96086 1.21071 2.46957 1 3 1H13C13.5304 1 14.0391 1.21071 14.4142 1.58579C14.7893 1.96086 15 2.46957 15 3V19Z"
                stroke="#0066FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          </button>
        </div>
        <div>
          <button type="button" class="btn btn-primary2-50">
            <div class="button-content-wrapper ">
              <span class="button-icon align-icon-right">
                <i class="ph-arrow-right"></i>
              </span>
              <span class="button-text">
                Open Position
              </span>
            </div>
          </button>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="card jobcardStyle1 body-24 rt-mb-24">
  <div class="card-body">
    <div class="rt-single-icon-box ">
      <div class="icon-thumb">
        <img src="assets/images/icon/logo-ms-xl.png" alt="" draggable="false">
      </div>
      <div class="iconbox-content">
        <div class="post-info2">
          <div class="post-main-title"> <a href="single-employe.html">Microsoft</a></div>
          <div class="body-font-4 text-gray-600 pt-2">
            <span class="info-tools">
              <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M15.75 7.5C15.75 12.75 9 17.25 9 17.25C9 17.25 2.25 12.75 2.25 7.5C2.25 5.70979 2.96116 3.9929 4.22703 2.72703C5.4929 1.46116 7.20979 0.75 9 0.75C10.7902 0.75 12.5071 1.46116 13.773 2.72703C15.0388 3.9929 15.75 5.70979 15.75 7.5Z"
                  stroke="#939AAD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path
                  d="M9 9.75C10.2426 9.75 11.25 8.74264 11.25 7.5C11.25 6.25736 10.2426 5.25 9 5.25C7.75736 5.25 6.75 6.25736 6.75 7.5C6.75 8.74264 7.75736 9.75 9 9.75Z"
                  stroke="#939AAD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
              Australia
            </span>
            <span class="info-tools">
              <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M18.563 6.1875H3.43799C3.05829 6.1875 2.75049 6.4953 2.75049 6.875V17.875C2.75049 18.2547 3.05829 18.5625 3.43799 18.5625H18.563C18.9427 18.5625 19.2505 18.2547 19.2505 17.875V6.875C19.2505 6.4953 18.9427 6.1875 18.563 6.1875Z"
                  stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M14.4375 6.1875V4.8125C14.4375 4.44783 14.2926 4.09809 14.0348 3.84023C13.7769 3.58237 13.4272 3.4375 13.0625 3.4375H8.9375C8.57283 3.4375 8.22309 3.58237 7.96523 3.84023C7.70737 4.09809 7.5625 4.44783 7.5625 4.8125V6.1875"
                  stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M19.2506 10.8545C16.7432 12.3052 13.8967 13.0669 10.9999 13.0623C8.10361 13.0669 5.25759 12.3054 2.75049 10.8552"
                  stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M9.96875 10.3125H12.0312" stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>

              3 - open Job
            </span>
          </div>
        </div>
      </div>
      <div class="iconbox-extra align-self-center">
        <div>
          <button class="text-primary-500 hoverbg-primary-50 plain-button icon-button">
            <svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M15 19L8 14L1 19V3C1 2.46957 1.21071 1.96086 1.58579 1.58579C1.96086 1.21071 2.46957 1 3 1H13C13.5304 1 14.0391 1.21071 14.4142 1.58579C14.7893 1.96086 15 2.46957 15 3V19Z"
                stroke="#0066FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          </button>
        </div>
        <div>
          <button type="button" class="btn btn-primary2-50">
            <div class="button-content-wrapper ">
              <span class="button-icon align-icon-right">
                <i class="ph-arrow-right"></i>
              </span>
              <span class="button-text">
                Open Position
              </span>
            </div>
          </button>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="card jobcardStyle1 body-24 rt-mb-24">
  <div class="card-body">
    <div class="rt-single-icon-box ">
      <div class="icon-thumb">
        <img src="assets/images/icon/logo-twitter-xl.png" alt="" draggable="false">
      </div>
      <div class="iconbox-content">
        <div class="post-info2">
          <div class="post-main-title"> <a href="single-employe.html">Twitter</a></div>
          <div class="body-font-4 text-gray-600 pt-2">
            <span class="info-tools">
              <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M15.75 7.5C15.75 12.75 9 17.25 9 17.25C9 17.25 2.25 12.75 2.25 7.5C2.25 5.70979 2.96116 3.9929 4.22703 2.72703C5.4929 1.46116 7.20979 0.75 9 0.75C10.7902 0.75 12.5071 1.46116 13.773 2.72703C15.0388 3.9929 15.75 5.70979 15.75 7.5Z"
                  stroke="#939AAD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path
                  d="M9 9.75C10.2426 9.75 11.25 8.74264 11.25 7.5C11.25 6.25736 10.2426 5.25 9 5.25C7.75736 5.25 6.75 6.25736 6.75 7.5C6.75 8.74264 7.75736 9.75 9 9.75Z"
                  stroke="#939AAD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
              Australia
            </span>
            <span class="info-tools">
              <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M18.563 6.1875H3.43799C3.05829 6.1875 2.75049 6.4953 2.75049 6.875V17.875C2.75049 18.2547 3.05829 18.5625 3.43799 18.5625H18.563C18.9427 18.5625 19.2505 18.2547 19.2505 17.875V6.875C19.2505 6.4953 18.9427 6.1875 18.563 6.1875Z"
                  stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M14.4375 6.1875V4.8125C14.4375 4.44783 14.2926 4.09809 14.0348 3.84023C13.7769 3.58237 13.4272 3.4375 13.0625 3.4375H8.9375C8.57283 3.4375 8.22309 3.58237 7.96523 3.84023C7.70737 4.09809 7.5625 4.44783 7.5625 4.8125V6.1875"
                  stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M19.2506 10.8545C16.7432 12.3052 13.8967 13.0669 10.9999 13.0623C8.10361 13.0669 5.25759 12.3054 2.75049 10.8552"
                  stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M9.96875 10.3125H12.0312" stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>

              3 - open Job
            </span>
          </div>
        </div>
      </div>
      <div class="iconbox-extra align-self-center">
        <div>
          <button class="text-primary-500 hoverbg-primary-50 plain-button icon-button">
            <svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M15 19L8 14L1 19V3C1 2.46957 1.21071 1.96086 1.58579 1.58579C1.96086 1.21071 2.46957 1 3 1H13C13.5304 1 14.0391 1.21071 14.4142 1.58579C14.7893 1.96086 15 2.46957 15 3V19Z"
                stroke="#0066FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          </button>
        </div>
        <div>
          <button type="button" class="btn btn-primary2-50">
            <div class="button-content-wrapper ">
              <span class="button-icon align-icon-right">
                <i class="ph-arrow-right"></i>
              </span>
              <span class="button-text">
                Open Position
              </span>
            </div>
          </button>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="card jobcardStyle1 body-24 rt-mb-24">
  <div class="card-body">
    <div class="rt-single-icon-box ">
      <div class="icon-thumb">
        <img src="assets/images/icon/logo-insta-xl.png" alt="" draggable="false">
      </div>
      <div class="iconbox-content">
        <div class="post-info2">
          <div class="post-main-title"> <a href="single-employe.html">Instagram</a></div>
          <div class="body-font-4 text-gray-600 pt-2">
            <span class="info-tools">
              <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M15.75 7.5C15.75 12.75 9 17.25 9 17.25C9 17.25 2.25 12.75 2.25 7.5C2.25 5.70979 2.96116 3.9929 4.22703 2.72703C5.4929 1.46116 7.20979 0.75 9 0.75C10.7902 0.75 12.5071 1.46116 13.773 2.72703C15.0388 3.9929 15.75 5.70979 15.75 7.5Z"
                  stroke="#939AAD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path
                  d="M9 9.75C10.2426 9.75 11.25 8.74264 11.25 7.5C11.25 6.25736 10.2426 5.25 9 5.25C7.75736 5.25 6.75 6.25736 6.75 7.5C6.75 8.74264 7.75736 9.75 9 9.75Z"
                  stroke="#939AAD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
              Australia
            </span>
            <span class="info-tools">
              <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M18.563 6.1875H3.43799C3.05829 6.1875 2.75049 6.4953 2.75049 6.875V17.875C2.75049 18.2547 3.05829 18.5625 3.43799 18.5625H18.563C18.9427 18.5625 19.2505 18.2547 19.2505 17.875V6.875C19.2505 6.4953 18.9427 6.1875 18.563 6.1875Z"
                  stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M14.4375 6.1875V4.8125C14.4375 4.44783 14.2926 4.09809 14.0348 3.84023C13.7769 3.58237 13.4272 3.4375 13.0625 3.4375H8.9375C8.57283 3.4375 8.22309 3.58237 7.96523 3.84023C7.70737 4.09809 7.5625 4.44783 7.5625 4.8125V6.1875"
                  stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M19.2506 10.8545C16.7432 12.3052 13.8967 13.0669 10.9999 13.0623C8.10361 13.0669 5.25759 12.3054 2.75049 10.8552"
                  stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M9.96875 10.3125H12.0312" stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>

              3 - open Job
            </span>
          </div>
        </div>
      </div>
      <div class="iconbox-extra align-self-center">
        <div>
          <button class="text-primary-500 hoverbg-primary-50 plain-button icon-button">
            <svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M15 19L8 14L1 19V3C1 2.46957 1.21071 1.96086 1.58579 1.58579C1.96086 1.21071 2.46957 1 3 1H13C13.5304 1 14.0391 1.21071 14.4142 1.58579C14.7893 1.96086 15 2.46957 15 3V19Z"
                stroke="#0066FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          </button>
        </div>
        <div>
          <button type="button" class="btn btn-primary2-50">
            <div class="button-content-wrapper ">
              <span class="button-icon align-icon-right">
                <i class="ph-arrow-right"></i>
              </span>
              <span class="button-text">
                Open Position
              </span>
            </div>
          </button>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="card jobcardStyle1 body-24 rt-mb-24">
  <div class="card-body">
    <div class="rt-single-icon-box ">
      <div class="icon-thumb">
        <img src="assets/images/icon/logo-ytube-xl.png" alt="" draggable="false">
      </div>
      <div class="iconbox-content">
        <div class="post-info2">
          <div class="post-main-title"> <a href="single-employe.html">Youtube</a></div>
          <div class="body-font-4 text-gray-600 pt-2">
            <span class="info-tools">
              <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M15.75 7.5C15.75 12.75 9 17.25 9 17.25C9 17.25 2.25 12.75 2.25 7.5C2.25 5.70979 2.96116 3.9929 4.22703 2.72703C5.4929 1.46116 7.20979 0.75 9 0.75C10.7902 0.75 12.5071 1.46116 13.773 2.72703C15.0388 3.9929 15.75 5.70979 15.75 7.5Z"
                  stroke="#939AAD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path
                  d="M9 9.75C10.2426 9.75 11.25 8.74264 11.25 7.5C11.25 6.25736 10.2426 5.25 9 5.25C7.75736 5.25 6.75 6.25736 6.75 7.5C6.75 8.74264 7.75736 9.75 9 9.75Z"
                  stroke="#939AAD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
              Canada
            </span>
            <span class="info-tools">
              <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M18.563 6.1875H3.43799C3.05829 6.1875 2.75049 6.4953 2.75049 6.875V17.875C2.75049 18.2547 3.05829 18.5625 3.43799 18.5625H18.563C18.9427 18.5625 19.2505 18.2547 19.2505 17.875V6.875C19.2505 6.4953 18.9427 6.1875 18.563 6.1875Z"
                  stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M14.4375 6.1875V4.8125C14.4375 4.44783 14.2926 4.09809 14.0348 3.84023C13.7769 3.58237 13.4272 3.4375 13.0625 3.4375H8.9375C8.57283 3.4375 8.22309 3.58237 7.96523 3.84023C7.70737 4.09809 7.5625 4.44783 7.5625 4.8125V6.1875"
                  stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M19.2506 10.8545C16.7432 12.3052 13.8967 13.0669 10.9999 13.0623C8.10361 13.0669 5.25759 12.3054 2.75049 10.8552"
                  stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M9.96875 10.3125H12.0312" stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>

              3 - open Job
            </span>
          </div>
        </div>
      </div>
      <div class="iconbox-extra align-self-center">
        <div>
          <button class="text-primary-500 hoverbg-primary-50 plain-button icon-button">
            <svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M15 19L8 14L1 19V3C1 2.46957 1.21071 1.96086 1.58579 1.58579C1.96086 1.21071 2.46957 1 3 1H13C13.5304 1 14.0391 1.21071 14.4142 1.58579C14.7893 1.96086 15 2.46957 15 3V19Z"
                stroke="#0066FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          </button>
        </div>
        <div>
          <button type="button" class="btn btn-primary2-50">
            <div class="button-content-wrapper ">
              <span class="button-icon align-icon-right">
                <i class="ph-arrow-right"></i>
              </span>
              <span class="button-text">
                Open Position
              </span>
            </div>
          </button>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="card jobcardStyle1 body-24 rt-mb-24">
  <div class="card-body">
    <div class="rt-single-icon-box ">
      <div class="icon-thumb">
        <img src="assets/images/icon/logo-apple-xl.png" alt="" draggable="false">
      </div>
      <div class="iconbox-content">
        <div class="post-info2">
          <div class="post-main-title"> <a href="single-employe.html">Apple</a></div>
          <div class="body-font-4 text-gray-600 pt-2">
            <span class="info-tools">
              <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M15.75 7.5C15.75 12.75 9 17.25 9 17.25C9 17.25 2.25 12.75 2.25 7.5C2.25 5.70979 2.96116 3.9929 4.22703 2.72703C5.4929 1.46116 7.20979 0.75 9 0.75C10.7902 0.75 12.5071 1.46116 13.773 2.72703C15.0388 3.9929 15.75 5.70979 15.75 7.5Z"
                  stroke="#939AAD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path
                  d="M9 9.75C10.2426 9.75 11.25 8.74264 11.25 7.5C11.25 6.25736 10.2426 5.25 9 5.25C7.75736 5.25 6.75 6.25736 6.75 7.5C6.75 8.74264 7.75736 9.75 9 9.75Z"
                  stroke="#939AAD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
              Canada
            </span>
            <span class="info-tools">
              <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M18.563 6.1875H3.43799C3.05829 6.1875 2.75049 6.4953 2.75049 6.875V17.875C2.75049 18.2547 3.05829 18.5625 3.43799 18.5625H18.563C18.9427 18.5625 19.2505 18.2547 19.2505 17.875V6.875C19.2505 6.4953 18.9427 6.1875 18.563 6.1875Z"
                  stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M14.4375 6.1875V4.8125C14.4375 4.44783 14.2926 4.09809 14.0348 3.84023C13.7769 3.58237 13.4272 3.4375 13.0625 3.4375H8.9375C8.57283 3.4375 8.22309 3.58237 7.96523 3.84023C7.70737 4.09809 7.5625 4.44783 7.5625 4.8125V6.1875"
                  stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M19.2506 10.8545C16.7432 12.3052 13.8967 13.0669 10.9999 13.0623C8.10361 13.0669 5.25759 12.3054 2.75049 10.8552"
                  stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M9.96875 10.3125H12.0312" stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>

              3 - open Job
            </span>
          </div>
        </div>
      </div>
      <div class="iconbox-extra align-self-center">
        <div>
          <button class="text-primary-500 hoverbg-primary-50 plain-button icon-button">
            <svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M15 19L8 14L1 19V3C1 2.46957 1.21071 1.96086 1.58579 1.58579C1.96086 1.21071 2.46957 1 3 1H13C13.5304 1 14.0391 1.21071 14.4142 1.58579C14.7893 1.96086 15 2.46957 15 3V19Z"
                stroke="#0066FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          </button>
        </div>
        <div>
          <button type="button" class="btn btn-primary2-50">
            <div class="button-content-wrapper ">
              <span class="button-icon align-icon-right">
                <i class="ph-arrow-right"></i>
              </span>
              <span class="button-text">
                Open Position
              </span>
            </div>
          </button>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="card jobcardStyle1 body-24 rt-mb-24">
  <div class="card-body">
    <div class="rt-single-icon-box ">
      <div class="icon-thumb">
        <img src="assets/images/icon/logo-slack-xl.png" alt="" draggable="false">
      </div>
      <div class="iconbox-content">
        <div class="post-info2">
          <div class="post-main-title"> <a href="single-employe.html">Slack</a></div>
          <div class="body-font-4 text-gray-600 pt-2">
            <span class="info-tools">
              <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M15.75 7.5C15.75 12.75 9 17.25 9 17.25C9 17.25 2.25 12.75 2.25 7.5C2.25 5.70979 2.96116 3.9929 4.22703 2.72703C5.4929 1.46116 7.20979 0.75 9 0.75C10.7902 0.75 12.5071 1.46116 13.773 2.72703C15.0388 3.9929 15.75 5.70979 15.75 7.5Z"
                  stroke="#939AAD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path
                  d="M9 9.75C10.2426 9.75 11.25 8.74264 11.25 7.5C11.25 6.25736 10.2426 5.25 9 5.25C7.75736 5.25 6.75 6.25736 6.75 7.5C6.75 8.74264 7.75736 9.75 9 9.75Z"
                  stroke="#939AAD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
              Germany
            </span>
            <span class="info-tools">
              <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M18.563 6.1875H3.43799C3.05829 6.1875 2.75049 6.4953 2.75049 6.875V17.875C2.75049 18.2547 3.05829 18.5625 3.43799 18.5625H18.563C18.9427 18.5625 19.2505 18.2547 19.2505 17.875V6.875C19.2505 6.4953 18.9427 6.1875 18.563 6.1875Z"
                  stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M14.4375 6.1875V4.8125C14.4375 4.44783 14.2926 4.09809 14.0348 3.84023C13.7769 3.58237 13.4272 3.4375 13.0625 3.4375H8.9375C8.57283 3.4375 8.22309 3.58237 7.96523 3.84023C7.70737 4.09809 7.5625 4.44783 7.5625 4.8125V6.1875"
                  stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M19.2506 10.8545C16.7432 12.3052 13.8967 13.0669 10.9999 13.0623C8.10361 13.0669 5.25759 12.3054 2.75049 10.8552"
                  stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M9.96875 10.3125H12.0312" stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>

              3 - open Job
            </span>
          </div>
        </div>
      </div>
      <div class="iconbox-extra align-self-center">
        <div>
          <button class="text-primary-500 hoverbg-primary-50 plain-button icon-button">
            <svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M15 19L8 14L1 19V3C1 2.46957 1.21071 1.96086 1.58579 1.58579C1.96086 1.21071 2.46957 1 3 1H13C13.5304 1 14.0391 1.21071 14.4142 1.58579C14.7893 1.96086 15 2.46957 15 3V19Z"
                stroke="#0066FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          </button>
        </div>
        <div>
          <button type="button" class="btn btn-primary2-50">
            <div class="button-content-wrapper ">
              <span class="button-icon align-icon-right">
                <i class="ph-arrow-right"></i>
              </span>
              <span class="button-text">
                Open Position
              </span>
            </div>
          </button>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="card jobcardStyle1 body-24 rt-mb-24">
  <div class="card-body">
    <div class="rt-single-icon-box ">
      <div class="icon-thumb">
        <img src="assets/images/icon/logo-redit-xl.png" alt="" draggable="false">
      </div>
      <div class="iconbox-content">
        <div class="post-info2">
          <div class="post-main-title"> <a href="single-employe.html">Reddit</a></div>
          <div class="body-font-4 text-gray-600 pt-2">
            <span class="info-tools">
              <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M15.75 7.5C15.75 12.75 9 17.25 9 17.25C9 17.25 2.25 12.75 2.25 7.5C2.25 5.70979 2.96116 3.9929 4.22703 2.72703C5.4929 1.46116 7.20979 0.75 9 0.75C10.7902 0.75 12.5071 1.46116 13.773 2.72703C15.0388 3.9929 15.75 5.70979 15.75 7.5Z"
                  stroke="#939AAD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path
                  d="M9 9.75C10.2426 9.75 11.25 8.74264 11.25 7.5C11.25 6.25736 10.2426 5.25 9 5.25C7.75736 5.25 6.75 6.25736 6.75 7.5C6.75 8.74264 7.75736 9.75 9 9.75Z"
                  stroke="#939AAD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
              France
            </span>
            <span class="info-tools">
              <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M18.563 6.1875H3.43799C3.05829 6.1875 2.75049 6.4953 2.75049 6.875V17.875C2.75049 18.2547 3.05829 18.5625 3.43799 18.5625H18.563C18.9427 18.5625 19.2505 18.2547 19.2505 17.875V6.875C19.2505 6.4953 18.9427 6.1875 18.563 6.1875Z"
                  stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M14.4375 6.1875V4.8125C14.4375 4.44783 14.2926 4.09809 14.0348 3.84023C13.7769 3.58237 13.4272 3.4375 13.0625 3.4375H8.9375C8.57283 3.4375 8.22309 3.58237 7.96523 3.84023C7.70737 4.09809 7.5625 4.44783 7.5625 4.8125V6.1875"
                  stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M19.2506 10.8545C16.7432 12.3052 13.8967 13.0669 10.9999 13.0623C8.10361 13.0669 5.25759 12.3054 2.75049 10.8552"
                  stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M9.96875 10.3125H12.0312" stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>

              3 - open Job
            </span>
          </div>
        </div>
      </div>
      <div class="iconbox-extra align-self-center">
        <div>
          <button class="text-primary-500 hoverbg-primary-50 plain-button icon-button">
            <svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M15 19L8 14L1 19V3C1 2.46957 1.21071 1.96086 1.58579 1.58579C1.96086 1.21071 2.46957 1 3 1H13C13.5304 1 14.0391 1.21071 14.4142 1.58579C14.7893 1.96086 15 2.46957 15 3V19Z"
                stroke="#0066FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          </button>
        </div>
        <div>
          <button type="button" class="btn btn-primary2-50">
            <div class="button-content-wrapper ">
              <span class="button-icon align-icon-right">
                <i class="ph-arrow-right"></i>
              </span>
              <span class="button-text">
                Open Position
              </span>
            </div>
          </button>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="card jobcardStyle1 body-24 rt-mb-24">
  <div class="card-body">
    <div class="rt-single-icon-box ">
      <div class="icon-thumb">
        <img src="assets/images/icon/logo-upwork-xl.png" alt="" draggable="false">
      </div>
      <div class="iconbox-content">
        <div class="post-info2">
          <div class="post-main-title"> <a href="single-employe.html">Upwork</a></div>
          <div class="body-font-4 text-gray-600 pt-2">
            <span class="info-tools">
              <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M15.75 7.5C15.75 12.75 9 17.25 9 17.25C9 17.25 2.25 12.75 2.25 7.5C2.25 5.70979 2.96116 3.9929 4.22703 2.72703C5.4929 1.46116 7.20979 0.75 9 0.75C10.7902 0.75 12.5071 1.46116 13.773 2.72703C15.0388 3.9929 15.75 5.70979 15.75 7.5Z"
                  stroke="#939AAD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path
                  d="M9 9.75C10.2426 9.75 11.25 8.74264 11.25 7.5C11.25 6.25736 10.2426 5.25 9 5.25C7.75736 5.25 6.75 6.25736 6.75 7.5C6.75 8.74264 7.75736 9.75 9 9.75Z"
                  stroke="#939AAD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
              China
            </span>
            <span class="info-tools">
              <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M18.563 6.1875H3.43799C3.05829 6.1875 2.75049 6.4953 2.75049 6.875V17.875C2.75049 18.2547 3.05829 18.5625 3.43799 18.5625H18.563C18.9427 18.5625 19.2505 18.2547 19.2505 17.875V6.875C19.2505 6.4953 18.9427 6.1875 18.563 6.1875Z"
                  stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M14.4375 6.1875V4.8125C14.4375 4.44783 14.2926 4.09809 14.0348 3.84023C13.7769 3.58237 13.4272 3.4375 13.0625 3.4375H8.9375C8.57283 3.4375 8.22309 3.58237 7.96523 3.84023C7.70737 4.09809 7.5625 4.44783 7.5625 4.8125V6.1875"
                  stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M19.2506 10.8545C16.7432 12.3052 13.8967 13.0669 10.9999 13.0623C8.10361 13.0669 5.25759 12.3054 2.75049 10.8552"
                  stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M9.96875 10.3125H12.0312" stroke="#C5C9D6" stroke-width="1.3" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>

              3 - open Job
            </span>
          </div>
        </div>
      </div>
      <div class="iconbox-extra align-self-center">
        <div>
          <button class="text-primary-500 hoverbg-primary-50 plain-button icon-button">
            <svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M15 19L8 14L1 19V3C1 2.46957 1.21071 1.96086 1.58579 1.58579C1.96086 1.21071 2.46957 1 3 1H13C13.5304 1 14.0391 1.21071 14.4142 1.58579C14.7893 1.96086 15 2.46957 15 3V19Z"
                stroke="#0066FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          </button>
        </div>
        <div>
          <button type="button" class="btn btn-primary2-50">
            <div class="button-content-wrapper ">
              <span class="button-icon align-icon-right">
                <i class="ph-arrow-right"></i>
              </span>
              <span class="button-text">
                Open Position
              </span>
            </div>
          </button>
        </div>
      </div>
    </div>

  </div>
</div>
