<section class="banner-section dark">
    <div class="rt-single-banner bgprefix-cover rt-banner-height" style="background-image: url(assets/images/banner/banner-1.png);">
        <div class="container position-parent">
            <div class="row rt-banner-height align-items-center">
                <div class="col-xxl-7 col-xl-6 col-lg-12">
                    <div class="banner-content">
                        <div data-aos="fadeindown" data-aos-duration="500">
                            <h1 class="text-gray-10 rt-mb-30" >
                                <span>Find a job that suits your interest & skills.</span>
                            </h1>
                            <div class="body-font-1 text-gray-400 rt-mb-30">
                                Find the Perfect Jobs, Employment & Career Opportunities.
                            </div>
                        </div>
                        <div class="jobsearchBox d-flex flex-column flex-md-row bg-gray-800 input-transparent rt-mb-24" data-aos="fadeinup" data-aos-duration="1000">
                            <div class="flex-grow-1 fromGroup has-icon">
                                <input type="text" placeholder="Job tittle, Keyword...">
                                <div class="icon-badge">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M21 21L16.65 16.65" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </div>
                            </div>
                            <div class="flex-grow-1 fromGroup has-icon">
                                <input type="text" placeholder="Your Location">
                                <div class="icon-badge">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M21 10C21 17 12 23 12 23C12 23 3 17 3 10C3 7.61305 3.94821 5.32387 5.63604 3.63604C7.32387 1.94821 9.61305 1 12 1C14.3869 1 16.6761 1.94821 18.364 3.63604C20.0518 5.32387 21 7.61305 21 10Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M12 13C13.6569 13 15 11.6569 15 10C15 8.34315 13.6569 7 12 7C10.3431 7 9 8.34315 9 10C9 11.6569 10.3431 13 12 13Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>                                        
                                </div>
                            </div>
                            <div class="flex-grow-0">
                                <button class="btn btn-primary d-block d-md-inline-block ">Find Job</button>
                            </div>
                        </div>
                        <div class="body-font-3 banner-quciks-links" data-aos="fadeindown" data-aos-duration="1000" data-aos-delay="500">
                            <span class="text-gray-600">Suggestion:   </span>
                                <a href="joblist.html">Designer,</a> 
                                <a href="joblist.html">Programing,</a> 
                                <a href="joblist.html"> Digital Marketing,</a>
                                <a href="joblist.html">  Video,</a>
                                <a href="joblist.html"> Animation.</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="banner-mockup">
                <div class="addimg-1 position-parent video-btn-center"
                data-aos="fade-in"
                data-aos-delay="500"
                data-aos-duration="1000"
                >
                    <img src="assets/images/banner/man.png" alt="">
                    <div class="overlay-content">
                        <a class="btn btn-video-light playVideo" href="https://www.youtube.com/watch?v=_PoCdQH3vR8">
                            <svg width="15" height="20" viewBox="0 0 15 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 0.93426C0 0.534912 0.445073 0.296715 0.77735 0.518233L14.376 9.58397C14.6728 9.78189 14.6728 10.2181 14.376 10.416L0.77735 19.4818C0.445072 19.7033 0 19.4651 0 19.0657V0.93426Z" fill="#0066FF"/>
                            </svg>                            
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>