<section class="banner-section home-four">
    <div class="rt-single-banner bg-gray-20">
        <div class="black-bg">
        </div>
        <div class="manbg-img" data-scrollax-parent="true" style="background-image: url(assets/images/banner/banner-4-man.png);">
            <div class="d-elements-1">
                <div class="rt-single-icon-box banner-counter">
                    <div class="icon-thumb">
                        <div class="icon-48">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M20 7H4C2.89543 7 2 7.89543 2 9V19C2 20.1046 2.89543 21 4 21H20C21.1046 21 22 20.1046 22 19V9C22 7.89543 21.1046 7 20 7Z"
                                    stroke="#0066FF" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path
                                    d="M16 21V5C16 4.46957 15.7893 3.96086 15.4142 3.58579C15.0391 3.21071 14.5304 3 14 3H10C9.46957 3 8.96086 3.21071 8.58579 3.58579C8.21071 3.96086 8 4.46957 8 5V21"
                                    stroke="#0066FF" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </div>
                    </div>
                    <div class="iconbox-content">
                        <div class="body-font-3 ft-wt-5"><span class="counter">1,75,324</span></div>
                        <span class="text-gray-500 body-font-4">Live Job</span>
                    </div>
                </div>
            </div>
            <div class="d-elements-2">
                <div class="company-images">
                    <span class="d-block body-font-3 rt-mb-12">38K+ Companies</span>
                    <ul class="img-group">
                        <li class="icon-48 rounded-circle">
                            <a href="#" class="d-block">
                                <img src="assets/images/icon/logo-driable-xs.png" class="rounded-circle" alt="">
                            </a>
                        </li>
                        <li class="icon-48 rounded-circle">
                            <a href="#" class="d-block">
                                <img src="assets/images/icon/logo-apple-xl.png" class="rounded-circle" alt="">
                            </a>
                        </li>
                        <li class="icon-48 rounded-circle">
                            <a href="#">
                                <img src="assets/images/icon/logo-slack-xs.png" class="rounded-circle" alt="">
                            </a>
                        </li>
                        <li class="icon-48 rounded-circle">
                            <a href="#"> <img src="assets/images/icon/logo-fb-xs.png" class="rounded-circle" alt=""></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="d-elements-3">
                <img src="assets/images/banner/de-5.png" alt="" draggable="false"
                    data-scrollax="properties: { 'translateX': '40px' }">
            </div>
            <div class="d-elements-4">
                <img src="assets/images/banner/de-4.png" alt="" draggable="false"
                    data-scrollax="properties: { 'translateX': '-40px' }">
            </div>
        </div>
        <div class="container position-parent">
            <div class="row">
                <div class="col-xxl-7 col-xl-6 col-lg-6">
                    <div class="banner-content4">
                        <div class="mx-727" data-aos="fadeindown" data-aos-duration="1000">
                            <h1 class="text-gray-900 rt-mb-30">
                                Hire experts or be hired for any job.
                            </h1>
                            <div class="body-font-1 text-gray-600 rt-mb-30">
                                Find the Perfect Jobs, Employment & Career Opportunities.
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary" data-aos="fadeinup" data-aos-duration="400"
                            data-aos-delay="50">
                            <span class="button-content-wrapper ">
                                <span class="button-icon align-icon-right">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5 12H19" stroke="white" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                        <path d="M12 5L19 12L12 19" stroke="white" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </span>
                                <span class="button-text">
                                    Register now
                                </span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-search">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="jobsearchBox d-flex flex-column flex-xl-row bg-gray-10 input-transparent rt-mb-24 height-auto-xl">
                            <div class="flex-grow-1 fromGroup has-icon">
                                <input type="text" placeholder="Job tittle, Keyword...">
                                <div class="icon-badge">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z"
                                            stroke="#0066FF" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                        <path d="M20.9999 21L16.6499 16.65" stroke="#0066FF" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </div>
                            </div>
                            <div class="flex-grow-1 fromGroup has-icon">
                                <input type="text" placeholder="Location">
                                <div class="icon-badge">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M21 10C21 17 12 23 12 23C12 23 3 17 3 10C3 7.61305 3.94821 5.32387 5.63604 3.63604C7.32387 1.94821 9.61305 1 12 1C14.3869 1 16.6761 1.94821 18.364 3.63604C20.0518 5.32387 21 7.61305 21 10Z"
                                            stroke="#0066FF" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                        <path
                                            d="M12 13C13.6569 13 15 11.6569 15 10C15 8.34315 13.6569 7 12 7C10.3431 7 9 8.34315 9 10C9 11.6569 10.3431 13 12 13Z"
                                            stroke="#0066FF" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </svg>
                                </div>
                            </div>
                            <div class="flex-grow-3 fromGroup has-icon banner-select">
                                <select class="rt-selectactive " name="from" style="width: 100%">
                                    <option>Job Type</option>
                                    <option value="2">Part Time</option>
                                    <option value="3">Full Time</option>
                                    <option value="4">Project Basis</option>
                                    <option value="5">Internship</option>
                                    <option value="6">Remote</option>
                                    <option value="7">Permanant</option>
                                    <option value="8">Temporary</option>
                                </select>
                                <div class="icon-badge">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"
                                            stroke="#0066FF" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                        <path d="M12 6V12L16 14" stroke="#0066FF" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </div>
                            </div>
                            <div class="flex-grow-3 fromGroup has-icon banner-select no-border">
                                <select class="rt-selectactive " name="from" style="width: 100%">
                                    <option>Category</option>
                                    <option value="2">Front End Developer</option>
                                    <option value="3">Back End Developer</option>
                                    <option value="4">Full Stack Developer</option>
                                    <option value="5">Wordpress Developer</option>
                                    <option value="6">UI / UX Designer</option>
                                    <option value="7">Facebook Marketing</option>
                                    <option value="8">Digital Marketing</option>
                                </select>
                                <div class="icon-badge">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M2 17L12 22L22 17" stroke="#0066FF" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M2 12L12 17L22 12" stroke="#0066FF" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M12 2L2 7L12 12L22 7L12 2Z" stroke="#0066FF" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </div>
                            </div>
                            <div class="flex-grow-0">
                                <button class="btn btn-primary d-block d-md-inline-block ">Find Job</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>