<section class="banner-section home-four">
    <div class="rt-single-banner bg-gray-20">
        <div class="shape-bgimg floting-img">
            <img src="assets/images/banner/home-4-banner-bg.png" alt="">
        </div><div class="shape-bgimg2 floting-img">
            <img src="assets/images/banner/banner-4-man.png" alt="">
            <div class="d-elements-1">
                <div class="rt-single-icon-box banner-counter">
                    <div class="icon-thumb">
                        <div class="icon-48">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M20 7H4C2.89543 7 2 7.89543 2 9V19C2 20.1046 2.89543 21 4 21H20C21.1046 21 22 20.1046 22 19V9C22 7.89543 21.1046 7 20 7Z" stroke="#0066FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M16 21V5C16 4.46957 15.7893 3.96086 15.4142 3.58579C15.0391 3.21071 14.5304 3 14 3H10C9.46957 3 8.96086 3.21071 8.58579 3.58579C8.21071 3.96086 8 4.46957 8 5V21" stroke="#0066FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg> 
                        </div>
                    </div>
                    <div class="iconbox-content">
                      <div class="body-font-3 ft-wt-5"><span class="counter">1,75,324</span></div>
                      <span class="text-gray-500 body-font-4">Live Job</span>
                    </div>
                  </div>
            </div>
            <div class="d-elements-2">
                <div class="company-images">
                    <span class="d-block body-font-3 rt-mb-12">38K+ Companies</span>
                      <ul class="img-group">
                          <li class="icon-48 rounded-circle">
                              <a href="#" class="d-block">
                                  <img src="assets/images/icon/logo-driable-xs.png" class="rounded-circle" alt="">
                              </a>
                          </li>
                          <li class="icon-48 rounded-circle">
                              <a href="#" class="d-block">
                                  <img src="assets/images/icon/logo-apple-xl.png" class="rounded-circle" alt="">
                              </a>
                          </li>
                          <li class="icon-48 rounded-circle">
                              <a href="#">
                                  <img src="assets/images/icon/logo-slack-xs.png" class="rounded-circle" alt="">
                              </a>
                          </li>
                          <li class="icon-48 rounded-circle">
                             <a href="#"> <img src="assets/images/icon/logo-fb-xs.png" class="rounded-circle" alt=""></a>
                          </li>
                      </ul>
                </div>
            </div>
            <div class="d-elements-3">
                <img src="assets/images/banner/de-5.png" alt="" draggable="false">
            </div>
            <div class="d-elements-4">
                <img src="assets/images/banner/de-4.png" alt="" draggable="false">
            </div>
        </div>
        <div class="container position-parent">
            <div class="row">
                <div class="col-xxl-7 col-xl-6 col-lg-6">
                    <div class="banner-content4">
                        <div class="mx-727">
                            <h1 class="text-gray-900 rt-mb-30">
                                Hire experts or be hired for any job.
                            </h1>
                            <div class="body-font-1 text-gray-600 rt-mb-30">
                                Find the Perfect Jobs, Employment & Career Opportunities.
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary">
                            <span class="button-content-wrapper ">
                                <span class="button-icon align-icon-right">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5 12H19" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M12 5L19 12L12 19" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>                            
                                </span>
                                <span class="button-text">
                                    Register now
                                </span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>