<section class="banner-section home-two">
    <div class="rt-single-banner2 bgprefix-full rt-banner-height2 bg-hide-xl" style="background-image: url(assets/images/banner/banner-2.png);">
        
        <div class="container-fluid">
            <div class="row">
                <div class="col-xxl-7 col-xl-6 col-lg-8">
                    <div class="banner-content2">
                        <div class="mx-7270" data-aos="fadeindown" data-aos-duration="1000">
                            <h1 class="text-gray-900 rt-mb-30">
                                The easiest way to get your new job.
                            </h1>
                            <div class="body-font-1 text-gray-600 rt-mb-30">
                                Find the Perfect Jobs, Employment & Career Opportunities.
                            </div>
                        </div>
                        <div class="jobsearchBox d-flex flex-column flex-md-row bg-gray-10 input-transparent rt-mb-24" data-aos="fadeinup" data-aos-duration="400" data-aos-delay="50">
                            <div class="flex-grow-1 fromGroup has-icon">
                                <input type="text" placeholder="Job tittle, Keyword...">
                                <div class="icon-badge">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z" stroke="#0066FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M20.9999 21L16.6499 16.65" stroke="#0066FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                </div>
                            </div>
                            <div class="flex-grow-1 fromGroup has-icon no-border">
                                <input type="text" placeholder="Your Location">
                                <div class="icon-badge">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M21 10C21 17 12 23 12 23C12 23 3 17 3 10C3 7.61305 3.94821 5.32387 5.63604 3.63604C7.32387 1.94821 9.61305 1 12 1C14.3869 1 16.6761 1.94821 18.364 3.63604C20.0518 5.32387 21 7.61305 21 10Z" stroke="#0066FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M12 13C13.6569 13 15 11.6569 15 10C15 8.34315 13.6569 7 12 7C10.3431 7 9 8.34315 9 10C9 11.6569 10.3431 13 12 13Z" stroke="#0066FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>                                              
                                </div>
                            </div>
                            <div class="flex-grow-0">
                                <button class="btn btn-primary d-block d-md-inline-block ">Find Job</button>
                            </div>
                        </div>
                        <div class="body-font-3 banner-quciks-links " data-aos="fadeindown" data-aos-duration="1000" data-aos-delay="500">
                            <span class="text-gray-400">Suggestion:   </span>
                                <a href="#">Designer</a>, 
                                <a href="#">Programing</a>, 
                                <a href="#"> Digital Marketing,</a>
                                <a href="#">  Video,</a>
                                <a href="#"> Animation.</a>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>