<div class="col-xl-4 col-lg-6 fade-in-bottom  condition_class rt-mb-24 cat-1 cat-3">
  <div class="card jobcardStyle1 hover:bg-gray-10 bg-gray-20 border-transparent hover:border-primary-500">
    <div class="card-body">
      <div class="rt-single-icon-box">
        <div class="icon-thumb">
          <img src="assets/images/icon/logo-redit-xs.png" alt="" draggable="false">
        </div>
        <div class="iconbox-content">
          <div class="job-mini-title"><a href="#">Reddit</a></div>
          <span class="loacton text-gray-400 d-inline-flex ">
            <i class="ph-map-pin"></i>
            United States
          </span>
        </div>
        <div class="iconbox-extra">
          <button class="hoverbg-primary-50 text-primary-500 plain-button icon-button ">
            <svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M15 19L8 14L1 19V3C1 2.46957 1.21071 1.96086 1.58579 1.58579C1.96086 1.21071 2.46957 1 3 1H13C13.5304 1 14.0391 1.21071 14.4142 1.58579C14.7893 1.96086 15 2.46957 15 3V19Z"
                stroke="#0066FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </button>
        </div>
      </div>
      <div class="post-info">
        <div class="post-main-title"> <a href="#">Marketing Officer</a></div>
        <div class="body-font-4 text-gray-600">
          <span class="info-tools">Full-Time</span>
          <span class="info-tools has-dot">$50k-80k/month</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-xl-4 col-lg-6 fade-in-bottom  condition_class rt-mb-24 cat-1 cat-5">
  <div class="card jobcardStyle1 hover:bg-gray-10 bg-gray-20 border-transparent hover:border-primary-500">
    <div class="card-body">
      <div class="rt-single-icon-box">
        <div class="icon-thumb">
          <img src="assets/images/icon/logo-up-xs.png" alt="" draggable="false">
        </div>
        <div class="iconbox-content">
          <div class="job-mini-title"><a href="#">Twitter</a></div>
          <span class="loacton text-gray-400 d-inline-flex ">
            <i class="ph-map-pin"></i>
            United Kingdom
          </span>
        </div>
        <div class="iconbox-extra">
          <button class="hoverbg-primary-50 text-primary-500 plain-button icon-button ">
            <svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M15 19L8 14L1 19V3C1 2.46957 1.21071 1.96086 1.58579 1.58579C1.96086 1.21071 2.46957 1 3 1H13C13.5304 1 14.0391 1.21071 14.4142 1.58579C14.7893 1.96086 15 2.46957 15 3V19Z"
                stroke="#0066FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </button>
        </div>
      </div>
      <div class="post-info">
        <div class="post-main-title"> <a href="#">Marketing Manager</a></div>
        <div class="body-font-4 text-gray-600">
          <span class="info-tools">Full-Time</span>
          <span class="info-tools has-dot">$50k-80k/month</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-xl-4 col-lg-6 fade-in-bottom  condition_class rt-mb-24 cat-2 cat-4">
  <div class="card jobcardStyle1 hover:bg-gray-10 bg-gray-20 border-transparent hover:border-primary-500">
    <div class="card-body">
      <div class="rt-single-icon-box">
        <div class="icon-thumb">
          <img src="assets/images/icon/logo-twitter-xs.png" alt="" draggable="false">
        </div>
        <div class="iconbox-content">
          <div class="job-mini-title"><a href="#">Twitter</a></div>
          <span class="loacton text-gray-400 d-inline-flex ">
            <i class="ph-map-pin"></i>
            Canada
          </span>
        </div>
        <div class="iconbox-extra">
          <button class="hoverbg-primary-50 text-primary-500 plain-button icon-button ">
            <svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M15 19L8 14L1 19V3C1 2.46957 1.21071 1.96086 1.58579 1.58579C1.96086 1.21071 2.46957 1 3 1H13C13.5304 1 14.0391 1.21071 14.4142 1.58579C14.7893 1.96086 15 2.46957 15 3V19Z"
                stroke="#0066FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </button>
        </div>
      </div>
      <div class="post-info">
        <div class="post-main-title"> <a href="#">Senior UX Designer</a></div>
        <div class="body-font-4 text-gray-600">
          <span class="info-tools">Full-Time</span>
          <span class="info-tools has-dot">$50k-80k/month</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-xl-4 col-lg-6 fade-in-bottom  condition_class rt-mb-24 cat-2 cat-4">
  <div class="card jobcardStyle1 hover:bg-gray-10 bg-gray-20 border-transparent hover:border-primary-500">
    <div class="card-body">
      <div class="rt-single-icon-box">
        <div class="icon-thumb">
          <img src="assets/images/icon/logo-figma-xs.png" alt="" draggable="false">
        </div>
        <div class="iconbox-content">
          <div class="job-mini-title"><a href="#">Twitter</a></div>
          <span class="loacton text-gray-400 d-inline-flex ">
            <i class="ph-map-pin"></i>
            Canada
          </span>
        </div>
        <div class="iconbox-extra">
          <button class="hoverbg-primary-50 text-primary-500 plain-button icon-button ">
            <svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M15 19L8 14L1 19V3C1 2.46957 1.21071 1.96086 1.58579 1.58579C1.96086 1.21071 2.46957 1 3 1H13C13.5304 1 14.0391 1.21071 14.4142 1.58579C14.7893 1.96086 15 2.46957 15 3V19Z"
                stroke="#0066FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </button>
        </div>
      </div>
      <div class="post-info">
        <div class="post-main-title"> <a href="#">UI/UX Designer</a></div>
        <div class="body-font-4 text-gray-600">
          <span class="info-tools">Full-Time</span>
          <span class="info-tools has-dot">$50k-80k/month</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-xl-4 col-lg-6 fade-in-bottom  condition_class rt-mb-24 cat-1 cat-3 cat-5">
  <div class="card jobcardStyle1 hover:bg-gray-10 bg-gray-20 border-transparent hover:border-primary-500">
    <div class="card-body">
      <div class="rt-single-icon-box">
        <div class="icon-thumb">
          <img src="assets/images/icon/logo-driable-xs.png" alt="" draggable="false">
        </div>
        <div class="iconbox-content">
          <div class="job-mini-title"><a href="#">Twitter</a></div>
          <span class="loacton text-gray-400 d-inline-flex ">
            <i class="ph-map-pin"></i>
            Canada
          </span>
        </div>
        <div class="iconbox-extra">
          <button class="hoverbg-primary-50 text-primary-500 plain-button icon-button ">
            <svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M15 19L8 14L1 19V3C1 2.46957 1.21071 1.96086 1.58579 1.58579C1.96086 1.21071 2.46957 1 3 1H13C13.5304 1 14.0391 1.21071 14.4142 1.58579C14.7893 1.96086 15 2.46957 15 3V19Z"
                stroke="#0066FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </button>
        </div>
      </div>
      <div class="post-info">
        <div class="post-main-title"> <a href="#">UI/UX Designer</a></div>
        <div class="body-font-4 text-gray-600">
          <span class="info-tools">Full-Time</span>
          <span class="info-tools has-dot">$50k-80k/month</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-xl-4 col-lg-6 fade-in-bottom  condition_class rt-mb-24 cat-2 cat-3 cat-4">
  <div class="card jobcardStyle1 hover:bg-gray-10 bg-gray-20 border-transparent hover:border-primary-500">
    <div class="card-body">
      <div class="rt-single-icon-box">
        <div class="icon-thumb">
          <img src="assets/images/icon/logo-slack-xs.png" alt="" draggable="false">
        </div>
        <div class="iconbox-content">
          <div class="job-mini-title"><a href="#">Twitter</a></div>
          <span class="loacton text-gray-400 d-inline-flex ">
            <i class="ph-map-pin"></i>
            Canada
          </span>
        </div>
        <div class="iconbox-extra">
          <button class="hoverbg-primary-50 text-primary-500 plain-button icon-button ">
            <svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M15 19L8 14L1 19V3C1 2.46957 1.21071 1.96086 1.58579 1.58579C1.96086 1.21071 2.46957 1 3 1H13C13.5304 1 14.0391 1.21071 14.4142 1.58579C14.7893 1.96086 15 2.46957 15 3V19Z"
                stroke="#0066FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </button>
        </div>
      </div>
      <div class="post-info">
        <div class="post-main-title"> <a href="#">UI/UX Designer</a></div>
        <div class="body-font-4 text-gray-600">
          <span class="info-tools">Full-Time</span>
          <span class="info-tools has-dot">$50k-80k/month</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-xl-4 col-lg-6  condition_class rt-mb-24   cat-1 cat-2">
  <div class="card jobcardStyle1 hover:bg-gray-10 bg-gray-20 border-transparent hover:border-primary-500">
    <div class="card-body">
      <div class="rt-single-icon-box">
        <div class="icon-thumb">
          <img src="assets/images/icon/logo-freepk-xs.png" alt="" draggable="false" class="rounded-circle">
        </div>
        <div class="iconbox-content">
          <div class="job-mini-title"><a href="#">Freepik</a> <span
              class="badge rounded-pill bg-danger-50 text-danger-500">Featured</span></div>
          <span class="loacton text-gray-400 d-inline-flex ">
            <i class="ph-map-pin"></i>
            Australia
          </span>
        </div>
        <div class="iconbox-extra">
          <button class="hoverbg-primary-50 text-primary-500 plain-button icon-button ">
            <svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M15 19L8 14L1 19V3C1 2.46957 1.21071 1.96086 1.58579 1.58579C1.96086 1.21071 2.46957 1 3 1H13C13.5304 1 14.0391 1.21071 14.4142 1.58579C14.7893 1.96086 15 2.46957 15 3V19Z"
                stroke="#0066FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </button>
        </div>
      </div>
      <div class="post-info">
        <div class="post-main-title"> <a href="#">Marketing Officer</a></div>
        <div class="body-font-4 text-gray-600">
          <span class="info-tools">Full-Time</span>
          <span class="info-tools has-dot">$50k-80k/month</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-xl-4 col-lg-6  condition_class rt-mb-24  cat-4 cat-5">
  <div class="card jobcardStyle1 hover:bg-gray-10 bg-gray-20 border-transparent hover:border-primary-500">
    <div class="card-body">
      <div class="rt-single-icon-box">
        <div class="icon-thumb">
          <img src="assets/images/icon/logo-fb-xs.png" alt="" draggable="false" class="rounded-circle">
        </div>
        <div class="iconbox-content">
          <div class="job-mini-title"><a href="#">Twitter</a></div>
          <span class="loacton text-gray-400 d-inline-flex ">
            <i class="ph-map-pin"></i>
            United Kingdom
          </span>
        </div>
        <div class="iconbox-extra">
          <button class="hoverbg-primary-50 text-primary-500 plain-button icon-button ">
            <svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M15 19L8 14L1 19V3C1 2.46957 1.21071 1.96086 1.58579 1.58579C1.96086 1.21071 2.46957 1 3 1H13C13.5304 1 14.0391 1.21071 14.4142 1.58579C14.7893 1.96086 15 2.46957 15 3V19Z"
                stroke="#0066FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </button>
        </div>
      </div>
      <div class="post-info">
        <div class="post-main-title"> <a href="#">Marketing Manager</a></div>
        <div class="body-font-4 text-gray-600">
          <span class="info-tools">Full-Time</span>
          <span class="info-tools has-dot">$50k-80k/month</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-xl-4 col-lg-6  condition_class rt-mb-24 cat-2 cat-4 ">
  <div class="card jobcardStyle1 hover:bg-gray-10 bg-gray-20 border-transparent hover:border-primary-500">
    <div class="card-body">
      <div class="rt-single-icon-box">
        <div class="icon-thumb">
          <img src="assets/images/icon/logo-twitter-xs.png" alt="" draggable="false" class="rounded-circle">
        </div>
        <div class="iconbox-content">
          <div class="job-mini-title"><a href="#">Twitter</a></div>
          <span class="loacton text-gray-400 d-inline-flex ">
            <i class="ph-map-pin"></i>
            Canada
          </span>
        </div>
        <div class="iconbox-extra">
          <button class="hoverbg-primary-50 text-primary-500 plain-button icon-button ">
            <svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M15 19L8 14L1 19V3C1 2.46957 1.21071 1.96086 1.58579 1.58579C1.96086 1.21071 2.46957 1 3 1H13C13.5304 1 14.0391 1.21071 14.4142 1.58579C14.7893 1.96086 15 2.46957 15 3V19Z"
                stroke="#0066FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </button>
        </div>
      </div>
      <div class="post-info">
        <div class="post-main-title"> <a href="#">Senior UX Designer</a></div>
        <div class="body-font-4 text-gray-600">
          <span class="info-tools">Full-Time</span>
          <span class="info-tools has-dot">$50k-80k/month</span>
        </div>
      </div>
    </div>
  </div>
</div>
