<aside class="jobsidebar">
    <div class="close-me">
        X
    </div>
    <div class="sidetbar-widget">
        <div class="widget_tiitle">Category</div>
        <ul>
            <li class="d-block">mahedi</li>
            <li class="d-block">mahedi</li>
            <li class="d-block">mahedi</li>
            <li class="d-block">mahedi</li>
            <li class="d-block">mahedi</li>
            <li class="d-block">mahedi</li>
        </ul>
    </div>
</aside>
<div class="sidebar-widget-overlay"></div>