<aside class="jobsidebar custom-scroll">
    <div class="custom-scrolls">
        <div class="sidetbar-widget">
            <ul>
                <li class="d-block has-children open">
                    <div class="jobwidget_tiitle">Category</div>
                    <ul class="sub-catagory">
                        <li class="d-block">
                            <div class="form-check from-chekbox-custom">
                                <input class="form-check-input" type="checkbox" value="" id="ck1">
                                <label class="form-check-label pointer text-gray-700 f-size-16" for="ck1">
                                    Graphics & Design
                                </label>
                            </div>
                        </li>
                        <li class="d-block">
                            <div class="form-check from-chekbox-custom">
                                <input class="form-check-input" type="checkbox" value="" id="ck2">
                                <label class="form-check-label pointer text-gray-700 f-size-16" for="ck2">
                                    Code & Programing
                                </label>
                            </div>
                        </li>
                        <li class="d-block">
                            <div class="form-check from-chekbox-custom">
                                <input class="form-check-input" type="checkbox" value="" id="ck3">
                                <label class="form-check-label pointer text-gray-700 f-size-16" for="ck3">
                                    Digital Marketig
                                </label>
                            </div>
                        </li>
                        <li class="d-block">
                            <div class="form-check from-chekbox-custom">
                                <input class="form-check-input" type="checkbox" value="" id="ck4">
                                <label class="form-check-label pointer text-gray-700 f-size-16" for="ck4">
                                    Video & Animation
                                </label>
                            </div>
                        </li>
                        <li class="d-block">
                            <div class="form-check from-chekbox-custom">
                                <input class="form-check-input" type="checkbox" value="" id="ck5">
                                <label class="form-check-label pointer text-gray-700 f-size-16" for="ck5">
                                    Musica & Audio
                                </label>
                            </div>
                        </li>
                        <li class="d-block">
                            <div class="form-check from-chekbox-custom">
                                <input class="form-check-input" type="checkbox" value="" id="ck6">
                                <label class="form-check-label pointer text-gray-700 f-size-16" for="ck6">
                                    Finance 7 Accounting
                                </label>
                            </div>
                        </li>
                        <li class="d-block">
                            <div class="form-check from-chekbox-custom">
                                <input class="form-check-input" type="checkbox" value="" id="ck7">
                                <label class="form-check-label pointer text-gray-700 f-size-16" for="ck7">
                                    Health & Care
                                </label>
                            </div>
                        </li>
                        <li class="d-block">
                            <div class="form-check from-chekbox-custom">
                                <input class="form-check-input" type="checkbox" value="" id="ck8">
                                <label class="form-check-label pointer text-gray-700 f-size-16" for="ck8">
                                    Data Science
                                </label>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="d-block has-children open">
                    <div class="jobwidget_tiitle">Location Radius: <span><label>90</label></span></div>
                    <ul class="sub-catagory">
                        <li>rangle slider hobe</li>
                    </ul>
                </li>
                <li class="d-block has-children open">
                    <div class="jobwidget_tiitle">Job Type</div>
                    <ul class="sub-catagory">
                        <li class="d-block">
                            <div class="form-check from-chekbox-custom">
                                <input class="form-check-input" type="checkbox" value="" id="ck01">
                                <label class="form-check-label pointer text-gray-700 f-size-16" for="ck01">
                                    All
                                </label>
                            </div>
                        </li>
                        <li class="d-block">
                            <div class="form-check from-chekbox-custom">
                                <input class="form-check-input" type="checkbox" value="" id="ck02">
                                <label class="form-check-label pointer text-gray-700 f-size-16" for="ck02">
                                    Full Time
                                </label>
                            </div>
                        </li>
                        <li class="d-block">
                            <div class="form-check from-chekbox-custom">
                                <input class="form-check-input" type="checkbox" value="" id="ck03">
                                <label class="form-check-label pointer text-gray-700 f-size-16" for="ck03">
                                    Part Time
                                </label>
                            </div>
                        </li>
                        <li class="d-block">
                            <div class="form-check from-chekbox-custom">
                                <input class="form-check-input" type="checkbox" value="" id="ck04">
                                <label class="form-check-label pointer text-gray-700 f-size-16" for="ck04">
                                    Internship
                                </label>
                            </div>
                        </li>
                        <li class="d-block">
                            <div class="form-check from-chekbox-custom">
                                <input class="form-check-input" type="checkbox" value="" id="ck05">
                                <label class="form-check-label pointer text-gray-700 f-size-16" for="ck05">
                                    Remote
                                </label>
                            </div>
                        </li>
                        <li class="d-block">
                            <div class="form-check from-chekbox-custom">
                                <input class="form-check-input" type="checkbox" value="" id="ck06">
                                <label class="form-check-label pointer text-gray-700 f-size-16" for="ck06">
                                    Temporary
                                </label>
                            </div>
                        </li>
                        <li class="d-block">
                            <div class="form-check from-chekbox-custom">
                                <input class="form-check-input" type="checkbox" value="" id="ck07">
                                <label class="form-check-label pointer text-gray-700 f-size-16" for="ck07">
                                    Contract Base
                                </label>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="d-block has-children open">
                    <div class="jobwidget_tiitle">Job Level</div>
                    <ul class="sub-catagory">
                        <li class="d-block">
                            <div class="form-check from-radio-custom">
                                <input class="form-check-input" type="radio" name="ckbox" id="cr1">
                                <label class="form-check-label pointer text-gray-700 f-size-14" for="cr1">
                                    Entry Level
                                </label>
                            </div>
                        </li>
                        <li class="d-block">
                            <div class="form-check from-radio-custom">
                                <input class="form-check-input" type="radio" name="ckbox" id="cr2">
                                <label class="form-check-label pointer text-gray-700 f-size-14" for="cr2">
                                    Mid Level
                                </label>
                            </div>
                        </li>
                        <li class="d-block">
                            <div class="form-check from-radio-custom">
                                <input class="form-check-input" type="radio" name="ckbox" id="cr3">
                                <label class="form-check-label pointer text-gray-700 f-size-14" for="cr3">
                                    Expert Level
                                </label>
                            </div>

                        </li>
                    </ul>
                </li>
                <li class="d-block has-children open">
                    <div class="jobwidget_tiitle">Experiences</div>

                    <ul class="sub-catagory">
                        <li class="d-block">
                            <div class="form-check from-radio-custom">
                                <input class="form-check-input" type="radio" name="ckbox" id="cr_1">
                                <label class="form-check-label pointer text-gray-700 f-size-14" for="cr_1">
                                    Freshers
                                </label>
                            </div>
                        </li>
                        <li class="d-block">
                            <div class="form-check from-radio-custom">
                                <input class="form-check-input" type="radio" name="ckbox" id="cr_2">
                                <label class="form-check-label pointer text-gray-700 f-size-14" for="cr_2">
                                    1 - 2 Years
                                </label>
                            </div>
                        </li>
                        <li class="d-block">
                            <div class="form-check from-radio-custom">
                                <input class="form-check-input" type="radio" name="ckbox" id="cr_3">
                                <label class="form-check-label pointer text-gray-700 f-size-14" for="cr_3">
                                    4 - 6 Years
                                </label>
                            </div>

                        </li>
                        <li class="d-block">
                            <div class="form-check from-radio-custom">
                                <input class="form-check-input" type="radio" name="ckbox" id="cr_4">
                                <label class="form-check-label pointer text-gray-700 f-size-14" for="cr_4">
                                    6 - 8 Years
                                </label>
                            </div>

                        </li>
                        <li class="d-block">
                            <div class="form-check from-radio-custom">
                                <input class="form-check-input" type="radio" name="ckbox" id="cr_5">
                                <label class="form-check-label pointer text-gray-700 f-size-14" for="cr_5">
                                    8 - 10 Years
                                </label>
                            </div>

                        </li>
                        <li class="d-block">
                            <div class="form-check from-radio-custom">
                                <input class="form-check-input" type="radio" name="ckbox" id="cr_6">
                                <label class="form-check-label pointer text-gray-700 f-size-14" for="cr_6">
                                    10 - 15 Years
                                </label>
                            </div>

                        </li>
                        <li class="d-block">
                            <div class="form-check from-radio-custom">
                                <input class="form-check-input" type="radio" name="ckbox" id="cr_7">
                                <label class="form-check-label pointer text-gray-700 f-size-14" for="cr_7">
                                    15+ Years
                                </label>
                            </div>

                        </li>
                    </ul>
                </li>
                <li class="d-block has-children open">
                    <div class="jobwidget_tiitle">Education</div>
                    <ul class="sub-catagory">
                        <li class="d-block">
                            <div class="form-check from-chekbox-custom">
                                <input class="form-check-input" type="checkbox" value="" id="edu01">
                                <label class="form-check-label pointer text-gray-700 f-size-14" for="edu01">
                                    All
                                </label>
                            </div>
                        </li>
                        <li class="d-block">
                            <div class="form-check from-chekbox-custom">
                                <input class="form-check-input" type="checkbox" value="" id="edu02">
                                <label class="form-check-label pointer text-gray-700 f-size-14" for="edu02">
                                    High School
                                </label>
                            </div>
                        </li>
                        <li class="d-block">
                            <div class="form-check from-chekbox-custom">
                                <input class="form-check-input" type="checkbox" value="" id="edu03">
                                <label class="form-check-label pointer text-gray-700 f-size-14" for="edu03">
                                    Intermediate
                                </label>
                            </div>
                        </li>
                        <li class="d-block">
                            <div class="form-check from-chekbox-custom">
                                <input class="form-check-input" type="checkbox" value="" id="edu04">
                                <label class="form-check-label pointer text-gray-700 f-size-14" for="edu04">
                                    Master Degree
                                </label>
                            </div>
                        </li>
                        <li class="d-block">
                            <div class="form-check from-chekbox-custom">
                                <input class="form-check-input" type="checkbox" value="" id="edu05">
                                <label class="form-check-label pointer text-gray-700 f-size-14" for="edu05">
                                    Bachelor Degree
                                </label>
                            </div>
                        </li>
                        <li class="d-block">
                            <div class="form-check from-chekbox-custom">
                                <input class="form-check-input" type="checkbox" value="" id="edu06">
                                <label class="form-check-label pointer text-gray-700 f-size-14" for="edu06">
                                    Graduation
                                </label>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="d-block has-children open">
                    <div class="jobwidget_tiitle">Gender</div>
                    <ul class="sub-catagory">
                        <li class="d-block">
                            <div class="form-check from-radio-custom">
                                <input class="form-check-input" type="radio" name="ckbox" id="gr1">
                                <label class="form-check-label pointer text-gray-700 f-size-14" for="gr1">
                                    Male
                                </label>
                            </div>
                        </li>
                        <li class="d-block">
                            <div class="form-check from-radio-custom">
                                <input class="form-check-input" type="radio" name="ckbox" id="gr2">
                                <label class="form-check-label pointer text-gray-700 f-size-14" for="gr2">
                                    Female
                                </label>
                            </div>
                        </li>
                        <li class="d-block">
                            <div class="form-check from-radio-custom">
                                <input class="form-check-input" type="radio" name="ckbox" id="gr3">
                                <label class="form-check-label pointer text-gray-700 f-size-14" for="gr3">
                                    Others
                                </label>
                            </div>

                        </li>
                    </ul>
                </li>
                <li class="d-block has-children open">
                    <div class="jobwidget_tiitle">Organization Type</div>
                    <ul class="sub-catagory">
                        <li class="d-block">
                            <div class="form-check from-radio-custom">
                                <input class="form-check-input" type="radio" name="ckbox" id="grt_1">
                                <label class="form-check-label pointer text-gray-700 f-size-14" for="grt_1">
                                    Government
                                </label>
                            </div>
                        </li>
                        <li class="d-block">
                            <div class="form-check from-radio-custom">
                                <input class="form-check-input" type="radio" name="ckbox" id="grt_2">
                                <label class="form-check-label pointer text-gray-700 f-size-14" for="grt_2">
                                    Semi Government
                                </label>
                            </div>
                        </li>
                        <li class="d-block">
                            <div class="form-check from-radio-custom">
                                <input class="form-check-input" type="radio" name="ckbox" id="grt_3">
                                <label class="form-check-label pointer text-gray-700 f-size-14" for="grt_3">
                                    NGO
                                </label>
                            </div>
                        </li>
                        <li class="d-block">
                            <div class="form-check from-radio-custom">
                                <input class="form-check-input" type="radio" name="ckbox" id="grt_4">
                                <label class="form-check-label pointer text-gray-700 f-size-14" for="grt_4">
                                    Private Company
                                </label>
                            </div>
                        </li>
                        <li class="d-block">
                            <div class="form-check from-radio-custom">
                                <input class="form-check-input" type="radio" name="ckbox" id="grt_5">
                                <label class="form-check-label pointer text-gray-700 f-size-14" for="grt_5">
                                    International Agencies
                                </label>
                            </div>
                        </li>
                        <li class="d-block">
                            <div class="form-check from-radio-custom">
                                <input class="form-check-input" type="radio" name="ckbox" id="grt_6">
                                <label class="form-check-label pointer text-gray-700 f-size-14" for="grt_6">
                                    Others
                                </label>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="d-block has-children open">
                    <div class="jobwidget_tiitle">Posted within</div>
                    <ul class="sub-catagory">
                        <li class="d-block">
                            <div class="form-check from-chekbox-custom">
                                <input class="form-check-input" type="checkbox" value="" id="pt_1">
                                <label class="form-check-label pointer text-gray-700 f-size-14" for="pt_1">
                                    Today
                                </label>
                            </div>
                        </li>
                        <li class="d-block">
                            <div class="form-check from-chekbox-custom">
                                <input class="form-check-input" type="checkbox" value="" id="pt_2">
                                <label class="form-check-label pointer text-gray-700 f-size-14" for="pt_2">
                                    Last 2 Days
                                </label>
                            </div>
                        </li>
                        <li class="d-block">
                            <div class="form-check from-chekbox-custom">
                                <input class="form-check-input" type="checkbox" value="" id="pt_3">
                                <label class="form-check-label pointer text-gray-700 f-size-14" for="pt_3">
                                    Last 3 Days
                                </label>
                            </div>
                        </li>
                        <li class="d-block">
                            <div class="form-check from-chekbox-custom">
                                <input class="form-check-input" type="checkbox" value="" id="pt_4">
                                <label class="form-check-label pointer text-gray-700 f-size-14" for="pt_4">
                                    Last 4 Days
                                </label>
                            </div>
                        </li>
                        <li class="d-block">
                            <div class="form-check from-chekbox-custom">
                                <input class="form-check-input" type="checkbox" value="" id="pt_5">
                                <label class="form-check-label pointer text-gray-700 f-size-14" for="pt_5">
                                    Last 5 Days
                                </label>
                            </div>
                        </li>
                        <li class="d-block">
                            <div class="form-check from-chekbox-custom">
                                <input class="form-check-input" type="checkbox" value="" id="pt_6">
                                <label class="form-check-label pointer text-gray-700 f-size-14" for="pt_6">
                                    Last 10 Days
                                </label>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="d-block has-children open">
                    <div class="jobwidget_tiitle">Deadline</div>
                    <ul class="sub-catagory">
                        <li class="d-block">
                            <div class="form-check from-chekbox-custom">
                                <input class="form-check-input" type="checkbox" value="" id="dt_1">
                                <label class="form-check-label pointer text-gray-700 f-size-14" for="dt_1">
                                    Today
                                </label>
                            </div>
                        </li>
                        <li class="d-block">
                            <div class="form-check from-chekbox-custom">
                                <input class="form-check-input" type="checkbox" value="" id="dt_2">
                                <label class="form-check-label pointer text-gray-700 f-size-14" for="dt_2">
                                    Next 2 Days
                                </label>
                            </div>
                        </li>
                        <li class="d-block">
                            <div class="form-check from-chekbox-custom">
                                <input class="form-check-input" type="checkbox" value="" id="dt_3">
                                <label class="form-check-label pointer text-gray-700 f-size-14" for="dt_3">
                                    Next 3 Days
                                </label>
                            </div>
                        </li>
                        <li class="d-block">
                            <div class="form-check from-chekbox-custom">
                                <input class="form-check-input" type="checkbox" value="" id="dt_4">
                                <label class="form-check-label pointer text-gray-700 f-size-14" for="dt_4">
                                    Next 4 Days
                                </label>
                            </div>
                        </li>
                        <li class="d-block">
                            <div class="form-check from-chekbox-custom">
                                <input class="form-check-input" type="checkbox" value="" id="dt_5">
                                <label class="form-check-label pointer text-gray-700 f-size-14" for="dt_5">
                                    Next 5 Days
                                </label>
                            </div>
                        </li>
                        <li class="d-block">
                            <div class="form-check from-chekbox-custom">
                                <input class="form-check-input" type="checkbox" value="" id="dt_6">
                                <label class="form-check-label pointer text-gray-700 f-size-14" for="dt_6">
                                    Next 10 Days
                                </label>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</aside>
<div class="sidebar-widget-overlay">
    <div class="close-me">
        <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M0 24C0 10.7452 10.7452 0 24 0V0C37.2548 0 48 10.7452 48 24V24C48 37.2548 37.2548 48 24 48V48C10.7452 48 0 37.2548 0 24V24Z"
                fill="white" />
            <path d="M30 18L18 30" stroke="#191F33" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M18 18L30 30" stroke="#191F33" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
    </div>
</div>