<aside class="jobsidebar">
    <div class="close-me">
        <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 24C0 10.7452 10.7452 0 24 0V0C37.2548 0 48 10.7452 48 24V24C48 37.2548 37.2548 48 24 48V48C10.7452 48 0 37.2548 0 24V24Z" fill="white"/>
            <path d="M30 18L18 30" stroke="#191F33" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M18 18L30 30" stroke="#191F33" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            
    </div>
    <div class="sidetbar-widget">
        <div class="widget_tiitle">Category</div>
        <ul>
            <li class="d-block">mahedi</li>
            <li class="d-block">mahedi</li>
            <li class="d-block">mahedi</li>
            <li class="d-block">mahedi</li>
            <li class="d-block">mahedi</li>
            <li class="d-block">mahedi</li>
        </ul>
    </div>
</aside>
<div class="sidebar-widget-overlay"></div>