<div class="togglesidebr_widget">
  <div class="sidetbar-widget">
    <ul>
      <li class="d-block has-children open">
        <div class="jobwidget_tiitle">Location Radius: <span><label>32 miles</label></span></div>
        <ul class="sub-catagory">
          <li>rangle slider hobe</li>
        </ul>
      </li>
      <li class="d-block has-children open">
        <div class="jobwidget_tiitle">Organization Type</div>
        <ul class="sub-catagory">
          <li class="d-block">
            <div class="form-check from-radio-custom">
              <input class="form-check-input" type="radio" name="ckbox" id="grt_1">
              <label class="form-check-label pointer text-gray-700 f-size-14" for="grt_1">
                Government
              </label>
            </div>
          </li>
          <li class="d-block">
            <div class="form-check from-radio-custom">
              <input class="form-check-input" type="radio" name="ckbox" id="grt_2">
              <label class="form-check-label pointer text-gray-700 f-size-14" for="grt_2">
                Semi Government
              </label>
            </div>
          </li>
          <li class="d-block">
            <div class="form-check from-radio-custom">
              <input class="form-check-input" type="radio" name="ckbox" id="grt_3">
              <label class="form-check-label pointer text-gray-700 f-size-14" for="grt_3">
                NGO
              </label>
            </div>

          </li>
          <li class="d-block">
            <div class="form-check from-radio-custom">
              <input class="form-check-input" type="radio" name="ckbox" id="grt_4">
              <label class="form-check-label pointer text-gray-700 f-size-14" for="grt_4">
                Private Company
              </label>
            </div>

          </li>
          <li class="d-block">
            <div class="form-check from-radio-custom">
              <input class="form-check-input" type="radio" name="ckbox" id="grt_5">
              <label class="form-check-label pointer text-gray-700 f-size-14" for="grt_5">
                International Agencies
              </label>
            </div>

          </li>
          <li class="d-block">
            <div class="form-check from-radio-custom">
              <input class="form-check-input" type="radio" name="ckbox" id="grt_6">
              <label class="form-check-label pointer text-gray-700 f-size-14" for="grt_6">
                Others
              </label>
            </div>

          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>