<div class="togglesidebr_widget">
  <div class="sidetbar-widget">
    <ul>
      <li class="d-block has-children open">
        <div class="jobwidget_tiitle">Location Radius: <span><label>32 miles</label></span></div>
        <ul class="sub-catagory">
          <li>rangle slider hobe</li>
        </ul>
      </li>
      <li class="d-block has-children open">
        <div class="jobwidget_tiitle">Candidate Level</div>
        <ul class="sub-catagory">
          <li class="d-block">
            <div class="form-check from-radio-custom">
              <input class="form-check-input" type="radio" name="ckbox" id="cr1">
              <label class="form-check-label pointer text-gray-700 f-size-14" for="cr1">
                Entry Level
              </label>
            </div>
          </li>
          <li class="d-block">
            <div class="form-check from-radio-custom">
              <input class="form-check-input" type="radio" name="ckbox" id="cr2">
              <label class="form-check-label pointer text-gray-700 f-size-14" for="cr2">
                Mid Level
              </label>
            </div>
          </li>
          <li class="d-block">
            <div class="form-check from-radio-custom">
              <input class="form-check-input" type="radio" name="ckbox" id="cr3">
              <label class="form-check-label pointer text-gray-700 f-size-14" for="cr3">
                Expert Level
              </label>
            </div>

          </li>
        </ul>
      </li>
      <li class="d-block has-children open">
        <div class="jobwidget_tiitle">Experiences</div>

        <ul class="sub-catagory">
          <li class="d-block">
            <div class="form-check from-radio-custom">
              <input class="form-check-input" type="radio" name="ckbox" id="cr_1">
              <label class="form-check-label pointer text-gray-700 f-size-14" for="cr_1">
                Freshers
              </label>
            </div>
          </li>
          <li class="d-block">
            <div class="form-check from-radio-custom">
              <input class="form-check-input" type="radio" name="ckbox" id="cr_2">
              <label class="form-check-label pointer text-gray-700 f-size-14" for="cr_2">
                1 - 2 Years
              </label>
            </div>
          </li>
          <li class="d-block">
            <div class="form-check from-radio-custom">
              <input class="form-check-input" type="radio" name="ckbox" id="cr_3">
              <label class="form-check-label pointer text-gray-700 f-size-14" for="cr_3">
                4 - 6 Years
              </label>
            </div>

          </li>
          <li class="d-block">
            <div class="form-check from-radio-custom">
              <input class="form-check-input" type="radio" name="ckbox" id="cr_4">
              <label class="form-check-label pointer text-gray-700 f-size-14" for="cr_4">
                6 - 8 Years
              </label>
            </div>

          </li>
          <li class="d-block">
            <div class="form-check from-radio-custom">
              <input class="form-check-input" type="radio" name="ckbox" id="cr_5">
              <label class="form-check-label pointer text-gray-700 f-size-14" for="cr_5">
                8 - 10 Years
              </label>
            </div>

          </li>
          <li class="d-block">
            <div class="form-check from-radio-custom">
              <input class="form-check-input" type="radio" name="ckbox" id="cr_6">
              <label class="form-check-label pointer text-gray-700 f-size-14" for="cr_6">
                10 - 15 Years
              </label>
            </div>

          </li>
          <li class="d-block">
            <div class="form-check from-radio-custom">
              <input class="form-check-input" type="radio" name="ckbox" id="cr_7">
              <label class="form-check-label pointer text-gray-700 f-size-14" for="cr_7">
                15+ Years
              </label>
            </div>

          </li>
        </ul>
      </li>
      <li class="d-block has-children open">
        <div class="jobwidget_tiitle">Education</div>
        <ul class="sub-catagory">
          <li class="d-block">
            <div class="form-check from-chekbox-custom">
              <input class="form-check-input" type="checkbox" value="" id="edu01">
              <label class="form-check-label pointer text-gray-700 f-size-14" for="edu01">
                All
              </label>
            </div>
          </li>
          <li class="d-block">
            <div class="form-check from-chekbox-custom">
              <input class="form-check-input" type="checkbox" value="" id="edu02">
              <label class="form-check-label pointer text-gray-700 f-size-14" for="edu02">
                High School
              </label>
            </div>
          </li>
          <li class="d-block">
            <div class="form-check from-chekbox-custom">
              <input class="form-check-input" type="checkbox" value="" id="edu03">
              <label class="form-check-label pointer text-gray-700 f-size-14" for="edu03">
                Intermediate
              </label>
            </div>
          </li>
          <li class="d-block">
            <div class="form-check from-chekbox-custom">
              <input class="form-check-input" type="checkbox" value="" id="edu04">
              <label class="form-check-label pointer text-gray-700 f-size-14" for="edu04">
                Master Degree
              </label>
            </div>
          </li>
          <li class="d-block">
            <div class="form-check from-chekbox-custom">
              <input class="form-check-input" type="checkbox" value="" id="edu05">
              <label class="form-check-label pointer text-gray-700 f-size-14" for="edu05">
                Bachelor Degree
              </label>
            </div>
          </li>
          <li class="d-block">
            <div class="form-check from-chekbox-custom">
              <input class="form-check-input" type="checkbox" value="" id="edu06">
              <label class="form-check-label pointer text-gray-700 f-size-14" for="edu06">
                Graduation
              </label>
            </div>
          </li>
        </ul>
      </li>
      <li class="d-block has-children open">
        <div class="jobwidget_tiitle">Gender</div>
        <ul class="sub-catagory">
          <li class="d-block">
            <div class="form-check from-radio-custom">
              <input class="form-check-input" type="radio" name="ckbox" id="gr1">
              <label class="form-check-label pointer text-gray-700 f-size-14" for="gr1">
                Male
              </label>
            </div>
          </li>
          <li class="d-block">
            <div class="form-check from-radio-custom">
              <input class="form-check-input" type="radio" name="ckbox" id="gr2">
              <label class="form-check-label pointer text-gray-700 f-size-14" for="gr2">
                Female
              </label>
            </div>
          </li>
          <li class="d-block">
            <div class="form-check from-radio-custom">
              <input class="form-check-input" type="radio" name="ckbox" id="gr3">
              <label class="form-check-label pointer text-gray-700 f-size-14" for="gr3">
                Others
              </label>
            </div>

          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>