<div class="sidebar-wrapper">
    <div class="widget widget_search">
        <form>
            <h2 class="widget-title">Search</h2>
            <div class="fromGroup has-icon2">
                <input type="text" placeholder="Search..">
                <span class="icon-badge rt-ml-12">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z" stroke="#0066FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M21 21.0004L16.65 16.6504" stroke="#0066FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg> 
                </span>
            </div>
        </form>
        <hr>
        <ul class="rt-list filter_lists">
            <li class="d-block has-children open">
                <div class="body-font-1 ft-wt-5 rt-mb-20">Category</div>
                <ul class="sub-catagory rt-list">
                    <li class="d-block rt-mb-15">
                        <div class="form-check from-chekbox-custom">
                            <input class="form-check-input" type="checkbox" value="" id="ck1">
                            <label class="form-check-label pointer text-gray-700 f-size-16" for="ck1">
                                Graphics & Design
                            </label>
                        </div>
                    </li>
                    <li class="d-block rt-mb-15">
                        <div class="form-check from-chekbox-custom">
                            <input class="form-check-input" type="checkbox" value="" id="ck2">
                            <label class="form-check-label pointer text-gray-700 f-size-16" for="ck2">
                                Code & Programing
                            </label>
                        </div>
                    </li>
                    <li class="d-block rt-mb-15">
                        <div class="form-check from-chekbox-custom">
                            <input class="form-check-input" type="checkbox" value="" id="ck3">
                            <label class="form-check-label pointer text-gray-700 f-size-16" for="ck3">
                                Digital Marketig
                            </label>
                        </div>
                    </li>
                    <li class="d-block rt-mb-15">
                        <div class="form-check from-chekbox-custom">
                            <input class="form-check-input" type="checkbox" value="" id="ck4">
                            <label class="form-check-label pointer text-gray-700 f-size-16" for="ck4">
                                Video & Animation
                            </label>
                        </div>
                    </li>
                    <li class="d-block rt-mb-15">
                        <div class="form-check from-chekbox-custom">
                            <input class="form-check-input" type="checkbox" value="" id="ck5">
                            <label class="form-check-label pointer text-gray-700 f-size-16" for="ck5">
                                Musica & Audio
                            </label>
                        </div>
                    </li>
                    <li class="d-block rt-mb-15">
                        <div class="form-check from-chekbox-custom">
                            <input class="form-check-input" type="checkbox" value="" id="ck6">
                            <label class="form-check-label pointer text-gray-700 f-size-16" for="ck6">
                                Finance 7 Accounting
                            </label>
                        </div>
                    </li>
                    <li class="d-block rt-mb-15">
                        <div class="form-check from-chekbox-custom">
                            <input class="form-check-input" type="checkbox" value="" id="ck7">
                            <label class="form-check-label pointer text-gray-700 f-size-16" for="ck7">
                                Health & Care
                            </label>
                        </div>
                    </li>
                    <li class="d-block rt-mb-15">
                        <div class="form-check from-chekbox-custom">
                            <input class="form-check-input" type="checkbox" value="" id="ck8">
                            <label class="form-check-label pointer text-gray-700 f-size-16" for="ck8">
                                Data Science
                            </label>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div><!-- end single search -->
    <div class="widget rt-widget-recent-posts">
        <h2 class="widget-title">Recent Post</h2>
        <ul>
            <li>
                <div class="rt-single-icon-box">
                    <div class="icon-thumb rt-mr-16">
                        <img src="assets/images/all-img/rp-1.png" alt="" >
                    </div>
                    <div class="iconbox-content">
                        <div class="bofy-font-4 entry-meta rt-mb-10">
                            <a href="#" class="date text-gray-500 rt-mr-8 hover:text-primary-500">
                                Nov 12, 2021
                            </a>
                            <span class="text-gray-500 rt-mr-8">
                                <svg width="4" height="4" viewBox="0 0 4 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4 2C4 3.10457 3.10457 4 2 4C0.89543 4 0 3.10457 0 2C0 0.89543 0.89543 0 2 0C3.10457 0 4 0.89543 4 2Z" fill="#767E94"/>
                                </svg>
                            </span>
                            <a href="#" class="comments text-gray-500 hover:text-primary-500">
                                25 Comments
                            </a>
                        </div>
                        <a href="#" class="body-font-3 text-gray-900 hover:text-primary-500">
                            Integer volutpat fringilla ipsum, nec tempor risus facilisis eget.
                        </a>
                    </div>
                </div>
            </li><!-- ./ single post -->
            <li>
                <div class="rt-single-icon-box">
                    <div class="icon-thumb rt-mr-16">
                        <img src="assets/images/all-img/rp-2.png" alt="" >
                    </div>
                    <div class="iconbox-content">
                        <div class="bofy-font-4 entry-meta rt-mb-10">
                            <a href="#" class="date text-gray-500 rt-mr-8 hover:text-primary-500">
                                Nov 12, 2021
                            </a>
                            <span class="text-gray-500 rt-mr-8">
                                <svg width="4" height="4" viewBox="0 0 4 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4 2C4 3.10457 3.10457 4 2 4C0.89543 4 0 3.10457 0 2C0 0.89543 0.89543 0 2 0C3.10457 0 4 0.89543 4 2Z" fill="#767E94"/>
                                </svg>
                            </span>
                            <a href="#" class="comments text-gray-500 hover:text-primary-500">
                                25 Comments
                            </a>
                        </div>
                        <a href="#" class="body-font-3 text-gray-900 hover:text-primary-500">
                            Integer volutpat fringilla ipsum, nec tempor risus facilisis eget.
                        </a>
                    </div>
                </div>
            </li><!-- ./ single post -->
            <li>
                <div class="rt-single-icon-box">
                    <div class="icon-thumb rt-mr-16">
                        <img src="assets/images/all-img/rp-3.png" alt="" >
                    </div>
                    <div class="iconbox-content">
                        <div class="bofy-font-4 entry-meta rt-mb-10">
                            <a href="#" class="date text-gray-500 rt-mr-8 hover:text-primary-500">
                                Nov 12, 2021
                            </a>
                            <span class="text-gray-500 rt-mr-8">
                                <svg width="4" height="4" viewBox="0 0 4 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4 2C4 3.10457 3.10457 4 2 4C0.89543 4 0 3.10457 0 2C0 0.89543 0.89543 0 2 0C3.10457 0 4 0.89543 4 2Z" fill="#767E94"/>
                                </svg>
                            </span>
                            <a href="#" class="comments text-gray-500 hover:text-primary-500">
                                25 Comments
                            </a>
                        </div>
                        <a href="#" class="body-font-3 text-gray-900 hover:text-primary-500">
                            Integer volutpat fringilla ipsum, nec tempor risus facilisis eget.
                        </a>
                    </div>
                </div>
            </li><!-- ./ single post -->
            </ul>
    </div><!-- ./  single widget -->
    <div class="widget gallery">
        <h2 class="widget-title">Gallery</h2>
        <ul class="rt-list">
            <li class="single-gallery">
                <a href="#" class="d-block">
                    <img src="assets/images/all-img/gal-1.png" alt="">
                </a>
            </li>
            <li class="single-gallery">
                <a href="#" class="d-block">
                    <img src="assets/images/all-img/gal-2.png" alt="">
                </a>
            </li>
            <li class="single-gallery">
                <a href="#" class="d-block">
                    <img src="assets/images/all-img/gal-3.png" alt="">
                </a>
            </li>
            <li class="single-gallery">
                <a href="#" class="d-block">
                    <img src="assets/images/all-img/gal-4.png" alt="">
                </a>
            </li>
            <li class="single-gallery">
                <a href="#" class="d-block">
                    <img src="assets/images/all-img/gal-5.png" alt="">
                </a>
            </li>
            <li class="single-gallery">
                <a href="#" class="d-block">
                    <img src="assets/images/all-img/gal-6.png" alt="">
                </a>
            </li>
        </ul>
    </div><!-- ./  single widget -->
    <div class="widget widget_tag_cloud">
        <h2 class="widget-title">Popular Tag</h2>
        <div class="tagcloud">
            <a href="#" class="tag-cloud-link">Design</a>
            <a href="#" class="tag-cloud-link">Programming</a>
            <a href="#" class="tag-cloud-link">Health & Care</a>
            <a href="#" class="tag-cloud-link">Motion Design</a>
            <a href="#" class="tag-cloud-link">Photography</a>
            <a href="#" class="tag-cloud-link">Politics</a>
        </div>
    </div><!-- end single search -->
</div>