<div class="col-xl-4 col-lg-6 mx-auto rt-mb-24">
    <article class="blog-post">
      <div class="rt-post-thumbnail">
          <a href="#"><img src="assets/images/all-img/blog-1.png" alt=""></a>
      </div>
      <header class="entry-header">
        <h4 class="entry-title">
            <a href="#">Donec accumsan volutpat interdum. Nunc tellus enim.</a>
        </h4>
    </header><!-- .end entry header -->
    <div class="entry-content">
        
      Sed sed sollicitudin lacus. Nulla ut risus lacinia, lobortis ipsum vitae, cursus erat. Sed sit amet faucibus ipsum, ut consequat sem.
    </div>
    <div class="entry-footer">
      <a href="#">Read more <i class="ph-arrow-right"></i></a>
    </div><!-- /.entry-footer -->
  </article>
  </div>
  <div class="col-xl-4 col-lg-6 mx-auto rt-mb-24">
    <article class="blog-post">
      <div class="rt-post-thumbnail">
          <a href="#"><img src="assets/images/all-img/blog-1.png" alt=""></a>
      </div>
      <header class="entry-header">
        <h4 class="entry-title">
            <a href="#">Donec accumsan volutpat interdum. Nunc tellus enim.</a>
        </h4>
    </header><!-- .end entry header -->
    <div class="entry-content">
        
      Sed sed sollicitudin lacus. Nulla ut risus lacinia, lobortis ipsum vitae, cursus erat. Sed sit amet faucibus ipsum, ut consequat sem.
     
    </div>
    <div class="entry-footer">
      <a href="#">Read more <i class="ph-arrow-right"></i></a>
    </div><!-- /.entry-footer -->
  </article>
  </div>
  <div class="col-xl-4 col-lg-6 mx-auto rt-mb-24">
    <article class="blog-post">
      <div class="rt-post-thumbnail">
          <a href="#"><img src="assets/images/all-img/blog-1.png" alt=""></a>
      </div>
      <header class="entry-header">
        <h4 class="entry-title">
            <a href="#">Donec accumsan volutpat interdum. Nunc tellus enim.</a>
        </h4>
    </header><!-- .end entry header -->
    <div class="entry-content">
        
      Sed sed sollicitudin lacus. Nulla ut risus lacinia, lobortis ipsum vitae, cursus erat. Sed sit amet faucibus ipsum, ut consequat sem.
      
    </div>
    <div class="entry-footer">
      <a href="#">Read more <i class="ph-arrow-right"></i></a>
    </div><!-- /.entry-footer -->
  </article>
  </div>