<div class="col-lg-4 col-md-6  rt-mb-24">
    <article class="blog-post">
      <div class="rt-post-thumbnail">
          <a href="#"><img src="assets/images/all-img/blog-1.png" alt=""></a>
      </div>
      <header class="entry-header">
        <h4 class="entry-title">
            <a href="#">Donec accumsan volutpat interdum. Nunc tellus enim.</a>
        </h4>
    </header><!-- .end entry header -->
    <div class="entry-content">
        
      Sed sed sollicitudin lacus. Nulla ut risus lacinia, lobortis ipsum vitae, cursus erat. Sed sit amet faucibus ipsum, ut consequat sem.
    </div>
    <div class="entry-footer">
      <a href="#">Read more <i class="ph-arrow-right"></i></a>
    </div><!-- /.entry-footer -->
  </article>
  </div>
  <div class="col-lg-4 col-md-6  rt-mb-24">
    <article class="blog-post">
      <div class="rt-post-thumbnail">
          <a href="#"><img src="assets/images/all-img/blog-2.png" alt=""></a>
      </div>
      <header class="entry-header">
        <h4 class="entry-title">
            <a href="#">Praesent tristique sagittis malesuada. Nulla vulputate pretium</a>
        </h4>
    </header><!-- .end entry header -->
    <div class="entry-content">
        
      Donec purus ante, aliquet vehicula risus nec, consectetur eleifend nisl. Etiam libero eros, sollicitudin eu pharetra et, eleifend in urna. 
     
    </div>
    <div class="entry-footer">
      <a href="#">Read more <i class="ph-arrow-right"></i></a>
    </div><!-- /.entry-footer -->
  </article>
  </div>
  <div class="col-lg-4 col-md-6  rt-mb-24 mx-auto">
    <article class="blog-post">
      <div class="rt-post-thumbnail">
          <a href="#"><img src="assets/images/all-img/blog-4.png" alt=""></a>
      </div>
      <header class="entry-header">
        <h4 class="entry-title">
            <a href="#">Pharetra vel sapien vel, sagittis pulvinar orci. Pellentesque.</a>
        </h4>
    </header><!-- .end entry header -->
    <div class="entry-content">
        
      Nunc vel ipsum justo. Curabitur et eleifend neque. In hac. habitasse platea dictumst. Pellentesque sapien ante, pulvinar eget magna id.
      
    </div>
    <div class="entry-footer">
      <a href="#">Read more <i class="ph-arrow-right"></i></a>
    </div><!-- /.entry-footer -->
  </article>
  </div>