{% extends "layout/layout.html" %}

{% block content %}

{% include "../templates/layout/header-footer/header-normal.html" %}

<!-- 404 area start-->
<section class="rt-error">
  <div class="container">
    <div class="row  align-items-center">
      <div class="rt-spacer-100 rt-spacer-md-50"></div>
      <div class="rt-spacer-50 rt-spacer-md-0"></div>
      <div class="col-xl-6 col-lg-6">
        <div class="rt-error-left">
          <h4 class="rt-mb-24">Opps! Page not found</h4>
          <p class="body-font-2 ft-wt-5 text-gray-500 rt-mb-24 max-width-408">Something went wrong. It's look like the link is broken or the  page is removed.</p>
          <div class="error-button d-flex">        
            <div class="me-3">
              <button type="button" class="btn btn-primary">
                <span class="button-content-wrapper ">
                  <span class="button-icon align-icon-right">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5 12H19" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M12 5L19 12L12 19" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>                            
                    </span>
                  <span class="button-text">
                    Home
                    </span>
                </span>
              </button>
            </div>
            <div><button type="button" class="btn btn-outline-primary">Go Back</button></div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6">
        <div class="rt-error-right">
          <img src="assets/images/banner/error-banner.png" class="img-fluid" alt="error-banner">
        </div>
      </div>
    </div>
  </div>
  <div class="rt-spacer-100 rt-spacer-md-50"></div>
  <div class="rt-spacer-50 rt-spacer-md-0"></div>
</section>


{% include "../templates/layout/header-footer/footer-three.html" %}

{% endblock %}
