{% extends "layout/layout.html" %}

{% block content %}

{% include "../templates/layout/header-footer/header-normal.html" %}

<!-- 404 area start-->
<section class="rt-error">
  <div class="container">
    <div class="row rt-banner-height align-items-center">
      <div class="col-xl-6 col-lg-6">
        <div class="rt-error-left">
          <h4 class="rt-mb-24">Opps! Page not found</h4>
          <p class="body-font-2 ft-wt-5 text-gray-500 rt-mb-24 max-width-408">Something went wrong. It's look like the link is broken or the  page is removed.</p>
          <div class="error-button d-flex">        
            <div class="me-3">
              <button type="button" class="btn btn-primary">
                <div class="button-content-wrapper ">
                  <span class="button-icon align-icon-right">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5 12H19" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M12 5L19 12L12 19" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>                            
                    </span>
                  <span class="button-text">
                    Home
                    </span>
                </div>
              </button>
            </div>
            <div><button type="button" class="btn btn-outline-primary">Button</button></div>
          </div>
        </div>
        <!-- <div class="banner-content">
          <h1 class="text-gray-10 rt-mb-20">
            Find a job that suits your interest &amp; skills.
          </h1>
          <div class="body-font-1 text-gray-400 rt-mb-20">
            Find the Perfect Jobs, Employment &amp; Career Opportunities.
          </div>
          <div class="jobsearchBox d-flex flex-column flex-md-row bg-gray-800 input-transparent">
            <div class="flex-grow-1 fromGroup has-icon">
              <input type="text" placeholder="Job tittle, Keyword...">
              <div class="icon-badge">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M21 21L16.65 16.65" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </div>
            </div>
            <div class="flex-grow-1 fromGroup has-icon">
              <input type="text" placeholder="Job tittle, Keyword...">
              <div class="icon-badge">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M21 10C21 17 12 23 12 23C12 23 3 17 3 10C3 7.61305 3.94821 5.32387 5.63604 3.63604C7.32387 1.94821 9.61305 1 12 1C14.3869 1 16.6761 1.94821 18.364 3.63604C20.0518 5.32387 21 7.61305 21 10Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M12 13C13.6569 13 15 11.6569 15 10C15 8.34315 13.6569 7 12 7C10.3431 7 9 8.34315 9 10C9 11.6569 10.3431 13 12 13Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </div>
            </div>
            <div class="flex-grow-0">
              <button class="btn btn-primary d-block d-md-inline-block ">Find Job</button>
            </div>
          </div>
          <div class="body-font-3 banner-quciks-links rt-pt-20">
            <span class="text-gray-600">Suggestion:   </span>
            <a href="#">Designer</a>,
            <a href="#">Programing</a>,
            <a href="#"> Digital Marketing,</a>
            <a href="#"> Video,</a>
            <a href="#"> Animation.</a>
  
          </div>
        </div> -->
      </div>
      <div class="col-xl-6 col-lg-6">
        <div class="rt-error-right">
          <!-- <img src="/dist/assets/images/banner/error-banner.png" alt="error-banner"> -->
          <img src="assets/images/banner/error-banner.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>
  </div>
</section>


{% include "../templates/layout/header-footer/footer-three.html" %}

{% endblock %}
