{% extends "layout/layout.html" %}


{% block content %}
{% include "../templates/layout/header-footer/header-home3.html" %}

<div class="dashboard-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        {% include "../templates/components/dashboard/company-sidebar.html" %}
      </div>
      <div class="col-lg-9">
        <div class="dashboard-right">
          <div class="row row-margin">
            <div class="col-lg-5">
              <div class="plan-card">
                <h4 class="subtitle">Current Plan</h4>
                <h2 class="title">Premium</h2>
                <p class="short-desc">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere.</p>
                <div class="btn-group">
                  <a href="#" class="btn btn-primary">Change Plans</a>
                  <a href="#" class="btn btn-primary">Cancel Plan</a>
                </div>
              </div>
              <div class="invoice-card">
                <h4 class="subtitle">Next Inovices</h4>
                <h2 class="title">$59.00 USD</h2>
                <div class="invoice-info">
                  <p class="current-date">Nov 28, 2021</p>
                  <p class="started-date">Package started: <span>Jan 28, 2021</span></p>
                  <p class="text">You have to pay this amount of money every month.</p>
                </div>
                <div class="paynow-btn">
                  <a href="#" class="btn btn-primary">Pay Now <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.5 12H19.5" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M12.5 5L19.5 12L12.5 19" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </a>
                </div>
              </div>
            </div>
            <div class="col-lg-7">
              <div class="benefits-card">
                <h4 class="title">Plan Benefits</h4>
                <p class="text">Proin porta enim sit amet placerat finibus. Sed eget laoreet lorem.</p>
                <ul class="benefit-list">
                  <li>
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.5625 6.5625L4.6875 13.4375L1.25 10.0002" stroke="#0A65CC" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M18.7498 6.5625L11.8748 13.4375L10.0488 11.6116" stroke="#0A65CC" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <span>6 Active Jobs</span>
                  </li>
                  <li>
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.5625 6.5625L4.6875 13.4375L1.25 10.0002" stroke="#0A65CC" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M18.7498 6.5625L11.8748 13.4375L10.0488 11.6116" stroke="#0A65CC" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <span>Highlights Job with Colors</span>                    
                </li>
                  <li>
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.5625 6.5625L4.6875 13.4375L1.25 10.0002" stroke="#0A65CC" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M18.7498 6.5625L11.8748 13.4375L10.0488 11.6116" stroke="#0A65CC" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <span>60 Days Resume Visibility</span>
                  </li>
                  <li>
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.5625 6.5625L4.6875 13.4375L1.25 10.0002" stroke="#0A65CC" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M18.7498 6.5625L11.8748 13.4375L10.0488 11.6116" stroke="#0A65CC" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <span>Urgents & Featured Jobs</span>  
                  </li>
                  <li>
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.5625 6.5625L4.6875 13.4375L1.25 10.0002" stroke="#0A65CC" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M18.7498 6.5625L11.8748 13.4375L10.0488 11.6116" stroke="#0A65CC" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <span>Access & Saved 20 Candidates</span>
                  </li>
                  <li>
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.5625 6.5625L4.6875 13.4375L1.25 10.0002" stroke="#0A65CC" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M18.7498 6.5625L11.8748 13.4375L10.0488 11.6116" stroke="#0A65CC" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <span>24/7 Critical Support</span>
                  </li>
                </ul>
                <div class="remaining">
                  <h4 class="title">Remaining</h4>
                  <ul class="remaining-list">
                  <li>
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10 17.5C14.1421 17.5 17.5 14.1421 17.5 10C17.5 5.85786 14.1421 2.5 10 2.5C5.85786 2.5 2.5 5.85786 2.5 10C2.5 14.1421 5.85786 17.5 10 17.5Z" stroke="#E05151" stroke-width="1.5" stroke-miterlimit="10"/>
                    <path d="M12.5 7.5L7.5 12.5" stroke="#E05151" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M12.5 12.5L7.5 7.5" stroke="#E05151" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <span>9 Resume Access</span>
                  </li>
                  <li>
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10 17.5C14.1421 17.5 17.5 14.1421 17.5 10C17.5 5.85786 14.1421 2.5 10 2.5C5.85786 2.5 2.5 5.85786 2.5 10C2.5 14.1421 5.85786 17.5 10 17.5Z" stroke="#E05151" stroke-width="1.5" stroke-miterlimit="10"/>
                    <path d="M12.5 7.5L7.5 12.5" stroke="#E05151" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M12.5 12.5L7.5 7.5" stroke="#E05151" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <span>4 Active Jobs</span>
                  </li>
                  <li>
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10 17.5C14.1421 17.5 17.5 14.1421 17.5 10C17.5 5.85786 14.1421 2.5 10 2.5C5.85786 2.5 2.5 5.85786 2.5 10C2.5 14.1421 5.85786 17.5 10 17.5Z" stroke="#E05151" stroke-width="1.5" stroke-miterlimit="10"/>
                    <path d="M12.5 7.5L7.5 12.5" stroke="#E05151" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M12.5 12.5L7.5 7.5" stroke="#E05151" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <span>21 Days resume visibility</span>
                  </li>
                </ul>
                </div>
              </div>
              <div class="payment-card">
                <div class="title-edit-wrapper">
                  <h2 class="title">Payment Card</h2>
                  <a href="#" class="edit">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.16601 3.33398H3.33268C2.89065 3.33398 2.46673 3.50958 2.15417 3.82214C1.84161 4.1347 1.66602 4.55862 1.66602 5.00065V16.6673C1.66602 17.1093 1.84161 17.5333 2.15417 17.8458C2.46673 18.1584 2.89065 18.334 3.33268 18.334H14.9993C15.4414 18.334 15.8653 18.1584 16.1779 17.8458C16.4904 17.5333 16.666 17.1093 16.666 16.6673V10.834" stroke="#767F8C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M15.416 2.08417C15.7475 1.75265 16.1972 1.56641 16.666 1.56641C17.1349 1.56641 17.5845 1.75265 17.916 2.08417C18.2475 2.41569 18.4338 2.86533 18.4338 3.33417C18.4338 3.80301 18.2475 4.25265 17.916 4.58417L9.99935 12.5008L6.66602 13.3342L7.49935 10.0008L15.416 2.08417Z" stroke="#767F8C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>

                    <span>Edit Card</span>
                  </a>
                </div>
                <div class="payment-card-info">
                  <div class="logo">
                    <img src="assets/images/logo/master-card-logo.png" alt="">
                  </div>
                  <div class="name">
                    <h4 class="title">Name on card</h4>
                    <h2 class="account-owner-name">Esther Howard</h2>
                  </div>
                  <div class="date">
                    <h4 class="title">Expire Date</h4>
                    <h2 class="expire-date">12/29</h2>
                  </div>
                </div>
                <div class="pin-code">
                  <h2>6714 **** **** ****</h2>
                </div>
              </div>
            </div>
          </div>
          <div class="invoices-table ">
            <h2 class="title">Latest Invoices</h2>
            <div class="table-wrapper">
              <table>
              <thead>
                <tr>
                  <th>#ID</th>
                  <th>DATE</th>
                  <th>PLAN</th>
                  <th>AMOUNT</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>#487441</td>
                  <td>Dec 7, 2019 23:26</td>
                  <td>Premium</td>
                  <td>$999 USD</td>
                  <td>
                    <a href="#">
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8.0625 10.3145L12 14.2509L15.9375 10.3145" stroke="#9199A3" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M12 3.75V14.2472" stroke="#9199A3" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M20.25 14.25V19.5C20.25 19.6989 20.171 19.8897 20.0303 20.0303C19.8897 20.171 19.6989 20.25 19.5 20.25H4.5C4.30109 20.25 4.11032 20.171 3.96967 20.0303C3.82902 19.8897 3.75 19.6989 3.75 19.5V14.25" stroke="#9199A3" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>#653518</td>
                  <td>Dec 7, 2019 23:26</td>
                  <td>Premium</td>
                  <td>$999 USD</td>
                  <td>
                    <a href="#">
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8.0625 10.3145L12 14.2509L15.9375 10.3145" stroke="#9199A3" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M12 3.75V14.2472" stroke="#9199A3" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M20.25 14.25V19.5C20.25 19.6989 20.171 19.8897 20.0303 20.0303C19.8897 20.171 19.6989 20.25 19.5 20.25H4.5C4.30109 20.25 4.11032 20.171 3.96967 20.0303C3.82902 19.8897 3.75 19.6989 3.75 19.5V14.25" stroke="#9199A3" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>#267400</td>
                  <td>Dec 7, 2019 23:26</td>
                  <td>Premium</td>
                  <td>$999 USD</td>
                  <td>
                    <a href="#">
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8.0625 10.3145L12 14.2509L15.9375 10.3145" stroke="#9199A3" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M12 3.75V14.2472" stroke="#9199A3" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M20.25 14.25V19.5C20.25 19.6989 20.171 19.8897 20.0303 20.0303C19.8897 20.171 19.6989 20.25 19.5 20.25H4.5C4.30109 20.25 4.11032 20.171 3.96967 20.0303C3.82902 19.8897 3.75 19.6989 3.75 19.5V14.25" stroke="#9199A3" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>#651535</td>
                  <td>Dec 7, 2019 23:26</td>
                  <td>Premium</td>
                  <td>$999 USD</td>
                  <td>
                    <a href="#">
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8.0625 10.3145L12 14.2509L15.9375 10.3145" stroke="#9199A3" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M12 3.75V14.2472" stroke="#9199A3" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M20.25 14.25V19.5C20.25 19.6989 20.171 19.8897 20.0303 20.0303C19.8897 20.171 19.6989 20.25 19.5 20.25H4.5C4.30109 20.25 4.11032 20.171 3.96967 20.0303C3.82902 19.8897 3.75 19.6989 3.75 19.5V14.25" stroke="#9199A3" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>#449003</td>
                  <td>Dec 7, 2019 23:26</td>
                  <td>Premium</td>
                  <td>$999 USD</td>
                  <td>
                    <a href="#">
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8.0625 10.3145L12 14.2509L15.9375 10.3145" stroke="#9199A3" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M12 3.75V14.2472" stroke="#9199A3" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M20.25 14.25V19.5C20.25 19.6989 20.171 19.8897 20.0303 20.0303C19.8897 20.171 19.6989 20.25 19.5 20.25H4.5C4.30109 20.25 4.11032 20.171 3.96967 20.0303C3.82902 19.8897 3.75 19.6989 3.75 19.5V14.25" stroke="#9199A3" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>#558612</td>
                  <td>Dec 7, 2019 23:26</td>
                  <td>Premium</td>
                  <td>$999 USD</td>
                  <td>
                    <a href="#">
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8.0625 10.3145L12 14.2509L15.9375 10.3145" stroke="#9199A3" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M12 3.75V14.2472" stroke="#9199A3" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M20.25 14.25V19.5C20.25 19.6989 20.171 19.8897 20.0303 20.0303C19.8897 20.171 19.6989 20.25 19.5 20.25H4.5C4.30109 20.25 4.11032 20.171 3.96967 20.0303C3.82902 19.8897 3.75 19.6989 3.75 19.5V14.25" stroke="#9199A3" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="rt-pt-12 ">
                {% include "../templates/components/pagination/pagination.html" %}
            </div>
            </div>
            
          </div>
            
        </div>
        
      </div>
    </div>
</div>
{% include "../templates/layout/header-footer/dashboard-footer.html" %}
  
</div>




{% endblock %}