{% extends "layout/layout.html" %}

{% block content %}

{% include "../templates/layout/header-footer/header-company.html" %}


{% set page_title = "Blog" %}
{% set current_page = "Blog" %}
{% include "../templates/components/breadcrumbs/breadcrumbs.html" %}

<div class="blog-content-area rt-pt-50 rt-mb-100 rt-mb-md-20">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 rt-mb-md-30 order-1 order-xl-0">
                {% include "../templates/components/blog/blog-sidebar.html" %}
            </div>
            <div class="col-xl-8 order-0 order-xl-1">
                <article class="blog-list-view rt-single-icon-box blog-post rt-mb-24">
                    <div class="icon-thumb">
                        <div class="post-thmubnail">
                            <img src="assets/images/all-img/blog-post-1.png" alt="" class="rt-rounded-8 w-100">
                        </div>
                    </div>
                    <div class="iconbox-content">
                        <header class="entry-header">
                            <div class="entry-meta">
                                <a class="date" href="#">
                                    <i class="ph-calendar-blank"></i>
                                    Nov 12, 2021
                                </a>
                                <a class="comment" href="#">
                                    <i class="ph-chat-circle-dots"></i>
                                    25 Comments
                                </a>
                            </div>
                            <h4 class="entry-title">
                                <a href="blog-details.html">
                                    Proin sit amet massa eget odio consectetur ultricies.
                                </a>
                            </h4>
                        </header><!-- .end entry header -->
                        <div class="entry-content">
                            Integer imperdiet mauris eget nisi ultrices, quis hendrerit est consequat. Vivamus et volutpat odio. Maecenas porta erat sed massa bibendum pellentesque.
                          </div>
                          <div class="entry-footer">
                            <a href="blog-details.html">Read more <i class="ph-arrow-right"></i></a>
                          </div><!-- /.entry-footer -->
                    </div>
                </article>
                <article class="blog-list-view rt-single-icon-box blog-post rt-mb-24">
                    <div class="icon-thumb">
                        <div class="post-thmubnail">
                            <img src="assets/images/all-img/blog-post-2.png" alt="" class="rt-rounded-8 w-100">
                        </div>
                    </div>
                    <div class="iconbox-content">
                        <header class="entry-header">
                            <div class="entry-meta">
                                <a class="date" href="#">
                                    <i class="ph-calendar-blank"></i>
                                    Nov 12, 2021
                                </a>
                                <a class="comment" href="#">
                                    <i class="ph-chat-circle-dots"></i>
                                    25 Comments
                                </a>
                            </div>
                            <h4 class="entry-title">
                                <a href="blog-details.html">
                                    Proin sit amet massa eget odio consectetur ultricies.
                                </a>
                            </h4>
                        </header><!-- .end entry header -->
                        <div class="entry-content">
                            Integer imperdiet mauris eget nisi ultrices, quis hendrerit est consequat. Vivamus et volutpat odio. Maecenas porta erat sed massa bibendum pellentesque.
                          </div>
                          <div class="entry-footer">
                            <a href="blog-details.html">Read more <i class="ph-arrow-right"></i></a>
                          </div><!-- /.entry-footer -->
                    </div>
                </article>
                <article class="blog-list-view rt-single-icon-box blog-post rt-mb-24">
                    <div class="icon-thumb">
                        <div class="post-thmubnail">
                            <img src="assets/images/all-img/blog-post-3.png" alt="" class="rt-rounded-8 w-100">
                        </div>
                    </div>
                    <div class="iconbox-content">
                        <header class="entry-header">
                            <div class="entry-meta">
                                <a class="date" href="#">
                                    <i class="ph-calendar-blank"></i>
                                    Nov 12, 2021
                                </a>
                                <a class="comment" href="#">
                                    <i class="ph-chat-circle-dots"></i>
                                    25 Comments
                                </a>
                            </div>
                            <h4 class="entry-title">
                                <a href="blog-details.html">
                                    Integer volutpat fringilla ipsum, nec tempor risus facilisis eget.
                                </a>
                            </h4>
                        </header><!-- .end entry header -->
                        <div class="entry-content">
                            Integer imperdiet mauris eget nisi ultrices, quis hendrerit est consequat. Vivamus et volutpat odio. Maecenas porta erat sed massa bibendum pellentesque.
                          </div>
                          <div class="entry-footer">
                            <a href="blog-details.html">Read more <i class="ph-arrow-right"></i></a>
                          </div><!-- /.entry-footer -->
                    </div>
                </article>
                <article class="blog-list-view rt-single-icon-box blog-post rt-mb-24">
                    <div class="icon-thumb">
                        <div class="post-thmubnail">
                            <img src="assets/images/all-img/blog-post-4.png" alt="" class="rt-rounded-8 w-100">
                        </div>
                    </div>
                    <div class="iconbox-content">
                        <header class="entry-header">
                            <div class="entry-meta">
                                <a class="date" href="#">
                                    <i class="ph-calendar-blank"></i>
                                    Nov 12, 2021
                                </a>
                                <a class="comment" href="#">
                                    <i class="ph-chat-circle-dots"></i>
                                    25 Comments
                                </a>
                            </div>
                            <h4 class="entry-title">
                                <a href="blog-details.html">
                                    Praesent hendrerit diam ac metus finibus, id vehicula velit suscipit.
                                </a>
                            </h4>
                        </header><!-- .end entry header -->
                        <div class="entry-content">
                            Integer imperdiet mauris eget nisi ultrices, quis hendrerit est consequat. Vivamus et volutpat odio. Maecenas porta erat sed massa bibendum pellentesque.
                          </div>
                          <div class="entry-footer">
                            <a href="blog-details.html">Read more <i class="ph-arrow-right"></i></a>
                          </div><!-- /.entry-footer -->
                    </div>
                </article>
                <article class="blog-list-view rt-single-icon-box blog-post rt-mb-24">
                    <div class="icon-thumb">
                        <div class="post-thmubnail">
                            <img src="assets/images/all-img/blog-post-1.png" alt="" class="rt-rounded-8 w-100">
                        </div>
                    </div>
                    <div class="iconbox-content">
                        <header class="entry-header">
                            <div class="entry-meta">
                                <a class="date" href="#">
                                    <i class="ph-calendar-blank"></i>
                                    Nov 12, 2021
                                </a>
                                <a class="comment" href="#">
                                    <i class="ph-chat-circle-dots"></i>
                                    25 Comments
                                </a>
                            </div>
                            <h4 class="entry-title">
                                <a href="blog-details.html">
                                    Nullam et est vel eros sodales sollicitudin.
                                </a>
                            </h4>
                        </header><!-- .end entry header -->
                        <div class="entry-content">
                            Integer imperdiet mauris eget nisi ultrices, quis hendrerit est consequat. Vivamus et volutpat odio. Maecenas porta erat sed massa bibendum pellentesque.
                          </div>
                          <div class="entry-footer">
                            <a href="blog-details.html">Read more <i class="ph-arrow-right"></i></a>
                          </div><!-- /.entry-footer -->
                    </div>
                </article>
                <article class="blog-list-view rt-single-icon-box blog-post rt-mb-24">
                    <div class="icon-thumb">
                        <div class="post-thmubnail">
                            <img src="assets/images/all-img/blog-post-2.png" alt="" class="rt-rounded-8 w-100">
                        </div>
                    </div>
                    <div class="iconbox-content">
                        <header class="entry-header">
                            <div class="entry-meta">
                                <a class="date" href="#">
                                    <i class="ph-calendar-blank"></i>
                                    Nov 12, 2021
                                </a>
                                <a class="comment" href="#">
                                    <i class="ph-chat-circle-dots"></i>
                                    25 Comments
                                </a>
                            </div>
                            <h4 class="entry-title">
                                <a href="blog-details.html">
                                    Pellentesque lobortis diam in dictum maximus.
                                </a>
                            </h4>
                        </header><!-- .end entry header -->
                        <div class="entry-content">
                            Integer imperdiet mauris eget nisi ultrices, quis hendrerit est consequat. Vivamus et volutpat odio. Maecenas porta erat sed massa bibendum pellentesque.
                          </div>
                          <div class="entry-footer">
                            <a href="blog-details.html">Read more <i class="ph-arrow-right"></i></a>
                          </div><!-- /.entry-footer -->
                    </div>
                </article>
                <article class="blog-list-view rt-single-icon-box blog-post rt-mb-24">
                    <div class="icon-thumb">
                        <div class="post-thmubnail">
                            <img src="assets/images/all-img/blog-post-3.png" alt="" class="rt-rounded-8 w-100">
                        </div>
                    </div>
                    <div class="iconbox-content">
                        <header class="entry-header">
                            <div class="entry-meta">
                                <a class="date" href="#">
                                    <i class="ph-calendar-blank"></i>
                                    Nov 12, 2021
                                </a>
                                <a class="comment" href="#">
                                    <i class="ph-chat-circle-dots"></i>
                                    25 Comments
                                </a>
                            </div>
                            <h4 class="entry-title">
                                <a href="blog-details.html">
                                    Class aptent taciti sociosqu ad litora torquent per.
                                </a>
                            </h4>
                        </header><!-- .end entry header -->
                        <div class="entry-content">
                            Integer imperdiet mauris eget nisi ultrices, quis hendrerit est consequat. Vivamus et volutpat odio. Maecenas porta erat sed massa bibendum pellentesque.
                          </div>
                          <div class="entry-footer">
                            <a href="blog-details.html">Read more <i class="ph-arrow-right"></i></a>
                          </div><!-- /.entry-footer -->
                    </div>
                </article>
                <article class="blog-list-view rt-single-icon-box blog-post rt-mb-24">
                    <div class="icon-thumb">
                        <div class="post-thmubnail">
                            <img src="assets/images/all-img/blog-post-4.png" alt="" class="rt-rounded-8 w-100">
                        </div>
                    </div>
                    <div class="iconbox-content">
                        <header class="entry-header">
                            <div class="entry-meta">
                                <a class="date" href="#">
                                    <i class="ph-calendar-blank"></i>
                                    Nov 12, 2021
                                </a>
                                <a class="comment" href="#">
                                    <i class="ph-chat-circle-dots"></i>
                                    25 Comments
                                </a>
                            </div>
                            <h4 class="entry-title">
                                <a href="blog-details.html">
                                    Curabitur feugiat urna quis ante aliquet, nec tincidunt sem mollis.
                                </a>
                            </h4>
                        </header><!-- .end entry header -->
                        <div class="entry-content">
                            Integer imperdiet mauris eget nisi ultrices, quis hendrerit est consequat. Vivamus et volutpat odio. Maecenas porta erat sed massa bibendum pellentesque.
                          </div>
                          <div class="entry-footer">
                            <a href="blog-details.html">Read more <i class="ph-arrow-right"></i></a>
                          </div><!-- /.entry-footer -->
                    </div>
                </article>
                <div class="blog-pagination rt-pt-30 rt-mb-30">
                    {% include "../templates/components/pagination/pagination.html" %}
                </div>
            </div>
        </div>
    </div>
</div>


{% include "../templates/layout/header-footer/footer-five.html" %}
{% endblock %}
