{% extends "layout/layout.html" %}


{% block content %}
{% include "../templates/layout/header-footer/header-home1.html" %}

<div class="dashboard-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        {% include "../templates/components/dashboard/candidate-sidebar.html" %}
      </div>
      <div class="col-lg-9">
        <div class="dashboard-right">
          <div class="dashboard-right-header">
            <div class="left-text">
              <h5>Hello, Twitter</h5>
              <p>Here is your daily activities & career opportunities.</p>
            </div>
            <span class="sidebar-open-nav">
              <i class="ph-list"></i>
            </span>
          </div>
          <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-6">
              <div class="single-feature-box">
                  <div class="single-feature-data">
                    <h6>589</h6>
                    <p>Applied jobs</p>
                  </div>
                  <div class="single-feature-icon">
                    <i class="ph-suitcase-simple"></i>
                  </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
              <div class="single-feature-box">
                  <div class="single-feature-data">
                    <h6>238</h6>
                    <p>Favorite jobs</p>
                  </div>
                  <div class="single-feature-icon">
                    <i class="ph-bookmark-simple"></i>
                  </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
              <div class="single-feature-box">
                  <div class="single-feature-data">
                    <h6>574</h6>
                    <p>Job Alerts</p>
                  </div>
                  <div class="single-feature-icon">
                    <i class="ph-bell-ringing"></i>
                  </div>
              </div>
            </div>
          </div>
          <div class="dashboaed-profile-wrap">
            <div class="dashboaed-profile-left">
              <div class="dashboaed-profile-thumb">
                <img src="assets/images/all-img/candidates-md-2.jpg" alt="">
              </div>
              <div class="dashboaed-profile-data">
                <h6>Your profile editing is not completed.</h6>
                <p>Complete your profile editing & build your custom Resume</p>
              </div>
            </div>
            <div class="dashboaed-profile-right">
              <button type="button" class="btn bg-white text-danger-500">
                <div class="button-content-wrapper ">
                  <span class="button-icon align-icon-right">
                    <i class="ph-arrow-right"></i>
                  </span>
                  <span class="button-text">
                    Edit Profile
                  </span>
                </div>
              </button>
            </div>
          </div>
          <div class="recently-applied-wrap d-flex justify-content-between align-items-center">
            <h3 class="f-size-16">Recently Applied</h3>
            <a class="view-all text-gray-500 f-size-16 d-flex align-items-center" href="">View all <i class="ph-arrow-right f-size-20 rt-ml-8"></i></a>
          </div>
          {% include "../templates/components/candidates/db-applied-job2.html" %}
          
        </div>
        
      </div>
    </div>
    
  
</div>
{% include "../templates/layout/header-footer/dashboard-footer.html" %}
  
</div>




{% endblock %}