{% extends "layout/layout.html" %}


{% block content %}
{% include "../templates/layout/header-footer/header-candidates.html" %}

<div class="single-page-banner">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="pgae-bg bgprefix-cover rt-rounded-12" style="background-image: url(assets/images/banner/candidate-big-img.jpg);"></div>
        <div class="card jobcardStyle1   hover:bg-transparent hover-shadow:none body-24 hover:border-transparent">
            <div class="card-body">
              <div class="rt-single-icon-box flex-column flex-lg-row">
                <div class="icon-thumb rt-mb-lg-20">
                  <img src="assets/images/all-img/single-candidate-2.png" alt="" draggable="false">
                </div>
                <div class="iconbox-content">
                  <div class="post-info2">
                    <div class="post-main-title2"> <a href="#">Twitter</a> <span class="badge rounded-pill bg-danger-50 text-danger-500">Featured</span> </div>
                    <div class="body-font-3 text-gray-700 pt-2 ">
                      Information Technology (IT)
                    </div>
                  </div>
                </div>
                <div class="iconbox-extra align-self-start align-self-lg-center rt-pt-lg-20 flex-md-row flex-column">
                  <div class="rt-mb-md-10">
                    <button class="bg-gray-10 text-primary-500 plain-button icon-56 hover:bg-primary-500 hover:text-gray-10">
                      <i class="ph-bookmark-simple"></i>
                    </button>
                  </div>
                  <div class="max-311">
                    <button type="button" class="btn btn-primary btn-lg d-block">
                      <span class="button-content-wrapper ">
                        <span class="button-icon align-icon-right">
                                      <i class="ph-arrow-right"></i>       
                                      </span>
                        <span class="button-text">
                          Open Position
                        </span>
                      </span>
                    </button>
                  </div>
  
                </div>
              </div>
  
            </div>
        </div>
      </div>
    </div>
    </div>
</div>
<!--Single job content Area-->
<div class="single-job-content rt-pt-50">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-xl-7 rt-mb-lg-30">
        <div class="body-font-1 ft-wt-5 rt-mb-20">Job Description</div>
        <div class="body-font-3 text-gray-500">
          Nunc sed dictum massa. Nulla facilisi. Fusce id auctor diam. Aenean eleifend justo ac nisl congue eleifend.
          Curabitur feugiat risus eget ipsum laoreet, nec porta urna efficitur. Interdum et malesuada fames ac ante
          ipsum primis in faucibus. Sed erat felis, elementum ut augue sit amet, pharetra volutpat nisl. Aliquam eget
          justo ut felis elementum dapibus. Maecenas hendrerit eu est nec varius. Aenean interdum elit vitae felis
          commodo, sed interdum mauris facilisis. Aliquam eget tempus augue.
          <br>
          <br>
          Nullam ultrices malesuada vehicula. Mauris congue non nulla sit amet placerat. Vestibulum vitae scelerisque
          ipsum. Fusce auctor, mauris quis pulvinar sodales, arcu urna porta eros, sed tincidunt mi elit a ex. Proin
          efficitur auctor sapien a viverra.
          <br>
          <br>
          Maecenas quis metus porta, blandit nulla eu, feugiat mauris. Nulla quis egestas ipsum. Maecenas gravida sapien
          imperdiet orci malesuada sagittis.
        </div>
        <div class="share-job rt-pt-50">
          <ul class="rt-list gap-8">
            <li class="d-inline-block body-font-3">
              Share this job:
            </li>
            <li class="d-inline-block ms-3">
              <button class="btn btn-outline-plain">
                <span class="f-size-18 text-primary-500"> <svg xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--bx"
                    width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"
                    data-icon="bx:bxl-facebook">
                    <path
                      d="M13.397 20.997v-8.196h2.765l.411-3.209h-3.176V7.548c0-.926.258-1.56 1.587-1.56h1.684V3.127A22.336 22.336 0 0 0 14.201 3c-2.444 0-4.122 1.492-4.122 4.231v2.355H7.332v3.209h2.753v8.202h3.312z"
                      fill="currentColor"></path>
                  </svg></span>
                <span class="text-primary-500">Facebook</span>
              </button>
            </li>
            <li class="d-inline-block">
              <button class="btn btn-outline-plain">
                <span class="f-size-18 text-twitter"> <svg xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--bx"
                    width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"
                    data-icon="bx:bxl-twitter">
                    <path
                      d="M19.633 7.997c.013.175.013.349.013.523c0 5.325-4.053 11.461-11.46 11.461c-2.282 0-4.402-.661-6.186-1.809c.324.037.636.05.973.05a8.07 8.07 0 0 0 5.001-1.721a4.036 4.036 0 0 1-3.767-2.793c.249.037.499.062.761.062c.361 0 .724-.05 1.061-.137a4.027 4.027 0 0 1-3.23-3.953v-.05c.537.299 1.16.486 1.82.511a4.022 4.022 0 0 1-1.796-3.354c0-.748.199-1.434.548-2.032a11.457 11.457 0 0 0 8.306 4.215c-.062-.3-.1-.611-.1-.923a4.026 4.026 0 0 1 4.028-4.028c1.16 0 2.207.486 2.943 1.272a7.957 7.957 0 0 0 2.556-.973a4.02 4.02 0 0 1-1.771 2.22a8.073 8.073 0 0 0 2.319-.624a8.645 8.645 0 0 1-2.019 2.083z"
                      fill="currentColor"></path>
                  </svg></span>
                <span class="text-twitter">Twitter</span>
              </button>
            </li>
            <li class="d-inline-block">
              <button class="btn btn-outline-plain">
                <span class="f-size-18 text-pinterest me-1"> <svg xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--bi"
                    width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 16 16"
                    data-icon="bi:pinterest">
                    <g fill="currentColor">
                      <path
                        d="M8 0a8 8 0 0 0-2.915 15.452c-.07-.633-.134-1.606.027-2.297c.146-.625.938-3.977.938-3.977s-.239-.479-.239-1.187c0-1.113.645-1.943 1.448-1.943c.682 0 1.012.512 1.012 1.127c0 .686-.437 1.712-.663 2.663c-.188.796.4 1.446 1.185 1.446c1.422 0 2.515-1.5 2.515-3.664c0-1.915-1.377-3.254-3.342-3.254c-2.276 0-3.612 1.707-3.612 3.471c0 .688.265 1.425.595 1.826a.24.24 0 0 1 .056.23c-.061.252-.196.796-.222.907c-.035.146-.116.177-.268.107c-1-.465-1.624-1.926-1.624-3.1c0-2.523 1.834-4.84 5.286-4.84c2.775 0 4.932 1.977 4.932 4.62c0 2.757-1.739 4.976-4.151 4.976c-.811 0-1.573-.421-1.834-.919l-.498 1.902c-.181.695-.669 1.566-.995 2.097A8 8 0 1 0 8 0z">
                      </path>
                    </g>
                  </svg></span>
                <span class="text-pinterest">Pinterest</span>
              </button>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-6 col-xl-5">
        <div class="p-32 bg-gray-20 rt-rounded-12 rt-mb-24 max-536">
          <div class="row">
            <div class="col-sm-6 rt-mb-32">
              <div class="single-jSidebarWidget rt-single-icon-box">
                <div class="icon-thumb rt-mr-14">
                  <i class="ph-package f-size-32 text-primary-500"></i>
                </div>
                <div class="iconbox-content">
                  <div class="body-font-4 text-gray-500 rt-mb-6">Founded in:</div>
                  <span class="d-block text-gray-900 body-font-4 ft-wt-5">March 21, 2006</span>
                </div>
              </div>
            </div>
            <div class="col-sm-6 rt-mb-32">
              <div class="single-jSidebarWidget rt-single-icon-box">
                <div class="icon-thumb rt-mr-14">
                  <i class="ph-stack f-size-32 text-primary-500"></i>
                </div>
                <div class="iconbox-content">
                  <div class="body-font-4 text-gray-500 rt-mb-6">Organization type:</div>
                  <span class="d-block text-gray-900 body-font-4 ft-wt-5">Private Company</span>
                </div>
              </div>
            </div>
            <div class="col-sm-6 rt-mb-32">
              <div class="single-jSidebarWidget rt-single-icon-box">
                <div class="icon-thumb rt-mr-14">
                  <i class="ph-buildings f-size-32 text-primary-500"></i>
                </div>
                <div class="iconbox-content">
                  <div class="body-font-4 text-gray-500 rt-mb-6">Company size:</div>
                  <span class="d-block text-gray-900 body-font-4 ft-wt-5">120-300 Employers</span>
                </div>
              </div>
            </div>
            <div class="col-sm-6 rt-mb-32">
              <div class="single-jSidebarWidget rt-single-icon-box">
                <div class="icon-thumb rt-mr-14">
                  <i class="ph-map-pin-line f-size-30 text-primary-500"></i>
                </div>
                <div class="iconbox-content">
                  <div class="body-font-4 text-gray-500  rt-mb-6">Location:</div>
                  <span class="d-block text-gray-900 body-font-4 ft-wt-5">New York, USA</span>
                </div>
              </div>
            </div>
            <div class="col-sm-6 rt-mb-32">
              <div class="single-jSidebarWidget rt-single-icon-box">
                <div class="icon-thumb rt-mr-14">
                  <i class="ph-phone-call f-size-30 text-primary-500"></i>
                </div>
                <div class="iconbox-content">
                  <div class="body-font-4 text-gray-500 rt-mb-6">Phone:</div>
                  <span class="d-block text-gray-900 body-font-4 ft-wt-5">(225) 555-0118</span>
                </div>
              </div>
            </div>
            <div class="col-sm-6 rt-mb-32">
              <div class="single-jSidebarWidget rt-single-icon-box">
                <div class="icon-thumb rt-mr-14">
                  <i class="ph-envelope f-size-30 text-primary-500"></i>
                </div>
                <div class="iconbox-content">
                  <div class="body-font-4 text-gray-500 rt-mb-6">Email:</div>
                  <span class="d-block text-gray-900 body-font-4 ft-wt-5">jobpilot@gmail</span>
                </div>
              </div>
            </div>
          </div>
          <div class="sdeibarmap">
            <div id="mapid"></div>
          </div>
        </div>
        <div class="p-32 bg-gray-20 rt-rounded-12  max-536">
          <div class="row g-0">
            <div class="col-xl-6">
              <div class="body-font-1 text-gray-900 ft-wt-5">
                Social Profile:
              </div>
            </div>
            <div class="col-xxl-6 col-12 rt-pt-lg-10 text-xxl-end text-start">
                <ul class="rt-list gap-8">
                    <li class="d-inline-block">
                        <a href="#" class="icon-44 bg-gray-10 text-primary-500 border-gray-10 border hover:border-primary-500">
                            <span class="iconify" data-icon="bx:bxl-facebook"></span>
                        </a>
                    </li>
                    <li class="d-inline-block">
                        <a href="#" class="icon-44 bg-gray-10 text-primary-500 border-gray-10 border hover:border-primary-500">
                            <span class="iconify" data-icon="bx:bxl-twitter"></span>
                        </a>
                    </li>
                    <li class="d-inline-block">
                        <a href="#" class="icon-44 bg-gray-10  text-primary-500 border-gray-10 border hover:border-primary-500">
                            <span class="iconify" data-icon="bx:bxl-instagram"></span>
                        </a>
                    </li>
                    <li class="d-inline-block">
                        <a href="#" class="icon-44 bg-gray-10  text-primary-500 border-gray-10 border hover:border-primary-500">
                            <span class="iconify" data-icon="bx:bxl-youtube"></span>
                        </a>
                    </li>
                </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="rt-spacer-100 rt-spacer-md-50"></div>
<!--Related candidate Area-->
<hr class="hr-0">
<section class="related-jobs-area rt-pt-100 rt-pt-md-50">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-flex flex-wrap">
          <div class="flex-grow-1">
            <h4 class="mb-0">Related Company</h4>
          </div>
          <div class="flex-gorw-0 d-flex">
            <button class="btn icon-48 plain-button slickprev bg-primary-50 rt-mr-12 slick-arrow" style="display: flex;">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M19 12H5" stroke="#0066FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M12 5L5 12L12 19" stroke="#0066FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </button>
            <button class="btn icon-48 plain-button slicknext bg-primary-50 rt-mr-12 slick-arrow" style="display: flex;">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5 12H19" stroke="#0066FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M12 5L19 12L12 19" stroke="#0066FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="rt-spacer-50 rt-spacer-md-20"></div>
    <div class="row">
      <div class="col-12">
        <div class="newestjob_active slick-bullet deafult_style_dot related-jobs"
          data-slick='{"dots": false, "rows": 2}'>
          {% include "../templates/components/job/related-candidate1.html" %}
        </div>
      </div>
    </div>
  </div>
</section>
<div class="rt-spacer-75 rt-spacer-md-30"></div>
{% include "../templates/layout/header-footer/footer-five.html" %}


{% endblock %}
