{% extends "layout/layout.html" %}


{% block content %}
{% include "../templates/layout/header-footer/auth-header.html" %}

<div class="login-illustration">
    <div class="container">
        <div class="row ">
            <div class="col-xl-6 col-lg-7">
                <div class="auth-box">
                    <form action="#" class="rt-form">
                        <div class="row">
                            <div class="col-xl-8 col-md-12">
                                <h4 class="rt-mb-20">Create account.</h4>
                                <span class="d-block body-font-3 text-gray-600 rt-mb-32">Already have account? <span><a
                                            href="login.html"> Log In.</a></span>
                                </span>
                            </div>
                            <div class="col-xl-4 col-md-12 align-self-center rt-mb-lg-20">
                                <select class="form-select body-font-4 text-gray-700" id="fcfocus"
                                    aria-label="Default select example">
                                    <option selected>Employers</option>
                                    <option value="1">Employers One</option>
                                    <option value="2">Employers Two</option>
                                    <option value="3">Employers Three</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xl-6 col-lg-6">
                                <div class="fromGroup rt-mb-15">
                                    <input type="text" placeholder="Full Name" required>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6">
                                <div class="fromGroup rt-mb-15">
                                    <input type="text" placeholder="Username" required>
                                </div>
                            </div>
                        </div>
                        <div class="fromGroup rt-mb-15">
                            <input type="email" placeholder="Email address" required>
                        </div>
                        <div class="fromGroup rt-mb-15">
                            <input type="password" placeholder="Password" required id="myInput">
                            <div class="has-badge togglepass">
                                <svg width="22" height="22" viewBox="0 0 22 22" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M0.916016 10.9993C0.916016 10.9993 4.58268 3.66602 10.9993 3.66602C17.416 3.66602 21.0827 10.9993 21.0827 10.9993C21.0827 10.9993 17.416 18.3327 10.9993 18.3327C4.58268 18.3327 0.916016 10.9993 0.916016 10.9993Z"
                                        stroke="#191F33" stroke-width="1.3" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path
                                        d="M11 13.75C12.5188 13.75 13.75 12.5188 13.75 11C13.75 9.48122 12.5188 8.25 11 8.25C9.48122 8.25 8.25 9.48122 8.25 11C8.25 12.5188 9.48122 13.75 11 13.75Z"
                                        stroke="#191F33" stroke-width="1.3" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                            </div>
                        </div>
                        <div class="fromGroup rt-mb-15">
                            <input type="password" placeholder="Confirm Password" required id="myInput2">
                            <div class="has-badge togglepass2">
                                <svg width="22" height="22" viewBox="0 0 22 22" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M0.916016 10.9993C0.916016 10.9993 4.58268 3.66602 10.9993 3.66602C17.416 3.66602 21.0827 10.9993 21.0827 10.9993C21.0827 10.9993 17.416 18.3327 10.9993 18.3327C4.58268 18.3327 0.916016 10.9993 0.916016 10.9993Z"
                                        stroke="#191F33" stroke-width="1.3" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path
                                        d="M11 13.75C12.5188 13.75 13.75 12.5188 13.75 11C13.75 9.48122 12.5188 8.25 11 8.25C9.48122 8.25 8.25 9.48122 8.25 11C8.25 12.5188 9.48122 13.75 11 13.75Z"
                                        stroke="#191F33" stroke-width="1.3" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>

                            </div>
                        </div>
                        <div class="rt-mb-30">
                            <div class="form-check from-chekbox-custom align-items-center" >
                                <input class="form-check-input" type="checkbox" value="" id="ck1">
                                <label class="form-check-label pointer text-gray-700 f-size-14" for="ck1">
                                    I've read and agree with your
                                </label>
                                <a href="/terms-condition.html" target="_blank" class="body-font-4 text-primary-500">Terms of Services</a>
                            </div>
                                
                        </div>
                        <button type="submit" class="btn btn-primary d-block rt-mb-15">
                            <span class="button-content-wrapper ">
                                <span class="button-icon align-icon-right">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5 12H19" stroke="white" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                        <path d="M12 5L19 12L12 19" stroke="white" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                </span>
                                <span class="button-text">
                                    Create account
                                </span>
                            </span>
                        </button>
                        <div class="d-flex justify-content-between btn-group flex-column flex-md-row ">
                            <button type="button" class="btn btn-outline-plain d-block me-3 rt-mb-xs-10">
                                <span class="button-content-wrapper ">
                                    <span class="button-icon align-icon-left">
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M4.43242 12.0855L3.73625 14.6845L1.19176 14.7383C0.431328 13.3279 0 11.7141 0 9.9993C0 8.34105 0.403281 6.7773 1.11812 5.40039H1.11867L3.38398 5.8157L4.37633 8.06742C4.16863 8.67293 4.05543 9.32293 4.05543 9.9993C4.05551 10.7334 4.18848 11.4367 4.43242 12.0855Z"
                                                fill="#FBBB00" />
                                            <path
                                                d="M19.8261 8.13281C19.941 8.73773 20.0009 9.36246 20.0009 10.0009C20.0009 10.7169 19.9256 11.4152 19.7822 12.0889C19.2954 14.3812 18.0234 16.3828 16.2613 17.7993L16.2608 17.7987L13.4075 17.6532L13.0037 15.1323C14.1729 14.4466 15.0866 13.3735 15.568 12.0889H10.2207V8.13281H15.646H19.8261Z"
                                                fill="#518EF8" />
                                            <path
                                                d="M16.2595 17.7975L16.2601 17.798C14.5464 19.1755 12.3694 19.9996 9.99965 19.9996C6.19141 19.9996 2.88043 17.8711 1.19141 14.7387L4.43207 12.0859C5.27656 14.3398 7.45074 15.9442 9.99965 15.9442C11.0952 15.9442 12.1216 15.648 13.0024 15.131L16.2595 17.7975Z"
                                                fill="#28B446" />
                                            <path
                                                d="M16.382 2.30219L13.1425 4.95437C12.2309 4.38461 11.1534 4.05547 9.99906 4.05547C7.39246 4.05547 5.17762 5.73348 4.37543 8.06812L1.11773 5.40109H1.11719C2.78148 2.1923 6.13422 0 9.99906 0C12.4254 0 14.6502 0.864297 16.382 2.30219Z"
                                                fill="#F14336" />
                                        </svg>
                                    </span>
                                    <span class="button-text">
                                        Log In with google
                                    </span>
                                </span>

                            </button>
                            <button class="btn btn-outline-plain d-block">
                                <span class="button-content-wrapper ">
                                    <span class="button-icon align-icon-left">
                                        <svg width="21" height="20" viewBox="0 0 21 20" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M12.1666 20H8.20126V10.1414H5.5V6.9316H8.20116V4.64762C8.20116 1.9411 9.39588 0 13.3505 0C14.1869 0 15.5 0.168134 15.5 0.168134V3.14858H14.1208C12.7155 3.14858 12.1668 3.5749 12.1668 4.75352V6.9316H15.4474L15.1553 10.1414H12.1667L12.1666 20Z"
                                                fill="#1877F2" />
                                        </svg>
                                    </span>
                                    <span class="button-text">
                                        Log In with facebook
                                    </span>
                                </span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-xl-6 col-lg-5 d-none d-lg-block">
                <img src="assets/images/banner/log-in-imag.png" alt="">
            </div>
        </div>
    </div>
</div>





{% endblock %}
