{% extends "layout/layout.html" %}


{% block content %}
{% include "../templates/layout/header-footer/dashboard-headr.html" %}

<div class="dashboard-wrapper">
  {% include "../templates/components/dashboard/sidebar.html" %}
  <div class="d-page-content">
    <div class="row">
      <div class="col-12">
        <div class="d-flex flex-wrap">
          <div class="flex-grow-1">
            <h4>Choose your plan</h4>
          </div>
          <div class="flex-gorw-0 custom-switch">
            <div class="form-check form-switch">

              <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
              <span class="form-check-label">Yearly</span>
              <span class="label1">Monthly</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="rt-spacer-30"></div>
    {% include "../templates/components/price/dashboard-price.html" %}

    <div class="rt-spacer-30"></div>


    {% include "../templates/layout/header-footer/dashboard-footer.html" %}
  </div>
</div>


{% endblock %}