{% extends "layout/layout.html" %}


{% block content %}
{% include "../templates/layout/header-footer/header-candidates.html" %}

<div class="dashboard-wrapper">
    <div class="d-sidebar">
        <ul class="sidebar-menu">
            <li>
                <span class="icon"><i class="ph-squares-four"></i></span>
                Overview
            </li>
            <li>
                <span class="icon"><i class="ph-user"></i></span>
                View Profile
            </li>
            <li>
                <span class="icon"><i class="ph-user"></i></span>
                View Profile
            </li>
            <li>
                <span class="icon"><i class="ph-user"></i></span>
                View Profile
            </li>
            <li>
                <span class="icon"><i class="ph-user"></i></span>
                View Profile
            </li>
            <li>
                <span class="icon"><i class="ph-user"></i></span>
                View Profile
            </li>
            <li>
                <span class="icon"><i class="ph-user"></i></span>
                View Profile
            </li>
        </ul>
    </div>
    <div class="d-page-content">
        <h5 class="rt-mb-32">Page Title</h5>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem totam sed recusandae ipsa voluptatum repellendus rerum eum fugiat necessitatibus quae.
    </div>
</div>




{% endblock %}