{% extends "layout/layout.html" %}


{% block content %}
{% include "../templates/layout/header-footer/dashboard-headr.html" %}

<div class="dashboard-wrapper">
    {% include "../templates/components/dashboard/sidebar.html" %}
    <div class="d-page-content">
        <h5 class="rt-mb-32">Settings</h5>
        <div class="body-font-1 ft-wt-5 rt-mb-24">
            Information
        </div>
        <div class="row">
            <div class="col-xl-4 rt-mb-24">
                <div class="rt-single-icon-box browse_logo">
                    <div class="icon-thumb rt-mr-24">
                        <div class="cocmpany-img">
                            <img src="assets/images/all-img/setting-company-image.png" alt="">
                        </div>
                    </div>
                    <div class="iconbox-content">
                        <label for="browselogo" class="btn btn-primary-50 rt-mb-24">
                            <input type="file" class="d-none" id="browselogo">
                            Browse logo
                        </label>
                        <div class="body-font-4 text-gray-600">
                            Logo image up to 500x500. Supported formet jpeg, png & svg.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-7 offset-xxl-1">
                <div class="rt-single-icon-box cover_photo">
                    <div class="icon-thumb rt-mr-24">
                        <div class="cover-img">
                            <img src="assets/images/all-img/cover-photo.png" alt="">
                        </div>
                    </div>
                    <div class="iconbox-content">
                        <label for="browselogo" class="btn btn-primary-50 rt-mb-24">
                            <input type="file" class="d-none" id="browselogo">
                            Browse logo
                        </label>
                        <div class="body-font-4 text-gray-600">
                            Bannar images optical dimension 1520x400. <br> Supported formet jpeg.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form action="#" class="rt-from dashboard-settings-form">
            <div class="row smallgap">
                <div class="col-lg-4 rt-mb-24">
                    <label for="m" class="pointer body-font-4 d-block text-gray-900 rt-mb-8">Company Name</label>
                    <input type="text" placeholder="Company Name" id="m" value="Twitter">
                </div>
                <div class="col-lg-4 rt-mb-24">
                    <label for="mm" class="pointer body-font-4 d-block text-gray-900 rt-mb-8">Username</label>
                    <input type="text" placeholder="Username" id="mm" value="mahedi amin">
                </div>
                <div class="col-lg-4 rt-mb-24">
                    <label class="pointer body-font-4 d-block text-gray-900 rt-mb-8">Organization type</label>
                    <select class="rt-selectactive " style="width: 100%">
                        <option>Select.. </option>
                        <option value="2">Alaska</option>
                        <option value="3">Bahamas</option>
                        <option value="4" selected>Private Company</option>
                        <option value="5">Canada</option>
                        <option value="6">Caribbean</option>
                        <option value="7">Europe</option>
                        <option value="8">Hawaii</option>
                    </select>
                </div>
                <div class="col-lg-4 rt-mb-24">
                    <label for="date" class="pointer body-font-4 d-block text-gray-900 rt-mb-8">Year of
                        Establishment</label>
                    <input type="date" placeholder="Select Date" value="21/03/2006" id="date">

                </div>
                <div class="col-lg-4 rt-mb-24">
                    <label for="url_links" class="pointer body-font-4 d-block text-gray-900 rt-mb-8">Website
                        Links</label>
                    <input type="url" placeholder="Website Links" value="https://twitter.com" id="url_links">

                </div>
                <div class="col-lg-4 rt-mb-24">
                    <label class="pointer body-font-4 d-block text-gray-900 rt-mb-8">Team Size</label>
                    <select class="rt-selectactive " style="width: 100%">
                        <option>Select.. </option>
                        <option value="2">100-200 Employees</option>
                        <option value="3">10-100 Employees</option>
                        <option value="4" selected>120-300 Employees</option>
                        <option value="5">120-300 Employees</option>
                        <option value="6">120-300 Employees</option>
                        <option value="7">120-300 Employees</option>
                        <option value="8">120-300 Employees</option>
                    </select>
                </div>
                <div class="col-lg-4 rt-mb-24">
                    <label class="pointer body-font-4 d-block text-gray-900 rt-mb-8">Industry Type</label>
                    <select class="rt-selectactive " style="width: 100%">
                        <option>Select.. </option>
                        <option value="2">100-200 Employees</option>
                        <option value="3">10-100 Employees</option>
                        <option value="4" selected>Information Technology (IT)</option>
                        <option value="5">120-300 Employees</option>
                        <option value="6">120-300 Employees</option>
                        <option value="7">120-300 Employees</option>
                        <option value="8">120-300 Employees</option>
                    </select>
                </div>
                <div class="col-lg-4 rt-mb-24">
                    <label class="pointer body-font-4 d-block text-gray-900 rt-mb-8" for="msalary">Allow in Search &
                        Listing</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text bg-transparent border border-gray-50" id="basic-addon1">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" checked>
                                <span class="form-check-label">yes</span>
                            </div>
                        </span>
                        <input type="text" class="form-control" placeholder="Your profile is public now" id="msalary">
                    </div>
                </div>


                <div class="col-lg-12 rt-mb-24">
                    <label class="pointer body-font-4 d-block text-gray-900 rt-mb-8" for="date-s">Job
                        Description</label>
                    <textarea id="default">
                        Twitter is an American microblogging and social networking service on which users post and interact with messages known as "tweets". Registered users can post, like, and retweet tweets, but unregistered users can only read them. Users access Twitter through its website interface or its mobile-device application software, though the service could also be accessed via SMS before April 2020. Twitter, Inc. is based in San Francisco, California, and has more than 25 offices around the world..
                    </textarea>
                </div>
                <div>

                    <button type="button" class="btn btn-primary">
                        Save Changes
                    </button>
                </div>
            </div>
        </form>
        <hr class="spacer-style-dashboard">
        <div class="body-font-1 ft-wt-5 rt-mb-24">
            Contact Info
        </div>
        <form action="#" class="rt-from dashboard-settings-form">
            <div class="row smallgap">
                <div class="col-xxl-2 rt-mb-24">
                    <label class="pointer body-font-4 d-block text-gray-900 rt-mb-8">Country</label>
                    <select class="rt-selectactive " style="width: 100%">
                        <option>Select.. </option>
                        <option value="2">Saudi Arabia</option>
                        <option value="3">Afganistan</option>
                        <option value="4" selected>United States</option>
                        <option value="5">Paistan</option>
                        <option value="6">India</option>
                        <option value="7">Europe</option>
                        <option value="8">Hawaii</option>
                    </select>
                </div>
                <div class="col-xxl-2 rt-mb-24">
                    <label class="pointer body-font-4 d-block text-gray-900 rt-mb-8">Town/City</label>
                    <select class="rt-selectactive " style="width: 100%">
                        <option>Select.. </option>
                        <option value="2">Tangail</option>
                        <option value="3">Adabor</option>
                        <option value="4" selected>San Francisco</option>
                        <option value="5">Mohammadpur</option>
                        <option value="6">Dhanmondi </option>
                        <option value="7">Kalabagan</option>
                        <option value="8">New Market</option>
                    </select>
                </div>
                <div class="col-lg-4 rt-mb-24">
                    <label class="pointer body-font-4 d-block text-gray-900 rt-mb-8" for="address">Address</label>
                    <input type="text" placeholder="Address" id="address"
                        value="San Francisco, CA, US (HQ) Market Square, 1355 Market St #900, San Francisco.">
                </div>
                <div class="col-lg-4 rt-mb-24">
                    <label class="pointer body-font-4 d-block text-gray-900 rt-mb-8" for="mapaddress">Map
                        Address</label>
                    <input type="text" placeholder="Map Address" id="mapaddress"
                        value="https://goo.gl/maps/sRijCurQtQ2GEomVA">
                </div>
                <div class="col-lg-4 rt-mb-24">
                    <label class="pointer body-font-4 d-block text-gray-900 rt-mb-8" for="PhoneNumber">Phone
                        Number</label>
                    <input type="text" placeholder="Phone Number" id="PhoneNumber" value="(406) 555-0120">
                </div>
                <div class="col-lg-4 rt-mb-24">
                    <label class="pointer body-font-4 d-block text-gray-900 rt-mb-8" for="email">Email</label>
                    <input type="email" placeholder="Email" id="email" value="twitter@gmail.com">
                </div>
                <div>

                    <button type="button" class="btn btn-primary">
                        Save Changes
                    </button>
                </div>
            </div>
        </form>
        <hr class="spacer-style-dashboard">
        <div class="body-font-1 ft-wt-5 rt-mb-24">
            Social Media
        </div>
        <form action="#" class="rt-from dashboard-settings-form">
            <div class="row smallgap">

                <div class="col-lg-4 rt-mb-24">
                    <label class="pointer body-font-4 d-block text-gray-900 rt-mb-8" for="fb">Facebook</label>
                    <input type="text" placeholder="Facebook" id="fb" value="http://facebook.com/facebook">
                </div>
                <div class="col-lg-4 rt-mb-24">
                    <label class="pointer body-font-4 d-block text-gray-900 rt-mb-8" for="Twitter">Twitter</label>
                    <input type="url" placeholder="Twitter" id="Twitter" value="https://twitter.com/twitter">
                </div>
                <div class="col-lg-4 rt-mb-24">
                    <label class="pointer body-font-4 d-block text-gray-900 rt-mb-8" for="Instagram">Instagram</label>
                    <input type="url" placeholder="Instagram" id="Instagram" value="http://instagram.com/instagram">
                </div>
                <div class="col-lg-4 rt-mb-24">
                    <label class="pointer body-font-4 d-block text-gray-900 rt-mb-8" for="Linkedin">Linkedin</label>
                    <input type="url" placeholder="Linkedin" id="Linkedin" value="http://instagram.com/linkedin">
                </div>
                <div class="col-lg-4 rt-mb-24">
                    <label class="pointer body-font-4 d-block text-gray-900 rt-mb-8" for="Youtube">Youtube</label>
                    <input type="url" placeholder="Youtube" id="Youtube" value="http://instagram.com/youtube">
                </div>
                <div class="col-lg-4 rt-mb-24">
                    <label class="pointer body-font-4 d-block text-gray-900 rt-mb-8" for="Google">Google</label>
                    <input type="url" placeholder="Google" id="Google" value="http://instagram.com/google">
                </div>
                <div>

                    <button type="button" class="btn btn-primary">
                        Save Changes
                    </button>
                </div>
            </div>
        </form>
        {% include "../templates/layout/header-footer/dashboard-footer.html" %}
    </div>


    {% endblock %}