{% extends "layout/layout.html" %}


{% block content %}
{% include "../templates/layout/header-footer/dashboard-headr.html" %}

<div class="dashboard-wrapper">
  {% include "../templates/components/dashboard/sidebar.html" %}
  <div class="d-page-content">
    <h5 class="rt-mb-32">Applications</h5>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem totam sed recusandae ipsa voluptatum
    repellendus rerum eum fugiat necessitatibus quae.

    {% include "../templates/components/employe/dashboard-application.html" %}

    <div class="rt-spacer-50 rt-spacer-md-20"></div>
    <div class="body-font-3 text-gray-900  text-center">
      Yeah! You have Seen all of your application.
      <img src="assets/images/all-img/emoji.png" alt="">
    </div>
    {% include "../templates/layout/header-footer/dashboard-footer.html" %}
  </div>
</div>

{% endblock %}