{% extends "layout/layout.html" %}


{% block content %}
{% include "../templates/layout/header-footer/dashboard-headr.html" %}

<div class="dashboard-wrapper">
    {% include "../templates/components/dashboard/sidebar.html" %}
    <div class="d-page-content">
        <div class="top-feature-content d-flex rt-mb-32">
            <div class="flex-grow-1">
                <div class="left-text">
                    <h5 class="rt-mb-32">Hello, Twitter</h5>
                    <p class="body-font-3 text-gray-400">Here is your daily activities & career opportunities.</p>
                </div>
            </div>
            <div class="flex-grow-0 d-flex w-100">
                <div class="single-feature-box">
                    <div class="rt-single-icon-box rt-rounded-12 icon-reverse bgprefix-cover" style="background-image: url(assets/images/all-img/fbg-1.png);">
                        <div class="icon-thumb">
                            <div class="icon-56 bg-gray-10 f-size-32 text-primary-500">
                                <i class="ph-suitcase-simple"></i>
                            </div>
                        </div>

                        <div class="iconbox-content">
                            <h6 class="text-gray-10">36</h6>
                            <div class="body-font-4 text-gray-10">Job Posted</div>
                        </div>
                    </div>
                </div>
                <div class="single-feature-box">
                    <div class="rt-single-icon-box rt-rounded-12 icon-reverse bgprefix-cover" style="background-image: url(assets/images/all-img/fbg-2.png);">
                        <div class="icon-thumb">
                            <div class="icon-56 bg-gray-10 f-size-32 text-success-500">
                               
                                <i class="ph-chart-line-up"></i>
                            </div>
                        </div>
                        <div class="iconbox-content">
                            <h6 class="text-gray-10">09</h6>
                            <div class="body-font-4 text-gray-10">Pending Job</div>
                        </div>
                    </div>
                </div>
                <div class="single-feature-box">
                    <div class="rt-single-icon-box rt-rounded-12 icon-reverse bgprefix-cover" style="background-image: url(assets/images/all-img/fbg-3.png);">
                        <div class="icon-thumb">
                            <div class="icon-56 bg-gray-10 f-size-32 text-danger-500">
                               
                                <i class="ph-chart-bar"></i>
                            </div>
                        </div>
                        <div class="iconbox-content">
                            <h6 class="text-gray-10">25</h6>
                            <div class="body-font-4 text-gray-10">Expire Jobs</div>
                        </div>
                    </div>
                </div>
                <div class="single-feature-box">
                    <div class="rt-single-icon-box rt-rounded-12 icon-reverse bgprefix-cover" style="background-image: url(assets/images/all-img/fbg-4.png);">
                        <div class="icon-thumb">
                            <div class="icon-56 bg-gray-10 f-size-32 text-warning-500">
                                <i class="ph-star"></i>
                            </div>
                        </div>
                        <div class="iconbox-content">
                            <h6 class="text-gray-10">5.0</h6>
                            <div class="body-font-4 text-gray-10">Star Rating</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 rt-mb-32">
                <div class="border border-gray-50 p-24">
                    <div class="d-flex flex-lg-row flex-column justify-content-lg-between">
                        <span class="body-font-1 ft-wt-5">Recents Applications</span>
                        <span class="body-font-3 ft-wt-5 text-gray-500 d-inline-flex">View all <i class="ph-arrow-right f-size-24 rt-ml-8"></i></span>
                    </div>
                    <ul class="rt-list">
                        <li>
                            
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
        {% include "../templates/layout/header-footer/dashboard-footer.html" %}
    </div>
</div>




{% endblock %}