{% extends "layout/layout.html" %}


{% block content %}
{% include "../templates/layout/header-footer/dashboard-headr.html" %}

<div class="dashboard-wrapper">
  {% include "../templates/components/dashboard/sidebar.html" %}
  <div class="d-page-content">
    <div class="top-feature-content d-flex rt-mb-32">
      <div class="flex-grow-1">
        <div class="left-text">
          <h5 class="rt-mb-32">Hello, Twitter</h5>
          <p class="body-font-3 text-gray-400">Here is your daily activities & career opportunities.</p>
        </div>
      </div>
      <div class="flex-grow-0 d-flex w-100">
        <div class="single-feature-box">
          <div class="rt-single-icon-box rt-rounded-12 icon-reverse bgprefix-cover"
            style="background-image: url(assets/images/all-img/fbg-1.png);">
            <div class="icon-thumb">
              <div class="icon-56 bg-gray-10 f-size-32 text-primary-500">
                <i class="ph-suitcase-simple"></i>
              </div>
            </div>

            <div class="iconbox-content">
              <h6 class="text-gray-10">36</h6>
              <div class="body-font-4 text-gray-10">Job Posted</div>
            </div>
          </div>
        </div>
        <div class="single-feature-box">
          <div class="rt-single-icon-box rt-rounded-12 icon-reverse bgprefix-cover"
            style="background-image: url(assets/images/all-img/fbg-2.png);">
            <div class="icon-thumb">
              <div class="icon-56 bg-gray-10 f-size-32 text-success-500">

                <i class="ph-chart-line-up"></i>
              </div>
            </div>
            <div class="iconbox-content">
              <h6 class="text-gray-10">09</h6>
              <div class="body-font-4 text-gray-10">Pending Job</div>
            </div>
          </div>
        </div>
        <div class="single-feature-box">
          <div class="rt-single-icon-box rt-rounded-12 icon-reverse bgprefix-cover"
            style="background-image: url(assets/images/all-img/fbg-3.png);">
            <div class="icon-thumb">
              <div class="icon-56 bg-gray-10 f-size-32 text-danger-500">

                <i class="ph-chart-bar"></i>
              </div>
            </div>
            <div class="iconbox-content">
              <h6 class="text-gray-10">25</h6>
              <div class="body-font-4 text-gray-10">Expire Jobs</div>
            </div>
          </div>
        </div>
        <div class="single-feature-box">
          <div class="rt-single-icon-box rt-rounded-12 icon-reverse bgprefix-cover"
            style="background-image: url(assets/images/all-img/fbg-4.png);">
            <div class="icon-thumb">
              <div class="icon-56 bg-gray-10 f-size-32 text-warning-500">
                <i class="ph-star"></i>
              </div>
            </div>
            <div class="iconbox-content">
              <h6 class="text-gray-10">5.0</h6>
              <div class="body-font-4 text-gray-10">Star Rating</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 rt-mb-32">
        <div class="border border-gray-50 p-24 rt-rounded-12">
          <div class="d-flex flex-lg-row flex-column justify-content-lg-between rt-mb-24">
            <span class="body-font-1 ft-wt-5">Recents Applications</span>
            <span class="body-font-3 ft-wt-5 text-gray-500 d-inline-flex">View all <i
                class="ph-arrow-right f-size-24 rt-ml-8"></i></span>
          </div>
          <ul class="rt-list candidate_card_lists">
            <li>
              <div
                class="card jobcardStyle1 body-24 bg-gray-20 border-transparent hover:border-primary-500 hover:bg-gray-10">
                <div class="card-body">
                  <div class="rt-single-icon-box">
                    <div class="icon-thumb">
                      <div class="profile-image">
                        <img src="assets/images/all-img/profile-card.png" alt="">
                      </div>
                    </div>
                    <div class="iconbox-content">
                      <div class="body-font-2 rt-mb-6 ft-wt-5"><a href="#"
                          class="text-gray-900 hover:text-primary-500">Clark Gilbert</a></div>
                      <span class="loacton text-gray-400 ">
                        UX Designer
                      </span>
                      <div class="bottom-link rt-pt-30">
                        <a href="#" class="body-font-4 text-primary-500">View Resume
                          <span>
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path d="M5 12H19" stroke="#0066FF" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round" />
                              <path d="M12 5L19 12L12 19" stroke="#0066FF" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round" />
                            </svg>
                          </span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div
                class="card jobcardStyle1 body-24 bg-gray-20 border-transparent hover:border-primary-500 hover:bg-gray-10">
                <div class="card-body">
                  <div class="rt-single-icon-box">
                    <div class="icon-thumb">
                      <div class="profile-image">
                        <img src="assets/images/all-img/profile-card.png" alt="">
                      </div>
                    </div>
                    <div class="iconbox-content">
                      <div class="body-font-2 rt-mb-6 ft-wt-5"><a href="#"
                          class="text-gray-900 hover:text-primary-500">Clark Gilbert</a></div>
                      <span class="loacton text-gray-400 ">
                        UX Designer
                      </span>
                      <div class="bottom-link rt-pt-30">
                        <a href="#" class="body-font-4 text-primary-500">View Resume
                          <span>
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path d="M5 12H19" stroke="#0066FF" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round" />
                              <path d="M12 5L19 12L12 19" stroke="#0066FF" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round" />
                            </svg>
                          </span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div
                class="card jobcardStyle1 body-24 bg-gray-20 border-transparent hover:border-primary-500 hover:bg-gray-10">
                <div class="card-body">
                  <div class="rt-single-icon-box">
                    <div class="icon-thumb">
                      <div class="profile-image">
                        <img src="assets/images/all-img/profile-card.png" alt="">
                      </div>
                    </div>
                    <div class="iconbox-content">
                      <div class="body-font-2 rt-mb-6 ft-wt-5"><a href="#"
                          class="text-gray-900 hover:text-primary-500">Clark Gilbert</a></div>
                      <span class="loacton text-gray-400 ">
                        UX Designer
                      </span>
                      <div class="bottom-link rt-pt-30">
                        <a href="#" class="body-font-4 text-primary-500">View Resume
                          <span>
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path d="M5 12H19" stroke="#0066FF" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round" />
                              <path d="M12 5L19 12L12 19" stroke="#0066FF" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round" />
                            </svg>
                          </span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div
                class="card jobcardStyle1 body-24 bg-gray-20 border-transparent hover:border-primary-500 hover:bg-gray-10">
                <div class="card-body">
                  <div class="rt-single-icon-box">
                    <div class="icon-thumb">
                      <div class="profile-image">
                        <img src="assets/images/all-img/profile-card.png" alt="">
                      </div>
                    </div>
                    <div class="iconbox-content">
                      <div class="body-font-2 rt-mb-6 ft-wt-5"><a href="#"
                          class="text-gray-900 hover:text-primary-500">Clark Gilbert</a></div>
                      <span class="loacton text-gray-400 ">
                        UX Designer
                      </span>
                      <div class="bottom-link rt-pt-30">
                        <a href="#" class="body-font-4 text-primary-500">View Resume
                          <span>
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path d="M5 12H19" stroke="#0066FF" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round" />
                              <path d="M12 5L19 12L12 19" stroke="#0066FF" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round" />
                            </svg>
                          </span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6 rt-mb-32">
        <div class="border border-gray-50 p-24 rt-rounded-12">
          <div class="d-flex flex-lg-row flex-column justify-content-lg-between rt-mb-24">
            <span class="body-font-1 ft-wt-5">Recents Activities</span>
          </div>
          <ul class="rt-list recent-activity">
            <li class="d-block">
              <div class="rt-single-icon-box">
                <div class="icon-thumb rt-mr-16 text-danger-500">
                  <i class="ph-bookmark-simple"></i>
                </div>
                <div class="iconbox-content">
                  <div class="body-font-3 text-gray-700 rt-mb-4">Jim saved your UI/UX Designer</div>
                  <div class="body-font-4 text-gray-400">11:50 AM</div>
                </div>
              </div>
            </li>
            <li class="d-block">
              <div class="rt-single-icon-box">
                <div class="icon-thumb rt-mr-16 text-primary-500">
                  <i class="ph-briefcase"></i>
                </div>
                <div class="iconbox-content">
                  <div class="body-font-3 text-gray-700 rt-mb-4">Kevin apply on Front-end developer</div>
                  <div class="body-font-4 text-gray-400">11:32 AM</div>
                </div>
              </div>
            </li>
            <li class="d-block">
              <div class="rt-single-icon-box">
                <div class="icon-thumb rt-mr-16 text-danger-500">
                  <i class="ph-bookmark-simple"></i>
                </div>
                <div class="iconbox-content">
                  <div class="body-font-3 text-gray-700 rt-mb-4">Kevin saved on Front-end Developer</div>
                  <div class="body-font-4 text-gray-400">110:57 PM</div>
                </div>
              </div>
            </li>
            <li class="d-block">
              <div class="rt-single-icon-box">
                <div class="icon-thumb rt-mr-16 text-primary-500">
                  <i class="ph-briefcase"></i>
                </div>
                <div class="iconbox-content">
                  <div class="body-font-3 text-gray-700 rt-mb-4">Devid apply on Senrio Techical Support Specialist.
                  </div>
                  <div class="body-font-4 text-gray-400">11:50 AM</div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="applyed-job-section">
      <div class="d-flex flex-lg-row flex-column justify-content-lg-between rt-mb-24">
        <span class="body-font-1 ft-wt-5">Aplied Jobs</span>
        <span class="body-font-3 ft-wt-5 text-gray-500 d-inline-flex">View all <i
            class="ph-arrow-right f-size-24 rt-ml-8"></i></span>
      </div>
      <div class="row">
        <div class="col-xxl-3 col-lg-6 rt-mb-24">
          <div class="card jobcardStyle1 body-24">
            <div class="card-body">
              <div class="rt-single-icon-box">
                <div class="icon-thumb">
                  <img src="assets/images/icon/logo-redit-xs.png" alt="" draggable="false">
                </div>
                <div class="iconbox-content">
                  <div class="body-font-2 rt-mb-6"><a href="#" class="text-gray-900 hover:text-primary-500">Reddit</a>
                  </div>
                  <span class="text-gray-400 d-inline-flex body-font-4">
                    <span class="f-size-18 d-inline-flex rt-mr-8"><i class="ph-map-pin"></i></span>
                    United States
                  </span>
                </div>
                <div class="iconbox-extra">
                  <button class="hoverbg-primary-50 text-primary-500 plain-button icon-button bg-primary-50">
                    <i class="ph-bookmark-simple f-size-24"></i>
                  </button>
                </div>
              </div>
              <div class="post-info">
                <div class="post-main-title"> <a href="#" class="text-primary-500">Marketing Officer</a></div>
                <div class="body-font-4 text-gray-600">
                  <span class="info-tools">Full-Time</span>
                  <span class="info-tools has-dot">$30K-$35K</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xxl-3 col-lg-6 rt-mb-24">
          <div class="card jobcardStyle1 body-24">
            <div class="card-body">
              <div class="rt-single-icon-box">
                <div class="icon-thumb">
                  <img src="assets/images/icon/logo-udemy-xs.png" alt="" draggable="false">
                </div>
                <div class="iconbox-content">
                  <div class="body-font-2 rt-mb-6"><a href="#" class="text-gray-900 hover:text-primary-500">Udemy</a>
                  </div>
                  <span class="text-gray-400 d-inline-flex body-font-4">
                    <span class="f-size-18 d-inline-flex rt-mr-8"><i class="ph-map-pin"></i></span>
                    United States
                  </span>
                </div>
                <div class="iconbox-extra">
                  <button class="hoverbg-primary-50 text-primary-500 plain-button icon-button bg-primary-50">
                    <i class="ph-bookmark-simple f-size-24"></i>
                  </button>
                </div>
              </div>
              <div class="post-info">
                <div class="post-main-title"> <a href="#" class="text-primary-500">Marketing Manager</a></div>
                <div class="body-font-4 text-gray-600">
                  <span class="info-tools">Full-Time</span>
                  <span class="info-tools has-dot">$5K-$10K</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xxl-3 col-lg-6 rt-mb-24">
          <div class="card jobcardStyle1 body-24">
            <div class="card-body">
              <div class="rt-single-icon-box">
                <div class="icon-thumb">
                  <img src="assets/images/icon/logo-twitter-xs.png" alt="" draggable="false">
                </div>
                <div class="iconbox-content">
                  <div class="body-font-2 rt-mb-6"><a href="#" class="text-gray-900 hover:text-primary-500">Twitter</a>
                  </div>
                  <span class="text-gray-400 d-inline-flex body-font-4">
                    <span class="f-size-18 d-inline-flex rt-mr-8"><i class="ph-map-pin"></i></span>
                    Canada
                  </span>
                </div>
                <div class="iconbox-extra">
                  <button class="hoverbg-primary-50 text-primary-500 plain-button icon-button bg-primary-50">
                    <i class="ph-bookmark-simple f-size-24"></i>
                  </button>
                </div>
              </div>
              <div class="post-info">
                <div class="post-main-title"> <a href="#" class="text-primary-500">Sunior UX Designer.</a></div>
                <div class="body-font-4 text-gray-600">
                  <span class="info-tools">Full-Time</span>
                  <span class="info-tools has-dot">$50k-80k/month</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xxl-3 col-lg-6 rt-mb-24">
          <div class="card jobcardStyle1 body-24">
            <div class="card-body">
              <div class="rt-single-icon-box">
                <div class="icon-thumb">
                  <img src="assets/images/icon/logo-figma-xs.png" alt="" draggable="false">
                </div>
                <div class="iconbox-content">
                  <div class="body-font-2 rt-mb-6"><a href="#" class="text-gray-900 hover:text-primary-500">Figma</a>
                  </div>
                  <span class="text-gray-400 d-inline-flex body-font-4">
                    <span class="f-size-18 d-inline-flex rt-mr-8"><i class="ph-map-pin"></i></span>
                    Canada
                  </span>
                </div>
                <div class="iconbox-extra">
                  <button class="hoverbg-primary-50 text-primary-500 plain-button icon-button bg-primary-50">
                    <i class="ph-bookmark-simple f-size-24"></i>
                  </button>
                </div>
              </div>
              <div class="post-info">
                <div class="post-main-title"> <a href="#" class="text-primary-500">UI/UX Designer</a></div>
                <div class="body-font-4 text-gray-600">
                  <span class="info-tools">Full-Time</span>
                  <span class="info-tools has-dot">$50k-80k/month</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include "../templates/layout/header-footer/dashboard-footer.html" %}
  </div>
</div>




{% endblock %}