{% extends "layout/layout.html" %}

{% block content %}

{% include "../templates/layout/header-footer/header-normal.html" %}

<!--Faq Starts-->
<div class="container">
    <div class="row">
        <div class="col-12 col-lg-8 mx-auto">
            <div class="rt-faq rt-pt-100">
                <h6 class=" ft-wt-5 text-gray-900 text-capitalize rt-mb-24">Your Account</h6>
                <div class="accordion rt-mb-24 mx-auto" >
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button accordion-pad  body-font-2 text-gray-900" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true"
                                aria-controls="collapseOne">
                                Donec in ipsum sit amet mi tincidunt lacinia ut id risus.
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
                            <div class="accordion-body accordion-pad">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pretium lacus ac ex
                                tempus, sed dictum libero
                                lacinia. Cras velit mauris, venenatis vel posuere at, scelerisque sed eros.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion rt-mb-24" >
                    <div class="accordion-item">
                        <h2 class="accordion-header " id="headingTwo">
                            <button class="accordion-button accordion-pad body-font-2 text-gray-900 collapsed"
                                type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                aria-expanded="false" aria-controls="collapseTwo">
                                Etiam rutrum ligula at dui tempor, eu tempus ligula tristique.
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo">
                            <div class="accordion-body accordion-pad">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pretium lacus ac ex
                                tempus, sed dictum libero
                                lacinia. Cras velit mauris, venenatis vel posuere at, scelerisque sed eros.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion rt-mb-24" >
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button accordion-pad body-font-2 text-gray-900 collapsed"
                                type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                aria-expanded="false" aria-controls="collapseThree">
                                Morbi vitae neque eu sapien aliquet rhoncus.
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree">
                            <div class="accordion-body accordion-pad">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pretium lacus ac ex
                                tempus, sed dictum libero
                                lacinia. Cras velit mauris, venenatis vel posuere at, scelerisque sed eros.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rt-faq rt-pt-100">
                <h6 class=" ft-wt-5 text-gray-900 text-capitalize rt-mb-24">Employers & Jobs</h6>
                <div class="accordion rt-mb-24 mx-auto" >
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFour">
                            <button class="accordion-button accordion-pad body-font-2" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true"
                                aria-controls="collapseFour">
                                Donec in ipsum sit amet mi tincidunt lacinia ut id risus.
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse show" aria-labelledby="headingFour">
                            <div class="accordion-body accordion-pad">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pretium lacus ac ex
                                tempus, sed dictum libero
                                lacinia. Cras velit mauris, venenatis vel posuere at, scelerisque sed eros.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion rt-mb-24" >
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFive">
                            <button class="accordion-button accordion-pad body-font-2 collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false"
                                aria-controls="collapseFive">
                                Etiam rutrum ligula at dui tempor, eu tempus ligula tristique.
                            </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive">
                            <div class="accordion-body accordion-pad">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pretium lacus ac ex
                                tempus, sed dictum libero
                                lacinia. Cras velit mauris, venenatis vel posuere at, scelerisque sed eros.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion rt-mb-24" >
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSix">
                            <button class="accordion-button accordion-pad body-font-2 collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false"
                                aria-controls="collapseSix">
                                Morbi vitae neque eu sapien aliquet rhoncus.
                            </button>
                        </h2>
                        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix">
                            <div class="accordion-body accordion-pad">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pretium lacus ac ex
                                tempus, sed dictum libero
                                lacinia. Cras velit mauris, venenatis vel posuere at, scelerisque sed eros.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rt-faq rt-pt-100 rt-mb-100">
                <h6 class=" ft-wt-5 text-gray-900 text-capitalize rt-mb-24">Candidate & Resume</h6>
                <div class="accordion rt-mb-24 " id="accordionExampleSeven">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSeven">
                            <button class="accordion-button accordion-pad body-font-2" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="true"
                                aria-controls="collapseSeven">
                                Donec in ipsum sit amet mi tincidunt lacinia ut id risus.
                            </button>
                        </h2>
                        <div id="collapseSeven" class="accordion-collapse collapse show" aria-labelledby="headingSeven"
                            data-bs-parent="#accordionExampleSeven">
                            <div class="accordion-body accordion-pad">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pretium lacus ac ex
                                tempus, sed dictum libero
                                lacinia. Cras velit mauris, venenatis vel posuere at, scelerisque sed eros.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion rt-mb-24" id="accordionExampleEight">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingEight">
                            <button class="accordion-button accordion-pad body-font-2 collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false"
                                aria-controls="collapseEight">
                                Etiam rutrum ligula at dui tempor, eu tempus ligula tristique.
                            </button>
                        </h2>
                        <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight"
                            data-bs-parent="#accordionExampleEight">
                            <div class="accordion-body accordion-pad">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pretium lacus ac ex
                                tempus, sed dictum libero
                                lacinia. Cras velit mauris, venenatis vel posuere at, scelerisque sed eros.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion rt-mb-24" id="accordionExampleNine">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingNine">
                            <button class="accordion-button accordion-pad body-font-2 collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false"
                                aria-controls="collapseNine">
                                Morbi vitae neque eu sapien aliquet rhoncus.
                            </button>
                        </h2>
                        <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine"
                            data-bs-parent="#accordionExampleNine">
                            <div class="accordion-body accordion-pad">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pretium lacus ac ex
                                tempus, sed dictum libero
                                lacinia. Cras velit mauris, venenatis vel posuere at, scelerisque sed eros.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Faq End-->

{% include "../templates/layout/header-footer/footer-three.html" %}

{% endblock %}
