{% extends "layout/layout.html" %}

{% block content %}

{% include "../templates/header-footer/header.html" %}


<i class="ph-smiley"></i>
<i class="ph-heart-fill" style="color: hotpink"></i>
<i class="ph-cube-thin"></i>
<h1>
    Sidratul MUnatah
</h1>

Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore iusto recusandae maiores ab minus totam enim. Natus voluptates excepturi necessitatibus repudiandae inventore enim, modi non. Aperiam, eveniet cumque? Asperiores in architecto dolor beatae voluptates, blanditiis dolorum natus ut aliquam. Magni, fugiat. Autem nisi, incidunt, nam, expedita nobis ipsa aperiam ab nostrum ullam distinctio facere quia? Natus minus laborum delectus temporibus similique, sapiente id sint atque, officia cum sunt adipisci. Numquam, distinctio! Laboriosam itaque unde beatae officiis et quis rem. Amet, nemo! Mollitia obcaecati in distinctio beatae quidem, vel officia ab suscipit exercitationem harum quibusdam quis maiores nulla voluptatibus rerum. Fuga!
{% include "../templates/header-footer/footer.html" %}

{% endblock %}