{% extends "layout/layout.html" %}

{% block content %}

{% include "../templates/layout/header-footer/header-normal.html" %}
{% include "../templates/layout/banner/home3-banner.html" %}




<!-- Brands area  Start -->

<div class="brands-area rt-mb-80 rt-mb-md-40">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12">
        <div class="text-center body-font-3 rt-mb-32">
          Trusted by
        </div>
        {% include "../templates/components/brands/brands1.html" %}
      </div>
    </div>
  </div>
</div>

<!-- Working Process  Start -->
<div class="working-process bg-gray-20 ">
  <div class="rt-spacer-100 rt-spacer-md-50"></div>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center text-h4 ft-wt-5">
        <span class="text-primary-500">Jendo</span> working process
      </div>
    </div>
    <div class="rt-spacer-50"></div>
    <div class="row">
      <div class="col-lg-3 col-sm-6 rt-mb-24 position-parent">
        <div class="has-arrow">
          <img src="assets/images/all-img/arrow-1.png" alt="" draggable="false">
        </div>
        <div class="rt-single-icon-box working-progress icon-center">
          <div class="icon-thumb rt-mb-24">
            <div class="icon-72">
              <i class="ph-user-plus"></i>
            </div>
          </div>
          <div class="iconbox-content">
            <div class="body-font-2 rt-mb-12">Create account</div>
            <div class="body-font-4 text-gray-400">Aliquam facilisis egestas sapien, nec tempor leo tristique at.</div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 rt-mb-24 col-sm-6 position-parent">
        <div class="has-arrow middle">
          <img src="assets/images/all-img/arrow-2.png" alt="" draggable="false">
        </div>
        <div class="rt-single-icon-box working-progress icon-center">
          <div class="icon-thumb rt-mb-24">
            <div class="icon-72">
              <i class="ph-cloud-arrow-up"></i>
            </div>
          </div>
          <div class="iconbox-content">
            <div class="body-font-2 rt-mb-12">Upload CV/Resume</div>
            <div class="body-font-4 text-gray-400">Curabitur sit amet maximus ligula. Nam a nulla ante. Nam sodales</div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 rt-mb-24 col-sm-6 position-parent">
        <div class="has-arrow">
          <img src="assets/images/all-img/arrow-1.png" alt="" draggable="false">
        </div>
        <div class="rt-single-icon-box working-progress icon-center">
          <div class="icon-thumb rt-mb-24">
            <div class="icon-72">
              <i class="ph-magnifying-glass-plus"></i>
            </div>
          </div>
          <div class="iconbox-content">
            <div class="body-font-2 rt-mb-12">Find suitable job</div>
            <div class="body-font-4 text-gray-400">Aliquam facilisis egestas sapien, nec tempor leo tristique at.</div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 rt-mb-24 col-sm-6">
        <div class="rt-single-icon-box working-progress icon-center">
          <div class="icon-thumb rt-mb-24">
            <div class="icon-72">
              <i class="ph-circle-wavy-check"></i>
            </div>
          </div>
          <div class="iconbox-content">
            <div class="body-font-2 rt-mb-12">Apply job</div>
            <div class="body-font-4 text-gray-400">Aliquam facilisis egestas sapien, nec tempor leo tristique at.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="rt-spacer-80 rt-spacer-md-30"></div>
</div>

<!-- feature Job Start -->
<section class="featurejob-area rt-pt-100 rt-pt-md-50">
  <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="d-flex flex-wrap">
            <div class="flex-grow-1"> <h4>Featured <span class="text-primary">jobs</span></h4></div>
            <div class="flex-grow-0 rt-pt-md-10">
              <button class="btn btn-outline-primary">
                <span class="button-content-wrapper ">
                  <span class="button-icon align-icon-right">
                    <i class="ph-arrow-right"></i>                     
                  </span>
                  <span class="button-text">
                    View All
                    </span>
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="rt-spacer-40 "></div>
      <div class="row">
        {% include "../templates/components/job/feature-job-grid.html" %}
      </div>
  </div>
</section>

<!-- catagory  Start -->
<section class="catagory-area rt-pt-80 rt-pt-md-40">
  <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="d-flex flex-wrap">
            <div class="flex-grow-1"> <h4>Popular <span class="text-primary">category</span></h4></div>
            <div class="flex-grow-0 rt-pt-md-10">
              <button class="btn btn-outline-primary">
                <span class="button-content-wrapper ">
                  <span class="button-icon align-icon-right">
                    <i class="ph-arrow-right"></i>                     
                  </span>
                  <span class="button-text">
                    View All
                    </span>
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="rt-spacer-40 "></div>
      <div class="row">
        {% include "../templates/components/category/popular-box-cata3.html" %}
      </div>
  </div>
</section>

<section class="about-area rt-pt-80 rt-pt-md-30">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="bg-gray-20 rt-rounded-24 about-box">
          <div class="row align-items-center">
            <div class="col-xl-6  rt-mb-24">
              <div class="position-parent video-btn-center">
                <img src="assets/images/all-img/abt2.png" alt="" class="w-100">
                <div class="overlay-content">
                  <button class="btn btn-video-light">
                    <svg width="15" height="20" viewBox="0 0 15 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0.93426C0 0.534912 0.445073 0.296715 0.77735 0.518233L14.376 9.58397C14.6728 9.78189 14.6728 10.2181 14.376 10.416L0.77735 19.4818C0.445072 19.7033 0 19.4651 0 19.0657V0.93426Z" fill="#0066FF"/>
                    </svg>                            
                </button>
                </div>
              </div>
            </div>
            <div class="col-xl-6 rt-mb-24">
              <div class="abt-inner-conent">
                <h4 class="rt-mb-24"><span class="text-primary-500">Millions</span> of job &
                  career upportunity.</h4>
                  <div class="text-gray-500 body-font-3 rt-mb-24">
                    Donec nec dignissim neque. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum nisi felis, euismod ac leo id, dignissim.
                  </div>
                  <ul class="rt-list rt-mb-32">
                    <li class="rt-mb-10 body-font-3 text-gray-300">
                      <img src="assets/images/icon/ck.png" alt="" draggable="false">
                       In elementum sem in mauris maximus, a dignis.
                    </li>
                    <li class="rt-mb-10 body-font-3 text-gray-300">
                      <img src="assets/images/icon/ck.png" alt="" draggable="false">
                       In elementum sem in mauris maximus, a dignis.
                    </li>
                    <li class="rt-mb-10 body-font-3 text-gray-300">
                      <img src="assets/images/icon/ck.png" alt="" draggable="false">
                       In elementum sem in mauris maximus, a dignis.
                    </li >
                    <li class="rt-mb-10 body-font-3 text-gray-300">
                      <img src="assets/images/icon/ck.png" alt="" draggable="false">
                       In elementum sem in mauris maximus, a dignis.
                    </li>
                  </ul>
                  <button type="button" class="btn btn-primary">
                    <span class="button-content-wrapper ">
                        <span class="button-icon align-icon-right">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5 12H19" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M12 5L19 12L12 19" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>                            
                        </span>
                        <span class="button-text">
                          Register Now
                        </span>
                    </span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Faq Area Start -->

<section class="faq-area rt-pt-100 rt-pt-md-50">
 <div class="container">
   <div class="row">
     <div class="col-12">
       <h4>Frequency asked question <span class="text-primary">(FAQs)</span></h4>
     </div>
   </div>
   <div class="rt-spacer-40"></div>
   <div class="row">
     <div class="col-xl-6 rt-mb-24">
      <div class="accordion rt-mb-24 style-two" >
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button accordion-pad  body-font-2 text-gray-900 collapsed" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false"
                    aria-controls="collapseOne">
                    Donec in ipsum sit amet mi tincidunt lacinia ut id risus.
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne">
                <div class="accordion-body accordion-pad">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pretium lacus ac ex
                    tempus, sed dictum libero
                    lacinia. Cras velit mauris, venenatis vel posuere at, scelerisque sed eros.
                </div>
            </div>
        </div>
    </div>
    <div class="accordion rt-mb-24 mx-auto" >
      <div class="accordion-item">
          <h2 class="accordion-header" id="headingFour">
              <button class="accordion-button accordion-pad body-font-2 collapsed" type="button"
                  data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false"
                  aria-controls="collapseFour">
                  Donec in ipsum sit amet mi tincidunt lacinia ut id risus.
              </button>
          </h2>
          <div id="collapseFour" class="accordion-collapse collapse " aria-labelledby="headingFour">
              <div class="accordion-body accordion-pad">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pretium lacus ac ex
                  tempus, sed dictum libero
                  lacinia. Cras velit mauris, venenatis vel posuere at, scelerisque sed eros.
              </div>
          </div>
      </div>
  </div>
    <div class="accordion rt-mb-24 style-two">
        <div class="accordion-item">
            <h2 class="accordion-header " id="headingTwo">
                <button class="accordion-button accordion-pad body-font-2 text-gray-900 collapsed"
                    type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                    aria-expanded="false" aria-controls="collapseTwo">
                    Etiam rutrum ligula at dui tempor, eu tempus ligula tristique.
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo">
                <div class="accordion-body accordion-pad">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pretium lacus ac ex
                    tempus, sed dictum libero
                    lacinia. Cras velit mauris, venenatis vel posuere at, scelerisque sed eros.
                </div>
            </div>
        </div>
    </div>
    <div class="accordion rt-mb-24 style-two" >
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button accordion-pad body-font-2 text-gray-900 collapsed"
                    type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree"
                    aria-expanded="false" aria-controls="collapseThree">
                    Morbi vitae neque eu sapien aliquet rhoncus.
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree">
                <div class="accordion-body accordion-pad">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pretium lacus ac ex
                    tempus, sed dictum libero
                    lacinia. Cras velit mauris, venenatis vel posuere at, scelerisque sed eros.
                </div>
            </div>
        </div>
    </div>
     </div>
     <div class="col-xl-6 rt-mb-24 rt-pt-md-30">
       <img src="assets/images/all-img/space.png" alt="" draggable="false" class="img-minus-1">
     </div>
   </div>
 </div>
</section>


<section class="cta-area">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="ctafullWidthBox rt-rounded-24 bgprefix-cover" style="background-image: url(assets/images/all-img/bg-cta.png);">
                  <div class="d-flex align-items-start align-items-lg-center flex-lg-row flex-column">
                      <div class="flex-grow-1 text-gray-10">
                          <div class="body-font-2 rt-mb-12">
                              What are you waiting for?
                          </div>
                          <div class="text-gray-10 f-szie-40">Join Jendo today</div>
                      </div>
                      <div class="flex-grow-0 rt-pt-md-20">
                        <button class="btn btn-primary">
                          Log In
                        </button>
                        <button class="btn btn-light">
                          <span class="button-content-wrapper ">
                            <span class="button-icon align-icon-right">
                              <i class="ph-arrow-right"></i>                     
                            </span>
                            <span class="button-text">
                              Register now
                              </span>
                          </span>
                        </button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>


{% include "../templates/layout/header-footer/footer-four.html" %}

{% endblock %}
