{% extends "layout/layout.html" %}

{% block content %}

{% include "../templates/layout/header-footer/homepage1-header.html" %}
{% include "../templates/layout/banner/home1-banner.html" %}


Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem exercitationem aspernatur quos laboriosam recusandae amet accusamus praesentium est nemo maiores. Nam maiores, esse fugit numquam placeat corrupti nemo accusamus aliquam dolorum. Minima explicabo amet optio fuga inventore, non, quaerat consequuntur porro necessitatibus blanditiis quibusdam nulla repellat? Atque delectus, autem error aliquam libero exercitationem, officiis voluptatum ullam nesciunt iusto quaerat accusamus repudiandae cupiditate quidem voluptatibus. Voluptatum, quod inventore magni voluptates earum ratione quia, quas pariatur enim corporis quidem? Corrupti qui cupiditate voluptate provident facere aut fuga? Fuga odio aut, deleniti eveniet consequatur quidem iste quo! Cupiditate earum hic veniam laborum quidem?
{% include "../templates/layout/header-footer/footer-three.html" %}

{% endblock %}
