{% extends "layout/layout.html" %}

{% block content %}

{% include "../templates/layout/header-footer/header-normal.html" %}
{% include "../templates/layout/banner/home2-banner.html" %}

<!-- catagory  Start -->
<section class="catagory-area rt-pt-100 rt-pt-md-50">
  <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="d-flex flex-wrap">
            <div class="flex-grow-1"> <h4>Popular category</h4></div>
            <div class="flex-gorw">
              <button class="btn btn-outline-primary">
                <span class="button-content-wrapper ">
                  <span class="button-icon align-icon-right">
                    <i class="ph-arrow-right"></i>                     
                  </span>
                  <span class="button-text">
                    View All
                    </span>
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="rt-spacer-40 rt-spacer-md-20"></div>
      <div class="row">
        {% include "../templates/components/category/popular-box-cata2.html" %}
      </div>
  </div>
</section>


<!-- Testimonail Start -->
<section class="testimoinals-area  bg-gray-20">
    <div class="rt-spacer-100"></div>
    <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="d-flex flex-wrap align-items-center">
              <div class="flex-grow-1"> <h4>What our customer says!</h4></div>
              <div class="flex-gorw-1">
                <ul class="filter-list">
                    <li data-filter="*" class="active">
                      All 
                    </li>
                    <li data-filter=".cat-1">
                       Design
                    </li>
                    <li data-filter=".cat-2">
                        Design 
                    </li>
                    <li data-filter=".cat-3">
                        Programing
                    </li>
                    <li data-filter=".cat-4 ">
                        Health & Care
                    </li>
                    <li data-filter=".cat-5 ">
                        Music
                    </li>
                  </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="rt-spacer-40 rt-spacer-md-20"></div>
        <div class="row grid">
            {% include "../templates/components/job/filter-feature-job.html" %}
        </div>
    </div>
    <div class="rt-spacer-100"></div>
  </section>


{% include "../templates/layout/header-footer/footer-three.html" %}

{% endblock %}
