{% extends "layout/layout.html" %}


{% block content %}


<div class="container">
    <div class="rt-spacer-50"></div>
    <a href="#" class="mt-34">
        <img src="assets/images/logo/Logo.png" alt="logo">
      </a>
      <div class="rt-spacer-100 rt-spacer-md-50"></div>
      <div class="rt-spacer-100 rt-spacer-md-50"></div>
      <div class="rt-spacer-50 rt-spacer-md-0"></div>

      <div class="row">
        <div class="col-xl-6">
            <div class=“auth-box”>
                <form action=“#” class=“rt-form”>
                    <div class=“row align-items-center”>
                        <div class=“col-6”>
                            <h4 class="rt-mb-20"> Log In</h4>
                            <div>
                                <span class="body-font-3 text-gray-600">Already have account?
                                    <a href="#"> Log In.</a>
                                </span>
                            </div>
                        </div>
        
                        
                    </div>
                </form>
            </div>
        </div>
        <div class="col-xl-6">  
            <img src="assets/images/banner/log-in-imag.png" alt="">
        </div>
      </div>
      
</div>



{% endblock %}