{% extends "layout/layout.html" %}


{% block content %}
{% include "../templates/layout/header-footer/header-home1.html" %}

<div class="dashboard-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        {% include "../templates/components/dashboard/company-sidebar.html" %}
      </div>
      <div class="col-lg-9">
        <div class="dashboard-right">
            <div class="dashboard-right-header rt-mb-32">
                <div class="left-text m-0">
                <h3 class="lh-1 m-0 ft-wt-5 f-size-24">Post a job</h3>
                </div>
                <span class="sidebar-open-nav">
                <i class="ph-list"></i>
                </span>
            </div>
            <div class="post-job-item rt-mb-15">
                <form action="#">
                    <div class="rt-mb-20">
                        <label for="m" class=" body-font-4 d-block text-gray-900 rt-mb-8">Job Tittle</label>
                        <input type="text" placeholder="Add job tittle, role, vacancies etc" id="m">
                    </div>
                    <div class="row">
                        <div class="col-lg-8 rt-mb-20 col-md-6">
                            <label for="m" class="body-font-4 d-block text-gray-900 rt-mb-8">Tags</label>
                            <input type="text" placeholder="Job keyword, tags etc..." id="m">
                        </div>
                        <div class="col-lg-4 rt-mb-20 col-md-6">
                            <label class="body-font-4 d-block text-gray-900 rt-mb-8">Job Role</label>
                            <select class="rt-selectactive " name="from" style="width: 100%" >
                                <option>Select Category </option>
                                <option value="2">Front End Developer</option>
                                <option value="3">Back End Developer</option>
                                <option value="4">Full Stack Developer</option>
                                <option value="5">UI / UX Desinger</option>
                                <option value="6">Digital Marketting</option>
                                <option value="7">Email Marketting</option>
                                <option value="8">Facebook Marketting</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="post-job-item rt-mb-15">
                <h4 class="f-size-18 ft-wt-5 rt-mb-20 lh-1">Salery</h4>
                <form action="#">
                    <div class="row">
                        <div class="rt-mb-20 col-md-4">
                            <label for="m" class="body-font-4 d-block text-gray-900 rt-mb-8">Min Salery</label>
                            <input type="number" placeholder="Minimum salery..." id="m">
                        </div>
                        <div class="rt-mb-20 col-md-4">
                            <label for="m" class="body-font-4 d-block text-gray-900 rt-mb-8">Max Salery</label>
                            <input type="number" placeholder="Maximum salery..." id="m">
                        </div>
                        <div class="col-lg-4 rt-mb-20 col-md-6">
                            <label class="body-font-4 d-block text-gray-900 rt-mb-8">Salery Type</label>
                            <select class="rt-selectactive " name="from" style="width: 100%" >
                                <option>Select Category </option>
                                <option value="2">Front End Developer</option>
                                <option value="3">Back End Developer</option>
                                <option value="4">Full Stack Developer</option>
                                <option value="5">UI / UX Desinger</option>
                                <option value="6">Digital Marketting</option>
                                <option value="7">Email Marketting</option>
                                <option value="8">Facebook Marketting</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="post-job-item rt-mb-15">
                <h4 class="f-size-18 ft-wt-5 rt-mb-20 lh-1">Advance Information</h4>
                <form action="#">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 rt-mb-20">
                            <label class="body-font-4 d-block text-gray-900 rt-mb-8">Education</label>
                            <select class="rt-selectactive " name="from" style="width: 100%" >
                                <option>Select </option>
                                <option value="2">Front End Developer</option>
                                <option value="3">Back End Developer</option>
                                <option value="4">Full Stack Developer</option>
                                <option value="5">UI / UX Desinger</option>
                                <option value="6">Digital Marketting</option>
                                <option value="7">Email Marketting</option>
                                <option value="8">Facebook Marketting</option>
                            </select>
                        </div>
                        <div class="col-lg-4 col-md-6 rt-mb-20">
                            <label class="body-font-4 d-block text-gray-900 rt-mb-8">Experience</label>
                            <select class="rt-selectactive " name="from" style="width: 100%" >
                                <option>Select </option>
                                <option value="2">Front End Developer</option>
                                <option value="3">Back End Developer</option>
                                <option value="4">Full Stack Developer</option>
                                <option value="5">UI / UX Desinger</option>
                                <option value="6">Digital Marketting</option>
                                <option value="7">Email Marketting</option>
                                <option value="8">Facebook Marketting</option>
                            </select>
                        </div>
                        <div class="col-lg-4 col-md-6 rt-mb-20">
                            <label class="body-font-4 d-block text-gray-900 rt-mb-8">Job Type</label>
                            <select class="rt-selectactive " name="from" style="width: 100%" >
                                <option>Select </option>
                                <option value="2">Front End Developer</option>
                                <option value="3">Back End Developer</option>
                                <option value="4">Full Stack Developer</option>
                                <option value="5">UI / UX Desinger</option>
                                <option value="6">Digital Marketting</option>
                                <option value="7">Email Marketting</option>
                                <option value="8">Facebook Marketting</option>
                            </select>
                        </div>
                        <div class="col-lg-4 col-md-6 rt-mb-20">
                            <label class="body-font-4 d-block text-gray-900 rt-mb-8">Vacancies</label>
                            <select class="rt-selectactive " name="from" style="width: 100%" >
                                <option>Select</option>
                                <option value="2">Front End Developer</option>
                                <option value="3">Back End Developer</option>
                                <option value="4">Full Stack Developer</option>
                                <option value="5">UI / UX Desinger</option>
                                <option value="6">Digital Marketting</option>
                                <option value="7">Email Marketting</option>
                                <option value="8">Facebook Marketting</option>
                            </select>
                        </div>
                        <div class="col-lg-4 col-md-6 rt-mb-20">
                            <label class="body-font-4 d-block text-gray-900 rt-mb-8">Expiration Date</label>
                            <div class="fromGroup">
                                <div class="form-control-icon">
                                  <input class="form-control" type="text" id="datepicker" placeholder="dd/mm/yyyy">
                                  <div class="has-badge">
                                    <img src="assets/images/svg/Calendar.svg" alt="">
                                  </div>
                                </div>
                              </div>
                        </div>
                        <div class="col-lg-4 col-md-6 rt-mb-20">
                            <label class="pointer body-font-4 d-block text-gray-900 rt-mb-8">Job Level</label>
                            <select class="rt-selectactive " name="from" style="width: 100%" >
                                <option>Select</option>
                                <option value="2">Front End Developer</option>
                                <option value="3">Back End Developer</option>
                                <option value="4">Full Stack Developer</option>
                                <option value="5">UI / UX Desinger</option>
                                <option value="6">Digital Marketting</option>
                                <option value="7">Email Marketting</option>
                                <option value="8">Facebook Marketting</option>
                            </select>
                        </div>
                        <div class="col-md-6 rt-mb-20">
                            <label class="pointer body-font-4 d-block text-gray-900 rt-mb-8">Apply on</label>
                            <select class="rt-selectactive " name="from" style="width: 100%" >
                                <option>Select</option>
                                <option value="2">Front End Developer</option>
                                <option value="3">Back End Developer</option>
                                <option value="4">Full Stack Developer</option>
                                <option value="5">UI / UX Desinger</option>
                                <option value="6">Digital Marketting</option>
                                <option value="7">Email Marketting</option>
                                <option value="8">Facebook Marketting</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="post-job-item rt-mb-32">
                <h4 class="f-size-18 ft-wt-5 rt-mb-20 lh-1">Description & Responsibility</h4>
                <form action="#">
                    <div class="col-md-12">
                        <label class="body-font-4 d-block text-gray-900 rt-mb-8">Job Description</label>
                        <textarea id="default">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi reprehenderit dolorem enim doloribus, illum qui rem dignissimos explicabo temporibus veritatis!</textarea>
                    </div>
                </form>
            </div>
            <div class="post-job-item rt-mb-15">
                <h4 class="f-size-18 ft-wt-5 rt-mb-20 lh-1">Premium Job Badge</h4>
                <form action="#">
                    <div class="d-flex align-items-center rt-mb-32">
                        <div class="form-check from-radio-custom d-flex align-items-center m-0 rt-mr-24">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label f-size-14 pointer" for="flexRadioDefault1">
                                Featured (on the top)
                            </label>
                        </div>
                        <div class="form-check from-radio-custom d-flex align-items-center m-0">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                        <label class="form-check-label f-size-14 pointer" for="flexRadioDefault2">
                            Highlight
                        </label>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary rt-mr-10">
                        <span class="button-content-wrapper ">
                            <span class="button-icon align-icon-right">
                                <i class="ph-arrow-right"></i>                           
                            </span>
                            <span class="button-text">
                                Post Jobs
                            </span>
                        </span>
                    </button>
                </form>
            </div>
          
        </div>
        
      </div>
    </div>
    
  
</div>
{% include "../templates/layout/header-footer/dashboard-footer.html" %}
  
</div>




{% endblock %}