{% extends "layout/layout.html" %}


{% block content %}
{% include "../templates/layout/header-footer/header-home1.html" %}

<div class="dashboard-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        {% include "../templates/components/dashboard/company-sidebar.html" %}
      </div>
      <div class="col-lg-9">
        <div class="dashboard-right">
            <form action="#" class="rt-from">
                <div class="row smallgap">
                    <div class="col-md-8 rt-mb-24 col-sm-6">
                        <label for="m" class="pointer body-font-4 d-block text-gray-900 rt-mb-8">Job Tittle</label>
                        <input type="text" placeholder="Job Tittle" id="m">
                    </div>
                    <div class="col-md-4 rt-mb-24 col-sm-6">
                        <label  class="pointer body-font-4 d-block text-gray-900 rt-mb-8">Category</label>
                        <select class="rt-selectactive " name="from" style="width: 100%" >
                            <option>Select Category </option>
                            <option value="2">Front End Developer</option>
                            <option value="3">Back End Developer</option>
                            <option value="4">Full Stack Developer</option>
                            <option value="5">UI / UX Desinger</option>
                            <option value="6">Digital Marketting</option>
                            <option value="7">Email Marketting</option>
                            <option value="8">Facebook Marketting</option>
                        </select>
                    </div>
                    <div class="col-md-12 rt-mb-24">
                        <label for="m1" class="pointer body-font-4 d-block text-gray-900 rt-mb-8">Tags</label>
                        <input type="text" placeholder="job tags.." id="m1">
                    </div>
                    <div class="col-md-4 col-sm-6 rt-mb-24">
                        <label  class="pointer body-font-4 d-block text-gray-900 rt-mb-8">Experience</label>
                        <select class="rt-selectactive " name="from2" style="width: 100%" >
                            <option>Select.. </option>
                            <option value="2">One Year</option>
                            <option value="3">Two Year</option>
                            <option value="4">Three Year</option>
                            <option value="5">Four Year</option>
                            <option value="6">Five Year</option>
                            <option value="7">Six Year</option>
                            <option value="8">Seven Year</option>
                        </select>
                    </div>
                    <div class="col-md-4 col-sm-6 rt-mb-24">
                        <label  class="pointer body-font-4 d-block text-gray-900 rt-mb-8">Education</label>
                        <select class="rt-selectactive " name="from3" style="width: 100%" >
                            <option>Select.. </option>
                            <option value="2">Primary </option>
                            <option value="3">Secendary</option>
                            <option value="4">Higher Secendary</option>
                            <option value="5">BBA </option>
                            <option value="6">MBA</option>
                            <option value="7">CSE</option>
                            <option value="8">BSc</option>
                        </select>
                    </div>
    
                    <div class="col-md-4 col-sm-6 rt-mb-24">
                        <label  class="pointer body-font-4 d-block text-gray-900 rt-mb-8">Job Type</label>
                        <select class="rt-selectactive " name="from3" style="width: 100%" >
                            <option>Select.. </option>
                            <option value="2">Front End Developer</option>
                            <option value="3">Back End Developer</option>
                            <option value="4">Full Stack Developer</option>
                            <option value="5">UI / UX Desinger</option>
                            <option value="6">Digital Marketting</option>
                            <option value="7">Email Marketting</option>
                            <option value="8">Facebook Marketting</option>
                        </select>
                    </div>
    
                    <div class="col-md-4 col-sm-6 rt-mb-24">
                        <label  class="pointer body-font-4 d-block text-gray-900 rt-mb-8" for="salary">Min Salery</label>
                       <input type="number" placeholder="Minimum salery..." id="salary">
                    </div>
                    <div class="col-md-4 col-sm-6 rt-mb-24">
                        <label  class="pointer body-font-4 d-block text-gray-900 rt-mb-8" for="msalary">Max Salery</label>
                       <input type="number" placeholder="Max Salery..." id="msalary">
                    </div>
                    <div class="col-md-4 col-sm-6 rt-mb-24">
                        <label  class="pointer body-font-4 d-block text-gray-900 rt-mb-8">Salery Type</label>
                        <select class="rt-selectactive " name="from3" style="width: 100%" >
                            <option>Select..</option>
                            <option value="2">UP TO 30000</option>
                            <option value="3">UP TO 50000</option>
                            <option value="4">UP TO 80000</option>
                        </select>
                    </div>
                    <div class="col-md-4 col-sm-6 rt-mb-24">
                        <label  class="pointer body-font-4 d-block text-gray-900 rt-mb-8">Gender</label>
                        <select class="rt-selectactive " name="from3" style="width: 100%" >
                            <option>Gender</option>
                            <option value="2">Male</option>
                            <option value="3">Female</option>
                            <option value="4">Other's</option>
                        </select>
                    </div>
                    <div class="col-md-6 col-sm-6 rt-mb-24">
                        <label  class="pointer body-font-4 d-block text-gray-900 rt-mb-8" for="date-s">Deadline Date</label>
                       <input type="text" placeholder="DD/MM/YY" id="date-s">
                    </div>
                    <div class="col-md-12 rt-mb-24">
                        <label  class="pointer body-font-4 d-block text-gray-900 rt-mb-8">Job Description</label>
                        <textarea id="default">Hello, World!</textarea>
                    </div>
                    <div>
                        <button type="button" class="btn btn-primary rt-mr-10">
                            <span class="button-content-wrapper ">
                                <span class="button-icon align-icon-right">
                                    <i class="ph-arrow-right"></i>                           
                                </span>
                                <span class="button-text">
                                    Post Jobs
                                </span>
                            </span>
                        </button>
                        <button type="button" class="btn btn-primary-50">
                            Save & Preview
                        </button>
                    </div>
                </div>
            </form>
          
        </div>
        
      </div>
    </div>
    
  
</div>
{% include "../templates/layout/header-footer/dashboard-footer.html" %}
  
</div>




{% endblock %}