{% extends "layout/layout.html" %}

{% block content %}

{% include "../templates/layout/header-footer/header-normal.html" %}


{% set page_title = "Pricing" %}
{% set current_page = "Pricing" %}
{% include "../templates/components/breadcrumbs/breadcrumbs.html" %}

<section class="terms-condation ">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-12">
                <div class="rt-spacer-100 rt-spacer-md-50"></div>
                <h4 class="rt-mb-24">
                    Choose your plan
                </h4>
                <div class="body-font-3 text-gray-500 rt-mb-24 max-474 d-inline-block">
                    Integer id facilisis lorem, eget bibendum velit. Vivamus lectus lectus, elementum et nisl vel.
                </div>
                <div class="custom-switch mx-auto rt-mb-50">
                    <div class="form-check form-switch justify-content-center">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                        <span class="form-check-label">Yearly</span>
                        <span class="label1">Monthly</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            {% include "../templates/components/price/home-1-price.html" %}
        </div>
    </div>
</section>

<div class="container">
    <div class="j-modal text-center w-100">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Launch demo modal
      </button>
      
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog j-modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Checkout</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

              <div class="row">
                  <div class="col-xl-8">
                    <div class="body-title ">
                        Billing type
                    </div>

                    <div class="fromGroup rt-mb-24">
                        <input type="radio" placeholder="Annual" required="" id="myInput">
                        <div class="has-badge" onclick="myFunction()">
                           
                            
                        </div>
                      </div>
                  </div>
                  <div class="col-xl-4">

                  </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
    
    </div>
</div>

{% include "../templates/layout/header-footer/footer-three.html" %}
{% endblock %}
