{% extends "layout/layout.html" %}


{% block content %}
{% include "../templates/layout/header-footer/auth-header-center.html" %}
<div class="row justify-content-center align-items-center full-height">
    <div class="col-lg-4">
        <div class="auth-box2 mx-auto">
                    <form action="#" class="rt-form">
                        <h4 class="rt-mb-20 text-center">Reset Password</h4>
                        <span class="d-block body-font-3 text-center text-gray-600 rt-mb-32">Duis luctus interdum metus, ut consectetur ante consectetur sed. Suspendisse euismod viverra massa sit amet mollis.</span>
                        <div class="fromGroup rt-mb-15">
                                <input id="password-hide_show" type="password" placeholder="Password" required>
                                <div class="has-badge">
                                    <i class="ph-eye"></i>
                                </div>
                            </div>
                            <div class="fromGroup rt-mb-15">
                                <input id="password-hide_show1" type="password" placeholder="Confirm Password" required>
                                <div class="has-badge select-icon__one">
                                    <i class="ph-eye"></i>
                                </div>
                            </div>
                        <button type="submit" class="btn btn-primary d-block rt-mb-15">
                            <span class="button-content-wrapper ">
                                <span class="button-icon align-icon-right">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5 12H19" stroke="white" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                        <path d="M12 5L19 12L12 19" stroke="white" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                </span>
                                <span class="button-text">
                                    Reset Password
                                </span>
                            </span>
                        </button>
                    </form>
                </div>
    </div>
</div>

{% endblock %}