Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime, iste?{% extends "layout/layout.html" %}


{% block content %}
{% include "../templates/layout/header-footer/header-home1.html" %}

<div class="dashboard-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        {% include "../templates/components/dashboard/company-sidebar.html" %}
      </div>
      <div class="col-lg-9">
        <div class="dashboard-right">
          save cadidates
          
        </div>
        
      </div>
    </div>
    
  
</div>
{% include "../templates/layout/header-footer/dashboard-footer.html" %}
  
</div>




{% endblock %}