{% extends "layout/layout.html" %}


{% block content %}
{% include "../templates/layout/header-footer/header-candidates.html" %}

<div class="breadcrumbs breadcrumbs-height">
    <div class="container">
        <div class="row align-items-center breadcrumbs-height">
            <div class="col-12">
                
                <div class="card jobcardStyle1 bg-transparent border-transparent hover:bg-transparent hover-shadow:none">
                    <div class="card-body">
                      <div class="rt-single-icon-box ">
                        <div class="icon-thumb">
                          <img src="assets/images/icon/single-job-logo-1.png" alt="" draggable="false">
                        </div>
                        <div class="iconbox-content">
                          <div class="post-info2">
                            <div class="post-main-title2"> <a href="#">Sunior UX Designer</a> <span class="badge rounded-pill bg-danger-50 text-danger-500">Featured</span> <span class="badge rounded-pill bg-primary-50 text-primary-500">Full Time</span> </div>
                            <div class="body-font-3 text-gray-600 pt-2">
                              <a class="info-tools" href="#">
                               <span> <i class="ph-link text-primary-500"></i>      </span>     
                               <span class="text-gray-600">https://twitter.com</span>
                              </a>
                              <a class="info-tools" href="tel:555-0120">
                                <span><i class="ph-phone text-primary-500"></i></span>           
                                  <span class="text-gray-600">(406) 555-0120</span>
                              </a>
                              <a class="info-tools" href="mailto: twitter@gmail.com">
                                <span><i class="ph-envelope-simple text-primary-500"></i></span>       
                                <span class="text-gray-600">twitter@gmail.com</span>
                              </a>
                            </div>
                          </div>
                        </div>
                        <div class="iconbox-extra align-self-center">
                           <div>
                              <button class="bg-gray-10 text-primary-500 plain-button icon-56 hover:bg-primary-500 hover:text-gray-10">
                                <i class="ph-bookmark-simple"></i>
                              </button>
                           </div>
                            <div class="max-311">
                              <button type="button" class="btn btn-primary btn-lg d-block">
                                  <div class="button-content-wrapper ">
                                    <span class="button-icon align-icon-right">
                                      <i class="ph-arrow-right"></i>       
                                      </span>
                                    <span class="button-text">
                                          Apply Now 
                                      </span>
                                  </div>
                                </button>
                                <span class="d-block rt-pt-10 text-end f-size-14 text-gray-700 ">Job expire in: <span class="text-danger-500">June 30, 2021</span></span>
                            </div>

                        </div>
                      </div>
                  
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>

<div class="single-job-content rt-pt-50">
    <div class="container">
        <div class="row">
            <div class="col-xl-8">
                <div class="body-font-1 ft-wt-5 rt-mb-20">Job Description</div>
                <div class="body-font-3 text-gray-500">
                    Integer aliquet pretium consequat. Donec et sapien id leo accumsan pellentesque eget maximus tellus. Duis et est ac leo rhoncus tincidunt vitae vehicula augue. Donec in suscipit diam. Pellentesque quis justo sit amet arcu commodo sollicitudin. Integer finibus blandit condimentum. Vivamus sit amet ligula ullamcorper, pulvinar ante id, tristique erat. Quisque sit amet aliquam urna. Maecenas blandit felis id massa sodales finibus. Integer bibendum eu nulla eu sollicitudin. Sed lobortis diam tincidunt accumsan faucibus. Quisque blandit augue quis turpis auctor, dapibus euismod ante ultricies. Ut non felis lacinia turpis feugiat euismod at id magna. Sed ut orci arcu. Suspendisse sollicitudin faucibus aliquet.
                     <br>
                     <br>

                    Nam dapibus consectetur erat in euismod. Cras urna augue, mollis venenatis augue sed, porttitor aliquet nibh. Sed tristique dictum elementum. Nulla imperdiet sit amet quam eget lobortis. Etiam in neque sit amet orci interdum tincidunt.
                </div>
                <div class="rt-spacer-50"></div>
                <div class="body-font-1 ft-wt-5 rt-mb-20">Job Description</div>
                <div class="body-font-3 text-gray-500">
                    <ul>
                        <li class="rt-mb-12">
                            Quisque semper gravida est et consectetur.
                        </li>
                        <li  class="rt-mb-12">
                            Curabitur blandit lorem velit, vitae pretium leo placerat eget.
                        </li>
                        <li  class="rt-mb-12">
                            Morbi mattis in ipsum ac tempus.
                        </li>
                        <li  class="rt-mb-12">
                            Curabitur eu vehicula libero. Vestibulum sed purus ullamcorper, lobortis lectus nec.
                        </li>
                        <li  class="rt-mb-12">
                            vulputate turpis. Quisque ante odio, iaculis a porttitor sit amet.
                        </li>
                        <li  class="rt-mb-12">
                            commodo feugiat. Nullam laoreet, diam placerat dapibus tincidunt.
                        </li>
                        <li class="rt-mb-12">
                            odio metus posuere lorem, id condimentum erat velit nec neque.
                        </li>
                        <li>
                            dui sodales ut. Curabitur tempus augue.
                        </li>
                    </ul>
                </div>

                <div class="body-font-1 ft-wt-5 rt-mb-20">Skills & Experience</div>
                <div class="body-font-3 text-gray-500">
                    Donec quis placerat mi, id eleifend magna. Proin vulputate lectus non urna varius congue. Sed eget leo augue. Etiam lacinia ultrices sapien, condimentum commodo elit pretium ac. Aenean et aliquet velit. Sed sapien neque, porttitor sit amet laoreet sit amet, dapibus sit amet ante. Maecenas vitae efficitur ligula, vitae vehicula felis.
                    <br>
                    <br>
                    <ul>
                        <li class="rt-mb-12">
                            Quisque semper gravida est et consectetur.
                        </li>
                        <li  class="rt-mb-12">
                            Curabitur blandit lorem velit, vitae pretium leo placerat eget.
                        </li>
                        <li  class="rt-mb-12">
                            Morbi mattis in ipsum ac tempus.
                        </li>
                        <li  class="rt-mb-12">
                            Curabitur eu vehicula libero. Vestibulum sed purus ullamcorper, lobortis lectus nec.
                        </li>
                        <li  class="rt-mb-12">
                            vulputate turpis. Quisque ante odio, iaculis a porttitor sit amet.
                        </li>
                        <li  class="rt-mb-12">
                            commodo feugiat. Nullam laoreet, diam placerat dapibus tincidunt.
                        </li>
                        <li  class="rt-mb-12">
                            odio metus posuere lorem, id condimentum erat velit nec neque.
                        </li>
                        <li>
                            dui sodales ut. Curabitur tempus augue.
                        </li>
                    </ul>
                </div>


            </div>
            
            <div class="col-xl-4">
                <div class="p-32 bg-gray-20 rt-rounded-12 rt-mb-24">
                    <div class="body-font-1 ft-wt-5 rt-mb-32 ">Job Overview</div>
                    <div class="row">
                        <div class="col-xl-6 rt-mb-32">
                            <div class="single-jSidebarWidget rt-single-icon-box">
                                <div class="icon-thumb rt-mr-17">
                                    <i class="ph-calendar-blank f-size-30 text-primary-500"></i>
                                </div>
                                <div class="iconbox-content">
                                    <div class="body-font-3 ft-wt-5 rt-mb-6">Job Posted:</div>
                                    <span class="d-block text-gray-600 body-font-3">June 15, 2021</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 rt-mb-32">
                            <div class="single-jSidebarWidget rt-single-icon-box">
                                <div class="icon-thumb rt-mr-17">
                                    <i class="ph-timer f-size-30 text-primary-500"></i>
                                </div>
                                <div class="iconbox-content">
                                    <div class="body-font-3 ft-wt-5 rt-mb-6">Job Expire in:</div>
                                    <span class="d-block text-gray-600 body-font-3">Aug 15, 2022</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 rt-mb-32">
                            <div class="single-jSidebarWidget rt-single-icon-box">
                                <div class="icon-thumb rt-mr-17">
                                    <i class="ph-wallet f-size-30 text-primary-500"></i>
                                </div>
                                <div class="iconbox-content">
                                    <div class="body-font-3 ft-wt-5 rt-mb-6">Salery:</div>
                                    <span class="d-block text-gray-600 body-font-3">$50k-80k/month</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 rt-mb-32">
                            <div class="single-jSidebarWidget rt-single-icon-box">
                                <div class="icon-thumb rt-mr-17">
                                    <i class="ph-map-pin-line f-size-30 text-primary-500"></i>
                                </div>
                                <div class="iconbox-content">
                                    <div class="body-font-3 ft-wt-5 rt-mb-6">Location:</div>
                                    <span class="d-block text-gray-600 body-font-3">New York, USA</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 rt-mb-32">
                            <div class="single-jSidebarWidget rt-single-icon-box">
                                <div class="icon-thumb rt-mr-17">
                                    <i class="ph-suitcase-simple f-size-30 text-primary-500"></i>
                                </div>
                                <div class="iconbox-content">
                                    <div class="body-font-3 ft-wt-5 rt-mb-6">Job Type:</div>
                                    <span class="d-block text-gray-600 body-font-3">Full Time</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 rt-mb-32">
                            <div class="single-jSidebarWidget rt-single-icon-box">
                                <div class="icon-thumb rt-mr-17">
                                    <i class="ph-user f-size-30 text-primary-500"></i>
                                </div>
                                <div class="iconbox-content">
                                    <div class="body-font-3 ft-wt-5 rt-mb-6">Gender:</div>
                                    <span class="d-block text-gray-600 body-font-3">Female</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 rt-mb-32">
                            <div class="single-jSidebarWidget rt-single-icon-box">
                                <div class="icon-thumb rt-mr-17">
                                    <i class="ph-graduation-cap f-size-30 text-primary-500"></i>
                                </div>
                                <div class="iconbox-content">
                                    <div class="body-font-3 ft-wt-5 rt-mb-6">Education:</div>
                                    <span class="d-block text-gray-600 body-font-3">Graduation</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 rt-mb-32">
                            <div class="single-jSidebarWidget rt-single-icon-box">
                                <div class="icon-thumb rt-mr-17">
                                    <i class="ph-clipboard-text f-size-30 text-primary-500"></i>
                                </div>
                                <div class="iconbox-content">
                                    <div class="body-font-3 ft-wt-5 rt-mb-6">Experience:</div>
                                    <span class="d-block text-gray-600 body-font-3">10-15 Years</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sdeibarmap">
                        <div id="mapid"></div>
                    </div>
                </div>
                <div class="p-32 bg-gray-20 rt-rounded-12 rt-mb-24">
                    <div class="row g-0">
                        <div class="col-xl-6 rt-mb-32">
                            <div class="rt-single-icon-box">
                                <div class="icon-thumb rt-mr-16">
                                    <img src="assets/images/icon/logo-twitter-xl.png" alt="">
                                </div>
                                <div class="iconbox-content">
                                    <div class="body-font-3 ft-wt-5 rt-mb-6">Twitter</div>
                                    <a class="d-block text-primary-500 body-font-4" href="#">June 15, 2021</a>
                                </div>
                              
                            </div>
                        </div>
                        <div class="col-xl-6 rt-mb-32">
                            <ul class="d-flex rt-list">
                                <li>
                                    <a href="#" class="icon-44 bg-gray-10 hover:bg-primary-500 text-primary-500 hover:text-gray-10">
                                        f
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="rt-spacer-80 rt-spacer-md-40"></div>
{% include "../templates/layout/header-footer/footer-three.html" %}


{% endblock %}