{% extends "layout/layout.html" %}
{% set body_class = "styleguide" %}
{% block content %}


<div class="container pt-50 mb-20">
    <div class="row">
        <div class="col-12">
            <h3>Style Guide</h3>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h4 class="mb-40">Navigation</h4>
        </div>
    </div>
</div>

{% include "../templates/layout/header-footer/header.html" %}

<div class="container">
    <div class="spacer-70"></div>
    <div class="row">
        <div class="col-12">
            <h4 class="mb-40">Buttons</h4>
        </div>
    </div>
</div>

{% include "../templates/components//buttons/buttons.html" %}

{% include "../templates/components/cards/card.html" %}
{% endblock %}
