{% extends "layout/layout.html" %}

{% block content %}

{% include "../templates/layout/header-footer/header-normal.html" %}


{% set page_title = "Terms & Conditions" %}
{% set current_page = "Terms & Conditions" %}
{% include "../templates/components/breadcrumbs/breadcrumbs.html" %}


<section class="terms-condation ">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-8">
                <div class="rt-spacer-50"></div>
                <div class="terms-left">
                <h5 class="text-gray-900 rt-mb-24">01. Terms & Condition</h5>
                <div class="body-font-3 text-gray-500 rt-mb-24">
                    Praesent placerat dictum elementum. Nam pulvinar urna vel lectus maximus, eget faucibus turpis hendrerit. Sed iaculis molestie arcu, et accumsan nisi. Quisque molestie velit vitae ligula luctus bibendum. Duis sit amet eros mollis, viverra ipsum sed, convallis sapien. Donec justo erat, pulvinar vitae dui ut, finibus euismod enim. Donec velit tortor, mollis eu tortor euismod, gravida lacinia arcu.
                </div>
                <span class="info-tools has-dot">In ac turpis mi. Donec quis semper neque. Nulla cursus gravida interdum.</span>
              
            </div>

            </div>
            <div class="col-4">
               
            </div>
        </div>
    </div>
</section>

{% include "../templates/layout/header-footer/footer-three.html" %}
{% endblock %}
