{% extends "layout/layout.html" %}

{% block content %}

{% include "../templates/layout/header-footer/header-normal.html" %}


{% set page_title = "Terms & Conditions" %}
{% set current_page = "Terms & Conditions" %}
{% include "../templates/components/breadcrumbs/breadcrumbs.html" %}

<section class="terms-condition ">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8">
                <div id="terms">
                    <div class="rt-spacer-50"></div>
                    <h5 class="text-gray-900 rt-mb-24">
                        01. Terms & Condition
                    </h5>
                    <div class="body-font-3 text-gray-500 rt-mb-24">
                        Praesent placerat dictum elementum. Nam pulvinar urna vel lectus maximus, eget faucibus turpis
                        hendrerit. Sed iaculis molestie arcu, et accumsan nisi. Quisque molestie velit vitae ligula
                        luctus bibendum. Duis sit amet eros mollis, viverra ipsum sed, convallis sapien. Donec justo
                        erat, pulvinar vitae dui ut, finibus euismod enim. Donec velit tortor, mollis eu tortor euismod,
                        gravida lacinia arcu.
                    </div>
                    <ul>
                        <li class="body-font-3 text-gray-500 rt-mb-12"> <span>
                                In ac turpis mi. Donec quis semper neque. Nulla cursus gravida interdum.
                            </span></li>
                        <li class="body-font-3 text-gray-500 rt-mb-12"> <span>
                                Curabitur luctus sapien augue, mattis faucibus nisl vehicula nec. Mauris at scelerisque
                                lorem. Nullam tempus felis ipsum, sagittis malesuada nulla vulputate et.
                            </span></li>
                        <li class="body-font-3 text-gray-500 rt-mb-12"> <span>
                                Aenean vel metus leo. Vivamus nec neque a libero sodales aliquam a et dolor.
                            </span></li>
                        <li class="body-font-3 text-gray-500 rt-mb-12"> <span>
                                Vestibulum rhoncus sagittis dolor vel finibus.
                            </span></li>
                        <li class="body-font-3 text-gray-500 rt-mb-12"> <span>
                                Integer feugiat lacus ut efficitur mattis. Sed quis molestie velit.
                            </span></li>
                    </ul>
                </div>
                <div id="limitations">
                    <div class="rt-spacer-100 rt-spacer-md-50"></div>
                    <h5 class="text-gray-900 rt-mb-24">
                        02. Limitations
                    </h5>
                    <div class="body-font-3 text-gray-500 rt-mb-24">
                        Praesent placerat dictum elementum. Nam pulvinar urna vel lectus maximus, eget faucibus turpis
                        hendrerit. Sed iaculis molestie arcu, et accumsan nisi. Quisque molestie velit vitae ligula
                        luctus bibendum. Duis sit amet eros mollis, viverra ipsum sed, convallis sapien. Donec justo
                        erat, pulvinar vitae dui ut, finibus euismod enim. Donec velit tortor, mollis eu tortor euismod,
                        gravida lacinia arcu.
                    </div>
                    <ul>
                        <li class="body-font-3 text-gray-500 rt-mb-12"> <span>
                                In ac turpis mi. Donec quis semper neque. Nulla cursus gravida interdum.
                            </span></li>
                        <li class="body-font-3 text-gray-500 rt-mb-12"> <span>
                                Curabitur luctus sapien augue.
                            </span></li>
                        <li class="body-font-3 text-gray-500 rt-mb-12"> <span>
                                mattis faucibus nisl vehicula nec, Mauris at scelerisque lorem.
                            </span></li>
                        <li class="body-font-3 text-gray-500 rt-mb-12"> <span>
                                Nullam tempus felis ipsum, sagittis malesuada nulla vulputate et. Aenean vel metus leo.
                            </span></li>
                        <li class="body-font-3 text-gray-500 rt-mb-12"> <span>
                                Vivamus nec neque a libero sodales aliquam a et dolor.
                            </span></li>
                    </ul>
                </div>
                <div id="security">
                    <div class="rt-spacer-100 rt-spacer-md-50"></div>
                    <h5 class="text-gray-900 rt-mb-24">
                        03. Security
                    </h5>
                    <div class="body-font-3 text-gray-500 rt-mb-24">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ex neque, elementum eu
                        blandit in, ornare eu purus. Fusce eu rhoncus mi, quis ultrices lacus. Phasellus id pellentesque
                        nulla. Cras erat nisi, mattis et efficitur et, iaculis a lacus. Fusce gravida augue quis leo
                        facilisis.
                    </div>
                </div>
                <div id="policy">
                    <div class="rt-spacer-100 rt-spacer-md-50"></div>
                    <h5 class="text-gray-900 rt-mb-24">
                        04. Privacy Policy
                    </h5>
                    <div class="body-font-3 text-gray-500 rt-mb-24">
                        Praesent non sem facilisis, hendrerit nisi vitae, volutpat quam. Aliquam metus mauris, semper eu
                        eros vitae, blandit tristique metus. Vestibulum maximus nec justo sed maximus. Vivamus sit amet
                        turpis sem. Integer vitae tortor ac ex scelerisque facilisis ac vitae urna. In hac habitasse
                        platea dictumst. Maecenas imperdiet tortor arcu, nec tincidunt neque malesuada volutpat.
                    </div>
                    <ul>
                        <li class="body-font-3 text-gray-500 rt-mb-12"> <span>
                                In ac turpis mi. Donec quis semper neque. Nulla cursus gravida interdum.
                            </span></li>
                        <li class="body-font-3 text-gray-500 rt-mb-12"> <span>
                                Mauris at scelerisque lorem. Nullam tempus felis ipsum, sagittis malesuada nulla
                                vulputate et.
                            </span></li>
                        <li class="body-font-3 text-gray-500 rt-mb-12"> <span>
                                Aenean vel metus leo.
                            </span></li>
                        <li class="body-font-3 text-gray-500 rt-mb-12"> <span>
                                Vestibulum rhoncus sagittis dolor vel finibus.
                            </span></li>
                        <li class="body-font-3 text-gray-500 rt-mb-24"> <span>
                                Integer feugiat lacus ut efficitur mattis. Sed quis molestie velit.
                            </span></li>
                    </ul>
                    <div class="body-font-3 text-gray-500">
                        Fusce rutrum mauris sit amet justo rutrum, ut sodales lorem ullamcorper. Aliquam vitae iaculis
                        urna. Nulla vitae mi vel nisl viverra ullamcorper vel elementum est. Mauris vitae elit nec enim
                        tincidunt aliquet. Donec ultrices nulla a enim pulvinar, quis pulvinar lacus consectetur. Donec
                        dignissim, risus nec mollis efficitur, turpis erat blandit urna, eget elementum lacus lectus
                        eget lorem.
                    </div>
                    <div class="rt-spacer-100 rt-spacer-md-50"></div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 text-center mx-auto">
                <div class="terms-table">
                    <div class="rt-spacer-50"></div>
                    <div class="f-size-13 text-gray-400 rt-mb-12 text-uppercase d-flex justify-content-start">
                        <span>
                            Table of Contents
                        </span>
                    </div>
                    <div class="mb-2 d-inline-block text-start d-flex justify-content-start">
                        <span>
                            <a href="#terms" class="text-gray-700">01. Terms & Condition</a>
                        </span>
                    </div>
                    <div class="mb-2 d-inline-block text-start d-flex justify-content-start ">
                        <span>
                            <a href="#limitations" class="text-gray-700">02. Limitations</a>
                        </span>
                    </div>
                    <div class="mb-2 d-inline-block text-start d-flex justify-content-start ">
                        <span>
                            <a href="#security" class="text-gray-700">03. Security</a>
                        </span>
                    </div>
                    <div class="mb-2 d-inline-block text-start d-flex justify-content-start ">
                        <span>
                            <a href="#policy" class="text-gray-700">04. Privacy Policy</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include "../templates/layout/header-footer/footer-five.html" %}
{% endblock %}
