{% extends "layout/layout.html" %}

{% block content %}

{% include "../templates/layout/header-footer/header-normal.html" %}


{% set page_title = "Terms & Conditions" %}
{% set current_page = "Terms & Conditions" %}
{% include "../templates/components/breadcrumbs/breadcrumbs.html" %}


<section class="terms-condation rt-pt-100 rt-mb-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                eta koren
            </div>
        </div>
    </div>
</section>

{% include "../templates/layout/header-footer/footer-three.html" %}
{% endblock %}
