.rt-mega-menu{
    position: absolute;
    top: 115%;
    left: 0%;
    background: var(--submenu_bg);
    z-index: 999;
    text-align: left;
    border-radius: var(--submenu_border_radius);
    width: 60%;
    margin: auto;
    right: 0;
    transition: all 0.42s ease-in-out;
    padding: $submenu_padding;
    box-shadow: $sub_menu_box_shdow;
    @include breakpoint(xl){
        width: 75%
    }
    @include breakpoint(lg) {
        width: 80%
    }
    @include breakpoint(md) {
        width: 100%;
    }
    .rt-container, .container {
        max-width: 100%;
    }
    .row  {
        width: 100%;
    }
    h4  {
        font-size: 18px;
        font-weight: 500;
        margin: 0 0 30px;
        padding-left: 17px;
        text-transform: capitalize;
        @include breakpoint(md) {
            margin: 15px 0 15px;
            font-size: 16px;
        }
    }
    a {
        display: block ;
        font-size: 15px !important;
        margin: 0 0 5px;
        img {
            display: block;
            margin: 0 auto;
            @include breakpoint(md) {
                margin-top: 15px;
            }
        }
        &:hover {
            color: var(--primary_color);
        }
        span {
            text-transform: capitalize;
            display: block;
            text-align: center;
            margin: 10px 0 0;
        }
    }
    @include hidden()
    // &:before
    //     content: ""
    //     position: absolute
    //     top: 2px
    //     left: 45px
    //     box-sizing: border-box
    //     border: 7px solid #495057
    //     border-color: transparent transparent #ffffff #ffffff
    //     transform-origin: 0 0
    //     transform: rotate(135deg)
    //     box-shadow: -2px 2px 2px -1px rgba(60, 72, 88, 0.15)
    //     @include breakpoint(md)
    //         display: none 
}
        
.offcanvas-menu {
    .rt-mega-menu {
        display: none;
        width: 100% !important;
        transition: none;
        position: static;
        background: var(--mobile_menu_sub_menu_bg_color);
        box-shadow: none;
        margin-left: 0px;
        @include vis();
        padding-top: 0px;
        padding-bottom: 0px;
        &:before {
            display: none;
        }
        h4 {
            margin: 20px 0 10px;
            padding-left: 0px;
        }

        a  {
            color: #000;
            &:hover {
                color: var(--primary_color);
            }
            span {
                margin-bottom: 10px;
            }
        }
    }
}
                


    