.main-menu ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-right: -23px;
    @include breakpoint(xl){
        margin-right: -18px;
    }
    @include breakpoint(lg){
        margin-right: -13px;
    }
    li {
        display: inline-block;
        position: relative;
        &.has-megamenu {
            position: static;
        }
        a {
            color: var(--menu_item_color);
            display: block;
            font-size: var(--menu_font_size);
            font-family: var(--menu_font_family);
            @include rt-trs(.3s);
            padding: 0 23px;
            @include breakpoint(xl){
                padding: 0 14px;
            }
            @include breakpoint(lg){
                padding: 0 13px;
            }
            &:hover{
                text-decoration: none;
            }
        }
    }
    
}

.main-menu a:foucs {
    outline: none;
    text-decoration: none;
}

.main-menu>ul>li.current-menu-item>a {
    color: var(--menu_item_active_color);
}


/*change hover color*/
.main-menu>ul>li>a{
    line-height: 111px;
    @include breakpoint(md){
        line-height: 1.9;
    }
}

.main-menu>ul>li:hover>a {
    color: var(--menu_item_hover_color);
}


/*li dot hover change*/


/*men item carve icon*/

.main-menu>ul>li.menu-item-has-children>a:after {
    content: "\ea99";
    margin-left: 10px;
    font-family: "icofont";
    font-size: 14px;
    @include breakpoint(md) {
        margin-left: 0;
        position: absolute;
        right: 15px;
    }
}

// .main-menu>ul>li.menu-item-has-children:hover>a:after {
//     color: var(--menu_item_hover_color);
// }

.main-menu>ul>li.menu-item-has-children.open>a:after {
    content: '\eab9';
}


/*sub menu*/

.main-menu>ul>li.menu-item-has-children>ul.sub-menu {
    position: absolute;
    left: 0;
    top: 110%;
    background: var(--submenu_bg);
    z-index: 999;
    color: #fff;
    text-align: left;
    border-radius: var(--submenu_border_radius);
    min-width: 200px;
    transition: all 0.42s ease-in-out;
    padding: $submenu_padding;
    box-shadow: $sub_menu_box_shdow;
    @include hidden();
    &:before {
        content: "";
        position: absolute;
        top: 2px;
        left: 45px;
        box-sizing: border-box;
        border: 7px solid #495057;
        border-color: transparent transparent #ffffff #ffffff;
        transform-origin: 0 0;
        transform: rotate(135deg);
        box-shadow: -2px 2px 2px -1px rgba(60, 72, 88, 0.15);
        @include breakpoint(md) {
            display: none
        }
    }
}

.main-menu>ul>li.menu-item-has-children:hover>ul.sub-menu {
    @include vis();
    top: 100%;
}

.main-menu>ul>li.menu-item-has-children:hover>.rt-mega-menu {
    @include vis();
    top: 100%;
}

.main-menu>ul>li.menu-item-has-children>ul.sub-menu>li,
.main-menu ul ul li {
    display: block;
}

.main-menu>ul>li.menu-item-has-children>ul.sub-menu>li>a,
.main-menu ul ul li a {
    display: block;
    padding: $submenu_padding_item;
    border-bottom: $submenu_item_border_color;
    text-transform: capitalize;
    color: var(--submenu_item_color);
    font-weight: $submenu_font_weight;
    @include afterparent();
    font-size: $submenu_font-Size;
}

.main-menu>ul>li.menu-item-has-children>ul.sub-menu>li:last-child>a,
.main-menu ul ul li:last-child>a {
    border-bottom: 1px solid transparent !important;
}

.main-menu>ul>li.menu-item-has-children>ul.sub-menu>li:hover>a,
.main-menu ul ul>li:hover>a {
    padding-left: $submenu_hover_item_padding_left;
    color: $submenu_item_hover_color;
    background: $submenu_hover_bg;
}


/*// drop menu cart*/

.main-menu ul ul li.menu-item-has-children>a:after {
    content: "\eab8";
    position: absolute;
    font-family: "icofont";
    right: 10px;
    @include breakpoint(md) {
        content: '\eab2';
        right: 15px;
    }
}

.main-menu ul ul li.menu-item-has-children.open>a:after {
    content: "\eab9";
}

.main-menu ul ul {
    position: absolute;
    left: 230px;
    top: 0px;
    background: var(--submenu_bg);
    border: $submenu_border;
    border-radius: var(--submenu_border_radius);
    z-index: 999;
    text-align: left;
    min-width: 200px;
    transition: all 0.42s ease-in-out;
    padding: $submenu_padding;
    box-shadow: $sub_menu_box_shdow;
    @include hidden();
    &:before {
        content: "";
        position: absolute;
        top: 14px;
        left: 2px;
        box-sizing: border-box;
        border: 7px solid #495057;
        border-color: transparent transparent #ffffff #ffffff;
        transform-origin: 0 0;
        transform: rotate(44deg);
        box-shadow: -2px 2px 2px -1px rgba(60, 72, 88, 0.15);
        @include breakpoint(md) {
            display: none;
        }
    }
}

.main-menu>ul>li.menu-item-has-children>ul.sub-menu>li.menu-item-has-children:hover>ul.sub-menu,
.main-menu>ul>li.menu-item-has-children>ul.sub-menu>li.menu-item-has-children>ul.sub-menu>li.menu-item-has-children:hover>ul.sub-menu {
    left: 215px;
    @include vis();
}

.mobile-menu {
    display: none
}

.menu-click {
    margin-left: 15px;
    cursor: pointer;
    i {
        font-size: 23px;
        color: var(--mobile_menu_icon_color);
    }
}

.menu-icon {
    cursor: pointer;
    margin-left: 15px;
    position: relative;
    height: 21px;
    span {
        display: block;
        background: #000;
        height: 1px;
        width: 20px;
        margin-bottom: 5px;
        transition: all 0.24s ease-in-out;
        &:first-child {
            margin-top: 10px;
        }
        &:last-child {
            margin-bottom: 0px;
        }
        &:nth-child(2) {
            width: 15px;
        }
        &:nth-child(3) {
            width: 20px;
        }
    }
}

.mblnav-close {
    position: absolute;
    right: 30px;
    top: 30px;
    @include hw(35px);
    border-radius: 50%;
    text-align: center;
    background: var(--secondary_color);
    cursor: pointer;
    color: #fff;
}

.mobile-menu {
    display: none;
}

.rt-mobile-menu-overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
    @include hidden();
    @include rt-trs(0.24s);
    &.active {
        z-index: 7;
        @include vis();
    }
}

.rt-mobile-menu-close {
    display: none;
    @extend .mblnav-close;
    @include hw(30px);
    right: 10px;
    font-size: 12px;
    @include breakpoint(md) {
        display: block;
    }
}

//experintam mobile menu
// white menu css 
@media (min-width: 992px) {
    .white-menu {
        .main-menu>ul>li>a,
        .main-menu>ul>li.current-menu-item>a {
            color: #fff;
        }
        .main-menu>ul>li:hover>a {
            color: #758170 !important;
        }
    }
}