.rt-cart-box {
    position: fixed;
    right: 0;
    top: 0;
    background-color: #fff;
    width: 385px;
    z-index: 999;
    height: 100%;
    padding: 40px;
    box-shadow: 0px 24px 35px 0px rgba(153, 153, 153, 0.15);
    transition: all 0.4s ease-in-out;
    transform: translateX(385px);
    @include breakpoint(xs) {
        width: 300px !important;
        padding: 30px;
    }
    &.active {
        transform: translateX(0px);
        animation: slideInRight 400ms ease-in-out;
    }
    .cart-footer{
        position: absolute;
        bottom: 0px;
        width: 100%;
        background-color: #fff;
        left: 0;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 35px;
        z-index: 3;
        margin-top: 30px;
    }
    .cartbox-close {
        color: #fff;
        cursor: pointer;
        font-size: 11px;
        position: absolute;
        right: 30px;
        top: 30px;
        @include hw(30px);
        background-color: #000;
        text-align: center;
        border-radius: 50%;
    }
    .rt-single-crtitem {
        display: flex;
        margin-bottom: 15px;
        @include afterparent();
        .rt-remove-product{
            cursor: pointer;
            font-size: 11px;
        }
        .product-thumb {
            width: 55px;
            height: 55px;
            margin-right: 15px;
            @include breakpoint(xs){
                height: 40px;
                width: 40px;
            }
        }
        .product-text{
            .cart-product-title{
                font-size: 15px;
                font-weight: 500;
            }
            .cart-amount{
                font-size: 12px;
                font-weight: 500;
            }
        }
        .product-colose{
            position: absolute;
            right: 0;
            top: 0
        }
        &:last-child{
            margin-bottom: 0px;
        }
    }
    .cart-products{
        height: calc(100% - 240px);
        overflow-y: auto;
        padding-right: 15px;
    }
}
.open-cart-opt {
    span.badge {
        height: 20px;
        width: 20px;
        background-color: var(--primary_color);
        color: #000 ;
        border-radius: 50%;
        line-height: 20px;
        font-size: 14px;
        padding: 0px;
        position: absolute;
        right: -17px;
        top: -20px;
        font-weight: 400 !important;
        
    }
}

.cart-overlay{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0,0,0,0.4);
    @include hidden();
    @include rt-trs(0.24s);
    &.active{
        z-index: 99;
        @include vis();
    }
}

// user account 
.open-user-ac{
    @include afterparent();
    &:hover{
        .user-ac{
            @include vis();
            top: 110%;
        }
    }
}
.user-ac{
    position: absolute !important;
    right: 0;
    top: 120%;
    min-width: 150px;
    background-color: #fff;
    z-index: 99;
    box-shadow: $sub_menu_box_shdow;
    border-radius: var(--submenu_border_radius);
    @include hidden();
    @include rt-trs(0.24s);



    a {
        display: block;
        padding: 10px 20px;
        border-bottom:  1px solid rgba(#000, 0.1) !important;
        font-weight: 500;
    }
}
        
