.rt-hidden-search {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.79);
    transition: all .4s ease-in-out;
    @include hidden();
    .rt-search-close{
        position: absolute;
        right: 30px;
        top: 30px;
        color: #fff ;
        font-size: 20px;
        cursor: pointer;
      }
    &.rt-search-active{
        @include vis();
    }
  }


.search-height{
    height: 100vh;
}
.rt-hidden-search{
    .rt-overlay-search{
        @include afterparent();
        input[type="text"],
        input[type="search"],
        .form-control{
          background-color: transparent;
          border-color: #fff;
          display: block;
          width: 100%;
          height: 70px;
          border-radius: 999px;
          padding: 0 30px;
          border-width: 2px;
          color: #fff;
          font-size: 16px;
          @include afterparent();
          &::placeholder{
            font-size: 16px;
            color: #fff;
          }
          &:focus {
            outline: none;
            box-shadow: none;
            border-color: var(--primary_color) !important;
          }
        }
        button{
          position: absolute;
          right: 30px;
          top: 50%;
          transform: translateY(-50%);
          background: transparent;
          border: none;
          color: #fff;
          z-index: 3;
          &:hover{
            color: var(--primary_color);
          }
        }
      }
    }
// inline search
.nav-inline-search{
  @include afterparent();
  width: 300px;
  @include breakpoint(xl){
    display: none;
  }
  input {
    width: 100%;
    border: 1px solid rgb(223, 224, 225);
    padding-left: 45px;
    height: 46px;
    border-radius: 999px;
    &::placeholder{
      font-size: 15px;
      color: rgba(#000, 0.502);
    }
    &:focus{
      border-color: var(--primary_color);
      outline: none;
    }
  }


  button {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    i{
      color:  rgba(0, 0, 0, 0.502);
    }
    &:hover,&:focus{
      color: var(--primary_color);
    }
  }
}


// search items 
.search-items{
  flex-grow: 1;
  display: none;
  @include afterparent();
  @include breakpoint(xs){
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 30px;
    top: 100%;
    z-index: 878;
  }
  input[type="text"],
  .form-control {
    @include afterparent();
    display: block;
    width: 100%;
    border-radius: 999px;
    min-height: 43px;
    padding-left: 20px;
    transition: all 0.24s ease-in-out;
    border: 1px solid rgba(#000, 0.20);
    background-color: transparent;
    &::placeholder{
      color: rgba(#000, 0.60);
      text-transform: capitalize;
    }
    &:focus,&:hover{
      outline: none;
      box-shadow: none;
      border-color: var(--primary_color);
    }
  }
  button{
    position: absolute;
    right: 15px;
    top: 50%;
    z-index: 2;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    color: rgba(#000, 0.20);
    @include breakpoint(xs){
      right: 45px;
    }
    &:hover{
        color: var(--primary_color);
    }
    
  }
}
