


.open-offcanvasmenu {
  cursor: pointer;

  span {
    display: block;
    background: #999;
    width: 30px;
    margin-bottom: 5px;
    height: 2px;
    transition: all 0.12s ease-in-out;
  }

  &:hover span {
    background: var(--primary_color);

    &:nth-child(1) {
      margin-bottom: 8px;
    }

    &:nth-child(2) {
      position: relative;
      width: 20px;
      margin-left: 5px;
    }

    &:nth-child(3) {
      margin-top: 8px;
    }
  }
}

.rt-sidnav {
  position: fixed;
  right: -385px;
  top: 0;
  background-color: #fff;
  width: 385px;
  z-index: -1;
  height: 100%;
  padding: 30px;
  box-shadow: 0px 24px 35px 0px rgba(153, 153, 153, 0.15);
  transition: all 0.4s ease-in-out;
  @include hidden();

  &.active {
    right: 0;
    z-index: 999;
    @include vis();
  }
  .sidenav-close{
    @extend .mblnav-close;
  }
  @include breakpoint(xs){
    width: 320px;
  }

}



.page-content {
  position: relative;
  left: 0;
  perspective: 1000;
  transition: transform 0.5s;
  height: 100%;
}

.rt-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(0, 0, 0, 0.6);
  @include hidden();
  transition: all 0.4s ease-in-out;

  &.active {
    z-index: 99;
    @include vis();
  }
}

.fixed-social {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0px;
  z-index: 67;
  margin-top: 50px;
  padding-bottom: 30px;
  width: 100%;
}

