<div class="notification-bar">
    <div class="notification-header">
        <h2>Notifications</h2>
        <p>Mark all as read</p>
    </div>
    <div class="devider">

    </div>
    <div class="notification-list">
        <ul>
            <li>
                <a href="" class="d-flex">
                    <div>
                        <img src="assets/images/icon/twitter-logo.png" alt="">
                    </div>
                    <div class="">
                        <h4>Twitter send you a Email to your email address</h4>
                        <p>Just now</p>
                    </div>
                </a>
                </li>
                <li>
                    <a href="" class="d-flex">
                        <div>
                            <img src="assets/images/icon/github-logo.png" alt="">
                        </div>
                        <div>
                            <h4>Devid apply on your Techical Support.</h4>
                            <p>12 mins ago</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="" class="d-flex">
                        <div>
                            <img src="assets/images/icon/briefcase-logo.png" alt="">
                        </div>
                        <div>
                            <h4>Twitter shortlisted you in their job UI/UX Designer</h4>
                            <p>57 mins ago</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="" class="d-flex">
                        <div>
                            <img src="assets/images/icon/twitter-logo.png" alt="">
                        </div>
                        <div>
                            <h4>There is new 17 Job alert for you!</h4>
                            <p>1 hour ago</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="" class="d-flex">
                        <div>
                            <img src="assets/images/icon/twitter-logo.png" alt="">
                        </div>
                        <div>
                            <h4>Kevin replied your comments on blog post</h4>
                            <p>1 week ago</p>
                        </div>
                    </a>
                </li>
            </ul>    
    </div>    
</div>