<div class="notification">
    <div class="notification-header">
        <h2>Notifications</h2>
        <p>Mark all as read</p>
    </div>
    <div class="devider">

    </div>
    <div class="notification-list">
        <ul>
            <li>
                    <a href="" class="d-flex">
                        <div>
                            <img src="assets/images/icon/twitter-logo.png" alt="">
                        </div>
                        <div class="">
                            <h4>Kevin replied your comments on blog post</h4>
                            <p>1 week ago</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="" class="d-flex">
                        <div>
                            <img src="assets/images/icon/twitter-logo.png" alt="">
                        </div>
                        <div>
                            <h4>Kevin replied your comments on blog post</h4>
                            <p>1 week ago</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="" class="d-flex">
                        <div>
                            <img src="assets/images/icon/twitter-logo.png" alt="">
                        </div>
                        <div>
                            <h4>Kevin replied your comments on blog post</h4>
                            <p>1 week ago</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="" class="d-flex">
                        <div>
                            <img src="assets/images/icon/twitter-logo.png" alt="">
                        </div>
                        <div>
                            <h4>Kevin replied your comments on blog post</h4>
                            <p>1 week ago</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="" class="d-flex">
                        <div>
                            <img src="assets/images/icon/twitter-logo.png" alt="">
                        </div>
                        <div>
                            <h4>Kevin replied your comments on blog post</h4>
                            <p>1 week ago</p>
                        </div>
                    </a>
                </li>
            </ul>    
    </div>    
</div>