<div class="dashboard-account-setting-item setting-border">
  <h6>Notification</h6>
  <div class="row">
    <div class="col-lg-6">
      <div class="form-check from-chekbox-custom rt-mb-15">
        <input class="form-check-input" type="checkbox" value="" id="check1">
        <label class="form-check-label pointer f-size-14" for="check1">
          Notify me when employers shortlisted me
        </label>
      </div>
      <div class="form-check from-chekbox-custom rt-mb-15">
        <input class="form-check-input" type="checkbox" value="" id="check2" checked>
        <label class="form-check-label pointer f-size-14" for="check2">
          Notify me when my applied jobs are expire
        </label>
      </div>
      <div class="form-check from-chekbox-custom">
        <input class="form-check-input" type="checkbox" value="" id="check3" checked>
        <label class="form-check-label pointer f-size-14" for="check3">
          Notify me when i have up to 5 job alerts
        </label>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="form-check from-chekbox-custom rt-mb-15">
        <input class="form-check-input" type="checkbox" value="" id="check4">
        <label class="form-check-label pointer f-size-14" for="check4">
          Notify me when employers shortlisted me
        </label>
      </div>
      <div class="form-check from-chekbox-custom">
        <input class="form-check-input" type="checkbox" value="" id="check5" checked>
        <label class="form-check-label pointer f-size-14" for="check5">
          Notify me when my applied jobs are expire
        </label>
      </div>
    </div>
  </div>
</div>
<div class="dashboard-account-setting-item setting-border">
  <h6>Job Alerts</h6>
  <div class="row">
    <div class="col-lg-6 rt-mb-32">
      <label class="f-size-14 text-gray-700 rt-mb-6">Role</label>
      <div class="fromGroup has-icon2">
        <div class="form-control-icon">
          <input class="form-control" type="search" placeholder="Your job roles">
          <div class="icon-badge-2">
            <img src="assets/images/svg/briefcase.svg" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 rt-mb-32">
      <label class="f-size-14 text-gray-700 rt-mb-6">Location</label>
      <div class="fromGroup has-icon2">
        <div class="form-control-icon">
          <input class="form-control" type="search" placeholder="Your job roles">
          <div class="icon-badge-2">
            <img src="assets/images/svg/MapPinLine.svg" alt="">
          </div>
        </div>
      </div>
    </div>
    <div>
      <button type="button" class="btn btn-primary">
        Save Changes
      </button>
    </div>
  </div>
</div>
<div class="dashboard-account-setting-item setting-border">
  <div class="row">
    <div class="col-lg-6">
      <label class="text-gray-900 rt-mb-15 fw-medium">Profile Privacy</label>
      <div class="input-group mb-3">
        <div class="input-group-text bg-transparent border border-gray-50 extra-design" id="basic-addon1">
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" checked="">
            <span class="form-check-label f-size-14">yes</span>
          </div>
        </div>
        <input type="text" class="form-control" placeholder="Your profile is public now" id="msalary">
      </div>
    
    </div>
    <div class="col-lg-6">
      <label class="text-gray-900 rt-mb-15 fw-medium">Resume Privacy</label>
      <div class="input-group mb-3">
        <div class="input-group-text bg-transparent border border-gray-50 extra-design" id="basic-addon1">
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
            <span class="form-check-label text-danger-500 text-uppercase f-size-14">no</span>
          </div>
        </div>
        <input type="text" class="form-control" placeholder="Your profile is public now" id="msalary">
      </div>
   
    </div>
  </div>
</div>
<div class="dashboard-account-setting-item setting-border">
  <h6>Change Password</h6>
  <div class="row">
    <div class="col-lg-6 rt-mb-32">
      <label class="f-size-14 text-gray-700 rt-mb-6">New Password</label>
      <div class="fromGroup rt-mb-15">
        <input id="password-hide_show" type="password" placeholder="Password" required="">
        <div class="has-badge">
          <i class="ph-eye"></i>
        </div>
      </div>
    </div>
    <div class="col-lg-6 rt-mb-32">
      <label class="f-size-14 text-gray-700 rt-mb-6">Confirm Password</label>
      <div class="fromGroup rt-mb-15">
        <input id="password-hide_show1" type="password" placeholder="Confirm Password" required="">
        <div class="has-badge select-icon__one">
          <i class="ph-eye"></i>
        </div>
      </div>
    </div>
    <div>
      <button type="button" class="btn btn-primary">
        Save Changes
      </button>
    </div>
  </div>
</div>
<div class="dashboard-account-setting-item setting-border">
  <div class="row">
    <div class="col-lg-6">
      <h4>Close/Delete Account</h4>
      <p>If you delete your Jobpilot account, you will no longer be able to get information about the matched jobs, following employers, and job alert, shortlisted jobs and more. You will be abandoned from all the services of Jobpilot.com.</p>
      <button type="submit" class="btn bg-danger-50 text-danger-500">
        <span class="button-content-wrapper ">
        <span class="button-icon">
          <i class="ph-x-circle"></i>
        </span>
        <span class="button-text">
          Close Account
        </span>
        </span>
      </button>
    </div>
    
  </div>
  
</div>