<div class="paypal-wrap mt-5">
    <label class="label-radio rt-mb-24 from-radio-custom " for="1">
        <span class="data d-flex align-items-center">
            <input type="radio" name="radio1" id="1" class="form-check-input">
            <img src="assets/images/logo/master-card-logo.png" alt="">
            <div class="card-info">
                <h4>Card Number</h4>
                <h2>5847 **** **** ****</h2>
            </div>
            <div class="card-info">
                <h4>Name on Card</h4>
                <h2>Esther Howard</h2>
            </div>
            <span class="border"></span>
        </span>
    </label>
    <label class="label-radio rt-mb-24 from-radio-custom " for="2">
        <span class="data d-flex align-items-center">
            <input type="radio" name="radio1" id="2" class="form-check-input">
            <span class="form-check-label">New Payment Card</span>
            <span class="border"></span>
        </span>
    </label>
    <div class="rt-mb-15">
                <label for="mm" class="pointer body-font-4 d-block text-gray-900 rt-mb-8">Name on Card</label>
                <input type="text" placeholder="Name" id="mm" value="mahedi amin"
                  class="body-font-3 text-gray-400 text-capitalize">
              </div>
              <div class="rt-mb-15 position-relative">
                <label class="pointer body-font-4 d-block text-gray-900 rt-mb-8">Credit Card</label>
                <div id="card-element" class="card-element"></div>
    </div>
</div>