  <div class="personal-profile-picture-wrap">
    <div class="personal-profile-picture-item">
      <div class="personal-profile-picture">
        <div class="personal-profile-picture-thumb">
          <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M24 42C33.9411 42 42 33.9411 42 24C42 14.0589 33.9411 6 24 6C14.0589 6 6 14.0589 6 24C6 33.9411 14.0589 42 24 42Z" stroke="#132238" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M24 30C28.1421 30 31.5 26.6421 31.5 22.5C31.5 18.3579 28.1421 15 24 15C19.8579 15 16.5 18.3579 16.5 22.5C16.5 26.6421 19.8579 30 24 30Z" stroke="#132238" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M11.9624 37.3874C13.091 35.1645 14.8131 33.2974 16.9378 31.9933C19.0625 30.6891 21.5069 29.9988 23.9999 29.9988C26.4929 29.9988 28.9373 30.6891 31.062 31.9933C33.1867 33.2974 34.9088 35.1645 36.0374 37.3874" stroke="#132238" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            
        </div>
        <div class="personal-profile-picture-data">
          <h4>Upload Profile Picture</h4>
          <p>Your photo should clearly show your face. A photo larger than 400 pixels work best. Supported format JPEG, PNG. Max photo size 5 MB.</p>
        </div>
      </div>
      <div class="personal-upload-photo-btn">
        <button type="submit" class="btn btn-primary">
          <span class="button-content-wrapper ">
            <span class="button-icon">
              <i class="ph-download-simple"></i>
            </span>
            <span class="button-text">
              Upload Photo
            </span>
          </span>
          <input type="file">
        </button>
      </div>
    </div>
    <div class="personal-profile-picture-item">
      <div class="personal-profile-picture">
        <div class="personal-profile-picture-thumb">
          <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M43.7517 49H12.25C11.7859 49 11.3408 48.8156 11.0126 48.4874C10.6844 48.1593 10.5 47.7141 10.5 47.25V8.75C10.5 8.28587 10.6844 7.84075 11.0126 7.51256C11.3408 7.18437 11.7859 7 12.25 7H33.2517L45.5017 19.25V47.25C45.5017 47.4798 45.4564 47.7074 45.3685 47.9197C45.2806 48.132 45.1516 48.3249 44.9891 48.4874C44.8266 48.6499 44.6337 48.7789 44.4214 48.8668C44.2091 48.9547 43.9815 49 43.7517 49Z" stroke="#0A65CC" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M33.2461 7V19.25H45.4978" stroke="#0A65CC" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M21 29.75H35" stroke="#0A65CC" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M21 36.75H35" stroke="#0A65CC" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            
            
        </div>
        <div class="personal-profile-picture-data">
          <h4>Upload Your CV/Resume</h4>
          <p>Supported format PDF, JPEG, DOCs. Max size 10 MB</p>
        </div>
      </div>
      <div class="personal-upload-photo-btn">
        <button type="submit" class="btn btn-primary">
          <span class="button-content-wrapper ">
            <span class="button-icon">
              <i class="ph-download-simple"></i>
            </span>
            <span class="button-text">
              Upload
            </span>
          </span>
          <input type="file">
        </button>
      </div>
    </div>
    
  </div>

<div class="dashboard-account-setting-item">
  <h6>Basic Information</h6>
  <div class="row">
    <div class="col-lg-6 mb-3">
      <label class="pointer body-font-4 d-block text-gray-900 rt-mb-8">Full name</label>
      <div class="fromGroup">
        <div class="form-control-icon">
          <input class="form-control" type="text">
        </div>
      </div>
    </div>
    <div class="col-lg-6 mb-3">
      <label class="pointer body-font-4 d-block text-gray-900 rt-mb-8">Tittle/headline</label>
      <div class="fromGroup">
        <div class="form-control-icon">
          <input class="form-control" type="text">
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-3">
      <label class="pointer body-font-4 d-block text-gray-900 rt-mb-8">Experience</label>
      <select class="rt-selectactive " style="width: 100%">
          <option>Select.. </option>
          <option value="2">Alaska</option>
          <option value="3">Bahamas</option>
          <option value="4">Select...</option>
          <option value="5">Canada</option>
          <option value="6">Caribbean</option>
          <option value="7">Europe</option>
          <option value="8">Hawaii</option>
      </select>
    </div>
    <div class="col-lg-4 mb-3">
      <label class="pointer body-font-4 d-block text-gray-900 rt-mb-8">Educations</label>
      <select class="rt-selectactive " style="width: 100%">
          <option>Select.. </option>
          <option value="2">Alaska</option>
          <option value="3">Bahamas</option>
          <option value="4">Private Company</option>
          <option value="5">Canada</option>
          <option value="6">Caribbean</option>
          <option value="7">Europe</option>
          <option value="8">Hawaii</option>
      </select>
    </div>
    <div class="col-lg-4 mb-3">
      <label class="pointer body-font-4 d-block text-gray-900 rt-mb-8">Personal Website</label>
      <div class="fromGroup has-icon2">
        <div class="form-control-icon">
          <input class="form-control" type="url" placeholder="Profile url...">
          <div class="icon-badge-2">
            <img src="assets/images/svg/LinkSimple.svg" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12 mt-4">
      <button type="button" class="btn btn-primary">
        Save Changes
      </button>
    </div>
  </div>
</div>