<div class="dashboard-account-setting-item pb-0">
  <div class="row">
    <div class="col-lg-6 mb-3">
      <label class="body-font-4 d-block text-gray-900 rt-mb-8">Nationality</label>
        <select class="rt-selectactive " style="width: 100%">
            <option>Select.. </option>
            <option value="2">Alaska</option>
            <option value="3">Bahamas</option>
            <option value="4">Private Company</option>
            <option value="5">Canada</option>
            <option value="6">Caribbean</option>
            <option value="7">Europe</option>
            <option value="8">Hawaii</option>
        </select>
    </div>
    <div class="col-lg-6 mb-3">
      <label class="pointer body-font-4 d-block text-gray-900 rt-mb-8">Date of Birth</label>
      <div class="fromGroup">
        <div class="form-control-icon">
          <input class="form-control" type="text" id="datepicker" placeholder="dd/mm/yyyy">
          <div class="has-badge">
            <img src="assets/images/svg/Calendar.svg" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 mb-3">
      <label class="pointer body-font-4 d-block text-gray-900 rt-mb-8">Gender</label>
      <select class="rt-selectactive " style="width: 100%">
          <option>Select.. </option>
          <option value="2">Alaska</option>
          <option value="3">Bahamas</option>
          <option value="4">Private Company</option>
          <option value="5">Canada</option>
          <option value="6">Caribbean</option>
          <option value="7">Europe</option>
          <option value="8">Hawaii</option>
      </select>
    </div>
    <div class="col-lg-6 mb-3">
      <label class="pointer body-font-4 d-block text-gray-900 rt-mb-8">Marital Status</label>
      <select class="rt-selectactive " style="width: 100%">
          <option>Select.. </option>
          <option value="2">Alaska</option>
          <option value="3">Bahamas</option>
          <option value="4">Private Company</option>
          <option value="5">Canada</option>
          <option value="6">Caribbean</option>
          <option value="7">Europe</option>
          <option value="8">Hawaii</option>
      </select>
    </div>
    <div class="col-lg-6 mb-3">
      <label class="pointer body-font-4 d-block text-gray-900 rt-mb-8">Education</label>
      <select class="rt-selectactive " style="width: 100%">
          <option>Select.. </option>
          <option value="2">Alaska</option>
          <option value="3">Bahamas</option>
          <option value="4">Select...</option>
          <option value="5">Canada</option>
          <option value="6">Caribbean</option>
          <option value="7">Europe</option>
          <option value="8">Hawaii</option>
      </select>
    </div>
    <div class="col-lg-6 mb-3">
      <label class="pointer body-font-4 d-block text-gray-900 rt-mb-8">Experience</label>
      <select class="rt-selectactive " style="width: 100%">
          <option>Select.. </option>
          <option value="2">Alaska</option>
          <option value="3">Bahamas</option>
          <option value="4">Private Company</option>
          <option value="5">Canada</option>
          <option value="6">Caribbean</option>
          <option value="7">Europe</option>
          <option value="8">Hawaii</option>
      </select>
    </div>
    <div class="col-lg-12 mb-3">
      <label class="pointer body-font-4 d-block text-gray-900 rt-mb-8">Biography</label>
        <textarea id="default">
            Twitter is an American microblogging and social networking service on which users post and interact with messages known as "tweets". Registered users can post, like, and retweet tweets, but unregistered users can only read them. Users access Twitter through its website interface or its mobile-device application software, though the service could also be accessed via SMS before April 2020. Twitter, Inc. is based in San Francisco, California, and has more than 25 offices around the world..
        </textarea>
    </div>
    <div class="col-lg-12 mb-3">
      <label class="pointer body-font-4 d-block text-gray-900 rt-mb-8">Cover Letter</label>
        <textarea id="default2">
            Twitter is an American microblogging and social networking service on which users post and interact with messages known as "tweets". Registered users can post, like, and retweet tweets, but unregistered users can only read them. Users access Twitter through its website interface or its mobile-device application software, though the service could also be accessed via SMS before April 2020. Twitter, Inc. is based in San Francisco, California, and has more than 25 offices around the world..
        </textarea>
    </div>
    <div class="col-lg-12 mt-4">
      <button type="button" class="btn btn-primary">
        Save Changes
      </button>
    </div>
  </div>
</div>