<div class="dashboard-account-setting-item">
  <div class="row">
    <div class="col-lg-6 mb-3">
      <label class="pointer body-font-4 d-block text-gray-900 rt-mb-8">Youtube</label>
      <div class="fromGroup has-icon2">
        <div class="form-control-icon">
          <input class="form-control" type="url" placeholder="Profile url...">
          <div class="icon-badge-2">
            <img src="assets/images/svg/LinkSimple.svg" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 mb-3">
      <label class="pointer body-font-4 d-block text-gray-900 rt-mb-8">Facbook</label>
      <div class="fromGroup has-icon2">
        <div class="form-control-icon">
          <input class="form-control" type="url" placeholder="Profile url...">
          <div class="icon-badge-2">
            <img src="assets/images/svg/LinkSimple.svg" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 mb-3">
      <label class="pointer body-font-4 d-block text-gray-900 rt-mb-8">Linkedin</label>
      <div class="fromGroup has-icon2">
        <div class="form-control-icon">
          <input class="form-control" type="url" placeholder="Profile url...">
          <div class="icon-badge-2">
            <img src="assets/images/svg/LinkSimple.svg" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 mb-3">
      <label class="pointer body-font-4 d-block text-gray-900 rt-mb-8">Twitter</label>
      <div class="fromGroup has-icon2">
        <div class="form-control-icon">
          <input class="form-control" type="url" placeholder="Profile url...">
          <div class="icon-badge-2">
            <img src="assets/images/svg/LinkSimple.svg" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 mb-3">
      <label class="pointer body-font-4 d-block text-gray-900 rt-mb-8">Pinterest</label>
      <div class="fromGroup has-icon2">
        <div class="form-control-icon">
          <input class="form-control" type="url" placeholder="Profile url...">
          <div class="icon-badge-2">
            <img src="assets/images/svg/LinkSimple.svg" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 mb-3">
      <label class="pointer body-font-4 d-block text-gray-900 rt-mb-8">Instagram</label>
      <div class="fromGroup has-icon2">
        <div class="form-control-icon">
          <input class="form-control" type="url" placeholder="Profile url...">
          <div class="icon-badge-2">
            <img src="assets/images/svg/LinkSimple.svg" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 mb-3">
      <label class="pointer body-font-4 d-block text-gray-900 rt-mb-8">Reddit</label>
      <div class="fromGroup has-icon2">
        <div class="form-control-icon">
          <input class="form-control" type="url" placeholder="Profile url...">
          <div class="icon-badge-2">
            <img src="assets/images/svg/LinkSimple.svg" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 mb-3">
      <label class="pointer body-font-4 d-block text-gray-900 rt-mb-8">Tumblr</label>
      <div class="fromGroup has-icon2">
        <div class="form-control-icon">
          <input class="form-control" type="url" placeholder="Profile url...">
          <div class="icon-badge-2">
            <img src="assets/images/svg/LinkSimple.svg" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 mb-3">
      <label class="pointer body-font-4 d-block text-gray-900 rt-mb-8">Twitch</label>
      <div class="fromGroup has-icon2">
        <div class="form-control-icon">
          <input class="form-control" type="url" placeholder="Profile url...">
          <div class="icon-badge-2">
            <img src="assets/images/svg/LinkSimple.svg" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 mb-3">
      <label class="pointer body-font-4 d-block text-gray-900 rt-mb-8">Quora</label>
      <div class="fromGroup has-icon2">
        <div class="form-control-icon">
          <input class="form-control" type="url" placeholder="Profile url...">
          <div class="icon-badge-2">
            <img src="assets/images/svg/LinkSimple.svg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-primary mt-4">
    Save Changes
  </button>
</div>