<div class="container">
  <div class="row">
   <div class="col-md-4">
       <div class="buttonList">
            <span class="body-font-3 ft-wt-6 d-block mb-10">btn-primary</span>
            <button type="button" class="btn btn-primary">Button</button>
            <button type="button" class="btn btn-primary" disabled>Button</button>
       </div>
       <div class="buttonList">
            <span class="body-font-3 ft-wt-6 d-block mb-10">btn-primary-50</span>
            <button type="button" class="btn btn-primary-50">Button</button>
            <button type="button" class="btn btn-primary-50" disabled>Button</button>
       </div>
       <div class="buttonList">
            <span class="body-font-3 ft-wt-6 d-block mb-10">btn-outline-primary</span>
            <button type="button" class="btn btn-outline-primary">Button</button>
            <button type="button" class="btn btn-outline-primary" disabled>Button</button>
       </div>
   </div>
   <div class="col-md-4">
       <div class="buttonList">
            <span class="body-font-3 ft-wt-6 d-block mb-10">btn-dark</span>
            <button type="button" class="btn btn-dark">Button</button>
            <button type="button" class="btn btn-dark" disabled>Button</button>
       </div>
       <div class="buttonList">
            <span class="body-font-3 ft-wt-6 d-block mb-10">btn-dark-50</span>
            <button type="button" class="btn btn-dark-50">Button</button>
            <button type="button" class="btn btn-dark-50" disabled>Button</button>
       </div>
       <div class="buttonList">
            <span class="body-font-3 ft-wt-6 d-block mb-10">btn-outline-dark</span>
            <button type="button" class="btn btn-outline-dark">Button</button>
            <button type="button" class="btn btn-outline-dark" disabled>Button</button>
       </div>
   </div>
   <div class="col-md-4">
       <div class="buttonList">
            <span class="body-font-3 ft-wt-6 d-block mb-10">btn-primary</span>
            <button type="button" class="btn btn-primary">Button</button>
            <button type="button" class="btn btn-primary" disabled>Button</button>
       </div>
       <div class="buttonList">
            <span class="body-font-3 ft-wt-6 d-block mb-10">btn-primary-50</span>
            <button type="button" class="btn btn-primary-50">Button</button>
            <button type="button" class="btn btn-primary-50" disabled>Button</button>
       </div>
       <div class="buttonList">
            <span class="body-font-3 ft-wt-6 d-block mb-10">btn-outline-primary</span>
            <button type="button" class="btn btn-outline-primary">Button</button>
            <button type="button" class="btn btn-outline-primary" disabled>Button</button>
       </div>
   </div>
  </div>
</div>


