@font-face {
    font-family: "flaticon";
    src: url("../fonts/custom/flaticon.ttf?bf02325d8d73a2dfad7ac8f6d748468c") format("truetype"),
url("../fonts/custom/flaticon.woff?bf02325d8d73a2dfad7ac8f6d748468c") format("woff"),
url("../fonts/custom/flaticon.woff2?bf02325d8d73a2dfad7ac8f6d748468c") format("woff2"),
url("../fonts/custom/flaticon.eot?bf02325d8d73a2dfad7ac8f6d748468c#iefix") format("embedded-opentype"),
url("../fonts/custom/flaticon.svg?bf02325d8d73a2dfad7ac8f6d748468c#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-download:before {
    content: "\f101";
}
.flaticon-down-arrow-1:before {
    content: "\f102";
}
.flaticon-up-arrow:before {
    content: "\f103";
}
.flaticon-upload:before {
    content: "\f104";
}
.flaticon-right-arrow:before {
    content: "\f105";
}
