<div class="profile-bar">
    <div class="profile-bar-list">
        <ul>
            <li>
                <a href="" class="d-flex">
                    <div>
                        <img src="assets/images/icon/meta.png" alt="">
                    </div>
                    <div class="content">
                        <h4>Meta</h4>
                        <p>Technology Company</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="" class="d-flex">
                    <div>
                        <img src="assets/images/icon/instagram.png" alt="">
                    </div>
                    <div class="content">
                        <h4>Instagram</h4>
                        <p>Information Technology (IT)</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="" class="d-flex">
                    <div>
                        <img src="assets/images/icon/twitter.png" alt="">
                    </div>
                    <div class="content">
                        <h4>Twitter</h4>
                        <p>Social network company</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <div class="devider">

    </div>
    <div class="profile-feature-list">
        <ul>
            <li>
                <a href="">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10 17.5C14.1421 17.5 17.5 14.1421 17.5 10C17.5 5.85786 14.1421 2.5 10 2.5C5.85786 2.5 2.5 5.85786 2.5 10C2.5 14.1421 5.85786 17.5 10 17.5Z" stroke="#5E6670" stroke-width="1.5" stroke-miterlimit="10"/>
                        <path d="M6.875 10H13.125" stroke="#5E6670" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M10 6.875V13.125" stroke="#5E6670" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <p>Create new company</p>
                </a>
            </li>
            <li>
                <a href="">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13.5947 6.71875L16.8751 10L13.5947 13.2812" stroke="#5E6670" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M8.125 10H16.8727" stroke="#5E6670" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M8.125 16.875H3.75C3.58424 16.875 3.42527 16.8092 3.30806 16.6919C3.19085 16.5747 3.125 16.4158 3.125 16.25V3.75C3.125 3.58424 3.19085 3.42527 3.30806 3.30806C3.42527 3.19085 3.58424 3.125 3.75 3.125H8.125" stroke="#5E6670" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <p>Log-out</p>
                </a>
            </li>
        </ul>
    </div>    
</div>