.breadcrumbs, .breadcrumbs-two{
  padding: 40px 0;
  background-color: var(--gray-20) ;
  @include rt-trs(0.24s);
  .breadcrumb-title{
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
    color: var(--gray-900);
  }
  .breadcrumb-item {
    color: var(--gray-900);
    a{
      font-size: 16px;
      line-height: 24px;
      color: var(--gray-500);
    }
  }
  &.style-two{
    padding: 0px;
    height: 230px;
    .jobsearchBox{
      margin-top: 100px;
    }
  }
}
.breadcrumb{
  margin-bottom: 0px;
}
  
