.btn-profile{
    &:hover{
        svg{
            path{
                stroke: white;
            }
        }
    }
}
.btn-star{
    &:hover{
        svg{
            path{
                fill: var(--primary-500);
                stroke: var(--primary-500);
            }
        }
    }
}
.custom-dropdown-toggle::after {
    border: none;
    content: "";
    font-family: "flaticon";
    font-size: 14px;
    vertical-align: middle;
    margin-left: auto;
}