.pagination.rt-paganation{
  li.page-item{
    margin-right: 15px;
    &:last-child {
        margin-right: 0px;
    }
    &.active{
      .page-link{
        background: #000;
        color: #fff;
        border-color: #000;
        &:hover{
          color: #fff;
          background-color: #000;
          border-color: #000;
        }
      }
    }
    .page-link{
      border-color: rgba(#000, 0.102);
      color: #505b6d;
      padding: 0px;
      background-color: transparent;
      @include  hw(48px);
      text-align: center;
      border-radius: 1px;
      font-size: 18px;
      border-radius: 0px;
      font-weight: 500;
      &:hover{
        background: #f3f3f3;
      }
      &:focus{
        box-shadow: none;
      }
    }
    }
  }
