.single-price-table {
  padding: 32px;
  border: 1px solid #edeff5;
  border-radius: 12px;
  position: relative;
  .price-header{
      padding-bottom: 32px;
      border-bottom: 1px solid #edeff5;
      margin-left: -32px;
      margin-right: -32px;
      padding-left: 32px;
      padding-right: 32px;
<<<<<<< HEAD
      text-transform: uppercase;
=======
      position: relative;
>>>>>>> 220beeaa3856b2f3d645477f752bc6f53029c733
      sup{
          vertical-align:baseline;
      }
      .badge{
          position: absolute;
<<<<<<< HEAD
          top: -26px;
          left: 50%;
          transform: translateX(-50%);
          text-transform: capitalize;
          border-radius: 5px 5px 0px 0px;
=======
          top: -58px;
          left: 50%;
          transform: translateX(-50%);
>>>>>>> 220beeaa3856b2f3d645477f752bc6f53029c733
      }
      @include breakpoint(md){
          text-align: center;
      }
  }
  .price-body{
      padding: 32px 0 12px;
      ul{
          li{
              margin-bottom: 20px;
              display: flex;
              column-gap: 12px;
          }
      }
  }
  &.active{
      border-color: var(--primary-500);
      box-shadow: 0px 12px 20px rgba(0, 44, 109, 0.1);
      
  }
}

.form-switch{
   padding-left: 0px;
}