.rt-form, .comment-respond {
    #{$all-text-inputs}, .form-control{

        min-height: 56px;
        display: block;
        width: 100%;
        padding: 20px;
        border: 1px solid #f6f6f6;
        font-size: 16px;
        background-color: #f6f6f6;
        &.pill {
            border-radius: 999px;
        }
        &::placeholder{
            color: #000;
            font-size: 16px;
        }
        &:focus {
            outline: none;
            border-color: var(--primary_color);
            box-shadow: none;
        }
    }
       
    select {
        width: 100%;
        height: 51px;
        border: 1px solid #f6f6f6;
        background-color: transparent;
        color: #000;
        appearance: none;
        &:focus{
            outline: none;
        }
    }


    #{$all-text-inputs-focus},.form-control:focus{
        box-shadow: none !important;
        border-color: var(--primary_color) !important;
        background:  #f6f6f6;
        outline: none;
    }
    #{$all-text-inputs-hover},.form-control:hover{
        box-shadow: none !important;
        border-color: var(--primary_color) !important;
        background:  #f6f6f6;
    }
    .forgot-pass label{
        padding-left: 10px;
        font-size: 14px;
    }
    &.rt-line-form {
        #{$all-text-inputs}, .form-control{
            border: none;
            border-bottom: 1px solid rgb(240, 240, 240);
            background: transparent;
        }
            
        #{$all-text-inputs-focus},.form-control:focus,
        #{$all-text-inputs-hover},.form-control:hover{
            outline: none;
            border-color: var(--primary_color) !important;
            box-shadow: none;
        }


        select {
            width: 100%;
            border: none ;
            border-bottom: 1px solid rgb(240, 240, 240);
        }
    }
    &.rt-border-form {
        #{$all-text-inputs}, .form-control {
            border: 1px solid rgba(#000, 0.102);
            background: transparent;
            &::placeholder{
                color: #888;
            }
        }
        #{$all-text-inputs-focus},.form-control:focus,
        #{$all-text-inputs-hover},.form-control:hover{
            outline: none;
            border-color: var(--primary_color) !important;
            box-shadow: none;
        }
        


        select {
            width: 100%;
            border: 1px solid rgba(#000, 0.102);
            background-color: transparent;
        }
    }
    .submit-circle{
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    
    &.light-form{
        #{$all-text-inputs}, .form-control{
            border-color: rgb(240, 240, 240);
            color: #fff;
            &::placeholder{
                color: #555;
            }
        }
        #{$all-text-inputs-focus},.form-control:focus,
        #{$all-text-inputs-hover},.form-control:hover{
            border-color: #fff !important;
        }
    }
}


.submit-box-form{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2px;
    position: relative;
    padding: {
        left: 25px;
        right: 7px;
    }
    height: 71px;
    @include  breakpoint(xs){
        flex-direction: column ;
        padding: {
            left: 0;
            top: 20px;
            bottom: 20px;
            right: 0px;
        }
        width: 90%;
        margin: auto;
        height: auto;
    }

    span i {
        color: #7ecf41;
        padding-right: 20px;
        @include  breakpoint(xs){
            display: none;
        }
    input[type="text"],
    input[type="email"]{
        background-color: transaprent ;
        border: none;
        flex: 1;
        @include  breakpoint(xs){
            flex: 0 0 90%;
            max-width: 90%;
            padding-left: 20px;
            margin-bottom: 30px;
        }
        &:focus {
            outline: none ;
        }
    }
    .submoit-button{
        padding-left: 15px;
    }
}




.comment-respond{
    @include clearfix();
    label {
        margin-bottom: 10px;
    }
    p {
        margin-bottom: 30px;
    }
    input[type="submit"]{
        @extend .rt-btn;
        @extend .rt-gradient;
        text-transform: uppercase;
        @extend .rt-rounded;
    }
    }
}

.subscribe-form2{
    display: flex;
    justify-content: space-between;
 
    input[type="text"]{
        width: calc(100% - 154px);
        border: 1px solid rgb(231, 231, 233);
        padding-left: 20px;
        height: 54px;
        border-radius: 999px;
    }
    button{
        height: 54px;
        padding: 0px !important;
        width: 134px;
    }
    @include breakpoint(xs){
        flex-direction: column;
        input[type="text"]{
            width: 100%;
        }
        button{
            margin-left: auto;
            margin-right: auto;
            margin-top: 15px;
        }

    }
}

  