// icon circle 


.rt-circle {
  border-radius: 50%;
  &:after{
    border-radius: 50%;
  }
}
.rt-icon{
  display: inline-block;
  @include  afterparent();
  text-align: center;
}






.icon-primary{
  background: var(--primary_color);
  color: #fff !important;
  @include  afterparent();
  &:hover{
    color: #fff !important;
    background-color: tint($primary-color, 10%);
  }
}



.icon-secondary{
  background: var(--secondary_color);
  color: #fff !important;
 
  @include  afterparent();
  &:hover{
    color: #fff !important;
    background-color: tint($secondary-color, 10%);
  }
}
.icon-dark{
  background: transparent;
  color: #000 !important;
  border: 1px solid rgba(#000, 0.149);
  @include  afterparent();
  &:hover{
    color: #fff !important;
    background-color: var(--primary_color);
  }
}

.icon-gray{
  background: rgb(244, 244, 244);
  color: #000 !important;
  &:hover{
    color: #fff !important;
    background-color: var(--primary_color);
  }
}


.icon-light{
  background: rgb(255, 255, 255);
  color: #000 !important;
  box-shadow: 0px 0px 40.02px 5.98px rgba(0, 0, 0, 0.03);
  &:hover{
    color: #000 !important;
    background-color: var(--primary_color);
  }
}




// icon glow 
.icon-glow-1 {
    box-shadow: 0 0 0 0px rgba(#985ddd, 0.7);
    animation: pulseservices2 0.9s infinite ease-in-out;
}

@-webkit-keyframes pulseservices2 {
  to {
    box-shadow: 0 0 0 15px rgba(#985ddd, 0);
  }
}
    

