.blog-grid-post {
  border: 1px solid var(--gray-50);
  padding: 24px;
  border-radius: 12px;
  @include rt-trs(0.24s);
  .rt-post-thumbnail {
    border-radius: 8px;
    margin-bottom: 24px;
    img {
      object-fit: cover;
      width: 100%;
      border-radius: 8px;
    }
  }
  .entry-header{
      margin-bottom: 12px;
      .entry-title{
          font-size: 20px;
          line-height: 32px;
          color: var(--gray-900);
          a{
              color: var(--gray-900);
              @include rt-trs(0.24s);
              &:hover{
                  color: var(--primary-500);
              }
          }
      }
  }
  .entry-content{
      font-size: 14px;
      line-height: 22px;
      color: var(--gray-500);
      
  }
  .entry-footer{
    margin-top: 24px;
    font-size: 16px;
    a{
        color: var(--primary-500);
        &:hover{
            color: var(--primary-900);
        }
    }
  }
  &:hover{
      border-color: transparent;
      box-shadow: 0px 12px 64px rgba(0, 44, 109, 0.12);
      
  }
}
