.site-header {
    position: relative;
    .main-header {
        background-color: #fff;
        box-shadow:  inset 0px -1px 0px #EDEFF5;
    }
    .brand-logo {
        max-width: 150px;
        transition: all 0.3s ease-in-out;
        margin-right: 20px;
        @include breakpoint(xs) {
            max-width: 100px;
            margin-right: 0px;
        }
    }
    .navbar {
        padding: 0;
        transition: .3s ease-in-out;
        @include breakpoint(md){
            padding: 30px 0;
        }
    }
    &.rt-fixed-top {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 9;
    }
    .main-menu,
    .rt-nav-tolls{
        transition: all 0.3s ease-in-out;
    }
    &.rt-sticky {
        &.rt-sticky-active {
            position: fixed;
            width: 100%;
            z-index: 99;
            box-shadow: 0px 2px 3px 0px rgba(#000, 0.1);
            .brand-logo {
                max-width: 85px;
            }
            .main-menu>ul>li>a{
                line-height: 88px;
                @include breakpoint(md){
                    line-height: 1.9;
                }
            }
        }
    }
    .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl{
        padding-left: 48px;
        padding-right: 48px;
    }
}