// global
.rt-single-icon-box {
    display: flex;
    @include afterparent();
    @include rt-trs(0.24s);
    //flex-wrap: wrap;
    .icon-thumb {
      flex-shrink: 0!important; 
      //height: 58px
      //margin-right: 30px
      img {
        @include rt-trs(0.24s);
      
      }
    }
    &.icon-center {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    &.icon-center2 {
      flex-direction: column;
      justify-content: center;
    }
    &.rt-xs-center {
      @include breakpoint(xs) {
        flex-direction: column;
      }
    }
    &.icon-reverse{
      flex-direction: row-reverse;
    }
    .iconbox-content {
      flex-grow: 1!important;
      h4 {
        color: var(--gray-900);
        a {
          color: var(--gray-900);
          &:hover{
              color: var(--primary-600);
          }
        }
      }
    }
    .iconbox-extra{
      width: max-content;
     // margin-left: auto;
    
      display: flex;
      flex-grow: 0 !important;
      min-width: max-content;
      &.grow-1{
        flex-grow: 1 !important;
      }
      >div{
        margin-right: 10px;
        &:last-child{
          margin-right: 0px;
        }
      }
    }
    &.plain-list-1 {
      background-color: transparent;
      border-bottom: 1px solid rgb(240, 240, 240);
      &:last-child {
        border: none;
      }
    }
    &.rt-align-center {
      align-items: center;
    }
    &.bg-transparent {
      background-color: transparent;
    }
    &.shdoaw-style {
      box-shadow: 0px 18px 65px 0px rgba(153, 153, 159, 0.2);
      background-color: #fff;
    }
    &:hover {
      &.shdoaw-style {
        box-shadow: 0px 18px 45px 0px rgba(153, 153, 159, 0.2);
        transform: translateY(-10px);
      }
    }
  }
  


.rt-single-icon-box{
  &.icb-clmn-lg{
    @include breakpoint(lg){
      //flex-direction: column;
      flex-wrap: wrap;
      .icon-thumb{
        margin-right: 0px;
        margin-bottom: 24px;
      }
      .iconbox-content{
        margin-bottom: 24px;
      }
      .iconbox-extra{
        &.align-self-center{
          align-self: flex-start !important;
        }
      }
    }
  }
}
