// global
.rt-single-icon-box {
    display: flex;
    @include afterparent();
    align-items: start;
    @include rt-trs(0.24s);
    .icon-thumb {
      flex: 0 0 auto;
      //height: 58px
      //margin-right: 30px
      img {
        @include rt-trs(0.24s);
      }
    }
    &.icon-center {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &.icon-center2 {
      flex-direction: column;
      justify-content: center;
    }
    &.rt-xs-center {
      @include breakpoint(xs) {
        flex-direction: column;
      }
    }
    .iconbox-content {
      width: 100%;
      h4 {
        color: var(--gray-900);
        a {
          color: var(--gray-900);
          &:hover{
              color: var(--primary-600);
          }
        }
      }
    }
    .iconbox-extra{
      width: max-content;
      margin-left: auto;
    }
    &.plain-list-1 {
      background-color: transparent;
      border-bottom: 1px solid rgb(240, 240, 240);
      &:last-child {
        border: none;
      }
    }
    &.rt-align-center {
      align-items: center;
    }
    &.bg-transparent {
      background-color: transparent;
    }
    &.shdoaw-style {
      box-shadow: 0px 18px 65px 0px rgba(153, 153, 159, 0.2);
      background-color: #fff;
    }
    &:hover {
      &.shdoaw-style {
        box-shadow: 0px 18px 45px 0px rgba(153, 153, 159, 0.2);
        transform: translateY(-10px);
      }
    }
  }
  
