<header class="site-header rt-fixed-top account-setup-header">
  <div class="main-header">
      <div class="navbar">
          <div class="container">
            <div class="row w-100">
              <div class="col-md-6">
                <a href="index.html" class="brand-logo"><img src="assets/images/logo/logo.png" alt=""></a>
              </div>
              <div class="col-md-6 d-md-flex align-items-center justify-content-end">
                <div class="progress-wrap">
                  <div class="progress-title d-flex align-items-center justify-content-between rt-mb-12">
                    <p class="text-gray-500 f-size-14 m-0">Setup Progress</p>
                    <h4 class="text-primary-500 f-size-14 ft-wt-5 lh-1 m-0"> <span class="test" aria-valuemin="0" aria-valuemax="100" value="100">0</span>  Completed</h4>
                  </div>
                  <div class="progress">
                    <div class="progress-bar" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                
              </div>
            </div>
              
          </div><!-- /.container -->
      </div><!-- /.navbar -->
  </div><!-- /.main-header -->
</header>
