<div class="rt-site-footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 rt-single-widget ">
                    <a href="#" class="footer-logo">
                        <img src="assets/images/logo/footer-logo.png" alt="">
                    </a>
                    <address>
                        <div class="body-font-2"> 
                            <span>Call now:</span><a href="tel:319555-0115" class="text-primary-500"> (319) 555-0115</a>
                        </div>
                        <div class="max-312">

                            6391 Elgin St. Celina, Delaware 10299, New York, United States of America
                        </div>
                    </address>
                    
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-2 rt-single-widget ">
                    <h2 class="footer-title">Quick Link</h2>
                    <ul class="rt-usefulllinks2">
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Pricing</a></li>
                        <li><a href="#">Blog</a></li>
                    </ul>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-2 rt-single-widget ">
                    <h2 class="footer-title">Quick Link</h2>
                    <ul class="rt-usefulllinks2">
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Pricing</a></li>
                        <li><a href="#">Blog</a></li>
                    </ul>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-2 rt-single-widget ">
                    <h2 class="footer-title">Quick Link</h2>
                    <ul class="rt-usefulllinks2">
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Pricing</a></li>
                        <li><a href="#">Blog</a></li>
                    </ul>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-2 rt-single-widget ">
                    <h2 class="footer-title">Quick Link</h2>
                    <ul class="rt-usefulllinks2">
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Pricing</a></li>
                        <li><a href="#">Blog</a></li>
                    </ul>
                </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.footer-top -->
    <div class="footer-bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 text-center text-lg-left f-size-14 text-gray-500">
                    &copy; 2021 Jobpilot - Job Portal. All rights Rserved
                </div><!-- /.col-lg-6 -->
                <div class="col-lg-6 text-center text-lg-right">
                    <ul>
                        <li>
                            <a href="#">
                                
                            </a>
                        </li>
                    </ul>
                </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.footer-bottom -->
</div><!-- /.rt-site-footer -->