<header class="site-header">
    <div class="main-header">
        <div class="navbar">
            <div class="container-fluid">
                <div class="ml-auto d-flex align-items-center">
                    <a href="index.html" class="brand-logo "><img src="assets/images/logo/Logo.png" alt=""></a>
                    <div class="main-menu">
                        <span class="rt-mobile-menu-close"><i class="flaticon-cancel"></i></span><!-- /.rt-mobile-menu-close -->
                        {% include "./nav.html" %}
                    </div><!-- /.main-menu -->
                </div><!-- /.ml-auto -->
                <div class="ml-auto">
                    <div class="rt-nav-tolls d-flex align-items-center">
                        <ul>
                            <li>
                                <button class="btn btn-outline-primary">Create Account</button>
                            </li>
                            <li>
                                <button class="btn btn-primary">Log In</button>
                            </li>
                        </ul>
                        <div class="mobile-menu"><div class="menu-click">
                            <div class="menu-icon">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div><!-- /.mobile-menu -->
                    </div><!-- /.rt-nav-tolls -->
                </div><!-- /.ml-auto -->
            </div><!-- /.container -->
        </div><!-- /.navbar -->
    </div><!-- /.main-header -->
</header>
