<header class="rt-site-header">
    <div class="main-header">
        <div class="navbar">
            <div class="container">
                <a href="index.html">logos</a>
                <div class="ml-auto d-flex align-items-center">
                    <div class="main-menu">
                        <span class="rt-mobile-menu-close"><i class="flaticon-cancel"></i></span><!-- /.rt-mobile-menu-close -->
                        <ul>
                            <li class="current-menu-item"><a href="#">home</a></li>
                            <li class="menu-item-has-children"><a href="#">about</a>
                                <ul class="sub-menu">
                                    <li><a href="#">dropdown</a></li>
                                    <li class="menu-item-has-children"><a href="#">dropdown</a>
                                        <ul class="sub-menu">
                                            <li><a href="#">submenu</a></li>
                                            <li><a href="#">submenu</a></li>
                                            <li><a href="#">submenu</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">dropdown</a></li>
                                </ul>
                            </li>
                            <li><a href="#">services</a></li>
                            <li class="menu-item-has-children has-megamenu"><a href="#">mega menu</a>
                                <div class="rt-mega-menu">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia consequatur ea, sunt dolorem earum, quia veniam vel sit minus incidunt, perspiciatis enim officia praesentium ullam aperiam ipsam ut corporis temporibus!</div><!-- /.col-lg-6 -->
                                            <div class="col-lg-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, distinctio omnis nesciunt accusamus a deleniti autem fuga quos veniam dolorem sunt. Quasi sapiente aliquam ut reprehenderit cupiditate facere quod suscipit.</div><!-- /.col-lg-6 -->
                                        </div><!-- /.row -->
                                    </div><!-- /.container -->
                                </div><!-- /.rt-mega-menu -->
                            </li>
                            <li><a href="#">contact</a></li>
                        </ul>
                    </div><!-- /.main-menu -->
                </div><!-- /.ml-auto -->
                <div class="ml-auto">
                    <div class="rt-nav-tolls d-flex align-items-center">
                        <span class="rt-search-open"><i class="icofont-search"></i></span>
                        <span class="open-user-ac"><a href="javascript:void(0);"><i class="icofont-user"></i></a>
                            <span class="user-ac">
                                <a href="#">account</a>
                                <a href="#">logout</a>
                            </span><!-- /.user-ac -->
                        </span>
                        <span class="d-inline  open-cart-opt"><a href="javascript:void(0);"><i class="fas fa-cart-plus"></i></a></span>
                        <span class="mobile-menu"><span class="menu-click"><i class="flaticon-menu-6"></i></span></span><!-- /.mobile-menu -->
                    </div><!-- /.rt-nav-tolls -->
                </div><!-- /.ml-auto -->
            </div><!-- /.container -->
        </div><!-- /.navbar -->
    </div><!-- /.main-header -->
</header>