<header class="site-header">
    <div class="main-header">
        <div class="navbar">
            <div class="container-fluid">
                <div class="ml-auto d-flex align-items-center">
                    <a href="index.html" class="brand-logo "><img src="assets/images/logo/Logo.png" alt=""></a>
                    <div class="main-menu">
                        <span class="rt-mobile-menu-close"><i class="flaticon-cancel"></i></span><!-- /.rt-mobile-menu-close -->
                        <ul>
                            <li class="current-menu-item has-megamenu menu-item-has-children"><a href="#">Home</a>
                                <div class="rt-mega-menu">
                                    <div class="container">
                                        <div class="row g-0">
                                            <div class="col-lg-3">
                                               <a href="index.html">
                                                <img src="https://via.placeholder.com/350x350" alt="" class="w-100">
                                                <span>home one</span>
                                               </a>
                                            </div><!-- /.col-lg-3 -->
                                            <div class="col-lg-3">
                                               <a href="index2.html">
                                                 <img src="https://via.placeholder.com/350x350" alt="">
                                                <span>home Two</span>
                                               </a>
                                            </div><!-- /.col-lg-3 -->
                                            <div class="col-lg-3">
                                               <a href="index3.html">
                                                <img src="https://via.placeholder.com/350x350" alt="">
                                                <span>home Three</span>
                                               </a>
                                            </div><!-- /.col-lg-3 -->
                                            <div class="col-lg-3">
                                               <a href="index4.html">
                                                <img src="https://via.placeholder.com/350x350" alt="">
                                                <span>home Four</span>
                                               </a>
                                            </div><!-- /.col-lg-3 -->
                                        </div><!-- /.row -->
                                    </div><!-- /.rt-container -->
                                </div><!-- /.rt-mega-menu -->
                            </li>
                            <li class="menu-item-has-children"><a href="#">Find Job</a>
                                <ul class="sub-menu">
                                    <li><a href="#">Employers</a></li>
                                    <li class="menu-item-has-children"><a href="#">home pages</a>
                                        <ul class="sub-menu">
                                            <li><a href="#">home one</a></li>
                                            <li><a href="#">home tow</a></li>
                                            <li><a href="#">home three</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Candidates</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><a href="#">Employers</a></li>
                            <li class="menu-item-has-children"><a href="#">Candidates</a></li>
                            <li class="menu-item-has-children"><a href="#">Blogs</a></li>
                            <li class="menu-item-has-children has-megamenu"><a href="#">Pages</a>
                                <div class="rt-mega-menu">
                                    <div class="container">
                                        <div class="row g-0">
                                            <div class="col-lg-3">
                                               <a href="#">demo pages</a>
                                               <a href="#">demo pages</a>
                                               <a href="#">demo pages</a>
                                               <a href="#">demo pages</a>
                                            </div><!-- /.col-lg-3 -->
                                            <div class="col-lg-3">
                                                <a href="#">demo pages</a>
                                                <a href="#">demo pages</a>
                                                <a href="#">demo pages</a>
                                                <a href="#">demo pages</a>
                                            </div><!-- /.col-lg-3 -->
                                            <div class="col-lg-3">
                                                <a href="#">demo pages</a>
                                                <a href="#">demo pages</a>
                                                <a href="#">demo pages</a>
                                                <a href="#">demo pages</a>
                                            </div><!-- /.col-lg-3 -->
                                            <div class="col-lg-3">
                                                <a href="#">demo pages</a>
                                                <a href="#">demo pages</a>
                                                <a href="#">demo pages</a>
                                                <a href="#">demo pages</a>
                                            </div><!-- /.col-lg-3 -->
                                        </div><!-- /.row -->
                                    </div><!-- /.rt-container -->
                                </div><!-- /.rt-mega-menu -->
                            
                            </li>
                        </ul>
                    </div><!-- /.main-menu -->
                </div><!-- /.ml-auto -->
                <div class="ml-auto">
                    <div class="rt-nav-tolls d-flex align-items-center">
                        <ul>
                            <li>
                                <button class="btn btn-outline-primary">Create Account</button>
                            </li>
                            <li>
                                <button class="btn btn-primary">Log In</button>
                            </li>
                        </ul>
                    </div><!-- /.rt-nav-tolls -->
                </div><!-- /.ml-auto -->
            </div><!-- /.container -->
        </div><!-- /.navbar -->
    </div><!-- /.main-header -->
</header>
