<header class="site-header fixed-top header-transparent white-menu">
    <div class="main-header">
        <div class="navbar">
            <div class="container">
                <div class="ml-auto d-flex align-items-center">
                    <a href="index.html" class="brand-logo "><img src="assets/images/logo/logowhite.png" alt=""></a>
                    <div class="main-menu">
                        <span class="rt-mobile-menu-close"><i class="flaticon-cancel"></i></span><!-- /.rt-mobile-menu-close -->
                        {% include "./nav.html" %}
                    </div><!-- /.main-menu -->
                </div><!-- /.ml-auto -->
                <div class="ml-auto">
                    <div class="rt-nav-tolls d-flex align-items-center">
                        <ul>
                            <li>
                                <button class="btn btn-outline-primary">Create Account</button>
                            </li>
                            <li>
                                <button class="btn btn-primary">Log In</button>
                            </li>
                        </ul>
                    </div><!-- /.rt-nav-tolls -->
                </div><!-- /.ml-auto -->
            </div><!-- /.container -->
        </div><!-- /.navbar -->
    </div><!-- /.main-header -->
</header>
