<ul class="menu-active-classes ">
  <li class="menu-item-has-children rt-mr-15"><a href="index.html">Home</a></li>
  <li class="menu-item-has-children rt-mr-15"><a href="candidate.html">Find Candidate</a></li>
  <li class="menu-item-has-children rt-mr-15"><a href="candidate-overview.html">Dashboard</a></li>
  <li class="menu-item-has-children rt-mr-15"><a href="company-jobs.html">My Jobs</a>
  </li>
  <li class="menu-item-has-children rt-mr-15"><a href="company-applications.html">Applications</a>
  </li>
  <li class="menu-item-has-children rt-mr-15"><a href="#">Customer Supports</a>
  </li>
</ul>