<ul class="menu-active-classes ">
    <li class="has-megamenu menu-item-has-children"><a href="#">Home</a>
        <div class="rt-mega-menu">
            <div class="container">
                <div class="row g-0">
                    <div class="col-lg-3">
                       <a href="/index.html">
                        <img src="assets/images/all-img/1.jpg" alt="" class="w-100 img-thumbnail"  />
                        <span>home one</span>
                       </a>
                    </div><!-- /.col-lg-3 -->
                    <div class="col-lg-3">
                       <a href="/index2.html">
                         <img src="assets/images/all-img/2.jpg" alt="" class="w-100 img-thumbnail"  />
                        <span>home Two</span>
                       </a>
                    </div><!-- /.col-lg-3 -->
                    <div class="col-lg-3">
                       <a href="/index3.html">
                        <img src="assets/images/all-img/3.jpg" alt="" class="w-100 img-thumbnail"  />
                        <span>home Three</span>
                       </a>
                    </div><!-- /.col-lg-3 -->
                    <div class="col-lg-3">
                       <a href="/index4.html">
                        <img src="assets/images/all-img/4.jpg" alt="" class="w-100 img-thumbnail"  />
                        <span>home Four</span>
                       </a>
                    </div><!-- /.col-lg-3 -->
                </div><!-- /.row -->
            </div><!-- /.rt-container -->
        </div><!-- /.rt-mega-menu -->
    </li>
    <li class="menu-item-has-children"><a href="/#">Find Job</a>
        <ul class="sub-menu">
            <li><a href="/#">Employers</a></li>
            <li class="menu-item-has-children"><a href="/#">home pages</a>
                <ul class="sub-menu">
                    <li><a href="/#">home one</a></li>
                    <li><a href="/#">home tow</a></li>
                    <li><a href="/#">home three</a></li>
                </ul>
            </li>
            <li><a href="/#">Candidates</a></li>
        </ul>
    </li>
    <li class="menu-item-has-children"><a href="/#">Employers</a></li>
    <li class="menu-item-has-children"><a href="/#">Candidates</a></li>
    <li class="menu-item-has-children"><a href="/blog.html">Blogs</a></li>
    <li class="menu-item-has-children has-megamenu"><a href="/#">Pages</a>
        <div class="rt-mega-menu">
            <div class="container">
                <div class="row g-0">
                    <div class="col-lg-3">
                       <a href="/#">demo pages</a>
                       <a href="/#">demo pages</a>
                       <a href="/#">demo pages</a>
                       <a href="/#">demo pages</a>
                    </div><!-- /.col-lg-3 -->
                    <div class="col-lg-3">
                        <a href="/#">demo pages</a>
                        <a href="/#">demo pages</a>
                        <a href="/#">demo pages</a>
                        <a href="/#">demo pages</a>
                    </div><!-- /.col-lg-3 -->
                    <div class="col-lg-3">
                        <a href="/#">demo pages</a>
                        <a href="/#">demo pages</a>
                        <a href="/#">demo pages</a>
                        <a href="/#">demo pages</a>
                    </div><!-- /.col-lg-3 -->
                    <div class="col-lg-3">
                        <a href="/#">demo pages</a>
                        <a href="/#">demo pages</a>
                        <a href="/#">demo pages</a>
                        <a href="/#">demo pages</a>
                    </div><!-- /.col-lg-3 -->
                </div><!-- /.row -->
            </div><!-- /.rt-container -->
        </div><!-- /.rt-mega-menu -->
    
    </li>
</ul>