
<div class="col-xl-3 col-lg-4 col-md-6 rt-mb-24">
    <div class="card post-catagory jobcardStyle1">
        <div class="card-body">
            <div class="rt-single-icon-box icon-center">
                <div class="icon-thumb rt-mb-24">
                    <div class="post-img">
                        <img src="assets/images/all-img/cp-1.png" alt="">
                    </div>
                </div>
                <div class="iconbox-content">
                    <div class="body-font-2">
                        <a href="#">Graphics & Design</a>
                    </div>
                    <span class="body-font-4 text-gray-500">357 Open position</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-xl-3 col-lg-4 col-md-6 rt-mb-24">
    <div class="card post-catagory jobcardStyle1">
        <div class="card-body">
            <div class="rt-single-icon-box icon-center">
                <div class="icon-thumb rt-mb-24">
                    <div class="post-img">
                        <img src="assets/images/all-img/cp-2.png" alt="">
                    </div>
                </div>
                <div class="iconbox-content">
                    <div class="body-font-2">
                        <a href="#">Code & Programing</a>
                    </div>
                    <span class="body-font-4 text-gray-500">312 Open position</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-xl-3 col-lg-4 col-md-6 rt-mb-24">
    <div class="card post-catagory jobcardStyle1">
        <div class="card-body">
            <div class="rt-single-icon-box icon-center">
                <div class="icon-thumb rt-mb-24">
                    <div class="post-img">
                        <img src="assets/images/all-img/cp-3.png" alt="">
                    </div>
                </div>
                <div class="iconbox-content">
                    <div class="body-font-2">
                        <a href="#">Digital Marketing</a>
                    </div>
                    <span class="body-font-4 text-gray-500">297 Open position</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-xl-3 col-lg-4 col-md-6 rt-mb-24">
    <div class="card post-catagory jobcardStyle1">
        <div class="card-body">
            <div class="rt-single-icon-box icon-center">
                <div class="icon-thumb rt-mb-24">
                    <div class="post-img">
                        <img src="assets/images/all-img/cp-4.png" alt="">
                    </div>
                </div>
                <div class="iconbox-content">
                    <div class="body-font-2">
                        <a href="#">Video & Animation</a>
                    </div>
                    <span class="body-font-4 text-gray-500">357 Open position</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-xl-3 col-lg-4 col-md-6 rt-mb-24">
    <div class="card post-catagory jobcardStyle1">
        <div class="card-body">
            <div class="rt-single-icon-box icon-center">
                <div class="icon-thumb rt-mb-24">
                    <div class="post-img">
                        <img src="assets/images/all-img/cp-5.png" alt="">
                    </div>
                </div>
                <div class="iconbox-content">
                    <div class="body-font-2">
                        <a href="#">Finance & Accounting</a>
                    </div>
                    <span class="body-font-4 text-gray-500">167 Open position</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-xl-3 col-lg-4 col-md-6 rt-mb-24">
    <div class="card post-catagory jobcardStyle1">
        <div class="card-body">
            <div class="rt-single-icon-box icon-center">
                <div class="icon-thumb rt-mb-24">
                    <div class="post-img">
                        <img src="assets/images/all-img/cp-6.png" alt="">
                    </div>
                </div>
                <div class="iconbox-content">
                    <div class="body-font-2">
                        <a href="#">Music & Audio</a>
                    </div>
                    <span class="body-font-4 text-gray-500">208 Open position</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-xl-3 col-lg-4 col-md-6 rt-mb-24">
    <div class="card post-catagory jobcardStyle1">
        <div class="card-body">
            <div class="rt-single-icon-box icon-center">
                <div class="icon-thumb rt-mb-24">
                    <div class="post-img">
                        <img src="assets/images/all-img/cp-7.png" alt="">
                    </div>
                </div>
                <div class="iconbox-content">
                    <div class="body-font-2">
                        <a href="#">Health & Care</a>
                    </div>
                    <span class="body-font-4 text-gray-500">128 Open position</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-xl-3 col-lg-4 col-md-6 rt-mb-24">
    <div class="card post-catagory jobcardStyle1">
        <div class="card-body">
            <div class="rt-single-icon-box icon-center">
                <div class="icon-thumb rt-mb-24">
                    <div class="post-img">
                        <img src="assets/images/all-img/cp-8.png" alt="">
                    </div>
                </div>
                <div class="iconbox-content">
                    <div class="body-font-2">
                        <a href="#">Data & Science</a>
                    </div>
                    <span class="body-font-4 text-gray-500">57 Open position</span>
                </div>
            </div>
        </div>
    </div>
</div>