    <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="popular-category-item">
            <div class="popular-category-icon">
                <i class="ph-pen-nib-straight"></i>
            </div>
            <div class="popular-category-data">
                <h4>Graphics & Design</h4>
                <p>357 Open position</p>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="popular-category-item">
            <div class="popular-category-icon">
                <i class="ph-code"></i>
            </div>
            <div class="popular-category-data">
                <h4>Code & Programing</h4>
                <p>357 Open position</p>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="popular-category-item">
            <div class="popular-category-icon">
                <i class="ph-megaphone-simple"></i>
            </div>
            <div class="popular-category-data">
                <h4>Digital Marketing</h4>
                <p>357 Open position</p>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="popular-category-item">
            <div class="popular-category-icon">
                <i class="ph-monitor-play"></i>
            </div>
            <div class="popular-category-data">
                <h4>Video & Animation</h4>
                <p>357 Open position</p>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="popular-category-item">
            <div class="popular-category-icon">
                <i class="ph-music-notes"></i>
            </div>
            <div class="popular-category-data">
                <h4>Music & Audio</h4>
                <p>357 Open position</p>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="popular-category-item">
            <div class="popular-category-icon">
                <i class="ph-chart-bar"></i>
            </div>
            <div class="popular-category-data">
                <h4>Account & Finance</h4>
                <p>357 Open position</p>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="popular-category-item">
            <div class="popular-category-icon">
                <i class="ph-briefcase"></i>
            </div>
            <div class="popular-category-data">
                <h4>Health & Care</h4>
                <p>357 Open position</p>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="popular-category-item">
            <div class="popular-category-icon">
                <i class="ph-database"></i>
            </div>
            <div class="popular-category-data">
                <h4>Data & Science</h4>
                <p>357 Open position</p>
            </div>
        </div>
    </div>
