<div class="brand-active">
    <div class="single-item">
      <div class="single-brand">
        <img src="assets/images/all-img/brand-1.png" alt="">
      </div>
    </div>
    <div class="single-item">
      <div class="single-brand">
        <img src="assets/images/all-img/brand-2.png" alt="">
      </div>
    </div>
    <div class="single-item">
      <div class="single-brand">
        <img src="assets/images/all-img/brand-3.png" alt="">
      </div>
    </div>
    <div class="single-item">
      <div class="single-brand">
        <img src="assets/images/all-img/brand-4.png" alt="">
      </div>
    </div>
    <div class="single-item">
      <div class="single-brand">
        <img src="assets/images/all-img/brand-2.png" alt="">
      </div>
    </div>
    <div class="single-item">
      <div class="single-brand">
        <img src="assets/images/all-img/brand-6.png" alt="">
      </div>
    </div>
    <div class="single-item">
      <div class="single-brand">
        <img src="assets/images/all-img/brand-4.png" alt="">
      </div>
    </div>
    <div class="single-item">
      <div class="single-brand">
        <img src="assets/images/all-img/brand-1.png" alt="">
      </div>
    </div>
    <div class="single-item">
      <div class="single-brand">
        <img src="assets/images/all-img/brand-2.png" alt="">
      </div>
    </div>
    <div class="single-item">
      <div class="single-brand">
        <img src="assets/images/all-img/brand-3.png" alt="">
      </div>
    </div>
    <div class="single-item">
      <div class="single-brand">
        <img src="assets/images/all-img/brand-4.png" alt="">
      </div>
    </div>
    <div class="single-item">
      <div class="single-brand">
        <img src="assets/images/all-img/brand-2.png" alt="">
      </div>
    </div>
    <div class="single-item">
      <div class="single-brand">
        <img src="assets/images/all-img/brand-6.png" alt="">
      </div>
    </div>
  </div>