<div class="brand-active">
      <div class="single-brand">
        <img src="assets/images/all-img/brand-1.png" alt="">
    </div>
    <div class="single-brand">
      <img src="assets/images/all-img/brand-2.png" alt="">
    </div>
    <div class="single-brand">
      <img src="assets/images/all-img/brand-3.png" alt="">
    </div>
    <div class="single-brand">
      <img src="assets/images/all-img/brand-4.png" alt="">
    </div>
    <div class="single-brand">
      <img src="assets/images/all-img/brand-5.png" alt="">
    </div>
    <div class="single-brand">
      <img src="assets/images/all-img/brand-6.png" alt="">
    </div>    
  </div>