<div class="cta-1 ct-height bgprefix-cover" style="background-image: url(assets/images/all-img/cta-2.png);">
    <h5 class="rt-mb-15 text-gray-10">Become a Employers</h5>
    <div class="body-font-4 rt-mb-24 text-gray-10 max-312">
        Cras in massa pellentesque, mollis ligula non, luctus dui. Morbi sed efficitur dolor. Pelque augue risus, aliqu.
    </div>
    <a href="create-account.html" class="btn btn-light">
        <span class="button-content-wrapper ">
            <span class="button-icon align-icon-right">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 12H19" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path d="M12 5L19 12L12 19" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
            </span>
            <span class="button-text">
                Register now
            </span>
        </span>
    </a>
</div>
